<section class="content-header">
  <h1>Permisos de Usuarios</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Permisos de Usuarios</h3>
        </div>
        <form class="form-horizontal" name="permissionForm" ng-submit="vm.save(permissionForm.$valid)" novalidate>
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': permissionForm.permission.$invalid && ( vm.formSubmitted || permissionForm.permission.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.permission.data.name" name="permission" placeholder="Nombre" required>
                <p ng-show="permissionForm.permission.$error.required && ( vm.formSubmitted || permissionForm.permission.$touched)" class="help-block">El nombre es requerido.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': permissionForm.slug.$invalid && ( vm.formSubmitted || permissionForm.slug.$touched) }">
              <label for="inputPassword3" class="col-sm-2 control-label">Alias</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.permission.data.slug" name="slug" placeholder="Alias" required>
                <p ng-show="permissionForm.slug.$error.required && ( vm.formSubmitted || permissionForm.slug.$touched)" class="help-block">El alias es requerido.</p>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Descripción</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="3" ng-model="vm.permission.data.description" name="description" placeholder="Descripción"></textarea>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <a ui-sref="app.user-permissions" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
