<section class="content-header">
  <h1>Reclamos Pendientes<!--<small>Module description here</small>--></h1>
  <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Lista de Reclamos</h3>
          
        </div>
        <div class="box-header" ng-if="vm.length>0">
                    <div class="box-tools pull-right">
                      <!--<input type="checkbox" id="all" ng-model="vm.all" ng-change="vm.selectAll()"> Seleccionar Todos</input>-->
                         <button style="color: #3c8dbc; background-color: #FFF;" title="Despachar Reclamo" ng-disabled="(vm.seleccionados | json) == '[]'" class="btn btn-xs btn-primary" ng-click="vm.dispatch(data.id)">Despachar Seleccionados            
                        </button>
                    </div>      
                </div>
          <br>
        <div class="box-body">
          <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/ng-template" id="myModalAgent">
  <form class="form-horizontal" name="registerForm" ng-submit="vm.save(registerForm.$valid)" novalidate>  
    <div class="modal-header">
      <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h3 class="modal-title" style="text-align: center">Solicitar Documentos Pendientes</h3>
    </div>
    </br>
       <!--<div class="form-group" ng-class="{ 'has-error': form.name.$invalid && ( vm.formSubmitted || form.name.$touched) }">
          <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="mvm.emailformateditdata.data.name" name="name" placeholder="Nombre" required disabled='true'>
            <p ng-show="form.name.$error.required && ( vm.formSubmitted || form.name.$touched)" class="help-block">El nombre es obligatorio.</p>
          </div>
        </div>-->
      <div class="form-group" ng-class="{ 'has-error': form.name.$invalid && ( vm.formSubmitted || form.name.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Destinatario</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="mvm.agentdata.data[0].email" name="recipient" placeholder="Destinatario" required disabled='true'>
                <p ng-show="form.name.$error.required && ( vm.formSubmitted || form.name.$touched)" class="help-block">El destinatario es obligatorio.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.title.$invalid && ( vm.formSubmitted || form.title.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Título</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="mvm.emailformateditdata.data.title" name="title" placeholder="Título" required disabled='true'>
                <p ng-show="form.title.$error.required && ( vm.formSubmitted || form.title.$touched)" class="help-block">El titulo es obligatorio.</p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': form.subject.$invalid && ( vm.formSubmitted || form.subject.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Asunto</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="mvm.emailformateditdata.data.subject" name="subject" placeholder="Asunto" required disabled='true'>
                <p ng-show="form.subject.$error.required && ( vm.formSubmitted || form.subject.$touched)" class="help-block">El asunto es obligatorio.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.subject.$invalid && ( vm.formSubmitted || form.subject.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Contenido</label>
              <div class="col-sm-9">
                <textarea class="form-control" rows="10" ng-model="mvm.emailformateditdata.data.content" name="subject" placeholder="Asunto" required></textarea>
                <p ng-show="form.subject.$error.required && ( vm.formSubmitted || form.subject.$touched)" class="help-block">El asunto es obligatorio.</p>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Documentos</label>
              <div class="col-sm-9"><br>
                <table style="width: 100%; font-size: 13px;">
                  <thead>
                    <tr style="border-bottom: 1px solid #ddd;" >
                      <th>Diagnóstico</th>
                      <th>Archivo</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                            <tr ng-repeat="diagnostic in mvm.diagnostics">
                                <td><strong>{{diagnostic.description}}</strong></td>
                                <td>
                                    <!--<table>
                                        <tr ng-repeat="doc in diagnostic.documents">
                                            <td style="width: 100%"> <a href="claims/{{mvm.id}}/{{doc.filename}}" target="_blank">{{doc.filename}}</a> </td>
                                            <td><input type="checkbox" ng-model="doc.checked" ng-click="mvm.verifyCheck()"></td>
                                        </tr>
                                    </table>-->
                                    <table  class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;width: 15%">Tipo</th>
                                                <th style="text-align: center;width: 15%">Proveedor</th>
                                                <th style="text-align: center;width: 35%">Descripción</th>
                                                <th style="text-align: center;width: 5%">Moneda</th>
                                                <th style="text-align: center;width: 15%">Monto</th>
                                                <th style="text-align: center;width: 10px">Fecha</th>
                                                <th style="text-align: center;width: 5%"></th>
                                                <th style="text-align: center;width: 5%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="doc in diagnostic.documents">
                                                <td style="text-align: center; width: 15% !important;">{{doc.doc_type}}</td>
                                                <td style="text-align: center;width: 15%">{{doc.provider}}</td>
                                                <td style="text-align: center;width: 35%">{{doc.description}}</td>
                                                <td style="text-align: center;width: 5%">{{doc.currency}}</td>
                                                <td style="text-align: center;width: 15%">{{doc.amount}}</td>
                                                <td style="text-align: center; white-space: nowrap;">{{doc.created}}</td>
                                                <td style="text-align: center;width: 5%"><a href="claims/{{mvm.id}}/{{doc.filename}}" target="_blank"><i class="fa fa-file"></i></a></td>
                                                <td><input type="checkbox" ng-model="doc.checked" ng-click="mvm.verifyCheck()"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <!--<li ng-repeat="doc in diagnostic.documents">{{doc.id}}</li>-->
                            </tr>
                        </tbody>

                  </table>
                </div>
            </div>    
    <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
      <button class="btn btn-default" type="button" ng-click="mvm.cancel()" data-dismiss="modal">Cancelar</button>
      &nbsp;&nbsp;&nbsp;
      <button ng-disabled="!mvm.sendbutton" class="btn btn-primary" style="width: 78px" type="button" ng-click="mvm.sendAgent('1', mvm.id, mvm.emailformateditdata.data.content, mvm.policy_id)" ng-disabled="mvm.processing">{{mvm.processing ? 'Enviando' : 'Enviar'}}</button>
    </div>
  </form>
</script>

<script type="text/ng-template" id="myModalDiagnostic">
  <form class="form-horizontal" name="registerForm" ng-submit="mvm.dispatch(registerForm.$valid)" novalidate>  
    <div class="modal-header">
        <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="modal-title" style="text-align: center">Listado de Diagnósticos | Reclamo # {{mvm.id}}</h3>
    </div>
    <br>
    <table width="100%" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="text-align: center; width: 50px !important;">ID</th>
                <th style="text-align: center;">Diagnóstico</th>
                <th style="text-align: center;">Asegurado</th>
                <th style="text-align: center;">Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in mvm.diagnostic">
                <td style="text-align: center;">{{item.id}}</td>
                <td style="text-align: center;">{{item.description}}</td>
                <td style="text-align: center;">{{item.name}}</td>
      
                <td style="text-align: center;">
                  <input type="checkbox" ng-model="mvm.diagnosticId[item.id]" value="{{item.id}}"  ng-hide="item.disabled" name="diagnosticId{{item.id}}" ng-change="mvm.activeDispatch();">
                  &nbsp
                </td>
             </tr>   
               
                <!--<td style="align-content: center;">
                    <ul style="text-align: center;">
                        <a style="color: #3c8dbc; background-color: #FFF;" title="Editar" class="btn btn-xs btn-primary" ui-sref="app.diagnostic-edit({claimId: mvm.claimId, diagnosticId: item.diagnosticId, description: item.description})" ng-click="mvm.ok()">
                            <i class="fa fa-pencil"></i>

                        </a>
                    </ul>
                </td>-->
            
        </tbody>
    </table>
    <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
        <button class="btn btn-primary" type="submit"   data-dismiss="modal" ng-disabled="mvm.isDisabled" >Despachar</button>
      &nbsp;&nbsp;&nbsp;
    </div>
  </form>
</script>
<!--ng-click="mvm.dispatch();"-->