<section class="content-header">
  <h1>
     <strong>Compañia: {{vm.companydata.data.name}}</strong>
  </h1> 
  <h1>
     <strong>Ramo: {{vm.branchdata.data.name}}</strong>
  </h1> 
  <h1>Planes</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Agregar Plan</h3>
        </div>
        <form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>      
          
          <div class="box-body">
            <div class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.name.$invalid && ( vm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Plan</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Plan" ng-model="vm.name" name="name" ng-maxlength="100" required>
                <!--<span class="fa fa-university form-control-feedback"></span>-->
                <p class="help-block">El campo nombre el plan es requerido.</p>
                <p ng-show="uiForm.name.$error.maxlength" class="help-block">El campo nombre del plan es muy largo.</p>
                <p ng-show="uiForm.name.$invalid && (vm.formSubmitted || vm.errors.name)" class="help-block">{{vm.errors.name}}</p>
              </div>
            </div>   

             <div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.commission_percentage.$invalid }">
              <label for="inputEmail3" class="col-sm-2 control-label">% Comisión</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="% Comisión" ng-model="vm.commission_percentage" name="commission_percentage" ng-maxlength="5" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" max="99.99" step="0.01">
                <span class="glyphicon glyphicon-usd form-control-feedback"></span>
                <p class="help-block"></p>
                <p ng-show="uiForm.commission_percentage.$error.maxlength || uiForm.commission_percentage.$error.max" class="help-block">El campo % comisión es muy largo.</p>               
              </div>
            </div>    
           
            <div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.max_age.$invalid && ( vm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Edad Máxima de Dependientes</label>
                <div class="col-sm-4">
                  
                  <input type="number" class="form-control" placeholder="24" ng-model="vm.max_age" name="max_age" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="1" max="24" step="1" ng-maxlength="2" required >
                
                <p class="help-block">El campo edad es requerido.</p>
                <p ng-show="uiForm.max_age.$error.min" class="help-block">Edad debe estar comprendida entre 1 y 24 años.</p>
                <p ng-show="uiForm.max_age.$error.max" class="help-block">Edad debe estar comprendida entre 1 y 24 años.</p>
                <p ng-show="uiForm.max_age.$error.maxlength" class="help-block">Edad Invalida.</p>
                <p ng-show="uiForm.max_age.$invalid && (vm.formSubmitted || vm.errors.max_age)" class="help-block">{{vm.errors.name}}</p>
              </div>
              <div class="col-md-offset-6"></div>
            </div>

          <div class="box-footer">
            <a ui-sref="app.plan-lists({branchId:vm.branchId, companyId:vm.companyId})" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
