<section class="content-header">
    <h1>Liquidaciones Pendientes</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Lista de Reclamos</h3>
                </div>
                <div class="box-body">
                    <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/ng-template" id="myModalAgent">
  <form class="form-horizontal" name="registerForm" ng-submit="vm.save(registerForm.$valid)" novalidate>  
    <div class="modal-header">
      <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h3 class="modal-title" style="text-align: center">Solicitar Documentos Pendientes</h3>
    </div>
    </br>
       <!--<div class="form-group" ng-class="{ 'has-error': form.name.$invalid && ( vm.formSubmitted || form.name.$touched) }">
          <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="mvm.emailformateditdata.data.name" name="name" placeholder="Nombre" required disabled='true'>
            <p ng-show="form.name.$error.required && ( vm.formSubmitted || form.name.$touched)" class="help-block">El nombre es obligatorio.</p>
          </div>
        </div>-->
      <div class="form-group" ng-class="{ 'has-error': form.name.$invalid && ( vm.formSubmitted || form.name.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Destinatario</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="mvm.agentdata.data[0].email" name="recipient" placeholder="Destinatario" required disabled='true'>
                <p ng-show="form.name.$error.required && ( vm.formSubmitted || form.name.$touched)" class="help-block">El destinatario es obligatorio.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.title.$invalid && ( vm.formSubmitted || form.title.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Título</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="mvm.emailformateditdata.data.title" name="title" placeholder="Título" required disabled='true'>
                <p ng-show="form.title.$error.required && ( vm.formSubmitted || form.title.$touched)" class="help-block">El titulo es obligatorio.</p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': form.subject.$invalid && ( vm.formSubmitted || form.subject.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Asunto</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="mvm.emailformateditdata.data.subject" name="subject" placeholder="Asunto" required disabled='true'>
                <p ng-show="form.subject.$error.required && ( vm.formSubmitted || form.subject.$touched)" class="help-block">El asunto es obligatorio.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.subject.$invalid && ( vm.formSubmitted || form.subject.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Contenido</label>
              <div class="col-sm-9">
                <textarea class="form-control" rows="10" ng-model="mvm.emailformateditdata.data.content" name="subject" placeholder="Asunto" required></textarea>
                <p ng-show="form.subject.$error.required && ( vm.formSubmitted || form.subject.$touched)" class="help-block">El asunto es obligatorio.</p>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Documentos</label>
              <div class="col-sm-9"><br>
                <table style="width: 100%; font-size: 13px;">
                  <thead>
                    <tr style="border-bottom: 1px solid #ddd;" >
                      <th>Diagnóstico</th>
                      <th>Archivo</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="diagnostic in mvm.diagnostics">
                                <td><strong>{{diagnostic.description}}</strong></td>
                                <td>
                                    <!--<table>
                                        <tr ng-repeat="doc in diagnostic.documents">
                                            <td style="width: 100%"> <a href="claims/{{mvm.id}}/{{doc.filename}}" target="_blank">{{doc.filename}}</a> </td>
                                            <td><input type="checkbox" ng-model="doc.checked" ng-click="mvm.verifyCheck()"></td>
                                        </tr>
                                    </table>-->
                                    <table  class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;width: 15%">Tipo</th>
                                                <th style="text-align: center;width: 15%">Proveedor</th>
                                                <th style="text-align: center;width: 35%">Descripción</th>
                                                <th style="text-align: center;width: 5%">Moneda</th>
                                                <th style="text-align: center;width: 15%">Monto</th>
                                                <th style="text-align: center;width: 10px">Fecha</th>
                                                <th style="text-align: center;width: 5%"></th>
                                                <th style="text-align: center;width: 5%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="doc in diagnostic.documents">
                                                <td style="text-align: center; width: 15% !important;">{{doc.doc_type}}</td>
                                                <td style="text-align: center;width: 15%">{{doc.provider}}</td>
                                                <td style="text-align: center;width: 35%">{{doc.description}}</td>
                                                <td style="text-align: center;width: 5%">{{doc.currency}}</td>
                                                <td style="text-align: center;width: 15%">{{doc.amount}}</td>
                                                <td style="text-align: center; white-space: nowrap;">{{doc.created}}</td>
                                                <td style="text-align: center;width: 5%"><a href="claims/{{mvm.id}}/{{doc.filename}}" target="_blank"><i class="fa fa-file"></i></a></td>
                                                <td><input type="checkbox" ng-model="doc.checked" ng-click="mvm.verifyCheck()"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <!--<li ng-repeat="doc in diagnostic.documents">{{doc.id}}</li>-->
                            </tr>                          
                    </tbody>
                  </table>
                </div>
            </div>    
    <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
      <button class="btn btn-default" type="button" ng-click="mvm.cancel()" data-dismiss="modal">Cancelar</button>
      &nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary" style="width: 78px" type="button" ng-click="mvm.sendAgent('1', mvm.id, mvm.emailformateditdata.data.content, mvm.policy_id)" ng-disabled="!mvm.sendbutton">{{mvm.processing ? 'Enviando' : 'Enviar'}}</button>
    </div>
  </form>
</script>
<script type="text/ng-template" id="myModalDocument">

 <form class="form-horizontal" name="uiForm" ng-submit="mvm.save(uiForm.$valid)" novalidate>
                    <div class="box-body" style="overflow-x:scroll;">
                         <div class="modal-header">
                            <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                          <h3 class="modal-title" style="text-align: center">Diagnóstico: {{mvm.diagnostic_id}} | {{mvm.customer}}</h3>
                    </div>

                        <fieldset>
                           <table style="border-collapse: separate; border-spacing: 8px; overflow-x:scroll;"> 
                              <table style="border-collapse: separate; border-spacing: 8px; overflow-x:scroll;" ng-repeat="line in mvm.lines">
    
                                  <tr  style="height: 120px">
                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                             <div class="form-group" ng-class="{ 'has-error': uiForm.doc_type_id{{line.id}}.$invalid && ( mvm.formSubmitted || uiForm.doc_type_id{{line.id}}.$touched) }">
                                             <label for="doc_type_id{{line.id}}">Tipo de Documento</label>
                                                <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="mvm.doc_typeselected[line.id]" name="doc_type_id{{line.id}}" ng-change="mvm.changeDocType(line.id,1);" required>

                                                    <option style="font-size: 17px" value="">- Seleccione -</option>
                                                    <option style="font-size: 17px" ng-repeat="doc in mvm.systemDocTypes" ng-value="{{doc.id}}" ng-selected="{{1 == doc.id}}">{{doc.name}}</option>
                                                </select>
                                                <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
                                    </td>

                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                             <div class="form-group" ng-class="{ 'has-error': uiForm.provider_id{{line.id}}.$invalid && ( mvm.formSubmitted || uiForm.provider_id{{line.id}}.$touched) }">
                                                <label for="doc_type_id{{line.id}}">Proveedor</label>

                                                <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="mvm.provider_id[line.id]" name="provider_id{{line.id}}" required >
                                                    <option style="font-size: 17px" value="">- Seleccione -</option>
                                                    <option style="font-size: 17px" ng-repeat="doc in mvm.systemProviders" ng-value="{{doc.id}}" >{{doc.name}}</option>
                                                </select>
                                                <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
                                    </td>

                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                            <div class="form-group" ng-class="{ 'has-error': uiForm.description{{line.id}}.$invalid && ( mvm.formSubmitted || uiForm.description{{line.id}}.$touched) }">
                                                <label for="doc_type_id{{line.id}}">Descripción</label>

                                                    <input type="text" class="form-control" style='font-size: 14px; width: 150px;' ng-model="mvm.description[line.id]" name="description{{line.id}}" placeholder="# Documento" required  ng-if="mvm.typeDocNew[line.id].value == 1">

                                                <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="mvm.description[line.id]" name="description{{line.id}}"  required ng-if="(mvm.typeDocNew[line.id].value == 2)">

                                                    <option value="">- Seleccione -</option>
                                                    <option style="font-size: 17px" ng-repeat="des in mvm.systemDescription" ng-value="{{des.id}}" ng-selected="{{des.id == 'Terapias'}}">{{des.name}}</option>
                                                   
                                                </select>


                                                 <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="mvm.description[line.id]" name="description{{line.id}}"  required ng-if="mvm.typeDocNew[line.id].value == 3">
                                                    <option value="">- Seleccione -</option>
                                                    <option style="font-size: 17px" ng-repeat="des in mvm.systemDescription2" ng-value="{{des.id}}" >{{des.name}}</option>
                                                </select>
                                                <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="mvm.description[line.id]" name="description{{line.id}}"  required ng-if="(mvm.typeDocNew[line.id].value == 4)">

                                                <option value="">- Seleccione -</option>
                                                <option style="font-size: 17px" ng-repeat="des in mvm.systemDescription3" ng-value="{{des.id}}" >{{des.name}}</option>

                                                   
                                                </select>

                                                <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
                                    </td>

                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                             <div class="form-group" ng-class="{ 'has-error': uiForm.currency_id{{line.id}}.$invalid && ( mvm.formSubmitted || uiForm.currency_id{{line.id}}.$touched) }">
                                                <label for="doc_type_id{{line.id}}">Moneda</label>
                                                <select ng-disabled="line.disabled == true" class="form-control" style='font-size: 14px; width: 80px;' ng-model="mvm.curency_selected[line.id]" name="currency_id{{line.id}}" required >
                                                    <option style="font-size: 17px" ng-repeat="doc in mvm.systemCurrency" ng-value="{{doc.id}}" >{{doc.iso}}</option>
                                                </select>
                                                <p class="help-block">{{line.rep}} Requerido.</p>
                                            </div>
                                        </div>
                                    </td>

                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                            <div class="form-group" ng-class="{ 'has-error': uiForm.value{{line.id}}.$invalid && ( mvm.formSubmitted || uiForm.value{{line.id}}.$touched) }">
                                                <label for="value{{line.id}}">Monto</label>
                                                <input ng-disabled="line.disabled == true" type="number" class="form-control" style='font-size: 14px; width: 70px;' ng-model="mvm.value[line.id]" ng-pattern="/(\[0-9]{1,2})?$/" min="0.01" step="0.01" ng-maxlength="100"  name="value{{line.id}}" placeholder="0.00" ng-required="line.disabled == false">
                                                <p class="help-block">{{line.rep}} Requerido.</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                            <div class="form-group" ng-class="{ 'has-error': uiForm.doc_date{{line.id}}.$invalid && ( mvm.formSubmitted || uiForm.doc_date{{line.id}}.$touched) }">
                                                <label for="doc_date{{line.id}}">Fecha</label>
                                                  <input type="date" class="form-control" style='font-size: 14px; width: 150px;' ng-model="mvm.doc_date[line.id]" name="doc_date{{line.id}}" placeholder="dd/mm/aaaa" required>

                                                  <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
                                    </td>

                                   
                                    
                                 <td colspan="2" style="height: 120px !important; white-space: nowrap">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important; white-space: nowrap; width: 300px">
                                            <div class="form-group" ng-class="{ 'has-error': uiForm.file{{line.id}}.$invalid && ( mvm.formSubmitted || uiForm.file{{line.id}}.$touched) }">
                                                <label for="file{{line.id}}">Archivo</label>
                                                 <input id="file1" name="file{{line.id}}" class="form-control" style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="mvm.myFile[line.id]" file-model="mvm.myFile[line.id]" file-input="mvm.files[line.id]"  required>
                                                <p class="help-block">Este campo es requerido.</p>
                                            </div>
                                        </div>
                                </td>       
                                <td style="height: 120px !important;" valign="bottom" ng-if="line.id > 0">
                                        <div class="col-sm-12 col-md-8" style="height: 120px !important">
                                            <div class="form-group" style="height: 120px !important;">
                                            <label></label>
                                             <a  class="btn btn-danger"  ng-click="mvm.deleteLine(line)" title="Eliminar">
                                                <i class="fa fa-remove"></i>
                                             </a>                                            
                                            </div>
                                        </div>
                                </td>
                            </tr>         
                        </table>  
                    </table>  
                                  
                        <div class="box-header with-border">
                                    <a class="btn btn-xs btn-primary" ng-click="mvm.addFile()" ><i class="fa fa-plus" aria-hidden="true"></i> Agregar Documentos</a>                            
                        </div>
                          
                        </fieldset>
                    </div>
                    <div class="box-footer">
                        <!--<a ui-sref="app.claim-claim-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a> -->      
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="mvm.processing">{{mvm.processing ? 'Guardando' : 'Guardar'}}</button>
                    </div>
                </form>
</script>
<script type="text/ng-template" id="myModalInvoice">
  <form class="form-horizontal" name="registerForm" ng-submit="mvm.sendInvoices(registerForm.$valid)" novalidate>  
    <div class="modal-header">
      <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h3 class="modal-title" style="text-align: center">Devolución de Facturas</h3>
      <br>
      <h4 class="modal-title" style="text-align: center">Diagnóstico: {{mvm.diagnostic_id}} | {{mvm.customer}} </h4>
    </div>          
            <!--<div class="form-group" >-->
              <div class="col-sm-12">
                &nbsp
                <table width="100%" class="table table-striped table-bordered" align="center" style="vertical-align: top;">
                                <thead>
                                  <tr>
                                    <th style="text-align: left; !important; vertical--align: middle">Descripción</th>
                                    <th style="text-align: left;">Documentos</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="invoice in mvm.invoices" colspan="5">
                                    <td style="text-align: left; width:25%; vertical-align: middle" valign="middle">{{invoice.description}}</td>
                                    <td style="text-align: center; width:75%">
                                      <table  class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th style="text-align: center;width: 10%">Tipo</th>
                                            <th style="text-align: center;width: 15%">Proveedor</th>
                                            <th style="text-align: center;width: 30%">Descripción</th>
                                            <th style="text-align: center;width: 5%">Moneda</th>
                                            <th style="text-align: center;width: 15%">Monto</th>
                                            <th style="text-align: center;width: 20px">Fecha</th>
                                            <th style="text-align: center;width: 5%"></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="doc in invoice.documents">
                                            <td style="text-align: center; width: 10% !important;">{{doc.doc_type}}</td>
                                            <td style="text-align: center; width: 15% !important;">{{doc.provider}}</td>
                                            <td style="text-align: center;width: 30%">{{doc.description}}</td>
                                            <td style="text-align: center;width: 5%">{{doc.currency}}</td>
                                            <td style="text-align: center;width: 15%">{{doc.amount}}</td>
                                            <td style="text-align: center;width: 20px">{{doc.created}}</td>
                                             <td style="text-align: center;width: 5%"><input type="checkbox" ng-model="doc.return" value="doc.id" ng-click="mvm.verifyCheckDoc();" ng-if="doc.liquidated == 0 && doc.returned == 0"></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                   
                                  </tr>
                                </tbody>
                              </table>
                </div>
            <!--</div>    -->
    <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
      <button class="btn btn-default" type="button" ng-click="mvm.cancel()" data-dismiss="modal">Cancelar</button>
      &nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary" style="width: 78px" type="submit" ng-disabled="!mvm.sendbutton">{{mvm.processing ? 'Enviando' : 'Enviar'}}</button>
    </div>
  </form>
</script>
