<section class="content-header">
	<h1>Sub-Agentes <small></small></h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Editar Sub-Agentes</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
					<div class="box-body">
            			<div class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
            				<h4>{{alert.title}}</h4>
             			 	<p>{{alert.msg}}</p>
            			</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.name.$invalid && ( vm.formSubmitted || uiForm.name.$touched) }">
									<label for="input" class="col-sm-4 control-label">Nombres</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.subagenteditdata.data.first_name" name="name" placeholder="Nombres" ng-maxlength="100" required>
										<p class="help-block">El campo nombre es requerido.</p>
										<p ng-show="uiForm.name.$error.maxlength && ( vm.formSubmitted || uiForm.name.$touched)" class="help-block">El nombre es muy largo.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.identity.$invalid && ( vm.formSubmitted || uiForm.identity.$touched) }">
									<label for="input" class="col-sm-4 control-label">Documento de Identidad</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.subagenteditdata.data.identity_document" name="identity" placeholder="12345678" required  ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" ng-maxlength="20">
										<p class="help-block">El campo documento de identidad es requerido.</p>
										<p ng-show="uiForm.identity.$error.maxlength && ( vm.formSubmitted || uiForm.identity.$touched)" class="help-block">El número de identidad es muy largo.</p>
									</div>
								</div>
							</div>
						</div>
						

						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.last_name.$invalid && ( vm.formSubmitted || uiForm.last_name.$touched) }">
									<label for="input" class="col-sm-4 control-label">Apellidos</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.subagenteditdata.data.last_name" name="last_name" placeholder="Apellidos" ng-maxlength="100" required>
										<p class="help-block">El campo apellido es requerido.</p>
										<p ng-show="uiForm.last_name.$error.maxlength && ( vm.formSubmitted || uiForm.last_name.$touched)" class="help-block">El apellido es muy largo.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.birthday.$invalid && ( vm.formSubmitted || uiForm.birthday.$touched) }">
									<label for="input" class="col-sm-4 control-label">Fecha de Nacimiento</label>
									<div class="col-sm-8">
										<input type="date"  placeholder="dd-MM-yyyy" class="form-control" ng-model="vm.subagenteditdata.data.birthday" name="birthday" placeholder="00/00/0000" required>
										<p class="help-block">La campo fecha de nacimiento es requerida.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.email.$invalid && ( vm.formSubmitted || uiForm.email.$touched) }">
									<label for="input" class="col-sm-4 control-label">E-mail</label>
									<div class="col-sm-8">
										<input type="email" class="form-control" ng-model="vm.subagenteditdata.data.email" name="email" placeholder="example@example.com" required ng-maxlength="30">
										<p class="help-block">El campo correo electronico es requerido.</p>
										<p ng-show="uiForm.email.$error.maxlength && ( vm.formSubmitted || uiForm.email.$touched)" class="help-block">El correo electronico es muy largo.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group">
									<label for="input" class="col-sm-4 control-label">Skype</label>
									<div class="col-sm-8">
										<input type="text"  class="form-control" ng-model="vm.subagenteditdata.data.skype" name="skype" placeholder="@usuario" >
										<p></p>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.mobile.$invalid && ( vm.formSubmitted || uiForm.mobile.$touched) }">
									<label for="input" class="col-sm-4 control-label">Móvil</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.subagenteditdata.data.mobile" name="mobile" placeholder="Móvil" ng-maxlength="30" required>
										<p class="help-block">El campo móvil es requerido.</p>
                						<p ng-show="uiForm.mobile.$error.maxlength" class="help-block">El campo móvil es muy largo.</p>
                						<p ng-show="registerForm.mobile.$invalid && (vm.formSubmitted || vm.errors.mobile)" class="help-block">{{vm.errors.mobile}}</p>
										<p></p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.phone.$invalid && ( vm.formSubmitted || uiForm.phone.$touched) }"">
									<label for="input" class="col-sm-4 control-label">Teléfono</label>
									<div class="col-sm-8">
										<input type="text"  class="form-control" ng-model="vm.subagenteditdata.data.phone" name="phone" placeholder="Teléfono" ng-maxlength="30" required>
										<p class="help-block">El campo teléfono es requerido.</p>
                						<p ng-show="uiForm.phone.$error.maxlength" class="help-block">El campo teléfono es muy largo.</p>
                						<p ng-show="registerForm.phone.$invalid && (vm.formSubmitted || vm.errors.phone)" class="help-block">{{vm.errors.phone}}</p>
										
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group  has-feedback" ng-class="{ 'has-error': uiForm.country.$invalid && ( vm.formSubmitted || uiForm.country.$touched) }">
									<label for="input" class="col-sm-4 control-label">País</label>
									<div class="col-sm-8">
										<select class="form-control" style='font-size: 14px;' placeholder="País" ng-model="vm.country_id" name="country" ng-change="vm.getState();"  ng-required="vm.countryRequired">
											
                  							<option style="font-size: 17px" value="{{count.id}}"  ng-repeat="count in vm.systemCountrys" ng-selected="{{count.id}} == {{vm.subagenteditdata.data.country_id}}">{{count.name}}</option>
                  							
                						</select>
                						<p class="help-block">El campo país es requerido.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.address.$invalid && ( vm.formSubmitted || uiForm.address.$touched) }"">
									<label for="input" class="col-sm-4 control-label">Dirección</label>
									<div class="col-sm-8">
										<input type="text"  class="form-control" ng-model="vm.subagenteditdata.data.address" name="address" placeholder="Dirección" ng-maxlength="60" required>
										<p class="help-block">El campo dirección es requerido.</p>
										<p ng-show="uiForm.address.$error.maxlength && ( vm.formSubmitted || uiForm.address.$touched)" class="help-block">El campo dirección es muy largo.</p>
									</div>
								</div>
							</div>							
						</div>


						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.state.$invalid && ( vm.formSubmitted || uiForm.state.$touched) }">
									<label for="input" class="col-sm-4 control-label">Provincia</label>
									<div class="col-sm-8">
										<select class="form-control" style='font-size: 14px' placeholder="Provincia" ng-model="vm.province_id" name="state" ng-change="vm.getCity();" ng-required="vm.provinceRequired">
											
											<option style="font-size: 17px"  value="{{state.id}}" ng-repeat="state in vm.systemStates" ng-selected="{{state.id}} == {{vm.subagenteditdata.data.province_id}}">{{state.name}}</option>
											
										</select>
										<p class="help-block">El campo provincia es requerido.</p>
										
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.commission.$invalid && ( vm.formSubmitted || uiForm.commission.$touched) }">
									<label for="input" class="col-sm-4 control-label">% Comisión</label>
									<div class="col-sm-8">
										<input type="number" class="form-control" style='font-size: 14px; width: 40%;' placeholder="% Comisión" ng-model="vm.subagenteditdata.data.commission" name="commission"  required ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" max="99.99" step="0.01">
                						<p class="help-block">El campo % comisión es requerido.</p>
                						<p ng-show="uiForm.commission.$error.maxlength || uiForm.commission.$error.max" class="help-block">El campo % comisión es muy largo.</p>
                						<p ng-show="uiForm.commission.$invalid && (vm.formSubmitted || vm.errors.commission)" class="help-block">{{vm.errors.commission}}</p>

									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.city.$invalid && ( vm.formSubmitted || uiForm.city.$touched) }">
									<label for="input" class="col-sm-4 control-label">Ciudad</label>
									<div class="col-sm-8">
										
										<select class="form-control" style='font-size: 14px' placeholder="Ciudad" ng-model="vm.city_id" name="city" ng-required="vm.cityRequired">
											
                  							<option style="font-size: 17px"  value="{{cities.id}}" ng-repeat="cities in vm.systemCities" ng-selected="{{cities.id}} == {{vm.subagenteditdata.data.city_id}}">{{cities.name}}</option>

                						</select>
                						<p class="help-block">El campo ciudad es requerido.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.subagent-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
						<button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
