<style>
    .pointer {
        cursor: pointer;
    }
</style>
<section class="content-header">
    <h1>Ficha del Dependiente - {{vm.dependent_data.dependents.first_name}} {{vm.dependent_data.dependents.last_name}}</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active': vm.active_tab == 1}"><a class="pointer" data-toggle="tab" ng-click="vm.setActive(1)">Información del dependiente</a></li>
                        <li ng-class="{'active': vm.active_tab == 2}"><a class="pointer" data-toggle="tab" ng-click="vm.setActive(2)">Reclamos</a></li>
                        <li ng-class="{'active': vm.active_tab == 3}"><a class="pointer" data-toggle="tab" ng-click="vm.setActive(3)">Tickets</a></li>
                    </ul>

                    <div class="tab-content">
                        <div ng-if="vm.active_tab == 1">
                            <form class="form-horizontal" name="uiForm">
                                <div class="box-body">
                                    <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                                        <h4>{{alert.title}}</h4>
                                        <p>{{alert.msg}}</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group has-feedback">
                                                <label for="input" class="col-sm-4 control-label">Nombres</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="vm.dependent_data.dependents.first_name" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group has-feedback">
                                                <label for="input" class="col-sm-4 control-label">Apellidos</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="vm.dependent_data.dependents.last_name" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group has-feedback">
                                                <label for="input" class="col-sm-4 control-label">Tipo de documento</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" style='font-size: 14px;' ng-model="vm.dependent_data.dependents.document_type" disabled>
                                                        <option style="font-size: 17px"  value="0" >Cédula</option>
                                                        <option style="font-size: 17px"  value="1" >Pasaporte</option>
                                                        <option style="font-size: 17px"  value="2" >RUC</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group has-feedback">
                                                <label for="input" class="col-sm-4 control-label">Documento de Identidad</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="vm.dependent_data.dependents.identity_document" disabled>
                                                </div>
                                            </div>
                                        </div>

                                    </div>





                                    <div class="row">

                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group has-feedback">
                                                <label for="input" class="col-sm-4 control-label">Género</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" style='font-size: 14px;' ng-model="vm.dependent_data.dependents.gender" disabled>
                                                        <option value="">- Seleccione -</option>
                                                        <option style="font-size: 17px"  value="F" >Femenino</option>
                                                        <option style="font-size: 17px"  value="M" >Masculino</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="input" class="col-sm-4 control-label">Fecha de Nacimiento</label>
                                                <div class="col-sm-8">
                                                    <input type="date" class="form-control" ng-model="vm.dependent_data.dependents.birthday" disabled>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">



                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 col-md-6">
                                            <div class="form-group">
                                                <label for="input" class="col-sm-4 control-label">Estatura</label>
                                                <div class="col-sm-3">
                                                    <input type="number" class="form-control" ng-model="vm.dependent_data.dependents.height" disabled>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label style="font-size: 26px">
                                                     {{vm.dependent_data.dependents.height_unit_measurement}}
                                                     </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-6">
                                            <div class="form-group">
                                                <label for="input" class="col-sm-4 control-label">Peso</label>
                                                <div class="col-sm-3">
                                                    <input type="number" class="form-control" ng-model="vm.dependent_data.dependents.weight" disabled>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label style="font-size: 26px">
                                                    {{vm.dependent_data.dependents.weight_unit_measurement}}
                                                     </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div ng-if="vm.active_tab == 2">
                            <br>
                            <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
                        </div>
                        <div ng-if="vm.active_tab == 3">
                            <br>
                            <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable2" dt-options="vm.dtOptions2" dt-columns="vm.dtColumns2"></table>
                        </div>
                        <div class="box-footer">
                            <a ui-sref="^" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


