<section class="content-header">
  <h1>Registrar Método de Pago<!--<small>Module description here</small>--></h1>
    <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">

			<div class="box box-primary">
                &nbsp;
                <div class="col-sm-12 col-md-12" style="text-align: right;">

                  <!--<button style="color: #FE0000; background-color: #FFF;width:34.2px;height:31.98px" title="Ver Última Factura" class="btn btn-lg btn" ng-click="vm.modalPayment('lg', vm.policyId, vm.number)" >-->
                    <a href="javascript:void(0);" ng-click="vm.modalPayment('lg', vm.policyId, vm.number)"  title="Ver Última Factura"   style="color: #367fa9; background-color: #FFF;"  class="btn btn-link btn-lg">
                        <i  class="glyphicon glyphicon-list-alt"></i>

                     </a>   
                       <!--<i class="fa fa-ticket" style="width:34.2px;height:31.98px" aria-hidden="true"></i>-->
                </div>                    
                
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="strike" style="width: 100%; height: 30px; text-align: center">
							<span class="" style="text-align: center !important;" >Datos de la Póliza</span>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12 has-feedback" align="center"  ng-class="{ 'has-error': uiForm.Poliza.$invalid && ( vm.formSubmitted) }">
									<label for="input" class="col-sm-4 control-label" style="text-align: right;"># de Póliza </label>
									<div class="col-sm-5 col-md-5">
									<input type="text" class="form-control"  name="Poliza"  ng-model="vm.policyinfo[0].number" ng-disabled="true">
									</div>
							</div>
						</div>
						<div class="row">

								<div class="col-sm-12 col-md-12" align="center">
									<label for="input" class="col-sm-4 control-label" style="text-align: right;">Nombre del Cliente</label>
									<div class="col-sm-5 col-md-5">
									<input type="text" class="form-control" ng-model="vm.client"  name="nombre" ng-disabled="true">
									</div>
									</div>
						</div>
			
						<div class="row">
							<div class="col-sm-12 col-md-12" align="center">
									<label for="input" class="col-sm-4 control-label" style="text-align: right;">Valor de la cuota</label>
									<div class="col-sm-5 col-md-5">
									<input type="text" class="form-control"  name="Plan"  ng-disabled="true" ng-model="vm.policyinfo[0].first_value">
									</div>
							</div>
						</div>
						<br/>
						<div class="strike" style="width: 100%; height: 30px; text-align: center">
							<span class="" style="text-align: center !important;" >Método de Pago</span>
						</div>

                        <div class="form-group">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Método de Pago</label>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" ng-model="vm.form.method" required disabled>
                                       <option ng-repeat="method in vm.methods" ng-value="method.id" >{{method.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.payment_date.$invalid && ( vm.formSubmitted || uiForm.payment_date.$touched) }">
                            <div class="col-sm-12 col-md-12" align="center" >
                                <label for="payment_date" class="col-sm-4 control-label" style="text-align: right;">Fecha de Pago</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="date" class="form-control" ng-model="vm.form.payment_date" name="payment_date" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label class="col-sm-4 control-label" style="text-align: right;">Valor</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.first_value" disabled>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="form-group" ng-class="{ 'has-error': uiForm.check_number.$invalid && ( vm.formSubmitted || uiForm.check_number.$touched) }" ng-if="vm.form.method == 0">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="check_number" class="col-sm-4 control-label" style="text-align: right;">Número de Cheque</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.check_number" name="check_number" ng-required ="vm.form.method == 0">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.transfer_number.$invalid && ( vm.formSubmitted || uiForm.transfer_number.$touched) }" ng-if="vm.form.method == 1">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Número de Transferencia</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.transfer_number" name="transfer_number"  ng-required="vm.form.method == 1">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.bank_name.$invalid && ( vm.formSubmitted || uiForm.bank_name.$touched) }" ng-if="vm.form.method != 3">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="bank_name" class="col-sm-4 control-label" style="text-align: right;">Nombre del Banco</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.bank_name" name="bank_name" ng-required="vm.form.method != 3">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.titular_name.$invalid && ( vm.formSubmitted || uiForm.titular_name.$touched) }" ng-if="vm.form.method == 1 || vm.form.method == 3">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Nombre del Titular</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.titular_name" name="titular_name" ng-required="vm.form.method == 1 || vm.form.method == 3">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.account_type.$invalid && ( vm.formSubmitted || uiForm.account_type.$touched) }" ng-if="vm.form.method == 1">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Tipo de Cuenta</label>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" ng-model="vm.form.account_type" name="account_type" ng-required="vm.form.method == 1">
                                       <option ng-repeat="type in vm.account_types" ng-value="type.id" >{{type.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.deposit_number.$invalid && ( vm.formSubmitted || uiForm.deposit_number.$touched) }" ng-if="vm.form.method == 2">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Número de Depósito</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.deposit_number" name="deposit_number" ng-required="vm.form.method == 2">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.account_number.$invalid && ( vm.formSubmitted || uiForm.account_number.$touched) }" ng-if="vm.form.method == 1 || vm.form.method == 2">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Número de Cuenta</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.account_number" name="account_number" ng-required="vm.form.method == 1 || vm.form.method == 2">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.titular_lastnames.$invalid && ( vm.formSubmitted || uiForm.titular_lastnames.$touched) }" ng-if="vm.form.method == 3">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Apellidos del Titular</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.titular_lastnames" name="titular_lastnames" ng-required="vm.form.method == 3">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.card_type.$invalid && ( vm.formSubmitted || uiForm.card_type.$touched) }" ng-if="vm.form.method == 3">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Tipo de Tarjeta</label>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" ng-model="vm.form.card_type" name="card_type" ng-required="vm.form.method == 3">
                                       <option ng-repeat="type in vm.card_types"  ng-value="type.id" >{{type.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.card_mark.$invalid && ( vm.formSubmitted || uiForm.card_mark.$touched) }" ng-if="vm.form.method == 3">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Marca de Tarjeta</label>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" ng-model="vm.form.card_mark" name="card_mark" ng-required="vm.form.method == 3">
                                       <option ng-repeat="mark in vm.card_marks" ng-value="mark.id" >{{mark.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.card_bank.$invalid && ( vm.formSubmitted || uiForm.card_bank.$touched) }" ng-if="vm.form.method == 3">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Banco de la tarjeta</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.card_bank" name="card_bank" ng-required="vm.form.method == 3">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.payment_type.$invalid && ( vm.formSubmitted || uiForm.payment_type.$touched) }" ng-if="vm.form.method == 3">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Forma de Pago</label>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" ng-model="vm.form.payment_type" name="payment_type" ng-required="vm.form.method == 3">
                                       <option ng-repeat="type in vm.payment_types" ng-value="type.id" >{{type.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>
                        -->


                        <div class="form-group" ng-class="{ 'has-error': uiForm.file.$invalid && ( vm.formSubmitted || uiForm.file.$touched) }">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Documento Comprobación de Pago</label>
                                <div class="col-sm-5 col-md-5">
							        <div>
                                        <input class="form-control" type="file" id="upload" data-max-size="2048" ng-model="vm.myFile" file-model="vm.myFile" file-input="vm.files" name="file" required>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.renewal-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
						<button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">Guardar</button>
					</div>
				</form>
            </div>
        </div>
    </div>
</section>
<script type="text/ng-template" id="myModalPayment">
  <form class="form-horizontal" name="registerForm" ng-submit="mvm.dispatch(registerForm.$valid)" novalidate>  
    <div class="modal-header">
        <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>

        <h3 class="modal-title" style="text-align: center">Detalles de Último Pago | Póliza # {{mvm.number}}</h3>
    </div>
    <br>
    <table width="100%" class="table table-striped table-bordered">
        <thead>
            <tr>
                <!--<th style="text-align: center; width: 50px !important;">ID</th>-->
                <th style="text-align: center;">N° Cuota</th>
                <th style="text-align: center;">Fecha de Pago</th>
                <th style="text-align: center;">Método de Pago</th>
                <th style="text-align: center;">Monto</th>
                <th style="text-align: center;">Archivo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center;">{{mvm.feeResponse.fee_number}}</td>
                <td style="text-align: center;">{{mvm.feeResponse.payment_date}}</td>
                <td style="text-align: center;">{{mvm.feeResponse.method}}</td>
                <td style="text-align: center;">${{mvm.feeResponse.total}}</td>
                <td style="text-align: center;">
                 <a href="{{mvm.feeResponse.invoice_file}}" target="_blank" ng-if = "mvm.disabledLink" title="Ver Archivo"><i class="{{mvm.feeResponse.icon}}"></i></a>
                 <i class="{{mvm.feeResponse.icon}}"  ng-if = "mvm.disabledLink2" title="Archivo No Disponible"></i> 
                </td>
             </tr>   
              <tr>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
              </tr>
                <!--<td style="align-content: center;">
                    <ul style="text-align: center;">
                        <a style="color: #3c8dbc; background-color: #FFF;" title="Editar" class="btn btn-xs btn-primary" ui-sref="app.diagnostic-edit({claimId: mvm.claimId, diagnosticId: item.diagnosticId, description: item.description})" ng-click="mvm.ok()">
                            <i class="fa fa-pencil"></i>

                        </a>
                    </ul>
                </td>-->
            
        </tbody>
    </table>
    <!--<div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
        <button class="btn btn-primary" type="submit"   data-dismiss="modal" ng-disabled="mvm.isDisabled" >Despachar</button>
      &nbsp;&nbsp;&nbsp;
    </div>-->
  </form>
</script>
