<section class="content-header">
  <h1>Tipos de Documentos</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Agregar Descripción a: <strong>{{ vm.claimdoctypeditdata.data.name }}</strong></h3>
        </div>
        <form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>      
          
          <div class="box-body">
            <div class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.description.$invalid && ( vm.formSubmitted) }">

              <label for="input" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Nombre" ng-model="vm.description" name="description" ng-maxlength="100" required>
                <p class="help-block">El campo nombre es requerido.</p>
                <p ng-show="uiForm.description.$error.maxlength" class="help-block">El campo nombre es muy largo.</p>
                <p ng-show="uiForm.description.$invalid && (vm.formSubmitted || vm.errors.description)" class="help-block">{{vm.errors.description}}</p>
              </div>
            </div>
          </div>                              
          <div class="box-footer"> 
            <a ui-sref="app.claim-doc-type-descriptions-lists({claimdoctypeId:vm.claimdoctypeditdata.data.id})" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>