<section class="content-header">
    <h1>Envio de Factura - Renovación</h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="strike" style="width: 100%; height: 30px; text-align: center">
							<span class="" style="text-align: center !important;" >Factura</span>
						</div>
                        <div class="form-group" ng-class="{ 'has-error': uiForm.file.$invalid && ( vm.formSubmitted || uiForm.file.$touched) }">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Factura del Cliente</label>
                                <div class="col-sm-5 col-md-5">
							        <div>
                                        <input class="form-control" type="file" id="upload" data-max-size="2048" ng-model="vm.myFile" file-model="vm.myFile" file-input="vm.files" name="file" required>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.emission-renewal-list" class="btn btn-default"><i class="fa fa-angle-double-left"></i>Regresar</a>
						<button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">{{vm.isDisabled ? 'Guardando' : 'Guardar'}}</button>
					</div>
				</form>
            </div>
        </div>
    </div>
</section>