<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-placeholder-single").select2({
    placeholder: "Seleccione Plan"
  });
  $(".js-example-basic-single").select2({ 
    placeholder: "Seleccione Póliza"
   });
  $(".js-example-placeholder-doc").select2({
    placeholder: "Seleccione Tipo"
  });
    $(".js-example-basic-single2").select2({
    placeholder: "Seleccione Médico"
   });
    $(".js-example-basic-single3").select2({
    placeholder: "Seleccione Hospital"
   });
    $(".js-example-basic-single4").select2({
    placeholder: "Seleccione Especialidad"
   });
});

function clearFileInputField(tagId) {
    document.getElementById(tagId).value = "";
}
</script>
<section class="content-header">
  <h1>Tickets</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Datos del Ticket</h3>
        </div>
        <form class="form-horizontal" name="ticketForm" ng-submit="vm.save(ticketForm.$valid)" novalidate>
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': ticketForm.policy_id.$invalid && ( vm.formSubmitted ) }">
                  <label for="input" class="col-sm-2 control-label"># Póliza</label>
                  <div class="col-sm-8">
                    <select class="js-example-basic-single" style='font-size: 14px; width: 400px; height: 34px;' ng-change="vm.getAfilliates(vm.policy_id)"  ng-model="vm.policy_id" name="policy_id" required>
                      <option style="font-size: 17px" value="">--Seleccione--</option>
                      <option style="font-size: 17px"  ng-repeat="policy in vm.systemPolicies" value="{{policy.id}}" >{{policy.number}} | {{policy.name}}</option>
                    </select>
                    <p class="help-block">El campo Póliza es requerido.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': ticketForm.id_person.$invalid && ( vm.formSubmitted ) }">
                  <label for="input" class="col-sm-2 control-label">Afiliado</label>
                  <div class="col-sm-8">
                    <select class="js-example-basic-single" style='font-size: 14px; width: 400px; height: 34px;' ng-change="vm.getpersontype()" ng-model="vm.id_person" name="id_person" id="id_person" required>
                        <option style="font-size: 17px" ng-repeat="item in vm.allAffiliates"  value="{{item.id}}" >{{item.id}} | {{item.name}} | {{item.relationship}}</option>
                      </select>
                      <p class="help-block">El campo Afiliados es requerido.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': ticketForm.ticket_type.$invalid && ( vm.formSubmitted) }">
                  <label for="input" class="col-sm-2 control-label" style="white-space: nowrap">Tipo de Cita</label>
                  <div class="col-sm-8">
                    <select  class="form-control" id="ticket_type" style="width:400px;" ng-model="vm.systemTicketType" name="ticket_type{{$index.id}}" required>
                      <option style="font-size: 17px" value="">--Seleccione--</option>
                      <option ng-repeat="type in vm.systemTicketTypes"  value="{{type.id}}" required>{{type.name}}</option>
                    </select>
                        <p class="help-block">El campo Tipo de Cita es requerido.</p>
                        <p ng-show="ticketForm.ticket_type.$invalid && (vm.formSubmitted || vm.errors.ticket_type)" class="help-block">{{vm.errors.ticket_type}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': ticketForm.city.$invalid && ( vm.formSubmitted) }">
                  <label for="input" class="col-sm-2 control-label">Ciudad</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" style="width:400px;" placeholder="Ciudad"  ng-model="vm.city" name="city" required>
                      <p class="help-block">El campo ciudad es requerido.</p>
                      <p ng-show="ticketForm.city.$invalid && (vm.formSubmitted || vm.errors.city)" class="help-block">{{vm.errors.city}} </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': ticketForm.doctor.$invalid && ( vm.formSubmitted) }">
                  <label for="input" class="col-sm-2 control-label">Médico</label>
                  <div class="col-sm-8">
                    <!--<input type="text" class="form-control" style="width: 400px" placeholder="Doctor" ng-model="vm.doctor" name="doctor">-->
                      <select  class="js-example-basic-single2" style='font-size: 14px; width: 400px; height: 34px;' ng-model="vm.doctor" name="doctor" ng-change="vm.changeDoctor()" ng-if="vm.llave2 == false">
                      <option style="font-size: 17px" value="">--Seleccione--</option>
                      <option style="font-size: 17px"  ng-repeat="doctor in vm.doctors" value="{{doctor.id}}" >{{doctor.names}} {{doctor.surnames}}</option>
                    </select>

                     <select  class="js-example-basic-single2" style='font-size: 14px; width: 400px; height: 34px;' ng-model="vm.doctor" name="doctor" ng-change="vm.changeDoctor()" ng-if="vm.llave2 == true">
                      <option style="font-size: 17px" value="">--Seleccione--</option>
                      <option style="font-size: 17px"  ng-repeat="doctor in vm.systemdoctorbyspec" value="{{doctor.id}}" >{{doctor.names}}</option>
                    </select>

                      <a class="btn btn-xs btn-primary" ng-click="vm.modalDoctor()"  ><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                      <p ng-show="ticketForm.doctor.$invalid && (vm.formSubmitted || vm.errors.doctor)" class="help-block">{{vm.errors.doctor}}</p>
                  </div>

                </div>

              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': ticketForm.hospital.$invalid && ( vm.formSubmitted) }">
                  <label for="input" class="col-sm-2 control-label">Hospital</label>
                  <div class="col-sm-8">
                    <!--<input type="text" class="form-control" style="width:400px;" placeholder="Hospital" ng-model="vm.hospital" name="hospital" required>-->
                      <select class="js-example-basic-single3" style='font-size: 14px; width: 400px; height: 34px;' ng-model="vm.hospital" name="hospital" required>
                      <option style="font-size: 17px" value="">--Seleccione--</option>
                      <option style="font-size: 17px"  ng-repeat="hospital in vm.hospitals" value="{{hospital.id}}" >{{hospital.name}}</option>
                    </select>
                       <a class="btn btn-xs btn-primary" ng-click="vm.modalHospital()"  ><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                        <p class="help-block">El campo hospital es requerido.</p>
                        <p ng-show="ticketForm.hospital.$invalid && (vm.formSubmitted || vm.errors.hospital)" class="help-block">{{vm.errors.hospital}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': ticketForm.medical_speciality.$invalid && ( vm.formSubmitted) }">
                  <label for="input" class="col-sm-2 control-label">Especialidad Médica</label>
                  <div class="col-sm-8">
                    <!--<input type="text" class="form-control" style="width: 400px;" placeholder="Especialidad Médica" ng-model="vm.medical_speciality" name="medical_speciality">-->
                      <select class="js-example-basic-single4" ng-if="vm.llave == false"  style='font-size: 14px; width: 400px; height: 34px;' ng-model="vm.medical_speciality" name="medical_speciality" ng-change="vm.ChangeDoctorBySpec(vm.medical_speciality)">
                      <option style="font-size: 17px" value="">--Seleccione--</option>
                      <option style="font-size: 17px"  ng-repeat="speciality in vm.medicalspecialties" value="{{speciality.id}}" >{{speciality.name}}</option>
                    </select>  

                    <select class="js-example-basic-single4" ng-if="vm.llave == true"  style='font-size: 14px; width: 400px; height: 34px;' ng-model="vm.medical_speciality" name="medical_speciality" ng-change="vm.ChangeDoctorBySpec(vm.medical_speciality)">

                      <option style="font-size: 17px" value="">--Seleccione--</option>
                      <option style="font-size: 17px"  ng-repeat="speciality in vm.doctordata" value="{{speciality.speciality_id}}" >{{speciality.name}}</option>
                    </select>                    
                      <p ng-show="ticketForm.medical_speciality.$invalid && (vm.formSubmitted || vm.errors.medical_speciality)" class="help-block">{{vm.errors.medical_speciality}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': ticketForm.date_start.$invalid && ( vm.formSubmitted) }">
                  <label for="input" class="col-sm-2 control-label">Fecha Cita Inicio</label>
                  <div class="col-sm-8">
                    <input type="date"  class="form-control" style="width:400px;" placeholder="date_start" ng-model="vm.date_start" name="date_start" required>
                        <p class="help-block">El campo fecha cita inicio es requerido.</p>
                        <p ng-show="ticketForm.date_start.$invalid && (vm.formSubmitted || vm.errors.date_start)" class="help-block">{{vm.errors.date_start}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': ticketForm.date_end.$invalid && ( vm.formSubmitted) }">
                  <label for="input" class="col-sm-2 control-label">Fecha Cita Tope</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" style="width:400px;" placeholder="date_end" ng-model="vm.date_end" name="date_end" min="{{vm.date_start | date:'yyyy-MM-dd'}}" >                        
                        <p ng-show="ticketForm.date_end.$invalid && (vm.formSubmitted || vm.errors.date_end)" class="help-block">{{vm.errors.date_end}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': ticketForm.hour.$invalid && ( vm.formSubmitted) }">
                  <label for="input" class="col-sm-2 control-label">Hora</label>
                  <div class="col-sm-8">
                    <input type="time"  class="form-control" style="width:90px;" placeholder="hour" ng-model="vm.hour" name="hour">
                        <p ng-show="ticketForm.hour.$invalid && (vm.formSubmitted || vm.errors.hour)" class="help-block">{{vm.errors.hour}}</p>
                  </div>
                </div>
              </div>              
            </div>            
          </div>
          <fieldset>
              <table style="border-collapse: separate; border-spacing: 8px; overflow-x:scroll;width: auto;">     
                <tr ng-repeat="line in vm.lines" style="height: 120px">
                  <td style="height: 120px !important;">
                    <div class="col-sm-10 col-md-10" style="height: 120px !important"> 
                      <div class="form-group" ng-class="{ 'has-error': ticketForm.doc_type_id{{line.id}}.$invalid && ( vm.formSubmitted || ticketForm.doc_type_id{{line.id}}.$touched) }">
                        <label for="doc_type_id{{line.id}}">Tipo de Documento</label>
                        <select class="form-control" style='font-size: 14px; width: 200px;' ng-model="vm.doc_typeselected[line.id]" name="doc_type_id{{line.id}}" required >
                          <option style="font-size: 17px" value="">--Seleccione--</option>
                          <option style="font-size: 17px" ng-repeat="doc in vm.systemDocTypes" value="{{doc.id}}">{{doc.name}}</option>
                        </select>
                        <p class="help-block">Este campo es requerido.</p>
                      </div>
                    </div>
                  </td>
                 <td style="height: 120px !important">
                    <div class="col-sm-12 col-md-12" style="height: 120px !important; width: 340px">
                      <div class="form-group" ng-class="{ 'has-error': ticketForm.file{{line.id}}.$invalid && ( vm.formSubmitted || ticketForm.file{{line.id}}.$touched) }">
                        <label for="file{{line.id}}">Archivo</label>
                          <input id="file1" name="file{{line.id}}" class="form-control" style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="vm.myFile[line.id]" file-model="vm.myFile[line.id]" file-input="vm.files[line.id]"  required>
                          <p class="help-block">Este campo es requerido.</p>
                      </div>
                    </div>
                  </td>
                      <td style="height: 120px !important">
                      <div class="col-sm-12 col-md-8" style="height: 120px !important">
                        <div class="form-group">
                          <label for="doc_type_id{{line.id}}">Acciones </label>
                              <a  class="btn btn-danger" ng-click="vm.deleteLine(line)" >
                              <i class="fa fa-remove"></i>
                              </a>
                              <p class="help-block">Eliminar</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
                <div class="box-header with-border">
                <a class="btn btn-xs btn-primary" ng-click="vm.addFile()" ><i class="fa fa-plus" aria-hidden="true"></i> Agregar Documentos</a>
                </div>   
            </fieldset>
            <div class="box-footer">
              <a ui-sref="app.ticket-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
              <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script type="text/ng-template" id="myModalDoctor">
    <form class="form-horizontal" name="registerForm" ng-submit="mvm.save(registerForm.$valid)" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title" style="text-align: center">Agregar Médico</h3>
        </div>
        <br>
        <div class="box-body">
            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.names.$invalid && ( mvm.formSubmitted) }">
                <label for="inputEmail3" class="col-sm-2 control-label">Nombres</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nombres" ng-model="mvm.names" name="names" ng-maxlength="30" required>
                    <span class="form-control-feedback"></span>
                    <p class="help-block">El campo nombres es requerido.</p>
                    <p ng-show="registerForm.abbreviation.$error.maxlength" class="help-block">El campo nombres es muy largo.</p>
                    <p ng-show="registerForm.names.$invalid && (mvm.formSubmitted || mvm.errors.names)" class="help-block">{{mvm.errors.names}}</p>
                </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.surnames.$invalid && ( mvm.formSubmitted) }">
                <label for="inputEmail3" class="col-sm-2 control-label">Apellidos</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Apellidos" ng-model="mvm.surnames" name="surnames" ng-maxlength="30" required>
                    <span class="form-control-feedback"></span>
                    <p class="help-block">El campo apellidos es requerido.</p>
                    <p ng-show="registerForm.surnames.$error.maxlength" class="help-block">El campo apellidos es muy largo.</p>
                    <p ng-show="registerForm.surnames.$invalid && (mvm.formSubmitted || mvm.errors.surnames)" class="help-block">{{mvm.errors.surnames}}</p>
                </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.identification.$invalid && ( mvm.formSubmitted) }">
                <label for="inputEmail3" class="col-sm-2 control-label">Identificación</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Identificación" ng-model="mvm.identification" name="identification" ng-maxlength="30">
                    <span class="form-control-feedback"></span>                    
                    <p ng-show="registerForm.identification.$error.maxlength" class="help-block">El campo identificación es muy largo.</p>
                    <p ng-show="registerForm.identification.$invalid && (mvm.formSubmitted || mvm.errors.identification)" class="help-block">{{mvm.errors.identification}}</p>
                </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.address.$invalid && ( mvm.formSubmitted) }">
              <label for="address" class="col-sm-2 control-label">Dirección</label>
              <div class="col-sm-10">
                <input tpye="text" class="form-control" placeholder="Dirección" ng-model="mvm.address" name="address" ng-maxlength="255">
                <span class="form-control-feedback"></span>
                <p class="help-block">El campo dirección es requerido.</p>
                <p ng-show="registerForm.address.$error.maxlength" class="help-block">El campo identificación es muy largo.</p>
                <p ng-show="registerForm.address.$invalid && (mvm.formSubmitted || mvm.errors.address)" class="help-block">{{mvm.errors.address}}</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.phone.$invalid && ( mvm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Teléfono</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Teléfono" ng-model="mvm.phone" ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" name="phone" ng-maxlength="25" required>
                <span class="fa fa-phone form-control-feedback"></span>
                <p class="help-block">El campo identificación es requerido.</p>
                <p ng-show="registerForm.phone.$error.maxlength" class="help-block">El campo identificación es muy largo.</p>
                <p ng-show="registerForm.phone.$invalid && (mvm.formSubmitted || mvm.errors.phone)" class="help-block">{{mvm.errors.phone}}</p>
              </div>
            </div>

            <div class="form-group  has-feedback" ng-class="{ 'has-error': registerForm.country.$invalid && ( vm.formSubmitted || registerForm.country.$touched) }">
              <label for="input" class="col-sm-2 control-label">País</label>
              <div class="col-sm-10">
                  <select class="form-control" style='font-size: 14px;' placeholder="País" ng-model="mvm.country" name="country" ng-change="mvm.getState();" required>
                      <option value="">- Seleccione -</option>
                      <option style="font-size: 17px" ng-repeat="count in mvm.systemCountrys" value="{{count.id}}" >{{count.name}}</option>
                  </select>
                  <p class="help-block">El campo país es requerido.</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.state.$invalid && ( mvm.formSubmitted || registerForm.state.$touched) }">
              <label for="input" class="col-sm-2 control-label">Provincia</label>
              <div class="col-sm-10">
                  <select class="form-control" style='font-size: 14px;' placeholder="Provincia" ng-model="mvm.state" name="state" ng-change="mvm.getCity();" required>
                      <option value="">- Seleccione -</option>
                      <option style="font-size: 17px" ng-repeat="state in mvm.systemStates" value="{{state.id}}" >{{state.name}}</option>
                  </select>
                  <p class="help-block">El campo provincia es requerido.</p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': registerForm.city.$invalid && ( mvm.formSubmitted || registerForm.city.$touched) }">
                <label for="input" class="col-sm-2 control-label">Ciudad</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" style='font-size: 14px;' placeholder="Ciudad" ng-model="mvm.city" name="city" required>
                  <p class="help-block">El campo ciudad es requerido.</p>
              </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" style="text-align: left; padding-left: 40px;" class="col-sm-12 control-label">Especialidades</label>
                <div class="col-sm-12" style="border-top:1px solid #F2F2F2; border-bottom:1px solid #F2F2F2; position: 8;width: 590px; height: 150px;overflow-y: auto;right: 8px;left: 8px;">
                    <div class="checkbox" ng-repeat="speciality in mvm.specialties" style="left: 15px">
                        <label>
                            <input type="checkbox" checklist-model="mvm.specialtiesselected" checklist-value="speciality.id"> {{speciality.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
            <button class="btn btn-primary" type="submit"   data-dismiss="modal" ng-disabled="mvm.specialtiesselected.length == 0 || mvm.specialtiesselected == undefined" >Guardar</button>
            &nbsp;&nbsp;&nbsp;
        </div>
    </form>
</script>

<script type="text/ng-template" id="myModalHospital">
    <form class="form-horizontal" name="registerForm" ng-submit="mvm.save(registerForm.$valid)" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title" style="text-align: center">Agregar Hospital</h3>
        </div>
        <br>
        <div class="box-body">
            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.name.$invalid && ( mvm.formSubmitted) }">
                <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nombre" ng-model="mvm.name" name="name" ng-maxlength="100" required>
                    <span class="fa fa-university form-control-feedback"></span>
                    <p class="help-block">El campo nombre es requerido.</p>
                    <p ng-show="registerForm.name.$error.maxlength" class="help-block">El campo nombre es muy largo.</p>
                    <p ng-show="registerForm.name.$invalid && (mvm.formSubmitted || mvm.errors.name)" class="help-block">{{mvm.errors.name}}</p>
                </div>
            </div>

            <div class="form-group  has-feedback" ng-class="{ 'has-error': registerForm.country.$invalid && ( mvm.formSubmitted || registerForm.country.$touched) }">
                <label for="input" class="col-sm-2 control-label">País</label>
        <div class="col-sm-10">
            <select class="form-control" style='font-size: 14px;' placeholder="País" ng-model="mvm.country" name="country" ng-change="mvm.getState();" required>
                        <option value="">- Seleccione -</option>
                        <option style="font-size: 17px" ng-repeat="count in mvm.systemCountrys" value="{{count.id}}" >{{count.name}}</option>
                    </select>
                    <p class="help-block">El campo país es requerido.</p>
        </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.state.$invalid && ( mvm.formSubmitted || registerForm.state.$touched) }">
        <label for="input" class="col-sm-2 control-label">Provincia</label>
        <div class="col-sm-10">
            <select class="form-control" style='font-size: 14px;' placeholder="Provincia" ng-model="mvm.state" name="state" ng-change="mvm.getCity();" required>
                <option value="">- Seleccione -</option>
                <option style="font-size: 17px" ng-repeat="state in mvm.systemStates" value="{{state.id}}" >{{state.name}}</option>
            </select>
            <p class="help-block">El campo provincia es requerido.</p>
        </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': registerForm.city.$invalid && ( mvm.formSubmitted || registerForm.city.$touched) }">
                <label for="input" class="col-sm-2 control-label">Ciudad</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" style='font-size: 14px;' placeholder="Ciudad" ng-model="mvm.city" name="city" required>
            <p class="help-block">El campo ciudad es requerido.</p>
        </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.address.$invalid && ( mvm.formSubmitted) }">
                <label for="inputEmail3" class="col-sm-2 control-label">Dirección</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Dirección" ng-model="mvm.address" name="address" ng-maxlength="300" required>
                    <span class="fa fa-university form-control-feedback"></span>
                    <p class="help-block">El campo dirección es requerido.</p>
                    <p ng-show="registerForm.address.$error.maxlength" class="help-block">El campo dirección es muy largo.</p>
                    <p ng-show="registerForm.address.$invalid && (mvm.formSubmitted || mvm.errors.address)" class="help-block">{{mvm.errors.address}}</p>
                </div>
            </div>

            <!--<div class="form-group">
                <label for="inputEmail3" style="text-align: left; padding-left: 40px;" class="col-sm-12 control-label">Especialidades</label>
                <div class="col-sm-12" style="padding-left: 40px;">
                    <div class="checkbox" ng-repeat="speciality in mvm.specialties">
                        <label>
                            <input type="checkbox" checklist-model="mvm.specialtiesselected" checklist-value="speciality.id"> {{speciality.name}}
                        </label>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
            <button class="btn btn-primary" type="submit"   data-dismiss="modal" ng-disabled="(mvm.diagnosticId | json)  == '{}'" >Guardar</button>
            &nbsp;&nbsp;&nbsp;
        </div>
    </form>
</script>
