<style type="text/css">
 /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc ;
    border-top: none;
    border-left : none;
    border-right: none;
    background-color: #ffffff;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border-top: none;
    border-right: 0,5px;
    outline: none;
    cursor: pointer;
    padding: 6px 12px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ddd;
    border-bottom: : 1px solid #000 ;

}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
} 
</style>
<section class="content-header">
  <h1>Renovaciones Pendientes <!--<small>Module description here</small>--></h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header">
          <div class="tab">
            <button class="tablinks" ng-click="vm.openTab(1)">Cuotas Pendientes de Pago</button>
            <button class="tab button active" ng-click="vm.openTab(2)">Polizas Pendientes</button>
          </div>
        </div>
        <div class="box-body">
          <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTableD" dt-options="vm.dtOptionsD" dt-columns="vm.dtColumnsD"></table>
        </div>
      </div>
    </div>
  </div>
</section>
