<section class="content-header">
  <h1>Formato de correo</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar</h3>
        </div>
        <form class="form-horizontal" name="form" ng-submit="vm.save(form.$valid)" autocomplete="off" novalidate>
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>
           
              <div class="form-group" ng-class="{ 'has-error': form.name.$invalid && ( vm.formSubmitted || form.name.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.emailformateditdata.data.name" name="name" placeholder="Nombre" required>
                <p ng-show="form.name.$error.required && ( vm.formSubmitted || form.name.$touched)" class="help-block">El nombre es obligatorio.</p>
              </div>
            </div>
            <div class="form-group" >
              <label for="inputEmail3" class="col-sm-2 control-label">Destinatario</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.emailformateditdata.data.recipient" name="recipient" placeholder="Destinatarios CC del correo" >
              </div>
            </div>
            <div class="form-group has-feedback" >
              <label for="inputEmail3" class="col-sm-2 control-label">CC</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.emailformateditdata.data.cc" title="Separados por coma, ej: admin@dominio.com, user@dominio.com" name="cc" placeholder="Destinatario" >
                <span class="fa fa-info-circle form-control-feedback" ></span>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.title.$invalid && ( vm.formSubmitted || form.title.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Título</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.emailformateditdata.data.title" name="title" placeholder="Título" required>
                <p ng-show="form.title.$error.required && ( vm.formSubmitted || form.title.$touched)" class="help-block">El titulo es obligatorio.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.subject.$invalid && ( vm.formSubmitted || form.subject.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Asunto</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.emailformateditdata.data.subject" name="subject" placeholder="Asunto" required>
                <p ng-show="form.subject.$error.required && ( vm.formSubmitted || form.subject.$touched)" class="help-block">El asunto es obligatorio.</p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': form.subject.$invalid && ( vm.formSubmitted || form.subject.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Contenido</label>
              <div class="col-sm-10">
                <textarea rows="10" class="form-control" ng-model="vm.emailformateditdata.data.content" name="content" placeholder="Contenido" required></textarea>
                <p ng-show="form.content.$error.required && ( vm.formSubmitted || form.subject.$touched)" class="help-block">El asunto es obligatorio.</p>
              </div>
            </div>



          </div>
          <div class="box-footer">
            <a ui-sref="app.email-format-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
              <div class="box-footer"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
