<section class="content-header">
  
  <h1>Deducibles</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Agregar Deducible a Plan: <strong>{{ vm.planeditdata.data.name }} </strong></h3>
        </div>
        <form class="form-horizontal" name="registerForm" ng-submit="vm.save(registerForm.$valid)" novalidate>      
          
          <div class="box-body">
            <div class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.name.$invalid && ( vm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Nombre" ng-model="vm.name" name="name" ng-maxlength="100" required>
                <p class="help-block">El campo nombre es requerido.</p>
                <p ng-show="registerForm.name.$error.maxlength" class="help-block">El campo nombre es muy largo.</p>
                <p ng-show="registerForm.name.$invalid && (vm.formSubmitted || vm.errors.name)" class="help-block">{{vm.errors.name}}</p>
              </div>
            </div>            
            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.amount_in_usa.$invalid && ( vm.formSubmitted || registerForm.amount_in_usa.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Monto dentro de EE.UU</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="Dentro EEUU" ng-model="vm.amount_in_usa" name="amount_in_usa" ng-maxlength="8" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" max="999999" required>
                <span class="glyphicon glyphicon-usd form-control-feedback"></span>
                 <p class="help-block">El campo monto dentro de EE.UU es requerido.</p>
                <p ng-show="registerForm.amount_in_usa.$error.maxlength || registerForm.amount_in_usa.$error.max" class="help-block">El campomonto dentro de EE.UU es muy largo.</p>
                <p ng-show="registerForm.amount_in_usa.$invalid && (vm.formSubmitted || vm.errors.amount_in_usa)" class="help-block">{{vm.errors.amount_in_usa}}</p>
              </div>
            </div>          

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.amount_out_usa.$invalid && ( vm.formSubmitted || registerForm.amount_out_usa.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Monto fuera de EE.UU</label>
              <div class="col-sm-10">
                 <input type="number" class="form-control" placeholder="Fuera EEUU" ng-model="vm.amount_out_usa" name="amount_out_usa" ng-maxlength="8" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" max="999999" required>
                <span class="glyphicon glyphicon-usd form-control-feedback"></span>
                 <p class="help-block">El campo monto fuera de EE.UU es requerido.</p>
                <p ng-show="registerForm.amount_out_usa.$error.maxlength || registerForm.amount_out_usa.$error.max" class="help-block">El campo fuera de EE.UU es muy largo.</p>
                <p ng-show="registerForm.amount_out_usa.$invalid && (vm.formSubmitted || vm.errors.amount_out_usa)" class="help-block">{{vm.errors.amount_out_usa}}</p>
              </div>
            </div>          
            
          <div class="box-footer">
            <a ui-sref="app.deductible-lists({planId: vm.planeditdata.data.id})" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
