<section class="content-header">
  <h1>Renovación de Póliza<!--<small>Module description here</small>-->
        <a class="btn btn-xs btn-danger pull-right" style="font-family: cursive;font-weight: bold;" title="Salir" ui-sref="app.renewal-lists">X</a>
    </h1>
    <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->    
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header">
					<div id="wizar" >
					<table style="margin-left:20px; margin-right: 20px" width="100%">
						<tr>
							<th class="pearl col-xs-2 current ng-scope" align="center" style="text-align: center !important" ng-repeat-start ="data in vm.systemWizar">
								<!--<div ng-if="data.order == vm.current_step">
									<a style="color: #0080FF;">
										<i class="{{data.icon}}" aria-hidden="true" ></i>
									</a><br>
									<span class="pearl-title ng-binding">{{data.name}}</span>
								</div>-->
								<div style="cursor: pointer;">
									<a ng-style="{'color': data.order != vm.current_step ? '#A9BCF5' : '#0080FF'}" ui-sref="{{data.uisref}} ({policyId:{{vm.policyId}},feeId:{{vm.feeId}}})">
										<i class="{{data.icon}}" aria-hidden="true" ></i>
									</a><br>
									<span>{{data.name}}</span>
								</div>								
							</th>
							<th ng-repeat-end></th>							
						</tr>
					</table>
					</div>
				</div>
				<div class="strike" style="width: 100%; height: 30px; text-align: center">
					<span class="" style="text-align: center !important;" >Información de Dependientes</span>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>						
						<div ng-repeat="line in vm.lines">
	                            <div class="container-fluid con-margin">
	                                <div class="row">

	                                    <div class="col-md-3">

	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.name{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.name{{line.id}}.$touched) }">

	                                            <label for="name" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Nombres</label>
	                                            <div class="col-xs-12">
	                                                <input
	                                                class="form-control"
	                                                type="text"
                                                    name = "name{{line.id}}"
	                                                ng-model="vm.dependents[$index].name"
	                                                ng-init=""
	                                                placeholder="" autofocus required ng-disabled="vm.completed == 1">
	                                                <label for="name" class="hidden-xs">Nombres</label>

	                                            </div>
                                              <p class="help-block">Este campo es requerido.</p>
	                                        </div>

	                                    </div>

	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.lastname{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.lastname{{line.id}}.$touched) }">
	                                            <label for="lastname" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Apellidos</label>
	                                            <div class="col-xs-12">
	                                                <input
	                                                class="form-control"
	                                                type="text"
	                                                name="lastname{{line.id}}"
	                                                ng-model="vm.dependents[$index].lastname"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.completed == 1">
	                                                <label for="lastname" class="hidden-xs">Apellidos</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>
	                                    </div>

	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.pid_type{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.pid_type{{line.id}}.$touched) }">
	                                            <label for="pid_type" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Tipo de documento</label>
	                                            <div class="col-xs-12">
	                                                <select
	                                                class="form-control"
	                                                name="pid_type{{line.id}}"
	                                                ng-model="vm.dependents[$index].pid_type"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.completed == 1">
	                                                    <option label="Cédula" value="0" ></option>
	                                                    <option label="Pasaporte" value="1"></option>
	                                                    <option label="RUC" value="2"></option>
	                                                </select>
	                                                <label for="pid_type" class="hidden-xs">Tipo de documento</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>
	                                    </div>

	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.pid_num{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.pid_num{{line.id}}.$touched) }">
	                                            <label for="pid_num" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label"># del documento</label>
	                                            <div class="col-xs-12">
	                                                <input
	                                                class="form-control"
	                                                type="text"
	                                                name="pid_num{{line.id}}"
	                                                ng-model="vm.dependents[$index].pid_num"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.completed == 1">
	                                                <label for="pid_num" class="hidden-xs"># del documento</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>

	                                    </div>

	                                </div>
	                            </div>

	                            <div class="container-fluid con-margin">
	                                <div class="row">
	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.role{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.role{{line.id}}.$touched) }">
	                                            <label for="role" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Relación</label>
	                                            <div class="col-xs-12">
	                                                <select
	                                                class="form-control"
	                                                name="role{{line.id}}"
	                                                ng-model="vm.dependents[$index].role"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.completed == 1">
	                                                	<option label="Cónyuge" value="H" ></option>
	                                                    <option label="Dependiente" value="D"></option>
	                                                </select>
	                                                <label for="role" class="hidden-xs">Relación</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>
	                                    </div>

	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.dob{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.dob{{line.id}}.$touched)  }">
	                                            <label for="dob" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Fecha de nacimiento</label>
	                                            <div class="col-xs-12">
	                                                <input
	                                                class="form-control"
	                                                type="date"
	                                                name="dob{{line.id}}"
	                                                ng-model="vm.dependents[$index].dob"
	                                                placeholder="" required ng-disabled="vm.completed == 1">
	                                                <label for="dob" class="hidden-xs">Fecha de nacimiento</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>
	                                    </div>

	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.height{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.height{{line.id}}.$touched) }">
	                                            <label for="height" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Estatura</label>
	                                            <div class="col-xs-12">
	                                                <div class="col-xs-5" style="display:inline-block; padding-right:0; padding-left:0">
	                                                    <input
	                                                        class="form-control"
	                                                        type="number"
	                                                        name="height{{line.id}}"
	                                                        ng-pattern="/(\[0-9]{1,2})?$/"
	                                                        min="0.01" 
	                                                        placeholder="0.00"
	                                                        ng-model="vm.dependents[$index].height"
	                                                        ng-init="vm.dependents[$index].height"
	                                                        required autocomplete="off" ng-disabled="vm.completed == 1">
	                                                </div>
	                                                <div class="col-xs-7 btn-group" style="display: inline-block; padding-right:0">
	                                                    <label class="switch">
												      	<input for="checkbox2" ng-model="vm.dependents[$index].height_unit_measurement" ng-true-value="'M'" ng-false-value="'CM'" class="switch-input" type="checkbox"  id="checkbox2" ng-disabled="vm.completed == 1" >
													      	<span class="switch-label" data-on="CM" data-off="M"></span> 
													      	<span class="switch-handle"></span> 
													     </label>
	                                                </div>
	                                                <label for="height" class="hidden-xs">Estatura</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>
	                                    </div>

	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.weight{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.weight{{line.id}}.$touched) }">
	                                            <label for="weight" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Peso</label>
	                                            <div class="col-xs-12">
	                                                <div class="col-xs-5" style="display:inline-block; padding-right:0; padding-left:0">
	                                                    <input
	                                                        class="form-control"
	                                                        type="number"
	                                                        name="weight{{line.id}}"
	                                                        ng-pattern="/(\[0-9]{1,2})?$/"
	                                                        min="0.01" 
	                                                        placeholder="0.00"
	                                                        ng-model="vm.dependents[$index].weight"
	                                                        ng-init="form[$index].weight"
	                                                        required autocomplete="off" ng-disabled="vm.completed == 1">
	                                                </div>
	                                                <div class="col-xs-7 btn-group" style="display: inline-block; padding-right:0">
	                                                    <label class="switch">
												      	<input for="checkbox" ng-model="vm.dependents[$index].weight_unit_measurement"
                                                            ng-true-value="'KG'"
                                                            ng-false-value="'LB'" class="switch-input" type="checkbox" id="checkbox" ng-disabled="vm.completed == 1"/>
													      	<span class="switch-label" data-on="LB" data-off="KG"></span> 
													      	<span class="switch-handle"></span> 
													     </label>
	                                                </div>
	                                                <label for="weight" class="hidden-xs">Peso</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="container-fluid con-margin">
	                                <div class="row">
	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.sex{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.sex{{line.id}}.$touched) }">
	                                            <label for="sex" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Sexo</label>
	                                            <div class="col-xs-12">
	                                                <select
	                                                class="form-control"
	                                                name="sex{{line.id}}"
	                                                ng-model="vm.dependents[$index].sex"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.completed == 1">
	                                                	<option label="Masculino" value="M" ></option>
	                                                    <option label="Femenino" value="F"></option>
	                                                </select>
	                                                <label for="sex" class="hidden-xs">Sexo</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-3">
	                                        <div class="col-xs-12">
	                                            <a ng-click="vm.motiveDependent(line, vm.dependents[$index], vm.max_dependent_age)" class="btn btn-sm btn-danger"  ng-if="line.new == false">
	                                                <i class="glyphicon glyphicon-trash"></i>
	                                            </a>

	                                             <a ng-click="vm.deleteLine(line)" class="btn btn-sm btn-danger" ng-disabled="vm.completed == 1" ng-if="line.new == true">
	                                                <i class="fa fa-remove"></i>
	                                            </a>

	                                         
	                                        </div>
	                                    </div>

	                                    <div class="col-md-6">
	                                        <div class="col-xs-12">
	                                            <span style="font-family:sans-serif  ;color: #FE0000; font-size: 22px">{{vm.dependents[$index].alert}}</span>
	                                        </div>
	                                    </div>

	                                </div>
	                            </div>
	                            <hr />
	                        </div>
	                         <div  class="container-fluid con-margin">
						
	                            <a  class="btn btn-xs btn-primary" ng-click="vm.addLine()" ><i class="fa fa-plus" aria-hidden="true"> Agregar Dependiente</i></a>
                               
					    	</div>
					    	<br>
							
					</div>
					<div class="box-footer">
						<a ui-sref="app.renewal-plan-config({policyId: vm.policyId, feeId: vm.feeId})" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
						<button  type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">Guardar <i class="fa fa-angle-double-right"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header">
					<div class="strike" style="width: 100%; height: 30px; text-align: center">
						<span class="" style="text-align: center !important;" >Histórico de Dependientes </span>
					</div>

						<br>
							
						
						     <!--                               -->
	                        <div ng-repeat="line in vm.linesdel">
	                            <div class="container-fluid con-margin">
	                                <div class="row">
	                                    <div class="col-md-3">

	                                      

	                                            <label for="name" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Nombres</label>
	                                            <div class="col-xs-12">
	                                                <input
	                                                class="form-control"
	                                                type="text"
                                                    name = "name{{line.id}}"
	                                                ng-model="vm.dependentsdel[$index].name"
	                                                ng-init=""
	                                                placeholder="" autofocus required ng-disabled="vm.delDisabled">
	                                                <label for="name" class="hidden-xs">Nombres</label>

	                                        
                                             
	                                        </div>

	                                    </div>

	                                    <div class="col-md-3">
	                                        
	                                            <label for="lastname" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Apellidos</label>
	                                            <div class="col-xs-12">
	                                                <input
	                                                class="form-control"
	                                                type="text"
	                                                name="lastname{{line.id}}"
	                                                ng-model="vm.dependentsdel[$index].lastname"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.delDisabled">
	                                                <label for="lastname" class="hidden-xs">Apellidos</label>
	                                            </div>
                                              
	                                        
	                                    </div>

	                                    <div class="col-md-3">
	                                        
	                                            <label for="pid_type" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Tipo de documento</label>
	                                            <div class="col-xs-12">
	                                                <select
	                                                class="form-control"
	                                                name="pid_type{{line.id}}"
	                                                ng-model="vm.dependentsdel[$index].pid_type"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.delDisabled">
	                                                    <option label="Cédula" value="0" ></option>
	                                                    <option label="Pasaporte" value="1"></option>
	                                                    <option label="RUC" value="2"></option>
	                                                </select>
	                                                <label for="pid_type" class="hidden-xs">Tipo de documento</label>
	                                            </div>
                                              
	                                        
	                                    </div>

	                                    <div class="col-md-3">
	                                        
	                                            <label for="pid_num" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label"># del documento</label>
	                                            <div class="col-xs-12">
	                                                <input
	                                                class="form-control"
	                                                type="text"
	                                                name="pid_num{{line.id}}"
	                                                ng-model="vm.dependentsdel[$index].pid_num"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.delDisabled">
	                                                <label for="pid_num" class="hidden-xs"># del documento</label>
	                                            </div>
                                              
	                                        

	                                    </div>

	                                </div>
	                            </div>

	                            <div class="container-fluid con-margin">
	                                <div class="row">
	                                    <div class="col-md-3">
	                                        
	                                            <label for="role" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Relación</label>
	                                            <div class="col-xs-12">
	                                                <select
	                                                class="form-control"
	                                                name="role{{line.id}}"
	                                                ng-model="vm.dependentsdel[$index].role"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.delDisabled">
	                                                	<option label="Cónyuge" value="H" ></option>
	                                                    <option label="Dependiente" value="D"></option>
	                                                </select>
	                                                <label for="role" class="hidden-xs">Relación</label>
	                                            </div>
                                               
	                                        
	                                    </div>

	                                    <div class="col-md-3">
	                                        
	                                            <label for="dob" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Fecha de nacimiento</label>
	                                            <div class="col-xs-12">
	                                                <input
	                                                class="form-control"
	                                                type="date"
	                                                name="dob{{line.id}}"
	                                                ng-model="vm.dependentsdel[$index].dob"
	                                                placeholder="" required ng-disabled="vm.delDisabled">
	                                                <label for="dob" class="hidden-xs">Fecha de nacimiento</label>
	                                            </div>
                                                
	                                        
	                                    </div>

	                                    <div class="col-md-3">
	                                        
	                                            <label for="height" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Estatura</label>
	                                            <div class="col-xs-12">
	                                                <div class="col-xs-5" style="display:inline-block; padding-right:0; padding-left:0">
	                                                    <input
	                                                        class="form-control"
	                                                        type="number"
	                                                        name="height{{line.id}}"
	                                                        ng-pattern="/(\[0-9]{1,2})?$/"
	                                                        min="0.01" 
	                                                        placeholder="0.00"
	                                                        ng-model="vm.dependentsdel[$index].height"
	                                                        ng-init="vm.dependentsdel[$index].height"
	                                                        required autocomplete="off" ng-disabled="vm.delDisabled">
	                                                </div>
	                                                <div class="col-xs-7 btn-group" style="display: inline-block; padding-right:0">
	                                                    <label class="switch">
												      	<input for="checkbox2" ng-model="vm.dependentsdel[$index].height_unit_measurement" ng-true-value="'M'" ng-false-value="'CM'" class="switch-input" type="checkbox"  id="checkbox2" ng-disabled="delDisabled" >
													      	<span class="switch-label" data-on="CM" data-off="M"></span> 
													      	<span class="switch-handle"></span> 
													     </label>
	                                                </div>
	                                                <label for="height" class="hidden-xs">Estatura</label>
	                                            </div>
                                                
	                                        
	                                    </div>

	                                    <div class="col-md-3">
	                                        
	                                            <label for="weight" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Peso</label>
	                                            <div class="col-xs-12">
	                                                <div class="col-xs-5" style="display:inline-block; padding-right:0; padding-left:0">
	                                                    <input
	                                                        class="form-control"
	                                                        type="number"
	                                                        name="weight{{line.id}}"
	                                                        ng-pattern="/(\[0-9]{1,2})?$/"
	                                                        min="0.01" 
	                                                        placeholder="0.00"
	                                                        ng-model="vm.dependentsdel[$index].weight"
	                                                        ng-init="form[$index].weight"
	                                                        required autocomplete="off" ng-disabled="vm.delDisabled">
	                                                </div>
	                                                <div class="col-xs-7 btn-group" style="display: inline-block; padding-right:0">
	                                                    <label class="switch">
												      	<input for="checkbox" ng-model="vm.dependentsdel[$index].weight_unit_measurement"
                                                            ng-true-value="'KG'"
                                                            ng-false-value="'LB'" class="switch-input" type="checkbox" id="checkbox" ng-disabled="vm.delDisabled"/>
													      	<span class="switch-label" data-on="LB" data-off="KG"></span> 
													      	<span class="switch-handle"></span> 
													     </label>
	                                                </div>
	                                                <label for="weight" class="hidden-xs">Peso</label>
	                                            </div>
                                                
	                                        
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="container-fluid con-margin">
	                                <div class="row">
	                                    <div class="col-md-3">
	                                        
	                                            <label for="sex" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Sexo</label>
	                                            <div class="col-xs-12">
	                                                <select
	                                                class="form-control"
	                                                name="sex{{line.id}}"
	                                                ng-model="vm.dependentsdel[$index].sex"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.delDisabled">
	                                                	<option label="Masculino" value="M" ></option>
	                                                    <option label="Femenino" value="F"></option>
	                                                </select>
	                                                <label for="sex" class="hidden-xs">Sexo</label>
	                                            </div>
                                              
	                                        
	                                    </div>
	                                    <div class="col-md-3">
	                                        <!--<div class="col-xs-12">
	                                            <a ng-click="vm.deleteLine(vm.dependents[$index].id,line, vm.dependents[$index])" class="btn btn-sm btn-danger" ng-disabled="vm.completed == 1">
	                                                <i class="glyphicon glyphicon-trash"></i>
	                                            </a>
	                                        </div>-->
	                                    </div>

	                                    <div class="col-md-6">
	                                        <!--<div class="col-xs-12">
	                                            <span style="font-family:sans-serif  ;color: #FE0000; font-size: 14px">{{vm.dependents[$index].alert}}</span>
	                                        </div>-->
	                                    </div>

	                                </div>
	                            </div>
	                            <hr />
	                        </div>
	                        <!--                               -->
	            	</div>
				</div>
			</div>            
		</div>   


</section>
<script type="text/ng-template" id="myModalDependent">

 <form class="form-horizontal" name="regForm" ng-submit="mvm.deleteDependent(regForm.$valid)" novalidate>
                    <div class="box-body" style="overflow-x:scroll;">
                         <div class="modal-header">
                            <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                          <h3 class="modal-title" style="text-align: center">Motivo de Eliminación de  {{mvm.dependentData.name }} {{mvm.dependentData.lastname}}</h3>
                    </div>

                        <fieldset>
                           <table style="border-collapse: separate; border-spacing: 8px; overflow-x:scroll;" align="center">
                                  <tr  style="height: 120px">
                           
                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                             <div class="form-group" ng-class="{ 'has-error': regForm.motive.$invalid && ( mvm.formSubmitted || regForm.motive.$touched) }">
                                                <select class="form-control" style='font-size: 14px; width: 250px;' ng-model="mvm.motive" name="motive" ng-change="mvm.changeMotive();" required > 
    												<option style="font-size: 17px"  ng-value="0" ng-selected="0 == 0">- Seleccione -</option>

                                                	<option style="font-size: 17px" ng-repeat="doc in mvm.systemMotive" ng-value="{{doc.id}}">{{doc.name}}</option>
                                                   
                                                </select>
                                                <p class="help-block">Requerido.</p>
                        
                                            </div>
                                        </div>
                                    </td>            
                             	</tr>
                             
                             	<div class="col-xs-12" align="center">
	                                            	<span style="font-family:sans-serif  ;color: #FE0000; font-size: 14px">{{mvm.alert}}</span>
	                            </div>
	                         
                             
                        </table>  
         
                        </fieldset>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="mvm.processing">{{mvm.deleting ? 'Eliminar' : 'Eliminando'}}</button>
                    </div>
                </form>
</script>
