<section class="content-header">
  <h1>Confirmar Pago<!--<small>Module description here</small>--></h1>
    <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="strike" style="width: 100%; height: 30px; text-align: center">
							<span class="" style="text-align: center !important;" >Datos de la Póliza</span>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12 has-feedback" align="center"  ng-class="{ 'has-error': uiForm.Poliza.$invalid && ( vm.formSubmitted) }">
									<label for="input" class="col-sm-4 control-label" style="text-align: right;"># de Póliza </label>
									<div class="col-sm-5 col-md-5">
									<input type="text" class="form-control"  name="Poliza"  ng-model="vm.policyinfo[0].number" ng-disabled="true">
									</div>
							</div>
						</div>
						<div class="row">

								<div class="col-sm-12 col-md-12" align="center">
									<label for="input" class="col-sm-4 control-label" style="text-align: right;">Nombre del Cliente</label>
									<div class="col-sm-5 col-md-5">
									<input type="text" class="form-control" ng-model="vm.client"  name="nombre" ng-disabled="true">
									</div>
									</div>
						</div>
						<!--<div class="row">
							<div class="col-sm-12 col-md-12" align="center">
									<label for="input" class="col-sm-4 control-label" style="text-align: right;">Plan / Opción </label>
									<div class="col-sm-5 col-md-5">
									<input type="text" class="form-control"  name="Plan" ng-model="vm.planDeduc" ng-disabled="true">
									</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12" align="center">
									<label for="input" class="col-sm-4 control-label" style="text-align: right;">Valor Total de la Póliza</label>
									<div class="col-sm-5 col-md-5">
									<input type="text" class="form-control"  name="Plan"  ng-disabled="true">
									</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12" align="center">
									<label for="input" class="col-sm-4 control-label" style="text-align: right;">Frecuencia de Pagos</label>
									<div class="col-sm-5 col-md-5">
									<input type="text" class="form-control"  name="Plan"  ng-disabled="true">
									</div>
							</div>
						</div>-->
						<div class="row">
							<div class="col-sm-12 col-md-12" align="center">
									<label for="input" class="col-sm-4 control-label" style="text-align: right;">Valor del Primer Pago</label>
									<div class="col-sm-5 col-md-5">
									<input type="text" class="form-control"  name="Plan"  ng-disabled="true" ng-model="vm.policyinfo[0].first_value">
									</div>
							</div>
						</div>
						<br/>
						<div class="strike" style="width: 100%; height: 30px; text-align: center">
							<span class="" style="text-align: center !important;" >Método de Pago</span>
						</div>

                        <div class="form-group">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Método de Pago</label>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" ng-model="vm.form.method" required disabled>
                                       <option ng-repeat="method in vm.methods" ng-value="method.id" >{{method.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.payment_date.$invalid && ( vm.formSubmitted || uiForm.payment_date.$touched) }">
                            <div class="col-sm-12 col-md-12" align="center" >
                                <label for="payment_date" class="col-sm-4 control-label" style="text-align: right;">Fecha de Pago</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="date" class="form-control" ng-model="vm.form.payment_date" name="payment_date" required disabled>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label class="col-sm-4 control-label" style="text-align: right;">Valor</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.first_value" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.file.$invalid && ( vm.formSubmitted || uiForm.file.$touched) }">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Documento Comprobación de Pago</label>
                                <div class="col-sm-5 col-md-5">
							        <div>
                                        <input class="form-control" type="file" id="upload" data-max-size="2048" ng-model="vm.myFile" file-model="vm.myFile" file-input="vm.files" name="file" required>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.emission-policy-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
						<button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">{{vm.isDisabled ? 'Guardando' : 'Guardar'}}</button>
					</div>
				</form>
            </div>
        </div>
    </div>
</section>
