<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-placeholder-single").select2({
    placeholder: "Seleccione Plan"
  });
  $(".js-example-basic-single").select2({ 
    placeholder: "Seleccione Agente"
   });
  $(".js-example-placeholder-doc").select2({
    placeholder: "Seleccione Tipo"
  });
});

function clearFileInputField(tagId) {
    document.getElementById(tagId).value = "";
}
</script>
<section class="content-header">
	<h1>Nueva Póliza </h1>
	<!--<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li class="active">Nueva Póliza</li>
	</ol>-->
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Datos de la Póliza</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid, uiForm)" novalidate>
					<div class="box-body">
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.first_name.$invalid && ( vm.formSubmitted || uiForm.first_name.$touched) }">
									<label for="input" class="col-sm-4 control-label">Nombres</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.first_name" name="first_name" placeholder="Nombres" required>
										<p class="help-block">El campo nombre es requerido.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.last_name.$invalid && ( vm.formSubmitted || uiForm.last_name.$touched) }">
									<label for="input" class="col-sm-4 control-label">Apellidos</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.last_name" name="last_name" placeholder="Apellidos" required>
										<p class="help-block">El campo apellido es requerido.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.dni.$invalid && ( vm.formSubmitted || uiForm.dni.$touched) }">
									<label for="input" class="col-sm-4 control-label">Identificacion</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.dni" name="dni" placeholder="Identificacion" required>
										<p class="help-block">La campo Identificacion es requerido.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.email.$invalid && ( vm.formSubmitted || uiForm.email.$touched) }">
									<label for="input" class="col-sm-4 control-label">E-mail</label>
									<div class="col-sm-8">
										<input type="email" class="form-control" ng-model="vm.email" name="email" placeholder="Correo Electrónico" required>
										<p class="help-block">El campo Correo Electrónico es requerido.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.phone.$invalid && ( vm.formSubmitted || uiForm.phone.$touched) }">
									<label for="input" class="col-sm-4 control-label">Teléfono</label>
									<div class="col-sm-8">
										<input type="number" class="form-control" ng-model="vm.phone" name="phone" placeholder="Teléfono" ng-maxlength="9" ng-pattern="/^[0-9]+(\.[0-9]{1,9})?$/" required>
										<p class="help-block">El campo Teléfono es requerido.</p>
										<p ng-show="uiForm.phone.$error.maxlength" class="help-block">El campo teléfono es muy largo.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.mobile.$invalid && ( vm.formSubmitted || uiForm.mobile.$touched) }">
									<label for="input" class="col-sm-4 control-label">Celular</label>
									<div class="col-sm-8">
										<input type="number" class="form-control" ng-model="vm.mobile" name="mobile" placeholder="Celular" ng-maxlength="10" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" required>
										<p class="help-block">El campo Celular es requerido.</p>
										<p ng-show="uiForm.mobile.$error.maxlength" class="help-block">El campo teléfono es muy largo.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.seller_id.$invalid && ( vm.formSubmitted || uiForm.seller_id.$touched) }">
									<label for="input" class="col-sm-4 control-label">Agente</label>
									<div class="col-sm-8">
										<select class="js-example-basic-single" style='font-size: 14px; width: 100%;' ng-model="vm.seller_id" name="seller_id" ng-change="vm.getState()" required>
						                  <option style="font-size: 17px" value=""> --Seleccione-- </option>
						                  <option style="font-size: 17px" ng-repeat="agent in vm.systemAgents" value="{{agent.id}}" >{{agent.first_name}} {{agent.last_name}} {{agent.identity_document}}</option>
						                </select>
										<p class="help-block">El campo Agente es requerido.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.plan_type_id.$invalid && ( vm.formSubmitted || uiForm.plan_type_id.$touched) }">
									<label for="input" class="col-sm-4 control-label">Plan</label>
									<div class="col-sm-8">
										<select class="js-example-placeholder-single" style='font-size: 14px; width: 100%;' ng-model="vm.plan_type_id" name="plan_type_id" required>
						                  <option style="font-size: 17px" value=""> --Seleccione-- </option>
						                  <option style="font-size: 17px" ng-repeat="plan in vm.systemPlans" value="{{plan.id}}" >{{plan.name}}</option>
						                </select>
										<p class="help-block">El Plan es requerido.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.seller_id.$invalid && ( vm.formSubmitted || uiForm.seller_id.$touched) }">
									<label for="input" class="col-sm-4 control-label">Tiene Seguro Anterior?</label>
									<div class="col-sm-8">
										<input type="checkbox" ng-change="checkEvent" ng-model="vm.showhidepregnant"/>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6" ng-show="vm.showhidepregnant">
								<div class="form-group" ng-class="{ 'has-error': vm.formSubmitted && vm.showhidepregnant == true }">
									<label for="input" class="col-sm-4 control-label">Nombre Comp Seguros:</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.company_name" name="company_name" placeholder="" ng-required="vm.showhidepregnant == true">
										<p class="help-block">La campo Identificacion es requerido.</p>
									</div>
								</div>
							</div>
						</div>
				        <fieldset>
			                 <div class="box-header with-border">
							     <h3 class="box-title">Documentos</h3>
                                    <a class="btn btn-xs btn-primary" ng-click="vm.addFile()" ><i class="fa fa-plus" aria-hidden="true"></i></a>
						      </div>

						      <table style="border-collapse: separate; border-spacing: 8px;">
						          <tr ng-repeat="line in vm.lines">
						              <td>
                                            <div class="col-sm-10 col-md-10">
							                     <div class="form-group" ng-class="{ 'has-error': uiForm.doc_type_id{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.doc_type_id{{line.id}}.$touched) }">
                                                    <select class="form-control" style='font-size: 14px; width: 200px;' ng-model="vm.doc_typeselected[line.id]" name="doc_type_id{{line.id}}" required >
							    	                    <option style="font-size: 17px" ng-repeat="doc in vm.systemDocTypes" ng-value="{{doc.id}}" ng-selected="{{1 == doc.id}}">{{doc.name}}</option>
								                    </select>
                                                    <p class="help-block">Este campo es requerido.</p>
                                                </div>
                                            </div>
							         </td>

						              <td>
                                            <div class="col-sm-8 col-md-8">
                                                <div class="form-group" ng-class="{ 'has-error': uiForm.description{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.description{{line.id}}.$touched) }">
						    	                     <input type="text" class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.description[line.id]" name="description{{line.id}}" placeholder="Descripción" required>
                                                    <p class="help-block">Este campo es requerido.</p>
                                                </div>
                                            </div>
						              </td>

						              <td>
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group" ng-class="{ 'has-error': uiForm.file{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.file{{line.id}}.$touched) }">
						    	                     <input id="file1" name="file{{line.id}}" class="form-control" style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="vm.myFile[line.id]" file-model="vm.myFile[line.id]" file-input="vm.files[line.id]"  required>
                                                    <p class="help-block">Este campo es requerido.</p>
                                                </div>
                                            </div>
						              </td>

						              <td>
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
						    	                 <a  class="btn btn-danger" ng-click="vm.deleteLine(line)" >
						    		                <i class="fa fa-remove"></i>
						    	                 </a>
                                                <p class="help-block">Eliminar</p>
                                                </div>
                                            </div>
						              </td>
						          </tr>
						  <!--<tr>
						    <th>
							    <select class="form-control" style='font-size: 14px; width: 200px;' ng-model="vm.doc_type_id2" name="doc_type_id2" >
							    	<option style="font-size: 17px" ng-repeat="doc in vm.systemDocTypes" ng-selected="{{doc.id}} == '1'" value="{{doc.id}}" >{{doc.name}}</option>
								</select>
							</th>
						    <th><div>
						    	<input type="text" class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.description2" name="description2" placeholder="Descripción"></div>
						    </th>
						    <th>
						    	<input id="file2" class="form-control" style="background-color: #FFF;" type="file">
						    </th>
						    <th>
						    	<a style="color: red; background-color: #FFF;width:24.2px;height:21.98px" class="btn btn-xs btn-warning" onclick="clearFileInputField('file2')" >
						    		<i class="fa fa-remove"></i>
						    	</a>
						    </th>
						  </tr>
						  <tr>
						    <th>
							    <select class="form-control" style='font-size: 14px; width: 200px;' ng-model="vm.doc_type_id3" name="doc_type_id3">
								    <option style="font-size: 17px" value="" > -- Seleccione -- </option>
								    <option style="font-size: 17px" ng-repeat="doc in vm.systemDocTypes" value="{{doc.id}}" >{{doc.name}}</option>
								</select>
							</th>
						    <th>
						    	<input type="text" class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.description3" name="description3" placeholder="Descripción">
						    </th>
						    <th>
						    	<input id="file3" class="form-control" style="background-color: #FFF;" type="file">
						    </th>
						    <th>
						    	<a style="color: red; background-color: #FFF;width:24.2px;height:21.98px" class="btn btn-xs btn-warning" onclick="clearFileInputField('file3')" >
						    		<i class="fa fa-remove"></i>
						    	</a>
						    </th>
						  </tr>-->
						</table>
			            
			            </fieldset>						
					</div>
					<div class="box-footer">
						<a ui-sref="app.policy-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
						<button type="submit" class="btn btn-primary pull-right">Guardar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
