<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
	  $(".js-example-placeholder-single").select2({
	    placeholder: "Seleccione Plan"
	  });
	  $(".js-example-basic-single").select2({
	    placeholder: "Seleccione Póliza"
	   });
	  $(".js-example-placeholder-doc").select2({
	    placeholder: "Seleccione Tipo"
	  });
	});

	function clearFileInputField(tagId) {
	    document.getElementById(tagId).value = "";
	}
	</script>
	<section class="content-header">
		
		
		<h1 ng-if="vm.role=='T'">{{"Reclamo #"}}{{vm.claimId}}{{" Póliza #"}}{{vm.policy.data[0].number}}{{" | "}}{{vm.policy.data[0].first_name }}{{" "}}{{ vm.policy.data[0].last_name}}</h1>
		<h1 ng-if="vm.role!=='T'">{{"Reclamo #"}}{{vm.claimId}}{{" Póliza #"}}{{vm.policy.data[0].number}}{{" | "}}{{vm.dependentdata.data[0].first_name }}{{" "+vm.dependentdata.data[0].last_name}}</h1>
		
		<!--<ol class="breadcrumb">
		<h1 >{{vm.allAffiliates}}</h1>	
		<h1>{{"Reclamo #"}}{{vm.claimId}}{{" Póliza #"}}{{vm.policyId}}{{" | "}}{{vm.policy.data[0].first_name}}</h1>
			<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
			<li class="active">Nueva Póliza</li>
		</ol>-->
	</section>
	<section class="content">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="box box-primary">

					
					<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
						<div class="box-body" >
				<div class="box-header with-border">
						<h3 class="box-title">Diagnóstico</h3>
					</div>
					<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
						<div class="box-body" >

							<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
								<h4>{{alert.title}}</h4>
								<p>{{alert.msg}}</p>
								
							</div>
					        <fieldset>
					        	<table class="table table-bordered table-striped" >
						        	<tr>
						        		<td>
	                                     	<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.description.$invalid && ( vm.formSubmitted || uiForm.description.$touched) }">										    
									      		<div class="col-sm-2 control-label">
								      	      		<textarea  rows="4"  style="width: 950px;margin-left: 0px"  ng-model="vm.description" name="description" class="form-control" placeholder="Descripción" required></textarea>

								      	      		<p ng-show="uiForm.description.$error.required && ( vm.formSubmitted || uiForm.description.$touched)" class="help-block">La descripción es obligatoria.</p>
								      	      		
										      	</div>
											</div>
										</td>
									</tr>
								</table>
								<div class="box-header with-border">
								<h3 class="box-title">Documentos</h3>
                                    <button style="color: #3c8dbc; background-color: #FFF;width:24.2px;height:21.98px" class="btn btn-xs btn-primary" ng-click="vm.openModal('lg', vm.claimId, vm.client, '',vm.id)" title="Buscar Órdenes e Informes"><i class="fa fa-search"></i></button>
								</div>		
							      <table class="table table-bordered table-striped" >
							      	<thead>
							      		 <th style="text-align: left; width: 30%;">Tipo de Documento</th>
							      		 <th style="text-align: left;">Nombre del Archivo</th>
							      		 <th style="text-align: center;">Seleccionar Documentos</th>	
							      	</thead>
							      	<tbody>						      	  		
	                                  <tr ng-repeat="pline in vm.previouslines" >
						              	<td style="height: 60px !important" >
						              		<div>
						              			{{vm.systemDocTypes[pline.id_doc_type-1].name}}
						              		</div>
						              	</td>
							            <td style="height: 60px !important" >
							            	<div>
							            		<a ng-href="{{vm.directory}}{{vm.claimId}}/{{pline.filename}}" target="_blank">{{pline.filename}}</a>
						              		</div>		
						              	</td>
	                                  	<td style="text-align: center"> 
	                                  		<ul>                                  			 
	                                  			<div>
								                 <p>
								                    <input type="checkbox"  ng-model="vm.seleccionados[pline.id]" name="{{vm.systemDocTypes[pline.id_doc_type-1].name}}" value="{{vm.previouslines[$index].id}}" required />
								                	</p>
								                </div>
								            </ul>                                           
	                                    </td>			         
						              	
	                                  </tr>
							        </tbody>
							         
							</table>
							
				            </fieldset>
						</div>
						<div class="box-footer">
							<a ui-sref="app.ticket-claim-lists({claimId: vm.claimId, policyId:vm.policyId})" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
							<button class="btn btn-primary pull-right" type="button"  ng-disabled="(vm.seleccionados | json) == '{}' || uiForm.description.$invalid || vm.processing" ng-click="vm.save(vm.claimId)">{{vm.processing ? 'Asigando' : 'Asignar'}}</button>
							<!--<label>{{"seleccionados"}}{{vm.seleccionados}}</label></br>
							<label>{{"docs"}}{{vm.docs}}</label></br>
							<label>{{"arreglodocs"}}{{vm.arreglodocs}}</label></br>-->
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

<script type="text/ng-template" id="myModalAgent">
    <form class="form-horizontal" name="registerForm" ng-submit="vm.save(registerForm.$valid)" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title" style="text-align: center"> {{mvm.name}} {{mvm.last_name}} Informes y Órdenes</h3>
        </div>
        <br>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Documentos</label>
            <div class="col-sm-9"><br>
                <table style="width: 100%; font-size: 13px;">
                    <thead>
                        <tr>
                            <th>Tipo de Documento</th>
                            <th>Archivo</th>
                            <th>Relacionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="document in mvm.reports_orders">
                            <td><strong>{{document.doc_type}}</strong></td>
                            <td><a href="claims/{{mvm.claimId}}/{{document.filename}}" target="_blank">{{document.filename}}</a></td>
                            <td><input type="checkbox" ng-model="mvm.seleccionados[document.document_id]"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
            <button class="btn btn-default" type="button" ng-click="mvm.cancel()" data-dismiss="modal">Cancelar</button>
      &nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" style="width: 78px" type="button" ng-click="mvm.save()" ng-disabled="mvm.processing">{{mvm.processing ? 'Procesando' : 'Aceptar'}}</button>
        </div>
    </form>
</script>