<section class="content-header">
  <h1>Usuarios <small></small></h1>
  <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a ui-sref="app.userlist">User Lists</a></li>
    <li class="active">Agregar</li>-->
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Agregar Usuario</h3>
        </div>
        <form class="form-horizontal" name="registerForm" ng-submit="vm.save(registerForm.$valid, registerForm, viewUrl)" novalidate>
        <!--<form class="form-horizontal" name="permissionForm" ng-submit="vm.save(permissionForm.$valid, permissionForm)" novalidate>-->
          
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.name.$invalid && ( vm.formSubmitted || registerForm.name.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Nombres</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Nombres" ng-model="vm.name" name="name" ng-maxlength="100" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <p ng-show="registerForm.name.$error.required && ( vm.formSubmitted || registerForm.name.$touched)" class="help-block">El campo nombres es requerido.</p>
                <p ng-show="registerForm.name.$error.maxlength" class="help-block">El campo nombres es muy largo.</p>
                <p ng-show="registerForm.name.$invalid && (vm.formSubmitted || vm.errors.name)" class="help-block">{{vm.errors.name}}</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.email.$invalid && ( vm.formSubmitted || registerForm.email.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                <input type="email" class="form-control" placeholder="Email" ng-model="vm.email" name="email" ng-maxlength="30" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <p ng-show="registerForm.email.$invalid && (vm.formSubmitted || vm.errors.email)" class="help-block">{{vm.errors.email}}</p>
                <p ng-show="registerForm.email.$error.required && ( vm.formSubmitted || registerForm.email.$touched)" class="help-block">El campo email es requerido.</p>
                <p ng-show="registerForm.email.$error.email && registerForm.email.$touched" class="help-block">Correo no válido.</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.password.$invalid && ( vm.formSubmitted || registerForm.password.$touched) }">
              <label for="inputPassword3" class="col-sm-2 control-label">Contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="Contraseña" ng-model="vm.password" name="password" ng-minlength="8" ng-maxlength="50" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <p ng-show="registerForm.password.$error.required && ( vm.formSubmitted || registerForm.password.$touched)" class="help-block">El campo contraseña es requerido.</p>
                <p ng-show="registerForm.password.$error.maxlength" class="help-block">La contraseña es muy larga.</p>
                <p ng-show="registerForm.password.$invalid && registerForm.password.$error.minlength && registerForm.password.$touched" class="help-block">La contraseña es muy corta, Por favor ingresar una contraseña mayor a 8 caracteres.</p>
                <p ng-show="registerForm.password.$invalid && (vm.formSubmitted || vm.errors.password)" class="help-block">{{vm.errors.password}}</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.password_confirmation.$invalid && ( vm.formSubmitted || registerForm.password_confirmation.$touched) }">
              <label for="inputPassword3" class="col-sm-2 control-label">Confirme Contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="Contraseña" ng-model="vm.password_confirmation" password-verify="vm.password" name="password_confirmation" ng-minlength="8" ng-maxlength="50" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <p ng-show="registerForm.password_confirmation.$error.required && ( vm.formSubmitted || registerForm.password_confirmation.$touched)" class="help-block">La confirmación de contraseña es requerida.</p>
                <p ng-show="registerForm.password_confirmation.$error.passwordVerify && ( vm.formSubmitted || registerForm.password_confirmation.$touched)" class="help-block">Las contraseñas no coinciden.</p>
                <p ng-show="registerForm.password_confirmation.$error.maxlength" class="help-block">.</p>
                <p ng-show="registerForm.password_confirmation.$invalid && registerForm.password_confirmation.$error.minlength && registerForm.password_confirmation.$touched" class="help-block">La contraseña es muy corta, Por favor ingresar una contraseña mayor a 8 caracteres.</p>
                <p ng-show="registerForm.password_confirmation.$invalid && (vm.formSubmitted || vm.errors.password_confirmation)" class="help-block">{{vm.errors.password_confirmation}}</p>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Roles</label>
              <div class="col-sm-10">
                <div class="checkbox" ng-repeat="role in vm.systemRoles">
                  <label>
                    <input type="checkbox" checklist-model="vm.role" checklist-value="role.id"> {{role.name}}
                  </label>
                </div>
              </div>
            </div>

            <!--<div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.address.$invalid && ( vm.formSubmitted || registerForm.address.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Provincia</label>
              <div class="col-sm-10">
                <select class="form-control" name="carlist" form="carform">
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="opel">Opel</option>
                  <option value="audi">Audi</option>
                </select>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': permissionForm.password.$invalid && ( vm.formSubmitted || permissionForm.password.$touched) }">
              <label for="inputPassword3" class="col-sm-2 control-label">Contraseñaa</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.password" name="password" placeholder="Contraseña" required>
                <p ng-show="permissionForm.password.$error.required && ( vm.formSubmitted || permissionForm.password.$touched)" class="help-block">El campo contraseña es requerido.</p>
              </div>
            </div>            
          </div>-->
          <div class="box-footer">
            <a ui-sref="app.user-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
