<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-placeholder-single").select2({
    placeholder: "Seleccione Compañía"
  });
  $(".js-example-basic-single").select2({ 
    placeholder: "Seleccione Agente"
   });
});
</script>

<section class="content-header">
  <h1>Vendedores</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Agregar Vendedor</h3>
        </div>
        <form class="form-horizontal" name="registerForm" ng-submit="vm.save(registerForm.$valid)" novalidate>      
          
          <div class="box-body">
            <div class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>            
            
            <div class="form-group has-feedback">
              <label for="inputEmail3" class="col-sm-2 control-label">Compañías</label>
              <div class="col-sm-10">
                <select class="js-example-placeholder-single" style='font-size: 14px; width: 100%;' placeholder="xxx" ng-model="vm.companyid" name="companyid" required>
                  <option style="font-size: 17px" value=""> --Seleccione-- </option>
                  <option style="font-size: 17px" ng-repeat="cont in vm.systemCompanies" value="{{cont.id}}" >{{cont.name}}</option>
                </select>
                <p class="help-block">El campo compañía es requerido.</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.agentid.$invalid && ( vm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <select class="js-example-basic-single" style='font-size: 14px; width: 100%;' ng-model="vm.agentid" name="agentid" ng-change="vm.getState()" required>
                  <option style="font-size: 17px" value=""> --Seleccione-- </option>
                  <option style="font-size: 17px" ng-repeat="agent in vm.systemAgents" value="{{agent.id}}" >{{agent.first_name}} {{agent.last_name}} {{agent.identity_document}}</option>
                </select>
                <p class="help-block">El campo nombre es requerido.</p>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">ID Agente</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.agentid" name="agentid" ng-disabled="true">
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Tipo de Comisión</label>
              <div class="col-sm-10" ng-init="vm.type='F'">
              <table style="width:300px">
              <tr>
                <td><input type="radio" ng-model="vm.type" name="type" value="F" checked> Fijo </td>
                <td><input type="radio" ng-model="vm.type" name="type" value="V"> Variable<br> </td>
              </tr>
              </table>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.vn_percentage.$invalid && ( vm.formSubmitted || registerForm.vn_percentage.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Porcentaje VN</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="" ng-model="vm.vn_percentage" name="vn_percentage" ng-maxlength="5" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" max="99.99" step="0.01" required>
                <span class="fa fa-percent form-control-feedback"></span>
                <p class="help-block">El campo % comisión es requerido.</p>
                <p ng-show="registerForm.vn_percentage.$error.maxlength || registerForm.vn_percentage.$error.max" class="help-block">El campo % comisión es muy largo.</p>
                <p ng-show="registerForm.vn_percentage.$invalid && (vm.formSubmitted || vm.errors.vn_percentage)" class="help-block">{{vm.errors.vn_percentage}}</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.rp_percentage.$invalid && ( vm.formSubmitted || registerForm.rp_percentage.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Porcentaje RP</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="" ng-model="vm.rp_percentage" name="rp_percentage" ng-maxlength="5" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" max="99.99" step="0.01" required>
                <span class="fa fa-percent form-control-feedback"></span>
                 <p class="help-block">El campo % comisión es requerido.</p>
                <p ng-show="registerForm.rp_percentage.$error.maxlength || registerForm.rp_percentage.$error.max" class="help-block">El campo % comisión es muy largo.</p>
                <p ng-show="registerForm.rp_percentage.$invalid && (vm.formSubmitted || vm.errors.rp_percentage)" class="help-block">{{vm.errors.rp_percentage}}</p>
              </div>
            </div>
            
          <div class="box-footer">
            <a ui-sref="app.seller-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
