<div class="login-box">
  <div class="login-logo">
    <a ui-sref="login"><b>Grand</b>Sur</a>
  </div>
  <div class="login-box-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h3>Olvidó su contraseña?</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <forgot-password></forgot-password>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <a ui-sref="login">Regresar a la página de login</a>
      </div>
    </div>
  </div>
</div>
