<section class="content-header">
  <h1>Monedas</h1>  
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Monedas</h3>
        </div>
        <form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>

          <div class="box-body">
            <div class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.name.$invalid && ( vm.formSubmitted || uiForm.name.$touched) }">
              <label for="input" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.currencyeditdata.data.name" name="name" placeholder="Nombre" ng-maxlength="100" required>
                <p class="help-block">El campo nombre es requerido.</p>
                <p ng-show="uiForm.name.$error.maxlength && ( vm.formSubmitted || uiForm.name.$touched)" class="help-block">El nombre es muy largo.</p>
              </div>
            </div>              
             
                <div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.iso.$invalid  && ( vm.formSubmitted || uiForm.iso.$touched) }">
                  <label for="input" class="col-sm-2 control-label">Iso</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="vm.currencyeditdata.data.iso" name="iso"  ng-maxlength="5" required>
                    <p class="help-block">El campo iso es requerido.</p>
                    <p ng-show="uiForm.iso.$error.maxlength" class="help-block">El campo iso es muy largo, hasta 5 caracteres</p>
                    <p ng-show="uiForm.iso.$invalid && ( vm.formSubmitted || uiForm.iso.$error.iso || uiForm.iso.$touched )" class="help-block">{{vm.errors.iso}}</p>
                  </div>
                </div>
         
          <div class="box-footer">
            <a ui-sref="app.currency-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
