<section class="content-header">
  <h1>Pólizas <!--<small>Module description here</small>--></h1>
  <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->
  
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Impresión de Guía</h3>
          <div class="box-tools pull-right">
            <!--<a ui-sref="app.policy-add" class="btn btn-block btn-success btn-xs"><i class="fa fa-print"></i> Imprimir</a>-->
          </div>
        </div>
        <form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
          <div class="box-body">
            <div class="row" id="formPrint">    
              <div class="col-sm-8 col-md-8 col-md-offset-2" align="center">  
                <div style="display: table;border: 2px solid #000; width: 700px; text-align: center;margin: 0 auto; position: relative;">
                  <div style="border-style: solid; display: table-row;">
                   
                    <div style="display: table-cell; border: 0px solid #000; border-bottom-width: 0px; vertical-align: middle; padding: 10px; height: 70px; text-align: left;"><font size="10" face="verdana,arial">Guía de Envío {{vm.policyNumber}}</font> 
                    </div>
                  </div>  
                  

                  <div style="display: table-row;">
                   
                    <div style="display: table-cell;  padding: 10px; height: 70px; text-align: left; vertical-align: top;"><font size="3" face="verdana,arial">Fecha de Envío<strong style="font-size: 14px;margin-left:13px;">{{vm.date}}</strong></font> 
                    </div>
                  </div>  

                  <div style="display: table-row;">
                   
                    <div style="display: table-cell; border-top: 2px solid; padding: 10px; height: 30px; text-align: center; vertical-align: top;"><font size="3" face="verdana,arial"><strong> Destinatario</strong></font>
                    </div>

                  </div>  

                  <div style="display: table-row;">
                   
                    <div style="display: table-cell; padding: 10px; height: 10px; width: 10px; text-align: left;  vertical-align: bottom;"><font size="2" face="verdana,arial">Nombre:<strong style="font-size: 14px;margin-left:78px;">{{vm.agent}}</strong></font> 
                    </div>

                  </div>  

                  <div style="display: table-row;">
                   
                    <div style="display: table-cell; padding: 10px; height: 10px; text-align: left; vertical-align: middle;"><font size="2" face="verdana,arial">Dirección:<strong style="font-size: 14px;margin-left:69px;">{{vm.agentAddress}}</strong></font> 
                    </div>

                  </div>  

                  <div style="display: table-row;">
                   
                    <div style="display: table-cell;  padding: 10px; height: 10px; text-align: left; vertical-align: top;"><font size="2" face="verdana,arial">Teléfono:<strong style="font-size: 14px;margin-left:75px;">{{vm.agentPhone}}</strong></font> 
                    </div>

                  </div>  

                  <div style="display: table-row;">
                   
                    <div style="display: table-cell; border-top: 2px solid; padding: 10px; height: 5px; text-align: center; vertical-align: top;"><font size="3" face="verdana,arial"><strong>Mensajero</strong></font>
                    </div>

                  </div>  

                  <div style="display: table-row;">
                   
                    <div id="sel" style="display: table-cell; padding: 10px; height: 10px; text-align: left;  vertical-align: bottom;"><font size="2" face="verdana,arial">Nombre:
                      <select id="messenger" name="messenger"  ng-model="vm.messenger" style="width: 200px;margin-left:68px;" ng-options="mess.name for mess in vm.systemMessenger track by mess.id" >
                        <option value=""   style="font-size: 14px;font-style: bold">- Ninguno -</option>
                        
                      </select>

                      <div style="display: none;"  name="messengername"  id="messengerHidden"><p id="nom"  style="display: none;position:relative;padding-left: 70px"><strong>{{vm.messenger.name}}</strong></p></div>
                      <!--<input type="hidden"  name="messe" value="{{vm.messenger.name}}" id="messHidden">-->
                    </font>
                  </div>

                </div>  

                <div style="display: table-row;">
                 
                  <div style="display: table-cell; padding: 10px; height: 10px; text-align: left; vertical-align: middle;"><font size="2" face="verdana,arial">Mensajero ID:<strong style="font-size: 14px;margin-left:41px;">{{vm.messenger.id}}</strong></font> 
                  </div>

                </div>  



                <div style="display: table-row;">
                 
                  <div style="display: table-cell;border-top: 2px solid; padding: 10px; height: 10px; text-align: center;  vertical-align: bottom;"><font size="3" face="verdana,arial"><strong>Cliente</strong></font>
                  </div>

                </div>  

                <div style="display: table-row;">
                 
                  <div style="display: table-cell; padding: 10px; height: 10px; text-align: left;  vertical-align: bottom;"><font size="2" face="verdana,arial">Nombre:<strong style="font-size: 14px;margin-left:77px;">{{vm.client}}</strong></font> 
                  </div>

                </div>  

                <div style="display: table-row;">
                 
                  <div style="display: table-cell; padding: 10px; height: 20px; text-align: left; vertical-align: middle;"><font size="2" face="verdana,arial"># de Póliza:<strong style="font-size: 14px;margin-left:56px;">{{vm.policyNumber}}</strong></font> 
                  </div>

                </div>  

                <div style="display: table-row;">
                 <div style="display: table-cell; border-top: 2px solid; padding: 10px; height: 30px; text-align: center; vertical-align: top;">
                  
                  <div style="display: table;border: 1px solid #000; width: 650px; text-align: center;margin: 0 auto; ">
                   <div style="display: table-row;">

                     <div style="display: table-cell; border:1px solid;  padding: 10px; width: 30px; text-align: center; vertical-align: middle;"><font size="2" face="verdana, arial"><strong> # </strong></font>

                     </div>
                     <div style="display: table-cell; border:1px solid;  padding: 10px; width: 400px; text-align: center; vertical-align: middle;"><font size="2" face="verdana, arial"><strong> Descripción </strong></font>

                     </div>
                     <div style="display: table-cell; border:1px solid;  padding: 10px; width: 80px; text-align: center; vertical-align: middle;"><font size="2" face="verdana, arial"><strong> Número de Copias </strong></font>

                     </div>
                   </div> 

                   <div style="display: table-row;">

                     <div style="display: table-cell; border:1px solid;  padding: 10px; width: 30px; height: 10px; text-align: center; vertical-align: middle;"><font size="2" face="verdana, arial"> 1</font>

                     </div>
                     <div style="display: table-cell; border:1px solid;  padding: 10px; width: 400px; height: 10px; text-align: left; vertical-align: middle;"><font size="2" face="verdana, arial">Tarjeta de Membresía (<< N >>)</font>

                     </div>
                     <div style="display: table-cell; border:1px solid;  padding: 10px; width: 80px; height: 10px; text-align: center; vertical-align: middle;"><font size="2" face="verdana, arial">1</font>

                     </div>
                   </div> 

                 </div>
               </div>

             </div>

             <br>
             <div style="display: table-row;">
               
               <div style="display: table-row; text-align: center; align-content: center; position: relative;">

                 <div style="display: table-cell;   padding: 10px; width: 200px; text-align: center; vertical-align:top; position: relative;"><font size="2" face="verdana, arial"><strong>_________________________</strong></font>
                  <font size="1" face="verdana, arial"><strong>Recibí Conforme</strong></font>
                  <br>
                  <font size="2" face="verdana, arial"><strong>{{vm.agent}}</strong></font>                                  
                </div>
                <div style="display: table-cell;   padding: 10px; width: 300px; text-align: center; vertical-align: bottom;"><font size="2" face="verdana, arial"><strong></strong></font>

                </div>
                <div style="display: table-cell;   padding: 10px; width: 200px; text-align: center; vertical-align: top;"><font size="2" face="verdana, arial"><strong>_________________________</strong></font>
                  <font size="2" face="verdana, arial"><strong>Emisor</strong></font>
                  <font size="2" face="verdana, arial"><strong></strong></font>
                  <br>
                </div>
              </div>
            </div>                   
          </div><!-- de la tabla -->
        </div>                           
        
      </div>
      
      <div class="box-footer">
        <a ui-sref="app.policy-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
        <button type="submit" class="btn btn-primary pull-right" ng-click="vm.print('formPrint');"><i class="fa fa-print">   Imprimir</i></button>
      </div>
      
    </div>
  </form>
</div>
</div>
</div>
</section>
<script type="text/javascript">
  
   /*function print(formPrint){


        let popupWinindow 
        let innerContents = document.getElementById(formPrint).innerHTML
        popupWinindow = window.open('', '_blank','width=600,height=700,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no'); 
        popupWinindow.document.open(); 
        popupWinindow.document.write('<html><head><link rel="stylesheet" type="text/css" /></head><body onload="window.print();">' + innerContents + '</html>'); 
        popupWinindow.document.close(); 
      }*/
    </script>