<section class="content-header">
    <h1>Ficha del Cliente</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Lista de Titulares</h3>
                </div>
                <div class="box-body">
                    <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
                </div>
            </div>
        </div>
    </div>
</section>
