<section class="content-header">
  <h1>Correo Masivo</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Nuevo</h3>
        </div>
        <form class="form-horizontal" name="form" ng-submit="vm.save(form.$valid)" novalidate>
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error': form.format.$invalid && ( vm.formSubmitted ) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Formato</label>
              <div class="col-sm-10">
                <select name="format" class="form-control" ng-model="vm.format" ng-change="vm.changeFormat()">
                    <option ng-selected="true" value="none"> --Ninguno-- </option>
                    <option  ng-repeat="formato in vm.formatos" value="{{formato.id}}">{{formato.name}}</option>
                </select>
                <p ng-show="form.format.$error.required && ( vm.formSubmitted || form.subject.$touched)" class="help-block">El asunto es obligatorio.</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': form.subject.$invalid && ( vm.formSubmitted || form.subject.$touched) }">
              <label for="subject" class="col-sm-2 control-label">Asunto</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.theform.subject" name="subject" placeholder="Asunto del correo" required>
                <p ng-show="form.subject.$error.required && ( vm.formSubmitted || form.subject.$touched)" class="help-block">El asunto es obligatorio.</p>
              </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error': form.title.$invalid && ( vm.formSubmitted || form.title.$touched) }">
              <label for="title" class="col-sm-2 control-label">Título</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.theform.title" name="title" placeholder="Título del correo" required>
                <p ng-show="form.title.$error.required && ( vm.formSubmitted || form.title.$touched)" class="help-block">El título es obligatorio.</p>
              </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error': form.content.$invalid && ( vm.formSubmitted || form.content.$touched) }">
              <label for="content" class="col-sm-2 control-label">Contenido</label>
              <div class="col-sm-10">
                  <textarea rows="10" class="form-control" ng-model="vm.theform.content" name="content" placeholder="Contenido del correo" required></textarea>
                <p ng-show="form.content.$error.required && ( vm.formSubmitted || form.content.$touched)" class="help-block">El contenido es obligatorio.</p>
              </div>
            </div>
          </div>
          <div class="box-footer">
              <center>
                
                <button type="submit" ng-show="vm.llave_users == true" ng-disabled="(vm.seleccionados | json) == '{}'" class="btn btn-primary pull-right"  >Enviar</button>
                <button type="submit" ng-show="vm.llave_clients == true"  class="btn btn-primary pull-right"  >Enviar</button>
                <button type="submit" ng-show="vm.llave_clients == false || vm.llave_users == false" ng-hide="vm.llave_users==true || vm.llave_clients==true"  ng-disabled="true"  class="btn btn-primary pull-right"  >Enviar</button>
                
           <!-- <button type="submit" class="btn btn-primary pull-right"ng-disabled="vm.seleccionados"ng-disabled="vm.procesando">{{vm.procesando ? 'Procesando...' : 'Enviar'}}</button>-->
                
            </center>
          </div>
        </form>
      </div>
    </div>
        <div class="col-sm-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <table>
                      <tr>
                        <th>
                        <h3 class="box-title">Destinatario(s)</h3>
                        </th>
                        <th>
                          <div>
                            <select name="recipients" style="width: 180px;margin-left: 10px" ng-model="allrecipients" id="chosen" class="form-control" ng-change="vm.selectRecipients()">
                              <option value="">--Seleccione--</option>
                              <option value="1">Usuarios</option>
                              <option value="2">Clientes</option>
                            </select>
                          </div>
                        </th>
                        <th>
                          <div ng-show="vm.llave_clients == true">
                            <select name="clients"  style="width: 180px;margin-left: 10px" ng-model="recipients" id="clients" class="form-control" ng-change="vm.changeClients()">
                              <option value="1" ng-selected="true">Todos</option>
                              <option value="2">Activos</option>
                              <option value="3">Inactivos</option>
                            </select>
                          </div>
                        </th>
                      </tr>
                    </table>
                </div >
                
                <div ng-show="vm.llave_all == true" class="box-body" style="height: 402px;overflow-y:scroll;">
                    <p ng-repeat="elemento in vm.allApplicants" >
                    <input type="checkbox" ng-checked="true"  ng-model="vm.seleccionados[elemento.id]" name="recipient" value="{{elemento.id}}" required /> <strong>{{elemento.first_name}} {{elemento.last_name}}</strong> {{elemento.email}}</p>
                </div>
                <div ng-show="vm.llave_active == true" class="box-body" style="height: 402px;overflow-y:scroll;">
                    <p ng-repeat="elemento in vm.activeApplicants" >
                    <input type="checkbox" ng-checked="true"  ng-model="vm.seleccionados[elemento.id]" name="recipient" value="{{elemento.id}}" required /> <strong>{{elemento.first_name}} {{elemento.last_name}}</strong> {{elemento.email}}</p>
                </div>

                <div ng-show="vm.llave_inactive == true" class="box-body" style="height: 402px;overflow-y:scroll;">
                    <p ng-repeat="elemento in vm.inactiveApplicants" >
                    <input type="checkbox" ng-checked="true" ng-model="vm.seleccionados[elemento.id]" name="recipient" value="{{elemento.id}}" required /> <strong>{{elemento.first_name}} {{elemento.last_name}}</strong> {{elemento.email}}</p>
                </div>                 

                <div ng-show="vm.llave_users == true" class="box-body" style="height: 402px; overflow-y:scroll;">
                    <p ng-repeat="elemento in vm.lista" >
                    <input type="checkbox"   ng-model="vm.seleccionados[elemento.id]" name="recipient" value="{{elemento.id}}" required /> <strong>{{elemento.name}} {{elemento.last_name}}</strong> {{elemento.email}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
