<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-placeholder-single").select2({
    placeholder: "Seleccione Plan"
  });
  $(".js-example-basic-single").select2({ 
    placeholder: "Seleccione Póliza"
   });
  $(".js-example-placeholder-doc").select2({
    placeholder: "Seleccione Tipo"
  });
});

function clearFileInputField(tagId) {
    document.getElementById(tagId).value = "";
}
</script>
<section class="content-header">
	<h1>{{vm.title}}</h1>
	<!--<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li class="active">Nueva Póliza</li>
	</ol>-->
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Documentos del Reclamo</h3>
					
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid, uiForm)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							
							<p>{{alert.msg}}</p>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.policy_id.$invalid && ( vm.formSubmitted || uiForm.policy_id.$touched) }">
									<div class="col-sm-8">
												
									</div>
								</div>
							</div>
						
						</div>

				        <fieldset>
						      <table style="border-collapse: separate; border-spacing: 8px;">
						          <tr ng-repeat="pline in vm.previouslines" style="height: 120px">
					              	<td style="height: 120px !important">
					              		
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
						                     <div class="form-group" ng-class="{ 'has-error': uiForm.pdoc_type_id{{pline.id}}.$invalid && ( vm.formSubmitted || uiForm.pdoc_type_id{{pline.id}}.$touched) }">
						                      <label for="pdoc_type_id{{pline.id}}">Tipo de Documento</label>
                                               <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="vm.previouslines[$index].id_doc_type" name="pdoc_type_id{{pline.id}}" ng-change="vm.changeDocType($index,2);" required >
                                               		<option value="">- Seleccione -</option>
						    	                    <option style="font-size: 17px" ng-repeat="doc in vm.systemDocTypes" ng-value="{{doc.id}}" ng-selected="{{1 == doc.id}}">{{doc.name}}</option>
							                    </select>
                                                <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
							        </td>

						            <td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">{{vm.typeDoc[line.id].value}}
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.pdescription{{pline.id}}.$invalid && ( vm.formSubmitted || uiForm.pdescription{{line.id}}.$touched) }">
	                                        	<label for="pdoc_type_id{{pline.id}}">Descripción</label>
	                                        		
						    	               <input type="text" class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.previouslines[$index].description" name="pdescription{{pline.id}}" placeholder="# Documento" required ng-if="vm.previouslines[$index].id_doc_type == 1">
	                                         
						    	               <select class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.previouslines[$index].description" name="description{{pline.id}}"  required ng-if="vm.previouslines[$index].id_doc_type >  1" ng-options="des.id as des.name for des in vm.psystemDescription[$index]">
						    	               		<option value="">- Seleccione -</option>
						    	                    <option  style="font-size: 17px"  ng-value="{{des.id}}">{{des.name}}</option>
						    	                    
							                    </select>
				
							                     <select class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.previouslines[$index].description" name="description{{pline.id}}"  required ng-if="vm.previouslines[$index].id_doc_type == 3" ng-options="des.id as des.name for des in vm.systemDescription2">
							                     	<option value="">- Seleccione -</option>

						    	                    <option  style="font-size: 17px"  ng-value="{{des.id}}">{{des.name}}</option>

							                    </select>

							                     <select class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.previouslines[$index].description" name="description{{pline.id}}"  required ng-if="vm.previouslines[$index].id_doc_type == 4" ng-options="des.id as des.name for des in vm.systemDescription3">
							                     	<option value="">- Seleccione -</option>
						    	                    <option style="font-size: 17px" ng-repeat="des in vm.systemDescription3" ng-value="{{des.id}}" >{{des.name}}</option>
							                    </select>

							                    <p class="help-block">Requerido.</p>
							                    
	                                        </div>
	                                    </div>
					              	</td>

					              	<td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
						                     <div class="form-group" ng-class="{ 'has-error': uiForm.pcurrency_id{{pline.id}}.$invalid && ( vm.formSubmitted || uiForm.pcurrency_id{{pline.id}}.$touched) }">
						                     	<label for="pdoc_type_id{{pline.id}}">Moneda</label>
                                                <select ng-disabled="pline.disabled == true || pline.id_doc_type != 1" class="form-control" style='font-size: 14px; width: 80px;' ng-model="vm.previouslines[$index].currency_id" name="currency_id{{pline.id}}" required >
						    	                    <option style="font-size: 17px" ng-repeat="doc in vm.systemCurrency" ng-value="{{doc.id}}" >{{doc.iso}}</option>
							                    </select>
                                                <p class="help-block">{{ pline.id_doc_type == 1 && "Requerido"|| "No Requerido" }}.</p>
                                            </div>
                                        </div>
					              	</td>
			              	<td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.pvalue{{pline.id}}.$invalid && ( vm.formSubmitted || uiForm.pvalue{{pline.id}}.$touched) }">
	                                        	<label for="pvalue{{pline.id}}">Monto</label>
						    	                <input ng-disabled="pline.disabled == true || pline.id_doc_type != 1" type="number" class="form-control" style='font-size: 14px; width: 100px;' ng-model="vm.previouslines[$index].amount" ng-pattern="/(\[0-9]{1,2})?$/" min="0.01" step="0.01" ng-maxlength="100"  name="pvalue{{pline.id}}" placeholder="0.00" ng-required="pline.disabled == false">
	                                            <p class="help-block">{{ pline.id_doc_type == 1 && "Requerido"|| "No Requerido" }}.</p>
	                                        </div>
	                                    </div>
					              	</td>					        
						            <td style="height: 120px !important">
                                        <div class="col-sm-12 col-md-8" style="height: 120px !important">
                                            <div class="form-group">
                                            <label for="pdoc_type_id{{pline.id}}">Acciones </label>
					    	                 <a  class="btn btn-danger" ng-click="vm.deletePreviousLine(pline)" >
					    		                <i class="fa fa-remove"></i>
					    	                 </a>
                                            <p class="help-block">Eliminar</p>
                                            </div>
                                        </div>
						            </td>
						          </tr>
						          <tr ng-repeat="line in vm.lines" style="height: 120px">
					              	<td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
						                     <div class="form-group" ng-class="{ 'has-error': uiForm.doc_type_id{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.doc_type_id{{line.id}}.$touched) }">
						                     <label for="doc_type_id{{line.id}}">Tipo de Documento</label>
                                                <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="vm.doc_typeselected[line.id]" name="doc_type_id{{line.id}}" ng-change="vm.changeDocType(line.id,1);" required>
						    	                    <option value="">- Seleccione -</option>
						    	                    <option style="font-size: 17px" ng-repeat="doc in vm.systemDocTypes" ng-value="{{doc.id}}" ng-selected="{{1 == doc.id}}">{{doc.name}}</option>
							                    </select>
                                                <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
							        </td>

						            <td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.description{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.description{{line.id}}.$touched) }">
	                                        	<label for="doc_type_id{{line.id}}">Descripción</label>
						    	                <input type="text" class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.description[line.id]" name="description{{line.id}}" placeholder="# Documento" required  ng-if="vm.typeDocNew[line.id].value == 1">

						    	                <select class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.description[line.id]" name="description{{line.id}}"  required ng-if="(vm.typeDocNew[line.id].value > 1)">
						    	                	<option value="">- Seleccione -</option>
						    	                    <option style="font-size: 17px" ng-repeat="des in vm.systemDescription[line.id]" ng-value="{{des.id}}" >{{des.name}}</option>
						    	                   
							                    </select>   
	                                         <p class="help-block">Requerido.</p>
	                                        </div>
	                                    </div>
					              	</td>

					              	<td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
						                     <div class="form-group" ng-class="{ 'has-error': uiForm.currency_id{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.currency_id{{line.id}}.$touched) }">
						                     	<label for="doc_type_id{{line.id}}">Moneda</label>
                                                <select ng-disabled="line.disabled == true" class="form-control" style='font-size: 14px; width: 80px;' ng-model="vm.curency_selected[line.id]" name="currency_id{{line.id}}" required >
						    	                    <option style="font-size: 17px" ng-repeat="doc in vm.systemCurrency" ng-value="{{doc.id}}" >{{doc.iso}}</option>
							                    </select>
                                                <p class="help-block">{{line.rep}} Requerido.</p>
                                            </div>
                                        </div>
					              	</td>

					              	<td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.value{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.value{{line.id}}.$touched) }">
	                                        	<label for="value{{line.id}}">Monto</label>
						    	                <input ng-disabled="line.disabled == true" type="number" class="form-control" style='font-size: 14px; width: 100px;' ng-model="vm.value[line.id]" ng-pattern="/(\[0-9]{1,2})?$/" min="0.01" step="0.01" ng-maxlength="100"  name="value{{line.id}}" placeholder="0.00" ng-required="line.disabled == false">
	                                            <p class="help-block">{{line.rep}} Requerido.</p>
	                                        </div>
	                                    </div>
					              	</td>

                                    <td style="height: 120px !important">
                                        <div class="col-sm-12 col-md-8" style="height: 120px !important">
                                            <div class="form-group">
                                            <label for="doc_type_id{{line.id}}">Acciones </label>
					    	                 <a  class="btn btn-danger" ng-click="vm.deleteLine(line)" >
					    		                <i class="fa fa-remove"></i>
					    	                 </a>
                                            <p class="help-block">Eliminar</p>
                                            </div>
                                        </div>
						            </td>
						          </tr>

						  
						</table>
						<div class="box-header with-border">							     
                                    <a class="btn btn-xs btn-primary" ng-click="vm.addFile()" ><i class="fa fa-plus" aria-hidden="true"></i> Agregar Documentos</a>
						      </div>
			            
			            </fieldset>						
					</div>
					<div class="box-footer">
						<a ui-sref="app.claim-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
						<button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
