<section class="content-header">
	<h1>Agente:<strong> {{vm.dataagent.data.first_name}} {{vm.dataagent.data.last_name}}</strong></h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Editar Comisiones</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="row">
							<div class="col-sm-4 col-md-4">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.provider.$invalid && ( vm.formSubmitted || uiForm.provider.$touched) }">
									<label for="input" class="col-sm-4 control-label">Proveedores</label>
									<div class="col-sm-8">
										<select class="form-control" ng-model="vm.provider" style="font-size: 14px" name="provider" ng-change="vm.getBranches();" ng-options="prov as prov.name for prov in vm.systemProviders track by prov.id" ng-disabled="true">
											<!--<option value="">- Seleccione -</option>-->
                  							<!--<option style="font-size: 17px" ng-repeat="prov in vm.systemProviders" value="{{prov.id}}" >{{prov.name}}</option>-->
										</select>
										<!--<p class="help-block">El campo nombre es requerido.</p>-->
									
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-md-4">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.provider_commission.$invalid && ( vm.formSubmitted || uiForm.provider_commission.$touched) }" ng-show="vm.provider_button">
									<label for="input" class="col-sm-4 control-label">Emisiones</label>
									<div class="col-sm-8">
										<input type="number" class="form-control" ng-model="vm.commissioneditdata.data.commission" name="provider_commission" placeholder="0.00"   ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" ng-maxlength="5" step="1" max="99" min="0">
										<!--<p class="help-block">El campo documento de identidad es requerido.</p>-->
										<p ng-show="uiForm.provider_commission.$error.maxlength && ( vm.formSubmitted || uiForm.provider_commission.$touched)" class="help-block">El campo comision de proveedor es muy largo.</p>
									</div>
								</div>
							</div>							
							<div class="col-sm-4 col-md-4">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.provider_commission_ren.$invalid && ( vm.formSubmitted || uiForm.provider_commission_ren.$touched) }" ng-show="vm.provider_button">
									<label for="input" class="col-sm-4 control-label">Renovaciones</label>
									<div class="col-sm-8">
										<input type="number" class="form-control" ng-model="vm.commissioneditdata.data.commission_renewal" name="provider_commission_ren" placeholder="0.00"   ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" ng-maxlength="5" step="1" max="99" min="0">
										<!--<p class="help-block">El campo documento de identidad es requerido.</p>-->
										<p ng-show="uiForm.provider_commission_ren.$error.maxlength && ( vm.formSubmitted || uiForm.provider_commission_ren.$touched)" class="help-block">El campo comision de proveedor es muy largo.</p>
									</div>
								</div>
							</div>							
						</div>						

						<div class="row">
							<div class="col-sm-4 col-md-4">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.branch.$invalid && ( vm.formSubmitted || uiForm.branch.$touched) }" ng-show="vm.branch_list">
									<label for="input" class="col-sm-4 control-label">Ramos</label>
									<div class="col-sm-8">
										<select class="form-control" ng-model="vm.branch" style="font-size: 14px" name="branch"  ng-change="vm.getPlans();" ng-options="branch as branch.name for branch in vm.systemBranches track by branch.id" ng-disabled="true">
											<!--<option value="">- Seleccione -</option>-->
                  							<!--<option style="font-size: 17px" ng-repeat="branch in vm.systemBranches" value="{{branch.id}}" >{{branch.name}}</option>-->
										</select>					
										<!--<p class="help-block">El campo nombre es requerido.</p>-->
										
									</div>
								</div>
							</div>

							<div class="col-sm-4 col-md-4">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.branch_commission.$invalid && ( vm.formSubmitted || uiForm.branch_commission.$touched) }"  ng-show="vm.branch_button">
									<label for="input" class="col-sm-4 control-label">Emisiones</label>
									<div class="col-sm-8">
										<input type="number" class="form-control" ng-model="vm.commissioneditdata.data.commission" name="branch_commission" placeholder="0.00"   ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" ng-maxlength="5" step="1" max="99" min="0" >
										<p ng-show="uiForm.branch_commission.$error.maxlength && ( vm.formSubmitted || uiForm.branch_commission.$touched)" class="help-block">El campo comision de ramo es muy largo.</p>
									</div>
								</div>
							</div>		

							<div class="col-sm-4 col-md-4">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.branch_commission_ren.$invalid && ( vm.formSubmitted || uiForm.branch_commission_ren.$touched) }"  ng-show="vm.branch_button">
									<label for="input" class="col-sm-4 control-label">Renovaciones</label>
									<div class="col-sm-8">
										<input type="number" class="form-control" ng-model="vm.commissioneditdata.data.commission_renewal" name="branch_commission_ren" placeholder="0.00"   ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" ng-maxlength="5" step="1" max="99" min="0" >
										<p ng-show="uiForm.branch_commission_ren.$error.maxlength && ( vm.formSubmitted || uiForm.branch_commission_ren.$touched)" class="help-block">El campo comision de ramo es muy largo.</p>
									</div>
								</div>
							</div>		
						</div>

						<div class="row">
							<div class="col-sm-4 col-md-4">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.plans.$invalid && ( vm.formSubmitted || uiForm.plans.$touched) }" ng-show="vm.plan_button">
									<label for="input" class="col-sm-4 control-label">Planes</label>
									<div class="col-sm-8">
										<select class="form-control" ng-model="vm.plans" style="font-size: 14px" name="plans" ng-options="plan as plan.name for plan in vm.systemPlans track by plan.id" ng-disabled="true">
											<!--<option value="">- Seleccione -</option>-->
                  							<!--<option style="font-size: 17px" ng-repeat="plan in vm.systemPlans" value="{{plan.id}}" >{{plan.name}}</option>-->
										</select>					
										<!--<p class="help-block">El campo nombre es requerido.</p>-->
										
									</div>
								</div>
							</div>

							<div class="col-sm-4 col-md-4">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.plan_commission.$invalid && ( vm.formSubmitted || uiForm.plan_commission.$touched) }" ng-show="vm.plan_button">
									<label for="input" class="col-sm-4 control-label">Emisiones</label>
									<div class="col-sm-8">
										<input type="number" class="form-control" ng-model="vm.commissioneditdata.data.commission" name="plan_commission" placeholder="0.00"   ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" ng-maxlength="5" step="1" max="99" min="0" >
										<p ng-show="uiForm.plan_commission.$error.maxlength && ( vm.formSubmitted || uiForm.plan_commission.$touched)" class="help-block">El campo comisión del plan es muy largo.</p>
									</div>
								</div>
							</div>		
							<div class="col-sm-4 col-md-4">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.plan_commission_ren.$invalid && ( vm.formSubmitted || uiForm.plan_commission_ren.$touched) }" ng-show="vm.plan_button">
									<label for="input" class="col-sm-4 control-label">Renovaciones</label>
									<div class="col-sm-8">
										<input type="number" class="form-control" ng-model="vm.commissioneditdata.data.commission_renewal" name="plan_commission_ren" placeholder="0.00"   ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" ng-maxlength="5" step="1" max="99" min="0" >
										<p ng-show="uiForm.plan_commission_ren.$error.maxlength && ( vm.formSubmitted || uiForm.plan_commission_ren.$touched)" class="help-block">El campo comisión del plan es muy largo.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.agent-commission-list({agentId: vm.agentId})" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
						<button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.message}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
