<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-placeholder-single").select2({
    placeholder: "Seleccione Plan"
  });
  $(".js-example-basic-single").select2({ 
    placeholder: " --Todos-- "
   });
});
</script>
<section class="content-header">
  <h1>Reporte de Comisiones<!--<small>Module description here</small>--></h1>
   
    <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->  
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<form class="form-horizontal" name="uiForm" ng-submit="vm.getReport()" novalidate>
					<div class="box-body">
						<div class="col-sm-8">
						 </div>					
					</div>
							
						<div class="row">
							<div class="col-sm-3 col-md-3">
								
									<label for="input" class="control-label col-md-offset-1" style="text-align: left;">Agentes</label>
								
							</div>

							<div class="col-sm-3 col-md-3">
								<label for="input" class="control-label" style="text-align: left;">Planes</label>
							</div>
							<div class="col-sm-3 col-md-3">
								<label for="input" class="control-label" style="text-align: left;">Desde</label>
							</div>
							<div class="col-sm-3 col-md-3">
								<label for="input" class="control-label" style="text-align: left;">Hasta</label>
							</div>
						</div>
						<div class="row">

							<div class="col-sm-3 col-md-3">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.agent_id.$invalid && ( vm.formSubmitted || uiForm.agent_id.$touched) }">
									
									<div class="col-sm-6 col-md-offset-1">
										<select class="js-example-basic-single" style='font-size: 14px; width: 250px;' ng-model="vm.agent_id" name="agent_id">
						                  <option style="font-size: 17px" value=""> --Todos-- </option>
						                  <option style="font-size: 17px" ng-repeat="agent in vm.systemAgents" value="{{agent.id}}" >{{agent.name}}</option>
						                </select>
										<!--<p class="help-block">El campo agente es requerido.</p>-->
									</div>
								</div>
							</div>
							<div class="col-sm-3 col-md-3" >
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.plan_id.$invalid && ( vm.formSubmitted || uiForm.plan_id.$touched) }">
									
									<div class="col-sm-6">
										<select class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.plan_id" name="plan_id" placeholder="Seleccione Plan">
						                  <option style="font-size: 17px" value=""> --Todos-- </option>
						                  <option style="font-size: 17px" ng-repeat="plan in vm.systemPlans" value="{{plan.id}}" >{{plan.name}}</option>
						                </select>
										<!--<p class="help-block">El campo agente es requerido.</p>-->
									</div>
								</div>
							</div>

							<div class="col-sm-3 col-md-3">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.start_date.$invalid && ( vm.formSubmitted || uiForm.start_date.$touched) }">
									
									<div class="col-sm-6">
										<input type="date"  placeholder="MM-dd-yyyy" class="form-control" ng-model="vm.start_date" name="start_date" style='font-size: 14px; width: 180px;' ng-change="vm.compareDate();" id="start_date">
										<p class="help-block" style="color:red; font-size: 15px" ng-show="vm.showMessage">{{vm.alert1}}</p>
									</div>
								</div>
							</div>
							<div class="col-sm-3 col-md-3">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.end_date.$invalid && ( vm.formSubmitted || uiForm.end_date.$touched) }">
									
									<div class="col-sm-6">
										<input type="date"  placeholder="MM-dd-yyyy" class="form-control" ng-model="vm.end_date" name="end_date"  style='font-size: 14px; width: 180px;' ng-change="vm.compareDate();" id="end_date">
										<p class="help-block" style="color:red; font-size: 15px" ng-show="vm.showMessage">{{vm.alert2}}</p>
									</div>
								</div>
							</div>
							<div class="col-md-12">
							<div class="box-footer">
								<!--<a ui-sref="" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>-->
								<button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">Buscar <i class="fa fa-angle-double-right"></i></button>
							</div>
							</div>
							<br/>						
							<div class="col-md-12">
								<div class="box-body" ng-if="vm.showTable == 1">
									<table datatable="" 
										width="100%" 
										class="table table-striped table-bordered" 
										ng-if="vm.displayTableC" 
										dt-options="vm.dtOptionsC" 
										dt-columns="vm.dtColumnsC"
										>
									</table>
								</div>	
						 </div>	

						</div>

						
					
				</form>
			</div>						
				
			
		</div>												
					
		</div>
	
</section>
