<section class="content-header">
  <h1>Registrar Método de Pago - Renovación<!--<small>Module description here</small>--></h1>
    <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box box-primary">
                <form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
                    <div class="box-body">
                        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>
                        <div class="strike" style="width: 100%; height: 30px; text-align: center">
                            <span class="" style="text-align: center !important;" >Datos de la Póliza</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 has-feedback" align="center"  ng-class="{ 'has-error': uiForm.Poliza.$invalid && ( vm.formSubmitted) }">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;"># de Póliza </label>
                                    <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control"  name="Poliza"  ng-model="vm.policyinfo[0].number" ng-disabled="true">
                                    </div>
                            </div>
                        </div>
                        <div class="row">

                                <div class="col-sm-12 col-md-12" align="center">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;">Nombre del Cliente</label>
                                    <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.client"  name="nombre" ng-disabled="true">
                                    </div>
                                    </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" align="center">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;">Plan / Opción </label>
                                    <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control"  name="Plan" ng-model="vm.planDeduc" ng-disabled="true">
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Valor Total de la Póliza</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.total_value"  name="Plan"  ng-disabled="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" align="center">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;">Frecuencia de Pagos</label>
                                    <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.payfrecuency" name="Plan"  ng-disabled="true">
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" align="center">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;">Valor del Primer Pago</label>
                                    <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.first_value"  name="Plan"  ng-disabled="true">
                                    </div>
                            </div>
                        </div>
                        <br/>
                        <div class="strike" style="width: 100%; height: 30px; text-align: center">
                            <span class="" style="text-align: center !important;" >Método de Pago</span>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Método de Pago</label>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" ng-model="vm.form.method" required>
                                       <option ng-repeat="method in vm.methods" ng-value="method.id" >{{method.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.payment_date.$invalid && ( vm.formSubmitted || uiForm.payment_date.$touched) }">
                            <div class="col-sm-12 col-md-12" align="center" >
                                <label for="payment_date" class="col-sm-4 control-label" style="text-align: right;">Fecha de Pago</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="date" class="form-control" ng-model="vm.form.payment_date" name="payment_date" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label class="col-sm-4 control-label" style="text-align: right;">Valor</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.first_value" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.check_number.$invalid && ( vm.formSubmitted || uiForm.check_number.$touched) }" ng-if="vm.form.method == 0">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="check_number" class="col-sm-4 control-label" style="text-align: right;">Número de Cheque</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.check_number" name="check_number" ng-required ="vm.form.method == 0">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.transfer_number.$invalid && ( vm.formSubmitted || uiForm.transfer_number.$touched) }" ng-if="vm.form.method == 1">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Número de Transferencia</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.transfer_number" name="transfer_number"  ng-required="vm.form.method == 1">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.bank_name.$invalid && ( vm.formSubmitted || uiForm.bank_name.$touched) }" ng-if="vm.form.method != 3">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="bank_name" class="col-sm-4 control-label" style="text-align: right;">Nombre del Banco</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.bank_name" name="bank_name" ng-required="vm.form.method != 3">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.titular_name.$invalid && ( vm.formSubmitted || uiForm.titular_name.$touched) }" ng-if="vm.form.method == 1 || vm.form.method == 3">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Nombre del Titular</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.titular_name" name="titular_name" ng-required="vm.form.method == 1 || vm.form.method == 3">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.account_type.$invalid && ( vm.formSubmitted || uiForm.account_type.$touched) }" ng-if="vm.form.method == 1">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Tipo de Cuenta</label>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" ng-model="vm.form.account_type" name="account_type" ng-required="vm.form.method == 1">
                                       <option ng-repeat="type in vm.account_types" ng-value="type.id" >{{type.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.deposit_number.$invalid && ( vm.formSubmitted || uiForm.deposit_number.$touched) }" ng-if="vm.form.method == 2">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Número de Depósito</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.deposit_number" name="deposit_number" ng-required="vm.form.method == 2">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.account_number.$invalid && ( vm.formSubmitted || uiForm.account_number.$touched) }" ng-if="vm.form.method == 1 || vm.form.method == 2">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Número de Cuenta</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.account_number" name="account_number" ng-required="vm.form.method == 1 || vm.form.method == 2">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.titular_lastnames.$invalid && ( vm.formSubmitted || uiForm.titular_lastnames.$touched) }" ng-if="vm.form.method == 3">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Apellidos del Titular</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.titular_lastnames" name="titular_lastnames" ng-required="vm.form.method == 3">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.card_type.$invalid && ( vm.formSubmitted || uiForm.card_type.$touched) }" ng-if="vm.form.method == 3">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Tipo de Tarjeta</label>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" ng-model="vm.form.card_type" name="card_type" ng-required="vm.form.method == 3">
                                       <option ng-repeat="type in vm.card_types"  ng-value="type.id" >{{type.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.card_mark.$invalid && ( vm.formSubmitted || uiForm.card_mark.$touched) }" ng-if="vm.form.method == 3">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Marca de Tarjeta</label>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" ng-model="vm.form.card_mark" name="card_mark" ng-required="vm.form.method == 3">
                                       <option ng-repeat="mark in vm.card_marks" ng-value="mark.id" >{{mark.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.card_bank.$invalid && ( vm.formSubmitted || uiForm.card_bank.$touched) }" ng-if="vm.form.method == 3">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Banco de la tarjeta</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.form.card_bank" name="card_bank" ng-required="vm.form.method == 3">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.payment_type.$invalid && ( vm.formSubmitted || uiForm.payment_type.$touched) }" ng-if="vm.form.method == 3">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Forma de Pago</label>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" ng-model="vm.form.payment_type" name="payment_type" ng-required="vm.form.method == 3">
                                       <option ng-repeat="type in vm.payment_types" ng-value="type.id" >{{type.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.interests.$invalid && ( vm.formSubmitted || uiForm.interests.$touched) }" ng-if="vm.form.payment_type == 1">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Intereses</label>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" ng-model="vm.form.interest" name="interests" ng-required="vm.form.payment_type == 1">
                                       <option ng-repeat="type in vm.interests" ng-value="type.id" >{{type.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': uiForm.months.$invalid && ( vm.formSubmitted || uiForm.months.$touched) }" ng-if="vm.form.payment_type == 1">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Meses</label>
                                <div class="col-sm-5 col-md-5">
                                    <select class="form-control" ng-model="vm.form.month" name="months" ng-required="vm.form.payment_type == 1">
                                       <option ng-repeat="type in vm.months" ng-value="type.id" >{{type.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row" ng-repeat="file in vm.previous_lines">
                            <div class="form-group" ng-class="{ 'has-error': uiForm.titular_lastnames.$invalid && ( vm.formSubmitted || uiForm.titular_lastnames.$touched) }">
                                <div class="col-sm-12 col-md-12" align="center">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;">Adjunto</label>
                                    <div class="col-sm-3 col-md-3">
                                        <input type="text" class="form-control" name="previous_descriptions{{file.id}}" ng-model="vm.previous_lines[$index].description">
                                    </div>
                                    <div class="col-sm-2 col-md-2">
                                        <div style="display: inline-block;">
                                            <label for="file{{file.id}}" class="btn btn-primary btn-sm">
                                                <i class="glyphicon glyphicon-upload"></i>
                                            </label>
                                            <input id="file{{file.id}}" class="form-control" style="position: absolute; opacity: 0;" type="file" data-max-size="2048" ng-model="vm.myFile[$index]" file-model="vm.myFile[$index]" file-input="vm.files[$index]">
                                        </div>

                                        <a ng-if="$index == 0" class="btn btn-success btn-sm" ng-click="vm.addFile()">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                        <a ng-if="$index != 0" class="btn btn-danger btn-sm" ng-click="vm.deletePreviousFile(file,file.id)">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                   </div>
                                    <a style="font-size: 14px" ng-href="{{vm.directory}}/{{vm.policyId}}/{{file.filename}}" target="_blank">{{file.filename}}</a>
                                </div>
                            </div>
                        </div>-->

<!--
                            <div class="form-group" ng-class="{ 'has-error': uiForm.attached.$invalid && ( vm.formSubmitted || uiForm.attached.$touched) }">
                                <div class="col-sm-12 col-md-12" align="center">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;">Adjunto</label>
                                    <div class="col-sm-2 col-md-2">
                                        <input type="text" class="form-control" name="attached" ng-model="vm.description" required>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div >
                                            <label for="upload" class="btn btn-primary btn-sm">
                                                <i class="glyphicon glyphicon-upload"></i>
                                            </label>
                                            <input class="form-control" type="file" id="upload" data-max-size="2048" ng-model="vm.myFile" file-model="vm.myFile" file-input="vm.files" ng-required="vm.filename == ''">
                                        </div>

                                        <a ng-if="file.id == 0 && !vm.previous" class="btn btn-success btn-sm" ng-click="vm.addFile()">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>

                                        <a ng-if="(file.id != 0 && !vm.previous) || (vm.previous)" class="btn btn-danger btn-sm" ng-click="vm.deleteFile(file)">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>



                                    </div>

                                </div>-->

                        <div class="row" ng-repeat="file in vm.previous_lines">
                            <div class="form-group" ng-class="{ 'has-error': uiForm.titular_lastnames.$invalid && ( vm.formSubmitted || uiForm.titular_lastnames.$touched) }">
                                <div class="col-sm-12 col-md-12" align="center">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;">Adjunto</label>
                                    <div class="col-sm-2 col-md-2">
                                        <!--<input type="text" class="form-control" name="previous_descriptions{{file.id}}" ng-model="vm.previous_lines[$index].type_id">-->
                                        <select class="form-control" name="previousattached{{line.id}}" ng-model="vm.previous_lines[$index].type_id" required>
                                            <option ng-repeat="type in vm.files_type" ng-value="{{type.id}}" >     {{type.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div style="display: inline-block;">
                                            <!--<label for="file{{file.id}}" class="btn btn-primary btn-sm">
                                                <i class="glyphicon glyphicon-upload"></i>
                                            </label>-->
                                            <input id="file{{file.id}}" class="form-control" type="file" data-max-size="2048" ng-model="vm.myFile2[$index]" file-model="vm.myFile2[$index]" file-input="vm.files2[$index]">
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-md-1">
                                        <a ng-if="$index == 0" class="btn btn-success btn-sm" ng-click="vm.addFile(1)">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                        <a ng-if="$index != 0" class="btn btn-danger btn-sm" ng-click="vm.deletePreviousFile(file,file.id)">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </div>
                                    <a style="font-size: 14px" ng-href="{{vm.directory}}/{{vm.policyId}}/{{file.filename}}" target="_blank">{{file.filename}}</a>
                                </div>
                            </div>
                        </div>

                        <div ng-if="vm.previous_lines.length == 0 || vm.add" class="row" ng-repeat="line in vm.lines">
                            <div  class="form-group" ng-class="{ 'has-error': uiForm.attached{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.attached{{line.id}}.$touched) }">
                                <div class="col-sm-12 col-md-12" align="center">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;">Adjunto</label>
                                    <div class="col-sm-2 col-md-2">
                                        <!--<input type="text" class="form-control" name="attached" ng-model="vm.description" required>-->
                                        <select class="form-control" name="attached{{line.id}}" ng-model="vm.descriptions[$index]" required>
                                            <option ng-repeat="type in vm.files_type" ng-value="{{type.id}}">{{type.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div >
                                            <!--<label for="upload" class="btn btn-primary btn-sm">
                                                <i class="glyphicon glyphicon-upload"></i>
                                            </label>-->
                                            <input class="form-control" type="file" id="upload" data-max-size="2048" ng-model="vm.myFile[$index]" file-model="vm.myFile[$index]" file-input="vm.files[$index]" ng-required="vm.filename == ''">
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-md-1">
                                        <a ng-if="$index == 0 && !vm.add" class="btn btn-success btn-sm" ng-click="vm.addFile()">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>

                                        <a ng-if="$index != 0 || vm.add" class="btn btn-danger btn-sm" ng-click="vm.deleteFile(line)">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': uiForm.account_number.$invalid && ( vm.formSubmitted || uiForm.account_number.$touched) }" ng-if="(vm.filename != '') && !vm.myFile">
                                <div class="col-sm-12 col-md-12" align="center">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;"><i class="fa fa-file"></i></label>
                                    <div class="col-sm-5 col-md-5" align="left">
                                        <a ng-href="authorization_form/{{vm.policyId}}/{{vm.filename}}" target="_blank">{{vm.filename}}</a>
                                    </div>
                                </div>
                            </div>
                    <div class="box-footer">
                        <a ui-sref="app.emission-renewal-list" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">{{vm.isDisabled ? 'Guardando' : 'Guardar'}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
