<section class="content-header">
   <h1>
     <strong>Compañia: {{vm.companydata.data.name}}</strong>
  </h1> 
  <h1>Ramos</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Agregar Ramo</h3>
        </div>
        <form class="form-horizontal" name="registerForm" ng-submit="vm.save(registerForm.$valid)" novalidate>      
          
          <div class="box-body">
            <div class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.name.$invalid && ( vm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Nombre" ng-model="vm.name" name="name" ng-maxlength="100" required>
                <span class="fa fa-code-fork form-control-feedback"></span>
                <p class="help-block">El campo nombre es requerido.</p>
                <p ng-show="registerForm.name.$error.maxlength" class="help-block">El campo nombre es muy largo.</p>
                <p ng-show="registerForm.name.$invalid && (vm.formSubmitted || vm.errors.name)" class="help-block">{{vm.errors.name}}</p>
              </div>
            </div>    

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.commission_percentage.$invalid }">
              <label for="inputEmail3" class="col-sm-2 control-label">% Comisión</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="% Comisión" ng-model="vm.commission_percentage" name="commission_percentage" ng-maxlength="5" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" max="99.99" step="0.01">
                <span class="glyphicon glyphicon-usd form-control-feedback"></span>
                <p ng-show="registerForm.commission_percentage.$error.maxlength || registerForm.commission_percentage.$error.max" class="help-block">El campo % comisión es muy largo.</p>               
              </div>
            </div>    

          <div class="box-footer">
            <a ui-sref="app.branch-lists({companyId:vm.companyId})" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
