<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{vm.userData.avatar}}" class="img-circle" alt="User Image" onError="this.src='//placeholdit.imgix.net/~text?txtfont=monospace,bold&bg=DD4B39&txtclr=ffffff&txt=GB&w=45&h=45&txtsize=16'">
      </div>
      <div class="pull-left info">
        <p>{{vm.userData.name | capitalize}}</p>
        <a href="javascript:void(0)">{{vm.userData.email}}</a>
      </div>
    </div>
    
    <ul class="sidebar-menu">
      
      <li>
        <a ui-sref='app.landing'>
          <i class="fa fa-dashboard"></i> <span>Tablero</span>
        </a>
      </li>
      <li class="treeview" ng-show="vm.can('manage.admin')">
        <a href="javascript:void(0)">
          <i class="fa fa-users"></i> <span>Clientes</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a ui-sref='app.applicant-lists'><i class="fa fa-circle-o"></i> <span>Ficha del Cliente</span></a></li>
        </ul>
      </li>
      <li class="treeview" ng-show="vm.can('manage.reception')">
        <a href="javascript:void(0)">
          <i class="fa fa-inbox"></i> <span>Recepción</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a ui-sref='app.policy-lists'><i class="fa fa-circle-o"></i> Emisiones Pendientes </a></li>
          <li><a  ui-sref='app.claim-lists'><i class="fa fa-circle-o"></i> Reclamos Pendientes </a></li>
          <li><a ui-sref='app.agent-lists'><i class="fa fa-circle-o"></i> <span>Agentes</span></a></li>
        </ul>
      </li>
      <li class="treeview" ng-show="vm.can('manage.emmision')">
        <a href="javascript:void(0)">
          <i class="fa fa-pencil-square-o"></i> <span>Emisión</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a ui-sref='app.emission-policy-lists'><i class="fa fa-circle-o"></i> <span>Emisiones Pendientes</span></a></li>
          <!--<li><a ui-sref='app.coming-soon'><i class="fa fa-circle-o"></i> <span>Emisiones Actuales</span></a></li>-->
          <li><a ui-sref='app.historical-emissions-lists'><i class="fa fa-circle-o"></i> <span>Histórico de Emisiones </span></a></li>
          <li><a ui-sref='app.emission-canceled-lists'><i class="fa fa-circle-o"></i> <span>Emisiones Canceladas </span></a></li>
        </ul>
      </li>
      <li class="treeview" ng-show="vm.can('manage.claim')">
        <a href="javascript:void(0)">
          <i class="fa fa-ticket"></i> <span>Reclamos</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a ui-sref='app.claim-claim-lists'><i class="fa fa-circle-o"></i> Reclamos Pendientes </a></li>
          <li><a ui-sref='app.claim-liquidations'><i class="fa fa-circle-o"></i> <span>Liquidaciones Pendientes</span></a></li>
          <li><a  ui-sref='app.historical-claims-report'><i class="fa fa-circle-o"></i>Historico de Reclamos</a></li>
          <!--<li><a ui-sref='app.coming-soon'><i class="fa fa-circle-o"></i> <span>Reclamos Tiempos</span></a></li>-->
          <!--<li><a ui-sref='app.coming-soon'><i class="fa fa-circle-o"></i> <span>Reporte</span></a></li>-->
        </ul>
      </li>
      <li class="treeview" ng-show="vm.can('manage.services')">
        <a href="javascript:void(0)">
          <i class="fa fa-headphones"></i> <span>Servicio al Cliente</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <!--<li><a ui-sref='app.coming-soon'><i class="fa fa-circle-o"></i> <span>Trámites</span></a></li>-->
          <li><a ui-sref='app.ticket-lists'><i class="fa fa-circle-o"></i> <span>Tickets</span></a></li>
          <li><a ui-sref='app.hospital-lists'><i class="fa fa-circle-o"></i> <span>Hospitales</span></a></li>
          <li><a ui-sref='app.doctor-lists'><i class="fa fa-circle-o"></i> <span>Médicos</span></a></li>
          <li><a ui-sref='app.medical-speciality-lists'><i class="fa fa-circle-o"></i> <span>Especialidades Médicas</span></a></li>
        </ul>
      </li>
      <li class="treeview" ng-show="vm.can('manage.renov')">
        <a href="javascript:void(0)">
          <i class="fa fa-refresh"></i> <span>Renovación</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a ui-sref='app.renewal-lists'><i class="fa fa-circle-o"></i> Renovaciones </a></li>
          <li><a ui-sref='app.emission-renewal-list'><i class="fa fa-circle-o"></i>Emisiones</a></li>
          <li><a ui-sref='app.renewal-report'><i class="fa fa-circle-o"></i> <span>Histórico de Renovaciones</span></a></li>
          <li><a ui-sref='app.fees-paid-report'><i class="fa fa-circle-o"></i> <span>Histórico de Pagos</span></a></li>
        </ul>
      </li>
      <li class="treeview" ng-show="vm.can('manage.sales')">
        <a href="javascript:void(0)">
          <i class="fa fa-tag"></i> <span>Ventas</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a ui-sref='app.agent-lists'><i class="fa fa-circle-o"></i> <span>Agentes</span></a></li>
          <li><a ui-sref='app.subagent-lists'><i class="fa fa-circle-o"></i> <span>Sub-Agentes</span></a></li>          
          <!--<li><a ui-sref='app.coming-soon'><i class="fa fa-circle-o"></i> <span>Cotizaciones</span></a></li>
          <li><a ui-sref='app.coming-soon'><i class="fa fa-circle-o"></i> <span>Precios Referenciales</span></a></li>
          <li><a ui-sref='app.company-lists'><i class="fa fa-circle-o"></i> <span>Lista de Compañias</span></a></li>
          <li><a ui-sref='app.seller-lists'><i class="fa fa-circle-o"></i> <span>Lista de Vendedores</span></a></li>
          <li><a ui-sref='app.sale-lists'><i class="fa fa-circle-o"></i> <span>Lista de Ventas</span></a></li>
          <li><a ui-sref='app.commission-company-lists'><i class="fa fa-circle-o"></i> <span>Comisiones de compañia</span></a></li>
          <li><a ui-sref='app.commission-seller-lists'><i class="fa fa-circle-o"></i> <span>Comisiones de vendedores</span></a></li>-->
        </ul>
      </li>
      <li class="treeview" ng-show="vm.can('manage.companies')">
        <a href="javascript:void(0)">
          <i class="fa fa-university"></i> <span>Proveedores</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a ui-sref='app.company-lists'><i class="fa fa-circle-o"></i> <span>Proveedores</span></a></li>
          <!--<li><a ui-sref='app.seller-lists'><i class="fa fa-circle-o"></i> <span>Vendedores</span></a></li>-->
          <!--<li><a ui-sref='app.coming-soon'><i class="fa fa-circle-o"></i> <span>Ventas</span></a></li>-->
          <!--<li><a ui-sref='app.coming-soon'><i class="fa fa-circle-o"></i> <span>Comisiones Compañías</span></a></li>-->
          <!--<li><a ui-sref='app.coming-soon'><i class="fa fa-circle-o"></i> <span>Comisiones Vendedores</span></a></li>-->
          <li><a ui-sref='app.commission-report'><i class="fa fa-circle-o"></i> <span>Reporte de Comisiones</span></a></li>
        </ul>
      </li>      
      <li class="treeview" ng-show="vm.can('manage.mail')">
        <a href="javascript:void(0)">
          <i class="fa fa-envelope"></i> <span>Correo Electrónico</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a ui-sref='app.mail-configuration-edit'><i class="fa fa-circle-o"></i> <span>Configuración</span></a></li>
          <li><a ui-sref='app.email-format-lists'><i class="fa fa-circle-o"></i> <span>Formatos</span></a></li>
          <li><a ui-sref='app.massivemail'><i class="fa fa-circle-o"></i> <span>Correo Masivo</span></a></li>
        </ul>
      </li>
      <li class="treeview" ng-show="vm.can('manage.general')">
        <a href="javascript:void(0)">
          <i class="fa fa-cog"></i> <span>General</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <!--<li><a ui-sref='app.plan-lists'><i class="fa fa-circle-o"></i> <span>Planes</span></a></li>-->
          <li><a ui-sref='app.currency-lists'><i class="fa fa-circle-o"></i> <span>Monedas</span></a></li>
          <!--<li><a ui-sref='app.coming-soon'><i class="fa fa-circle-o"></i> <span>Pólizas</span></a></li>-->
          <!--<li><a ui-sref='app.affiliates-lists'><i class="fa fa-circle-o"></i> <span>Afiliados</span></a></li>-->
          <li><a ui-sref='app.messenger-lists'><i class="fa fa-circle-o"></i> <span>Mensajeros</span></a></li>
          <li><a ui-sref='app.provider-lists'><i class="fa fa-circle-o"></i> <span>Proveedor de Servicio</span></a></li>
          <li><a ui-sref='app.claim-document-types-lists'><i class="fa fa-circle-o"></i> <span>Tipos de Documentos(Reclamos)</span></a></li>          
        </ul>
      </li>
      <!--<li class="treeview" ng-show="vm.can('manage.users') || vm.can('manage.roles') || vm.can('manage.permissions')">-->
      <li class="treeview" ng-show="vm.can('manage.admin')">
        <a href="javascript:void(0)">
          <i class="fa fa-cogs"></i> <span>Administrador</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a ui-sref='app.user-lists'><i class="fa fa-circle-o"></i> <span>Usuarios</span></a></li>
          <li><a ui-sref='app.user-roles'><i class="fa fa-circle-o"></i> <span>Roles del usuario</span></a></li>
          <li><a ui-sref='app.user-permissions'><i class="fa fa-circle-o"></i> <span>Permisos de usuario</span></a></li>
        </ul>
      </li>
      <li class="treeview" ng-show="vm.can('manage.hist')">
        <a href="javascript:void(0)">
          <i class="fa fa-history"></i> <span></span>Pólizas Antiguas<i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a ui-sref='app.policy_register'><i class="fa fa-circle-o"></i> <span>Registro</span></a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
