<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-placeholder-single").select2({
    placeholder: "Seleccione Plan"
  });
  $(".js-example-basic-single").select2({
    placeholder: "Seleccione Póliza"
   });
  $(".js-example-placeholder-doc").select2({
    placeholder: "Seleccione Tipo"
  });
});

function clearFileInputField(tagId) {
    document.getElementById(tagId).value = "";
}
</script>
<section class="content-header">
  <h1>Tickets </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Lista de Tickets</h3>
          <div class="box-tools pull-right">
            <a ui-sref="app.ticket-add" class="btn btn-block btn-success btn-xs"><i class="fa fa-plus"></i> Agregar</a>
          </div>
        </div>
        <div class="box-body">
          <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns">            
            <script type="text/ng-template" id="myModalSend">
            <form class="form-horizontal" name="lettForm" ng-submit="vm.save(lettForm.$valid)" novalidate>  
              <div class="modal-header">
                <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h3 class="modal-title" style="text-align: center">Solicitar Carta de Garantía</h3>
              </div>
              </br>
                <div class="form-group" ng-class="{ 'has-error':  vm.formSubmitted  }">
                  <label for="inputEmail3" class="col-sm-2 control-label">Destinatario</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="mvm.emailformatdata.data.recipient" name="recipient" placeholder="Destinatario"  disabled='true'>
                  </div>
                </div>
                      <div class="form-group" ng-class="{ 'has-error':  vm.formSubmitted }">
                  <label for="inputEmail3" class="col-sm-2 control-label">CC</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="mvm.emailformatdata.data.cc" name="mvm.emailformatdata.data.cc" placeholder="Con copia a: " disabled='true'>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':  vm.formSubmitted }">
                  <label for="inputEmail3" class="col-sm-2 control-label">Título</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="mvm.emailformatdata.data.title" name="title" placeholder="Título"  disabled='true'>              
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':  vm.formSubmitted }">
                  <label for="inputEmail3" class="col-sm-2 control-label">Asunto</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="mvm.emailformatdata.data.subject" name="subject" placeholder="Asunto"  disabled='true'>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': lettForm.content.$invalid && ( vm.formSubmitted || lettForm.content.$touched) }">
                  <label for="inputEmail3" class="col-sm-2 control-label">Contenido</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" rows="5" ng-model="mvm.emailformatdata.data.content" name="content" placeholder="Contenido" required></textarea>
                    <p ng-show="lettForm.content.$error.required && ( vm.formSubmitted || lettForm.content.$touched)" class="help-block">El contenido es obligatorio.</p>
                  </div>
                </div>
                <fieldset>

                  <div id="datosticket"></div>
                  
              </fieldset>
                <fieldset>    
                  <table align="center" class="table table-striped table-bordered" style="overflow-x:scroll;width:65.5%;" >     
                    <thead>
                      <tr>
                        <td  width="50%" style="font-size: 12px;text-align:left;font-weight:bold;padding:2px 2px 2px 2px;" >Tipo de Documento</td>
                        <td style="font-size: 12px;text-align:left;font-weight:bold;padding:2px 2px 2px 2px;">Nombre </td> 
                      </tr>
                    </thead>
                    <tbody>  
                      <tr ng-repeat="pline in mvm.previouslines" style="height: 10px">             
                        <td  style='font-size: 12px;text-align:left;padding:2px 2px 2px 2px;'>{{mvm.previouslines[$index].type}}</td>
                        <td style='font-size: 12px;text-align:left;padding:2px 2px 2px 2px;'><a style="font-size: 10px;white-space: nowrap" ng-href="{{mvm.directory}}{{mvm.ticket_id}}/{{pline.filename}}" target="_blank">{{pline.filename}}</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </fieldset>
            <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
              <button class="btn btn-default" type="button" ng-click="mvm.cancel()" data-dismiss="modal">Cancelar</button>
              &nbsp;&nbsp;&nbsp;
              
              <button class="btn btn-primary" style="width: 78px" type="button" ng-click="mvm.sendoc(lettForm.$valid)" ng-disabled="mvm.processing">{{mvm.processing ? 'Solicitando' : 'Solicitar'}}</button>
          </form>
          </script>

          <script type="text/ng-template" id="myModalDate">
          
            <form class="form-horizontal" name="lettForm" ng-submit="vm.save(lettForm.$valid)" novalidate>
              
                <div class="modal-header">
                  <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h3 class="modal-title" style="text-align: center">Solicitar Cita</h3>
                </div>
                </br>

                <div class="form-group" ng-class="{ 'has-error':  vm.formSubmitted  }">
                  <label for="inputEmail3" class="col-sm-2 control-label">Destinatario</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="mvm.emailformatdata.data.recipient" name="recipient" placeholder="Destinatario"  disabled='true'>
                  </div>
                </div>
                      <div class="form-group" ng-class="{ 'has-error':  vm.formSubmitted }">
                  <label for="inputEmail3" class="col-sm-2 control-label">CC</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="mvm.emailformatdata.data.cc" name="mvm.emailformatdata.data.cc" placeholder="Con copia a: " disabled='true'>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':  vm.formSubmitted }">
                  <label for="inputEmail3" class="col-sm-2 control-label">Título</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="mvm.emailformatdata.data.title" name="title" placeholder="Título"  disabled='true'>              
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error':  vm.formSubmitted }">
                  <label for="inputEmail3" class="col-sm-2 control-label">Asunto</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="mvm.emailformatdata.data.subject" name="subject" placeholder="Asunto"  disabled='true'>
                  </div>
                </div>
               
                <div class="form-group" ng-class="{ 'has-error': lettForm.content.$invalid && ( vm.formSubmitted || lettForm.content.$touched) }">
                  <label for="inputEmail3" class="col-sm-2 control-label">Contenido</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" rows="5" ng-model="mvm.emailformatdata.data.content" name="content" placeholder="Contenido" required></textarea>
                    <p ng-show="lettForm.content.$error.required && ( vm.formSubmitted || lettForm.content.$touched)" class="help-block">El contenido es obligatorio.</p>
                  </div>
                </div>
                <!--<div class="form-group" ng-class="{ 'has-error': lettForm.file.$invalid &&  vm.formSubmitted }">
                    <label for="input" class="col-sm-2 control-label" style="text-align: right;">Archivo</label>
                        <div class="col-sm-8 col-md-8">
                            <input class="form-control" type="file" id="upload" data-max-size="2048" ng-model="mvm.myFile" file-model="mvm.myFile" file-input="mvm.file" name="file">
                        </div>
                </div>-->
                <fieldset>

                  <div id="datosticket"></div>
                  
              </fieldset>
                <fieldset>    
                  <table align="center" class="table table-striped table-bordered" style="overflow-x:scroll;width:65.5%;" >     
                    <thead>
                      <tr>
                        <td  width="50%" style="font-size: 10px;text-align:left;font-weight:bold;padding:2px 2px 2px 2px;" >Tipo de Documento</td>
                        <td style="font-size: 10px;text-align:left;font-weight:bold;padding:2px 2px 2px 2px;">Nombre </td> 
                      </tr>
                    </thead>
                    <tbody>  
                      <tr ng-repeat="pline in mvm.previouslines" style="height: 10px">             
                        <td  style='font-size: 10px;text-align:left;padding:2px 2px 2px 2px;'>{{mvm.previouslines[$index].type}}</td>
                        <td style='font-size: 10px;text-align:left;padding:2px 2px 2px 2px;'><a style="font-size: 10px;white-space: nowrap" ng-href="{{mvm.directory}}{{mvm.ticket_id}}/{{pline.filename}}" target="_blank">{{pline.filename}}</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </fieldset>  
            <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
              <button class="btn btn-default" type="button" ng-click="mvm.cancel()" data-dismiss="modal">Cancelar</button>
              &nbsp;&nbsp;&nbsp;
              <button class="btn btn-primary" style="width: 78px" type="button" ng-click="mvm.sendoc(lettForm.$valid)" ng-disabled="mvm.processing">{{mvm.processing ? 'Solicitando' : 'Solicitar'}}</button>
            </div>
          </form>
        
          </script>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
