<section class="content-header">
  <h1>Editar Detalles de Deducibles</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Plan: <strong>{{ vm.planeditdata.data.name }} </strong></h3>
          <br/>
          <h3 class="box-title">Deducible: <strong>{{ vm.deductibledata.data.name }} </strong></h3>
        </div>
        <form class="form-horizontal" name="registerForm" ng-submit="vm.save(registerForm.$valid)" novalidate>      
          
          <div class="box-body">

            <div class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>  

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Niños</label>
              <div class="col-sm-10 " ng-init="vm.is_child='0'">
              <table style="width:300px">
              <tr>
                <td><input type="radio" ng-model="vm.deductibleeditdata.data.is_child" name="vm.is_child" value="1" ng-disabled="vm.deductibleeditdata.data.is_child == 0"> Si </td>
                <td><input type="radio" ng-model="vm.deductibleeditdata.data.is_child" name="vm.is_child" value="0" ng-disabled="vm.deductibleeditdata.data.is_child == 1"> No </td>
              </tr>
              </table>
              </div>
            </div>   

            <div class="form-group">
              <div ng-if="vm.deductibleeditdata.data.is_child == 1">
                <label for="inputEmail3" class="col-sm-2 control-label">Cantidad</label>
                <div class="col-xs-2 input-sm">
                  <select ng-model="vm.deductibleeditdata.data.child_quantity" name="child_quantity" class="form-control" >
                    <option value="1" ng-selected="vm.deductibleeditdata.data.child_quantity == 1">1</option> 
                    <option value="2" ng-selected="vm.deductibleeditdata.data.child_quantity == 2">2</option> 
                    <option value="3" ng-selected="vm.deductibleeditdata.data.child_quantity == 3">3+</option> 
                  </select>  
                </div>
              </div>
            </div>     

            <div class="form-group">
              <div  ng-if="vm.deductibleeditdata.data.is_child == 0">
              <div class="col-sm-6 col-md-6">
                <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.age_start.$invalid && ( vm.formSubmitted || registerForm.age_start.$touched) }">
                  <label for="input" class="col-sm-4 control-label">Edad Inicial</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" placeholder="Edad" ng-model="vm.deductibleeditdata.data.age_start" name="age_start" ng-maxlength="2" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" max="99" required>
                    <p class="help-block">El campo edad inicial es requerido.</p>
                    <p ng-show="registerForm.age_start.$error.maxlength || registerForm.age_start.$error.max" class="help-block">El campo edad inicial es muy largo.</p>
                    <p ng-show="registerForm.age_start.$invalid && (vm.formSubmitted || vm.errors.age_start)" class="help-block">{{vm.errors.age_start}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.age_end.$invalid && ( vm.formSubmitted || registerForm.age_end.$touched) }">
                  <label for="input" class="col-sm-4 control-label">Edad Final</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" placeholder="Edad" ng-model="vm.deductibleeditdata.data.age_end" name="age_end" ng-maxlength="2" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" max="99" required>
                    <p class="help-block">El campo edad final es requerido.</p>
                <p ng-show="registerForm.age_end.$error.maxlength || registerForm.age_end.$error.max" class="help-block">El campo edad final es muy largo.</p>
                <p ng-show="registerForm.age_end.$invalid && (vm.formSubmitted || vm.errors.age_end)" class="help-block">{{vm.errors.age_end}}</p>
                  </div>
                </div>
              </div>    
             </div>               
            </div>    

             <!--<div class="form-group">-->
               <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.amount.$invalid && ( vm.formSubmitted || registerForm.amount.$touched) }">
                <label for="inputEmail3" class="col-sm-2 control-label">Monto</label>  
                  <div class="col-sm-8">
                    <input type="number" class="form-control" placeholder="Monto" ng-model="vm.deductibleeditdata.data.amount" name="amount" ng-maxlength="20" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" max="99999" required>
                    <p class="help-block">El campo monto es requerido.</p>
                    <p ng-show="registerForm.amount.$error.maxlength || registerForm.amount.$error.max" class="help-block">El campo monto es muy largo.</p>
                    <p ng-show="registerForm.amount.$invalid && (vm.formSubmitted || vm.errors.amount)" class="help-block">{{vm.errors.amount}}</p>
                  </div>
                </div>
              
              
              
            <!--</div>-->       
          </div>                   


            
          <div class="box-footer">
            <a ui-sref="app.deductible-details-lists({deductibleId: vm.deductibledata.data.id})" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
