<style>
    .pointer {
        cursor: pointer;
    }
    /*@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);*/
    .detailBox {
        width:95%;
        border:1px solid #bbb;
        margin:auto;
    }
    .titleBox {
        background-color:#fdfdfd;
        padding:10px;
    }
    .titleBox label{
      color:#444;
      margin:0;
      display:inline-block;
    }
    .commentBox {
        padding:10px;
        border-top:1px dotted #bbb;
    }
    .commentBox .form-group:first-child, .actionBox .form-group:first-child {
        width:80%;
    }
    .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
        width:18%;
    }
    .actionBox .form-group * {
        width:100%;
    }
    .commentList {
        padding:0;
        list-style:none;
        max-height:400px;
        overflow:auto;
    }
    .commentList li {
        margin:0;
        margin-top:10px;
    }
    .commentList li > div {
        display:table-cell;
    }
    .commenterImage {
        /*width:12%;*/
        margin-right:5px;
        height:100%;
        float:left;
    }
    .commenterImage img {
        width:100%;
        border-radius:50%;
    }
    .commentText p {
        margin:0;
    }
    .sub-text {
        color:#aaa;
        font-family:verdana;
        font-size:11px;
    }
    .actionBox {
        border-top:1px dotted #bbb;
        padding:10px;
    }
</style>
<section class="content-header">
    <h1>Ficha del Cliente - {{vm.applicant_data.info.first_name}} {{vm.applicant_data.info.last_name}}</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active': vm.active_tab == 5}"><a class="pointer" data-toggle="tab" ng-click="vm.setActive(5)">Comentarios</a></li>
                    </ul>
                    <div class="tab-content">
                       
                        <div ng-if="vm.active_tab == 5">
                            <br>
                            <div class="detailBox">
                                <div class="titleBox">
                                    <label>Comentarios</label>
                                </div>
                                <div class="actionBox">
                                    <ul class="commentList">
                                        <li ng-repeat="comment in vm.applicant_data.comments">
                                            <div class="commenterImage">
                                                <!--<img src="https://png.icons8.com/ios/50/000000/user-male-circle-filled.png" title="{{comment.user_info.name}}"/>-->
                                                <h4 style="font-family: fantasy; color: #337ab7; width: 11em;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" title="{{comment.user_info.name}}">{{comment.user_info.name}}</h4>
                                            </div>
                                            <button ng-if="vm.applicant_data.current_user.id == comment.user_id_creation" ng-click="vm.deleteComment(comment.id)" type="button" class="close pull-right" aria-hidden="true" title="Eliminar">&times;</button>
                                            <div class="commentText">
                                                <p class="">{{comment.text}}</p> <span class="date sub-text">{{comment.date}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <form class="form-inline" role="form">
                                        <div class="form-group" >
                                            <input class="form-control" ng-model="vm.comment" type="text" placeholder="Escribe un comentario..." required>
                                        </div>
                                        <div class="form-group">
                                            <button ng-click="vm.addComment()" ng-disabled="!vm.comment" class="btn btn-default">Comentar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <a ui-sref="app.claim-claim-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
