<section class="content-header">
	<h1>Agentes <small></small></h1>
	<!--<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li><a ui-sref="app.seller-lists">Lista de Agentes</a></li>
		<li class="active">Agregar Agente</li>
	</ol>-->
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Agregar Asistente a: <strong>{{ vm.agenteditdata.data.first_name }} {{vm.agenteditdata.data.last_name}}</strong></h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.name.$invalid && ( vm.formSubmitted || uiForm.name.$touched) }">
									<label for="input" class="col-sm-4 control-label">Nombres</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.name" name="name" placeholder="Nombres" ng-maxlength="100"  ng-pattern="/^[a-zA-Z\s]*$/" required>
										<p class="help-block">El campo nombre es requerido.</p>
										<p ng-show="uiForm.name.$error.maxlength && ( vm.formSubmitted || uiForm.name.$touched)" class="help-block">El campo nombre es muy largo.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.identity.$invalid && ( vm.formSubmitted || uiForm.identity.$touched) }">
									<label for="input" class="col-sm-4 control-label">Documento de Identidad</label>
									<div class="col-sm-8">
										<input type="number" class="form-control" ng-model="vm.identity" name="identity" placeholder="1234567890" required  ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" ng-maxlength="20">
										<p class="help-block">El campo documento de identidad es requerido.</p>
										<p ng-show="uiForm.identity.$error.maxlength && ( vm.formSubmitted || uiForm.identity.$touched)" class="help-block">El campo documento de identidad es muy largo.</p>
									</div>
								</div>
							</div>							
						</div>						

						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.last_name.$invalid && ( vm.formSubmitted || uiForm.last_name.$touched) }">
									<label for="input" class="col-sm-4 control-label">Apellidos</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.last_name" name="last_name" placeholder="Apellidos" ng-maxlength="100"  ng-pattern="/^[a-zA-Z\s]*$/" required>
										<p class="help-block">El campo apellido es requerido.</p>
										<p ng-show="uiForm.last_name.$error.maxlength && ( vm.formSubmitted || uiForm.last_name.$touched)" class="help-block">El campo apellido es muy largo.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.birthday.$invalid && ( vm.formSubmitted || uiForm.birthday.$touched) }">
									<label for="input" class="col-sm-4 control-label">Fecha de Nacimiento</label>
									<div class="col-sm-8">
										<input type="date"  placeholder="dd-MM-yyyy" class="form-control" ng-model="vm.birthday" name="birthday" placeholder="00/00/0000"  max="{{vm.fecha_actual | date:'yyyy-MM-dd'}}" required>
										<p class="help-block">La campo fecha de nacimiento es requerida.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.email.$invalid && ( vm.formSubmitted || uiForm.email.$touched) }">
									<label for="input" class="col-sm-4 control-label">E-mail</label>
									<div class="col-sm-8">
										<input type="email" class="form-control" ng-model="vm.email" name="email" placeholder="example@example.com" required ng-maxlength="30">
										<p class="help-block">El campo correo electronico es requerido.</p>
										<p ng-show="uiForm.email.$error.maxlength && ( vm.formSubmitted || uiForm.email.$touched)" class="help-block">El campo correo electronico es muy largo.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group">
									<label for="input" class="col-sm-4 control-label">Skype</label>
									<div class="col-sm-8">
										<input type="text"  class="form-control" ng-model="vm.skype" name="skype" placeholder="@usuario" >
										<p></p>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.mobile.$invalid && ( vm.formSubmitted || uiForm.mobile.$touched) }">
									<label for="input" class="col-sm-4 control-label">Móvil</label>
									<div class="col-sm-8">
										<input type="number" class="form-control" ng-model="vm.mobile" name="mobile" placeholder="0999999999" ng-maxlength="10" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" required>
										<p class="help-block">El campo móvil es requerido.</p>
                						<p ng-show="uiForm.mobile.$error.maxlength" class="help-block">El campo móvil es muy largo.</p>
                						<p ng-show="registerForm.mobile.$invalid && (vm.formSubmitted || vm.errors.mobile)" class="help-block">{{vm.errors.mobile}}</p>
										<p></p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.phone.$invalid && ( vm.formSubmitted || uiForm.phone.$touched) }"">
									<label for="input" class="col-sm-4 control-label">Teléfono</label>
									<div class="col-sm-8">
										<input type="number"  class="form-control" ng-model="vm.phone" name="phone" placeholder="222222" ng-maxlength="9" ng-pattern="/^[0-9]+(\.[0-9]{1,9})?$/" required>
										<p class="help-block">El campo teléfono es requerido.</p>
                						<p ng-show="uiForm.phone.$error.maxlength" class="help-block">El campo teléfono es muy largo.</p>
                						<p ng-show="registerForm.phone.$invalid && (vm.formSubmitted || vm.errors.phone)" class="help-block">{{vm.errors.phone}}</p>
										
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group  has-feedback" ng-class="{ 'has-error': uiForm.country.$invalid && ( vm.formSubmitted || uiForm.country.$touched) }">
									<label for="input" class="col-sm-4 control-label">País</label>
									<div class="col-sm-8">
										<select class="form-control" style='font-size: 14px;' placeholder="País" ng-model="vm.country" name="country" ng-change="vm.getState();" required>
                  							<option value="">- Seleccione -</option>
                  							<option style="font-size: 17px" ng-repeat="count in vm.systemCountrys" value="{{count.id}}" >{{count.name}}</option>
                						</select>
                						<p class="help-block">El campo país es requerido.</p>

									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.address.$invalid && ( vm.formSubmitted || uiForm.address.$touched) }"">
									<label for="input" class="col-sm-4 control-label">Dirección</label>
									<div class="col-sm-8">
										<input type="text"  class="form-control" ng-model="vm.address" name="address" placeholder="Dirección" ng-maxlength="60" required>
										<p class="help-block">El campo dirección es requerido.</p>
										<p ng-show="uiForm.address.$error.maxlength && ( vm.formSubmitted || uiForm.address.$touched)" class="help-block">El campo dirección es muy largo.</p>
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.state.$invalid && ( vm.formSubmitted || uiForm.state.$touched) }">
									<label for="input" class="col-sm-4 control-label">Provincia</label>
									<div class="col-sm-8">
										<select class="form-control" style='font-size: 14px;' placeholder="Provincia" ng-model="vm.state" name="state" ng-change="vm.getCity();" required>
											<option value="">- Seleccione -</option>
											<option style="font-size: 17px" ng-repeat="state in vm.systemStates" value="{{state.id}}" >{{state.name}}</option>

										</select>
										<p class="help-block">El campo provincia es requerido.</p>
										
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.charge.$invalid && ( vm.formSubmitted || uiForm.charge.$touched) }">
									<label for="input" class="col-sm-4 control-label">Cargo</label>
									<div class="col-sm-8">
										<select class="form-control" style='font-size: 14px;' placeholder="Cargo" ng-model="vm.charge" name="charge" required>
											<option value="">- Seleccione -</option>
                  							<option style="font-size: 17px"  value="Cargo 1" >Cargo 1</option>
											<option style="font-size: 17px"  value="Cargo 2" >Cargo 2</option>
											<option style="font-size: 17px"  value="Cargo 3" >Cargo 3</option>
										</select>
										<p class="help-block">El campo cargo es requerido.</p>	

									</div>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.city.$invalid && ( vm.formSubmitted || uiForm.city.$touched) }">
									<label for="input" class="col-sm-4 control-label">Ciudad</label>
									<div class="col-sm-8">
										
										<select class="form-control" style='font-size: 14px;' placeholder="Ciudad" ng-model="vm.city" name="city" required>
                  							<option value="">- Seleccione -</option>
                  							<option style="font-size: 17px" ng-repeat="cities in vm.systemCities" value="{{cities.id}}" >{{cities.name}}</option>
                						</select>
                						<p class="help-block">El campo ciudad es requerido.</p>
									</div>
								</div>
							</div>							
						</div>
					</div>

					<div class="box-footer">
						<a ui-sref="app.assistent-lists({agentId: vm.agenteditdata.data.id})" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
						<button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
