<section class="content-header">
  <h1>Roles de Usuario</h1>
  
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Agregar Rol de Usuario</h3>
        </div>
        <form class="form-horizontal" name="roleForm" ng-submit="vm.save(roleForm.$valid, roleForm)" novalidate>
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': roleForm.role.$invalid && ( vm.formSubmitted || roleForm.role.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Rol</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.role" name="role" placeholder="Rol" required>
                <p ng-show="roleForm.role.$error.required && ( vm.formSubmitted || roleForm.role.$touched)" class="help-block">El rol es requerido.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': roleForm.slug.$invalid && ( vm.formSubmitted || roleForm.slug.$touched) }">
              <label for="inputPassword3" class="col-sm-2 control-label">Alias</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.slug" name="slug" placeholder="Alias" required>
                <p ng-show="roleForm.slug.$error.required && ( vm.formSubmitted || roleForm.slug.$touched)" class="help-block">El alias es requerido.</p>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Descripción</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="3" ng-model="vm.description" name="description" placeholder="Descripción"></textarea>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <a ui-sref="app.user-roles" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
