<section class="content">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <h4 class="box-title">Resumen mensual {{vm.array_month[5]}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Ventas Nuevas</span>
          <span class="info-box-number">{{vm.new_sales}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-dollar"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Ventas Nuevas</span>
          <span class="info-box-number">$ {{vm.new_sales_money}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-ticket"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Reclamos Pagados</span>
          <span class="info-box-number">{{vm.claims_payed}}</span>
        </div>
      </div>
    </div>    
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-refresh"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Pólizas en Gracia</span>
          <span class="info-box-number">{{vm.graces_month}}</span>
        </div>
      </div>
    </div>
  </div>
  <form class="form-horizontal" name="uiForm" ng-submit="vm.getReport()" novalidate>
        <div class="row">
          <div class="col-md-12">
              <div class="col-sm-2 col-md-2">
                <label for="input" class="control-label" style="text-align: left;">Desde</label>
              </div>
              <div class="col-sm-2 col-md-2">
                <label for="input" class="control-label" style="text-align: left;">Hasta</label>
              </div>
          </div>    
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-sm-2 col-md-2">
                <div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.start_date.$invalid && ( vm.formSubmitted || uiForm.start_date.$touched) }">
                  
                  <div class="col-sm-6">
                    <input type="date"  placeholder="vm.start_date" class="form-control" ng-model="vm.start_date" name="start_date" style='font-size: 14px; width: 180px;' ng-change="vm.compareDate();" id="start_date" value="{{vm.start_date}}">
                    <p class="help-block" style="color:red; font-size: 15px" ng-show="vm.showMessage">{{vm.alert1}}</p>
                  </div>
                </div>
          </div>
        <div class="col-sm-2 col-md-2">
                <div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.end_date.$invalid && ( vm.formSubmitted || uiForm.end_date.$touched) }">
                    
                  <div class="col-sm-6">
                    <input type="date"  placeholder="dd-MM-yyyy" class="form-control" ng-model="vm.end_date" name="end_date"  style='font-size: 14px; width: 180px;' ng-change="vm.compareDate();" id="end_date" value="{{vm.end_date}}">
                    <p class="help-block" style="color:red; font-size: 15px" ng-show="vm.showMessage">{{vm.alert2}}</p>
                  </div>
                 </div>   
        </div>  
         <div class="col-sm-1 col-md-1">
                  <div class="col-sm-4">
                    <button title="Buscar" type="submit" class="btn btn-primary pull-left" style="color: #3c8dbc; background-color: #FFF;" ng-disabled="vm.isDisabled"><i class="fa fa-search"></i></button>
                  </div>                 
        </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Portafolio</h3>          
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <p class="text-center">
                <strong>Ventas : {{vm.total_sales}}{{","}} {{vm.array_month[0]}}{{"-"}}{{vm.array_month[vm.length]}} </strong>
              </p>
              <div class="chart">
                <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick" style="height: 180px;">
                </canvas>
              </div>
            </div>
            <div class="col-md-6">
              <p class="text-center">
                <strong>Ventas : {{"$ "}}{{vm.total_money}}{{","}} {{vm.array_month[0]}}{{"-"}}{{vm.array_month[vm.length]}} </strong>
              </p>
              <div class="chart">
                <canvas id="line" class="chart chart-line" chart-data="moneyData" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick" style="height: 180px;">
                </canvas>
              </div>
            </div>            
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>          
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <p class="text-center">
                <strong>Pólizas en Periodo de Gracia : {{vm.total_grace}}{{","}} {{vm.array_month[0]}}{{"-"}}{{vm.array_month[vm.length]}} </strong>
              </p>
              <div class="chart">
                <canvas id="line" class="chart chart-line" chart-data="graceData" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick" style="height: 180px;">
                </canvas>
              </div>
            </div>
            <div class="col-md-6">
              <p class="text-center">
                <strong>Pólizas Canceladas : {{vm.total_canceled}}{{","}} {{vm.array_month[0]}}{{"-"}}{{vm.array_month[vm.length]}} </strong>
              </p>
              <div class="chart">
                <canvas id="bar" class="chart chart-bar" chart-data="cancelData" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick" style="height: 180px;">
                </canvas>
              </div>
            </div>            
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>          
        </div>
        <div class="box-body">
          <div class="row">
            <!--<div class="col-md-6">
              <p class="text-center">
                <strong>Ventas nuevas: </strong>
              </p>
              <div class="chart">
                <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick" style="height: 180px;">
                </canvas>
              </div>
            </div>-->            
            <div class="col-md-6">
              <p class="text-center">
                <strong>Reclamos pagados : {{vm.total_claims}}{{","}} {{vm.array_month[0]}}{{"-"}}{{vm.array_month[vm.length]}}</strong>
              </p>
              <div class="chart">
                <canvas id="line" class="chart chart-line" chart-data="data_claims" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick" style="height: 180px;">
                </canvas>
              </div>
            </div>            
          </div>
        </div>        
      </div>
    </div>
  </div>
</section>