<section class="content-header">
  <h1>Configuración de correo</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar</h3>
        </div>
        <form class="form-horizontal" name="form" ng-submit="vm.save(form.$valid)" autocomplete="off" novalidate>
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.host.$invalid && ( vm.formSubmitted || form.host.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Host</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.theform.data.host" name="host" placeholder="mail.example.com" required>
                <p ng-show="form.host.$error.required && ( vm.formSubmitted || form.host.$touched)" class="help-block">El host es obligatorio.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.username.$invalid && ( vm.formSubmitted || form.username.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Usuario</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.theform.data.username" name="username" placeholder="admin@example.com" required>
                <p ng-show="form.username.$error.required && ( vm.formSubmitted || form.username.$touched)" class="help-block">El usuario es obligatorio.</p>
              </div>
            </div>

              <div class="form-group" ng-class="{ 'has-error': form.name.$invalid && ( vm.formSubmitted || form.name.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.theform.data.name" name="name" placeholder="Avenida Legal" required>
                <p ng-show="form.name.$error.required && ( vm.formSubmitted || form.name.$touched)" class="help-block">El nombre es obligatorio.</p>
              </div>
            </div>

              <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && ( vm.formSubmitted || form.password.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" ng-model="vm.theform.data.password" name="password" placeholder="Contraseña" required>
                <p ng-show="form.password.$error.required && ( vm.formSubmitted || form.password.$touched)" class="help-block">La contraseña es obligatoria.</p>
              </div>
            </div>

              <div class="form-group" ng-class="{ 'has-error': form.protocol.$invalid && ( vm.formSubmitted || form.protocol.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Protocolo</label>
              <div class="col-sm-10">
                <!--<input type="text" class="form-control" ng-model="vm.theform.data.protocol" name="protocol" placeholder="Protocolo" required>-->

                  <select name="protocol" class="form-control" ng-model="vm.theform.data.protocol" required>
                  <option ng-value="{{protocol.id}}" ng-repeat="protocol in vm.protocols">{{protocol.name}}</option>
                </select>

                <p ng-show="form.protocol.$error.required && ( vm.formSubmitted || form.protocol.$touched)" class="help-block">El protocolo es obligatorio.</p>
              </div>
            </div>

              <div class="form-group" ng-class="{ 'has-error': form.port.$invalid && ( vm.formSubmitted || form.port.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Puerto</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.theform.data.port" name="port" placeholder="Puerto" required>
                <p ng-show="form.port.$error.required && ( vm.formSubmitted || form.port.$touched)" class="help-block">El puerto es obligatorio.</p>
              </div>
            </div>


          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.procesando">{{vm.procesando ? 'Procesando...' : 'Guardar'}}</button>
              <div class="box-footer"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
