<section class="content-header">
  <h1>Enviar EOB al Cliente<!--<small>Module description here</small>--></h1>
    <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->
 </section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                </div>
                <form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
                    <div class="box-body">
                        <div  ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>
                        <div class="with-border">
                            <h4 class="" style="text-align: center !important" >Datos Generales</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 col-md-4" style="text-align: right;">Nombre del Cliente</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.applicant_name"  name="nombre" ng-disabled="true">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 col-md-4" style="text-align: right;">Destinatario</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control"  name="destinatario" ng-model="vm.email" ng-disabled="true">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" align="center" >
                                <label for="input" class="col-sm-4 col-md-4" style="text-align: right;">CC </label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control"  name="Poliza"  ng-model="vm.emailformatdata.data.cc" ng-disabled="true">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" align="center" >
                                <label for="input" class="col-sm-4 col-md-4" style="text-align: right;">Título </label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control"  name="Poliza"  value="Sr/a.: {{vm.applicant_name}}" ng-disabled="true">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" align="center" >
                                <label for="input" class="col-sm-4 col-md-4" style="text-align: right;">Asunto </label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control"  name="Poliza"  value="{{vm.emailformatdata.data.name}}" ng-disabled="true">
                                </div>
                            </div>
                        </div>
                        <div class="with-border">
                            <h4 class="" style="text-align: center !important; border-top: 1px solid #ecf0f5;" >Contenido</h4>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 col-md-4" style="text-align: right;">Asegurado: </label>
                                <div class="col-sm-2 col-md-2">
                                    <p style="text-align: left;">{{vm.insured_name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 col-md-4" style="text-align: right;">Póliza: </label>
                                <div class="col-sm-2 col-md-2" >
                                    <p style="text-align: left;">{{vm.policyNumber}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1 col-md-1"> </div>
                            <div class="col-sm-10 col-md-10" align="center">
                                <table  width="100%"  style="border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-radius: 5px; border-color: grey">
                                    <tr>
                                        <th style="text-align: left;" width="5%"></th>
                                        <th style="text-align: left;" width="10%">N° EOB</th>
                                        <th style="text-align: left;" width="10%">Monto del Reclamo</th>
                                        <th style="text-align: left;" width="15%">Deducible</th>
                                        <th style="text-align: left;" width="15%">Descuentos</th>
                                        <th style="text-align: left;" width="15%">No Cubierto</th>
                                        <th style="text-align: left;" width="15%">Pago a Proveedor</th>
                                        <th style="text-align: left;" width="15%">Reembolso al Cliente</th>
                                    </tr>
                                    <tr ng-repeat="item in vm.allClaims">
                                        <td style="text-align: left;">
                                            <input type="checkbox"  style="height: 23px;width: 23px; position:relative; border:1px solid red; vertical-align: middle;"  title="Seleccionar Factura"  name="invoice{{item.id}}" ng-model="vm.allClaims[item.id].checkInvoice" ng-change="vm.selectInvoice({{item.id}})" ng-disabled="item.liquidated == 1 || item.returned == 1" ng-hide="item.liquidated == 1 || item.returned == 1" align="center" />
                                        </td>
                                        <td style="text-align: left;">
                                            <div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.eob{{item.eob}}.$invalid && ( vm.formSubmitted || uiForm.eob{{item.eob}}.$touched ) }">
                                                
                                                <input type="text" class="form-control" style='font-size: 14px; width: 80%;' name="eob{{item.eob}}" ng-model="vm.eob[item.id].eob" ng-value="{{item.eob}}"  ng-disabled="item.disabled == false" ng-required="vm.allClaims[item.id].checkInvoice" ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" ng-maxlength="20" required ng-placeholder="0000">

                                                
                                                <p ng-show="uiForm.eob{{item.eob}}.$invalid && (vm.formSubmitted || vm.errors.eob{{item.eob}})" class="help-block">{{vm.errors.eob}}</p>
                                            </div>
                                        </td>
                                       
                                        <td style="text-align: left;">{{item.amount | currency: "$ ":2}}</td>
                                        <td style="text-align: left;" >
                                            <input type="number"  class="form-control" style='font-size: 14px; width: 80%;' id="amountDeduc" ng-model="vm.amountDeduc[item.id]" name="amountDeduc{{item.id}}"   ng-pattern="/(\[0-9]{1,2})?$/" min="0.00" step="0.01" ng-maxlength="100" placeholder="0.00" ng-change="vm.changeTotal({{item.id}});"  ng-disabled="item.disabled == false">
                                        </td>
                                        <td style="text-align: left;" >
                                            <input type="number" class="form-control" style='font-size: 14px; width: 80%;'  ng-model="vm.discount[item.id]" name="discount{{item.id}}"   ng-pattern="/(\[0-9]{1,2})?$/" min="0.00" step="0.01" ng-maxlength="100" placeholder="0.00" 
                                            ng-change="vm.changeTotal({{item.id}});" ng-disabled="item.disabled == false">
                                        </td>
                                        <td style="text-align: left;" >
                                            <input type="number"  class="form-control" style='font-size: 14px; width: 80%;' ng-model="vm.cover[item.id]" name="cover{{item.id}}"  ng-pattern="/(\[0-9]{1,2})?$/" min="0.00" step="0.01" ng-maxlength="100" placeholder="0.00" 
                                            ng-change="vm.changeTotal({{item.id}});" ng-disabled="item.disabled == false">
                                        </td>
                                        <td style="text-align: center;" >
                                            <input type="number"  class="form-control" style='font-size: 14px; width: 80%;' ng-model="vm.provider[item.id]" name="provider{{item.id}}"  ng-pattern="/(\[0-9]{1,2})?$/" min="0.00" step="0.01" ng-maxlength="100" placeholder="0.00" 
                                            ng-change="vm.changeTotal({{item.id}});" ng-disabled="item.disabled == false">
                                        </td>
                                        <td style="text-align: left;" >
                                              <b  style="color:#3c8dbc;font-size: 25px;">{{ item.total | currency: "$ ":2 }}</b><b style="color:#3c8dbc;font-size: 24px;" ng-show="item.total == null">$ 0.00</b>
                                        </td>
                                         
                                    </tr>
                                </table>                                
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-sm-1 col-md-1"> </div>
                            <div class="col-sm-10 col-md-10" align="center" style="margin-top:20px;">
                                <table width="100%" >
                                <tr>
                                    <th style="text-align: left;"> Observación</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">
                                        <textarea style="width:100%;" class="form-control" name="observation" placeholder="Observación" rows="3" ng-model="vm.observation"></textarea>
                                    </td>   
                                </tr>
                                </table>    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1 col-md-1"> </div>
                            <div class="col-sm-10 col-md-10 " style="margin-top:20px;"  >
                                <table width="100%">
                                    <tr>
                                        <th style="text-align: left;"> Información de Pago</th>
                                    </tr>
                                     <tr>
                                        <th style="text-align: left; height: 20px;"> </th>
                                    </tr>
                                    <tr>
                                        <th style="text-align: left;" >Forma</th>
                                        <th style="text-align: left;visibility: hidden;" id="thamount">Monto</th>
                                        <th style="text-align: left;visibility: hidden;" id="thcheck"># Cheque</th>
                                        <th style="text-align: left;visibility: hidden;" id="thbank" >Nombre de Banco</th>
                                        
                                    </tr>
                                    <tr>
                                        
                                        <td style="text-align: left;">
                                            <div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.payment_type.$invalid && ( vm.formSubmitted || uiForm.payment_type.$touched ) }">
                                                <select class="form-control" style='font-size: 14px; width: 180px;margin-left: 15px;margin-bottom:0px;' ng-model="vm.systemPayTypes.id" id="payment_type"  ng-change="vm.paydata()" name="payment_type" required>
                                                    <option style="font-size: 14px;" value="">-- Seleccione --</option>
                                                    <option style="font-size: 14px;"  ng-repeat="tipo in vm.systemPayTypes" ng-value="{{tipo.id}}" >{{tipo.name}}</option>
                                                </select>
                                                <p class="help-block">El dato es requerido</p>
                                                <p ng-show="uiForm.payment_type.$invalid && (vm.formSubmitted || vm.errors.payment_type)" class="help-block">{{vm.errors.payment_type}}</p>
                                             </div>
                                        </td>                                        
                                        <td style="text-align: left;" > 
                                            <div class="form-group has-feedback" id="divamount" style="visibility: hidden;" ng-class="{ 'has-error': uiForm.amount.$invalid && ( vm.formSubmitted || uiForm.amount.$touched  ) }">                                                   
                                                <input type="number" class="form-control" style='font-size: 14px; width: 180px;visibility: hidden;' placeholder="  0.00" id="amount" ng-model="vm.amount" name="amount"  required>
                                                <p class="help-block">El dato es requerido</p>
                                                <p ng-show="uiForm.amount.$invalid && (vm.formSubmitted || vm.errors.amount)" class="help-block">{{vm.errors.amount}}</p>
                                             </div>       
                                        </td>                                           
                                        <td style="text-align: left;" >
                                            <div class="form-group" >
                                                <input class="form-control" type="text" id="check" style='font-size: 14px; width: 180px;margin-bottom:33px;visibility: hidden;' name="check" ng-model="vm.check">
                                             </div>    
                                        </td>   
                                        <td style="text-align: left;">   
                                            <div class="form-group">
                                                <input class="form-control" type="text"  style='font-size: 14px; width: 180px;margin-bottom:33px;visibility: hidden;' id="bank" name="bank" ng-model="vm.bank" >
                                            </div>                                       
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-sm-12 col-md-12 col-md-offset-1" align="left">
                                <label for="input" style="text-align: left;">Documentos </label>
                            </div> 
                        </div>
                         &nbsp;
                         <div class="row" >
                            <div class="col-sm-1 col-md-1"> </div>
                            <div class="col-sm-10 col-md-10" align="center">
                            <table width="100%" align="center">
                                  <tr  colspan="5">
                                    <td style="text-align: left vertical-align: middle; font-style: bold" valign="left" width="70">Archivos</td>
                                    <td style="text-align: left;">
                                      <table width="50%" align="left">
                                          <tr ng-repeat="line in vm.lines" HEIGHT="40">
                                            <td style="text-align: left;" >
                                                <input id="file1" name="file{{line.id}}"  style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="vm.myFile[line.id]" file-model="vm.myFile[line.id]" file-input="vm.files[line.id]" >
                                            </td>
                                            </tr>
                                        
                                      </table>
                                    </td>
                                     </tr>
                            </table>         
                            <table width="100%" align="center">
                                <tr>
                                    <td style="text-align: left vertical-align: middle; font-style: bold" valign="left" width="70"></td>
                                     <td style="text-align: left;">
                                      <table width="50%" align="left">
                                          <tr ng-repeat="nline in vm.newlines" HEIGHT="40">
                                            <td style="text-align: left;" >
                                                <input id="file2" name="file2{{nline.id}}"  style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="vm.myFile2[nline.id]" file-model="vm.myFile2[nline.id]" file-input="vm.files2[nline.id]" >
                                            </td>
                                            <td style="text-align: right;" width="15%" align="left"><a  class="btn btn-danger" ng-click="vm.deleteLine(nline.id)" title="Eliminar">
                                                <i class="fa fa-remove"></i>
                                             </a> </td>
                                           
                                          </tr>
                                        
                                      </table>
                                    </td>
                                   
                                  </tr>
                              </table>
                            </div>    
                        </div>  
                       <div class="row">
                        <div class="box-header with-border">
                            <div class="col-sm-1 col-md-1 col-md-offset-1" align="left">
                                    <a class="btn btn-xs btn-primary" ng-click="vm.addFile()" ><i class="fa fa-plus" aria-hidden="true"></i> Agregar Documentos</a>                            
                            </div>        
                        </div>
                       </div> 
                           
                </div>
                            &nbsp;
                        <div class="box-footer">
                            <a ui-sref="app.claim-liquidations" class="btn btn-default">
                                <i class="fa fa-angle-double-left"></i> Regresar
                            </a>                      
                            <button ng-hide="vm.isDisabled" type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">{{vm.isDisabled? 'Enviando' : 'Enviar'}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>       
</section>
