<section class="content-header">
  <h1>Reclamos <!--<small>Module description here</small>--></h1>
  <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Lista de Reclamos</h3>
          <div class="box-tools pull-right">
            <a ui-sref="app.claim-add" class="btn btn-block btn-success btn-xs"><i class="fa fa-plus"></i> Agregar</a>
          </div>
        </div>

        <div class="box-header" ng-if="vm.length>0">
          <div class="box-tools pull-right">
            <input type="checkbox" id="all" ng-model="vm.all" ng-change="vm.selectAll()"> Seleccionar Todos</input>
            <button style="color: #3c8dbc; background-color: #FFF;" title="Despachar Reclamo" ng-disabled="(vm.seleccionados | json) == '[]' && !(vm.all)" class="btn btn-xs btn-primary" ng-click="vm.dispatch(data.id)">Despachar Seleccionados            
            </button>
          </div>
        </div></br>
        <div class="box-body">
          <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
        </div>
      </div>
    </div>
  </div>
</section>
