<section class="content-header">
  <h1>{{vm.title}}
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
				    <div id="wizar" >
					   <table style="margin-left:20px; margin-right: 20px">
                           <tr>
                               <th class="pearl col-xs-2 current ng-scope" align="center" style="text-align: center !important" ng-repeat-start ="data in vm.systemWizar">
                                   <div ng-if="data.order == vm.current_step">
                                       <a style="color: #0080FF;">
                                           <i class="{{data.icon}}" aria-hidden="true" ></i>
									   </a><br>
									   <span class="pearl-title ng-binding">{{data.name}}</span>
								    </div>
								    <div ng-if="data.order !== vm.current_step" style="cursor: pointer;">
									   <a style="color: #A9BCF5" ui-sref="{{data.uisref}} ({policyId: {{vm.policyId}} })">
                                           <i class="{{data.icon}}" aria-hidden="true" ></i>
									   </a><br>
									   <span>{{data.name}}</span>
								    </div>
                               </th>
                               <th ng-repeat-end></th>
                           </tr>
                        </table>
                    </div>
                </div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
                    <div class="box-body">
                        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="with-border">
							<h4 class="" style="text-align: center !important" >Datos Generales</h4>
						</div>
						<div class="row">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 col-md-4" style="text-align: right;">Nombre del Cliente</label>
                                <div class="col-sm-5 col-md-5">
								    <input type="text" class="form-control" ng-model="vm.client"  name="nombre" ng-disabled="true">
								</div>
                            </div>
						</div>
						<br>
						<div class="row">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 col-md-4" style="text-align: right;">Plan / Opción </label>
								<div class="col-sm-5 col-md-5">
								    <input type="text" class="form-control"  name="Plan" ng-model="vm.planDeduc" ng-disabled="true">
								</div>
							</div>
						</div>
						<br>
						<div class="row">
                            <div class="col-sm-12 col-md-12 has-feedback" align="center"  ng-class="{ 'has-error': uiForm.Poliza.$invalid && ( vm.formSubmitted) }">
                                <label for="input" class="col-sm-4 col-md-4" style="text-align: right;"># Póliza </label>
								<div class="col-sm-5 col-md-5">
								    <input type="text" class="form-control" name="Poliza" ng-model="vm.policyinfo[0].number" required ng-disabled="vm.completed == 1" ng-maxlength="20">
                                    <p class="help-block" align="left">El campo es requerido.</p>
								</div>
							</div>
						</div>
						<br>
						<div class="with-border">
                            <h4 class="" style="text-align: center !important; border-top: 1px solid #ecf0f5;" >Afiliados</h4>
						</div>
						<div class="row">
                            <div class="col-sm-2 col-md-2">	</div>
                            <div class="col-sm-8 col-md-8" align="center">
                                <table  width="100%" style="border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-radius: 5px; border-color: grey">
                                    <tr>
                                        <th style="text-align: center;">Nombre</th>
            				            <th style="text-align: center;">Tipo</th>
                                        <th style="text-align: center;">Fecha de Nacimiento</th>
                                        <th style="text-align: center;">Edad</th>
            				            <th style="text-align: center;">Fecha de Efectividad</th>
                                        <th style="text-align: center;">Fecha de Inclusión</th>
                                    </tr>
                                    <tr ng-repeat="item in vm.allAffiliates">
                                        <td style="text-align: center;">{{item.name}}</td>
                                        <td style="text-align: center;">{{item.relationship}}</td>
                                        <td style="text-align: center;">{{item.birthday}}</td>
                                        <td style="text-align: center;">{{item.age}}</td>
                                        <td style="text-align: center;">{{item.effective_Date}}</td>
                                        <td style="text-align: center;">{{item.inclusion_Date}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-2 col-md-2">	</div>
						</div>
						<br>
						<div class="with-border">
                            <h4 class="" style="text-align: center !important; border-top: 1px solid #ecf0f5;" >Enmiendas</h4>
						</div>
						<div class="row" style="padding-left: 52px">
                            <div class="col-sm-3 col-md-3" align="center">
                                <p><strong> Afiliado</strong></p>
                            </div>
                            <div class="col-sm-2 col-md-2" align="center">
                                <p><strong>Fecha de Nacimiento</strong></p>
                            </div>
                            <div class="col-sm-2 col-md-2" align="center">
                                <p><strong>Tipo</strong></p>
                            </div>
                            <div class="col-sm-2 col-md-2" align="center">
                                <p><strong>Descripción</strong></p>
                            </div>
          				</div>

                        <div ng-repeat="line in vm.oldlines_1">
                            <div class="container-fluid con-margin">
                                <div class="row" style="padding-left: 52px">
                                    <br>
                                    <div class="col-sm-3 col-md-3 has-feedback" align="center" ng-class="{ 'has-error': uiForm.oldaffiliate{{line.id}}.$invalid && ( vm.formSubmitted) }">
                                        <td style="text-align: center;">
                                            <select name="oldaffiliate{{line.id}}" class="form-control" ng-model="vm.oldlines_1[$index].affiliate_id" ng-change="vm.oldchangeAffiliate(vm.oldlines_1[$index].affiliate_id,$index)" required ng-disabled="vm.completed == 1">
                                                <option value="">Seleccione</option>
                                                <option ng-repeat="item in vm.allAffiliates" ng-value="item.id">{{item.name}}</option>
                                            </select>
                                        </td>
                                    </div>

                                    <div class="col-sm-2 col-md-2" align="center">
                                        <td style="text-align: center;">
                                            <input type="text"  class="form-control"  name="oldbirthday{{line.id}}" ng-model="vm.oldlines_1[$index].birthdate" disabled>
                                        </td>
                                    </div>

                                    <div class="col-sm-2 col-md-2 has-feedback" align="center" ng-class="{ 'has-error': uiForm.oldtype{{line.id}}.$invalid && ( vm.formSubmitted) }">
                                        <td style="text-align: center;">
                                            <select name="oldtype{{line.id}}" class="form-control" ng-model="vm.oldlines_1[$index].type" required ng-disabled="vm.completed == 1">
                                                <option ng-value="1" selected>Enmienda</option>
                                            </select>
                                        </td>
                                    </div>
                                    <div class="col-sm-2 col-md-4 has-feedback" align="center" ng-class="{ 'has-error': uiForm.olddescription{{line.id}}.$invalid && ( vm.formSubmitted) }" >
                                        <td style="text-align: center">
                                            <textarea class="form-control" style="width: 100%;" name="olddescription{{line.id}}" cols="12" rows="3" ng-model="vm.oldlines_1[$index].description" required ng-disabled="vm.completed == 1"></textarea>
                                        </td>
                                    </div>
                                    <div class="col-sm-1 col-md-1" ng-hide="vm.completed == 1">
                                        <a ng-click="vm.olddeleteLine_1(line)" class="btn btn-sm btn-danger">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                        </div>

          				<div ng-repeat="line in vm.lines_1">
                            <div class="container-fluid con-margin">
                                <div class="row" style="padding-left: 52px">
                                    <br>
                                    <div class="col-sm-3 col-md-3 has-feedback" align="center" ng-class="{ 'has-error': uiForm.affiliate{{line.id}}.$invalid && ( vm.formSubmitted) }">
                                        <td style="text-align: center;">
                                            <select name="affiliate{{line.id}}" class="form-control" ng-model="vm.lines_1[$index].affiliate" ng-change="vm.changeAffiliate(vm.lines_1[$index].affiliate,$index)" required>
                                                <option value="">Seleccione</option>
                                                <option ng-repeat="item in vm.allAffiliates" value="{{item.id}}">{{item.name}}</option>
                                            </select>
                                        </td>
                                    </div>

                                    <div class="col-sm-2 col-md-2" align="center">
                                        <td style="text-align: center;">
                                            <input type="text"  class="form-control"  name="birthday{{line.id}}" ng-model="vm.birthdayaffiliate[$index]" disabled>
                                        </td>
                                    </div>

                                    <div class="col-sm-2 col-md-2 has-feedback" align="center" ng-class="{ 'has-error': uiForm.type{{line.id}}.$invalid && ( vm.formSubmitted) }">
                                        <td style="text-align: center;">
                                            <select name="type{{line.id}}" class="form-control" ng-model="vm.lines_1[$index].type" required>
                                                <option ng-value="1" selected>Enmienda</option>
                                            </select>
                                        </td>
                                    </div>
                                    <div class="col-sm-2 col-md-4 has-feedback" align="center" ng-class="{ 'has-error': uiForm.description{{line.id}}.$invalid && ( vm.formSubmitted) }" >
                                        <td style="text-align: center">
                                            <textarea class="form-control" style="width: 100%;" name="description{{line.id}}" cols="12" rows="3" ng-model="vm.lines_1[$index].description" required></textarea>
                                        </td>
                                    </div>
                                    <div class="col-sm-1 col-md-1">
                                        <button ng-click="vm.deleteLine_1()" class="btn btn-sm btn-danger">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                        </div>

						<div ng-hide="vm.completed == 1" class="row" style="padding-left: 52px">
                            <div class="col-sm-2 col-md-2">
                                <div class="box-header with-border">
                                    <h3 class="box-title"></h3>
                                    <a class="btn btn-xs btn-primary" ng-click="vm.addFile_1()" ><i class="fa fa-plus" aria-hidden="true"> Agregar Enmienda</i></a>
                                </div>
					    	</div>
					    </div>
						<br>
						<div class="with-border">
							<h4 class="" style="text-align: center !important; border-top: 1px solid #ecf0f5;" >Anexos</h4>
						</div>
						<div class="row" style="padding-left: 39px">
                            <div class="col-sm-3 col-md-3" align="center">
                                <p>
                                    <strong> Afiliado</strong>
                                </p>
                            </div>
                            <div class="col-sm-4 col-md-4" align="center">
                                <p>
                                    <strong>Fecha  Efectiva</strong>
                                </p>
                            </div>
                            <div class="col-sm-2 col-md-2" align="center">
                                <p>
                                    <strong>Anexo</strong>
                                </p>
                            </div>
                        </div>

                        <div ng-repeat="line in vm.oldlines">
                            <div class="container-fluid con-margin">
                                <div class="row" style="padding-left: 55px">
                                    <br>
                                    <div class="col-sm-3 col-md-3" align="center" ng-class="{ 'has-error': uiForm.oldaffiliate2{{line.id}}.$invalid && ( vm.formSubmitted) }">
                                        <td style="text-align: center;">
                                            <select name="oldaffiliate2{{line.id}}" class="form-control" ng-model="vm.oldlines[$index].affiliate_id" required ng-disabled="vm.completed == 1">
                                                <option value="">Seleccione</option>
                                                <option ng-repeat="item in vm.allAffiliates" ng-value="{{item.id}}">{{item.name}}</option>
                                            </select>
                                        </td>
                                    </div>
                                    <div class="col-sm-3 col-md-4" align="center" ng-class="{ 'has-error': uiForm.olddate{{line.id}}.$invalid && ( vm.formSubmitted) }">
                                        <td style="text-align: center;">
                                            <input type="date"  class="form-control" name="olddate{{line.id}}" ng-model="vm.oldlines[$index].effective_date" required ng-disabled="vm.completed == 1">
                                        </td>
                                    </div>
                                    <div class="col-sm-4 col-md-4" align="center" ng-class="{ 'has-error': uiForm.oldanex{{line.id}}.$invalid && ( vm.formSubmitted) }">
                                        <td style="text-align: center;">
                                            <textarea class="form-control"  name="oldanex{{line.id}}" ng-model="vm.oldlines[$index].annex" required ng-disabled="vm.completed == 1" rows="3"></textarea> 
                                        </td>
                                    </div>
                                    <div ng-hide="vm.completed == 1" class="col-sm-1 col-md-1">
                                        <button ng-click="vm.olddeleteLine(line)" class="btn btn-sm btn-danger">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                        </div>

          				<div ng-repeat="line in vm.lines">
                            <div class="container-fluid con-margin">
                                <div class="row" style="padding-left: 55px">
                                    <br>
                                    <div class="col-sm-3 col-md-3" align="center" ng-class="{ 'has-error': uiForm.affiliate2{{line.id}}.$invalid && ( vm.formSubmitted) }">
                                        <td style="text-align: center;">
                                            <select name="affiliate2{{line.id}}" class="form-control" ng-model="vm.lines[$index].affiliate" required>
                                                <option value="">Seleccione</option>
                                                <option ng-repeat="item in vm.allAffiliates" value="{{item.id}}">{{item.name}}</option>
                                            </select>
                                        </td>
                                    </div>
                                    <div class="col-sm-3 col-md-4" align="center" ng-class="{ 'has-error': uiForm.date{{line.id}}.$invalid && ( vm.formSubmitted) }">
                                        <td style="text-align: center;">
                                            <input type="date"  class="form-control" name="date{{line.id}}" ng-model="vm.lines[$index].effective_date" min={{vm.policyinfo[0].effective_date}} value={{vm.policyinfo[0].effective_date}}>
                                        </td>
                                    </div>
                                    <div class="col-sm-4 col-md-4" align="center" ng-class="{ 'has-error': uiForm.anex{{line.id}}.$invalid && ( vm.formSubmitted) }">
                                        <td style="text-align: center;">
                                            <textarea  class="form-control"  name="anex{{line.id}}" ng-model="vm.lines[$index].annex" required rows="3" ></textarea>
                                        </td>
                                    </div>
                                    <div class="col-sm-1 col-md-1">
                                        <button ng-click="vm.deleteLine(line)" class="btn btn-sm btn-danger">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                        </div>
						<br>

						<div ng-hide="vm.completed == 1" class="row" style="padding-left: 55px">
                            <!--<div class="col-sm-2 col-md-2">	</div>-->
                            <div class="col-sm-2 col-md-2">
                                <div class="box-header with-border">
                                    <h3 class="box-title"></h3>
                                    <a class="btn btn-xs btn-primary" ng-click="vm.addFile()" >
                                        <i class="fa fa-plus" aria-hidden="true"> Agregar Anexo</i>
                                    </a>
                                </div>
					    	</div>
					    </div>

                        <div class="with-border">
                            <h4 class="" style="text-align: center !important; border-top: 1px solid #ecf0f5;" >Pagos</h4>
						</div>

                        <div class="container-fluid con-margin">
                            <div class="row" style="padding-left: 55px">
                                <div class="form-group">
                                    <strong>Paga SSC: </strong> <input type="checkbox" name="ssc" ng-model="vm.tax_ssc" ng-change="vm.changeTaxSsc()" ng-disabled="false">
                                </div>
                                <div class="form-group">
                                    <strong>Fecha Efectividad: </strong> {{vm.policyinfo[0].effective_date}}
                                </div>
                                <div class="form-group">
                                    <strong>Modo de pago: </strong>{{vm.payment_type}}
                                </div>
                            </div>

                            <div class="row" style="padding-left: 40px" ng-repeat="fee in vm.fees">
                                <div class="form-group">
                                    <strong class="col-xs-12 col-sm-3">Cuota {{fee.fee_id}} </strong> </br>
                                    <strong class="col-xs-12 col-sm-3">Fecha de Pago: {{vm.fees[$index].fee_payment_date | date:'yyyy-MM-dd'}}</strong>
                                    <div class="col-xs-12 col-sm-9 col-md-6">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Detalle</th>
                                                    <th style="text-align: right">Valor</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="detail in vm.fees[$index].details" ng-if="detail.value > 0">
                                                    <td>{{detail.id}}</td>
                                                    <td>{{detail.detail}}</td>
                                                    <td style="text-align: right">${{detail.value  | number:2}}</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td colspan="2">
                                                        <strong>Descuentos</strong>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                <tr ng-repeat="discount in vm.fees[$index].discounts">
                                                    <td>{{discount.id}}</td>
                                                    <td>{{discount.detail}}</td>
                                                    <td style="text-align: right">${{discount.value  | number:2}}</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td colspan="2">
                                                        <strong>Impuestos</strong>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                <tr ng-repeat="tax in vm.fees[$index].taxes">
                                                    <td>{{tax.id}}</td>
                                                    <td>{{tax.detail}}</td>
                                                    <td style="text-align: right">${{tax.value  | number:2}}</td>
                                                    <td> <input ng-show="tax.check " type="checkbox" ng-model="vm.fees[fee.fee_id-1].taxes[$index].checkvalue" ng-change="vm.changeAdminFee(fee.fee_id-1,$index)" ng-disabled="vm.completed == 1"></td>
                                                </tr>
                                                <tr>
                                                <!--<tr>
                                                    <td></td>
                                                    <td>
                                                        <strong>Fecha de Pago</strong>
                                                    </td>
                                                    <td style="text-align: right">{{vm.fees[$index].fee_payment_date | date:'yyyy-MM-dd'}}
                                                    </td>
                                                    <td></td>
                                                </tr>-->
                                                    <td></td>
                                                    <td>
                                                        <strong>Total Cuota</strong>
                                                    </td>
                                                    <td style="text-align: right">{{vm.fees[$index].total | number:2}}
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <p> Total a Pagar:
                                    <strong>$ {{vm.total | number:2}}</strong>
                                </p>
                            </div>

                        </div>
                    </div>
					<div class="box-footer">
                        <a ui-sref="{{vm.uisrefback}}" class="btn btn-default">
                            <i class="fa fa-angle-double-left"></i> Regresar
                        </a>
						<button ng-hide="vm.completed == 1" type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">{{vm.isDisabled ? 'Guardando' : 'Guardar'}}</button>
					</div>
				</form>
</section>
