<section class="content-header">
  <h1>Hospitales</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Hospital</h3>
        </div>
        <form class="form-horizontal" name="registerForm" ng-submit="vm.save(registerForm.$valid)" novalidate>

          <div class="box-body">
            <div class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.name.$invalid && ( vm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Nombre" ng-model="vm.hospitaleditdata.data.name" name="name" ng-maxlength="100" required>
                <span class="fa fa-university form-control-feedback"></span>
                <p class="help-block">El campo nombre es requerido.</p>
                <p ng-show="registerForm.abbreviation.$error.maxlength" class="help-block">El campo nombre es muy largo.</p>
                <p ng-show="registerForm.name.$invalid && (vm.formSubmitted || vm.errors.name)" class="help-block">{{vm.errors.name}}</p>
              </div>
            </div>


            <div class="form-group  has-feedback" ng-class="{ 'has-error': registerForm.country.$invalid && ( vm.formSubmitted || registerForm.country.$touched) }">
                <label for="input" class="col-sm-2 control-label">País</label>
				<div class="col-sm-10">
				    <select class="form-control" style='font-size: 14px;' placeholder="País" ng-model="vm.hospitaleditdata.data.country_id" name="country" ng-change="vm.getState();" required>
                        <option style="font-size: 17px" ng-repeat="country in vm.systemCountrys" ng-value="{{country.id}}">{{country.name}}</option>
                    </select>
                    <p class="help-block">El campo país es requerido.</p>
				</div>
              </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.state.$invalid && ( vm.formSubmitted || registerForm.state.$touched) }">
				<label for="input" class="col-sm-2 control-label">Provincia</label>
				<div class="col-sm-10">
				    <select class="form-control" style='font-size: 14px;' placeholder="Provincia" ng-model="vm.hospitaleditdata.data.province_id" name="state" ng-change="vm.getCity();" required>
				        <option style="font-size: 17px" ng-repeat="state in vm.systemStates" ng-value="{{state.id}}" >{{state.name}}</option>
				    </select>
				    <p class="help-block">El campo provincia es requerido.</p>
				</div>
              </div>
            <div class="form-group" ng-class="{ 'has-error': registerForm.city.$invalid && ( vm.formSubmitted || registerForm.city.$touched) }">
                <label for="input" class="col-sm-2 control-label">Ciudad</label>
				<div class="col-sm-10">
				    <input type="text" class="form-control" name="city" ng-model="vm.hospitaleditdata.data.city" required>
            <p class="help-block">El campo ciudad es requerido.</p>
				</div>
              </div>


            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.address.$invalid && ( vm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Dirección</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Dirección" ng-model="vm.hospitaleditdata.data.address" name="address" ng-maxlength="300" required>
                <span class="fa fa-university form-control-feedback"></span>
                <p class="help-block">El campo dirección es requerido.</p>
                <p ng-show="registerForm.address.$error.maxlength" class="help-block">El campo dirección es muy largo.</p>
                <p ng-show="registerForm.address.$invalid && (vm.formSubmitted || vm.errors.address)" class="help-block">{{vm.errors.address}}</p>
              </div>
            </div>


            <!--<div class="form-group">
              <label for="inputEmail3" style="text-align: left; padding-left: 40px;" class="col-sm-12 control-label">Especialidades</label>
              <div class="col-sm-12" style="padding-left: 40px;">
                <div class="checkbox" ng-repeat="speciality in vm.specialties">
                  <label>
                    <input type="checkbox" checklist-model="vm.hospitaleditdata.data.activespecialities" checklist-value="speciality.id"> {{speciality.name}}
                  </label>
                </div>
              </div>
            </div>-->




          <div class="box-footer">
            <a ui-sref="app.hospital-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
