<section class="content-header">
    <h1>Enviar EOB  - Diagnósticos de Reclamo</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Póliza: {{vm.policyNumber}}</h3>
                    <br>
                    <h3 class="box-title">Reclamo: {{vm.claimId}}</h3>
                </div>
                <div class="box-body">
                    <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" style="vertical-align: bottom;">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/ng-template" id="myModalDocument">

 <form class="form-horizontal" name="uiForm" ng-submit="mvm.save(uiForm.$valid)" novalidate>
                    <div class="box-body" style="overflow-x:scroll;">
                         <div class="modal-header">
                            <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                          <h3 class="modal-title" style="text-align: center">Diagnostico: {{mvm.diagnostic_id}} | {{mvm.customer}}</h3>
                    </div>

                        <fieldset>
                           <table style="border-collapse: separate; border-spacing: 8px; overflow-x:scroll;"> 
                              <table style="border-collapse: separate; border-spacing: 8px; overflow-x:scroll;" ng-repeat="line in mvm.lines">
    
                                  <tr  style="height: 120px">
                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                             <div class="form-group" ng-class="{ 'has-error': uiForm.doc_type_id{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.doc_type_id{{line.id}}.$touched) }">
                                             <label for="doc_type_id{{line.id}}">Tipo de Documento</label>
                                                <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="mvm.doc_typeselected[line.id]" name="doc_type_id{{line.id}}" ng-change="mvm.changeDocType(line.id,1);" required>

                                                    <option style="font-size: 17px" ng-repeat="doc in mvm.systemDocTypes" ng-value="{{doc.id}}" ng-selected="{{1 == doc.id}}">{{doc.name}}</option>
                                                </select>
                                                <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
                                    </td>

                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                             <div class="form-group" ng-class="{ 'has-error': uiForm.provider_id{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.provider_id{{line.id}}.$touched) }">
                                                <label for="doc_type_id{{line.id}}">Proveedor</label>

                                                <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="mvm.provider_id[line.id]" name="provider_id{{line.id}}" required >
                                                    <option style="font-size: 17px" value="">- Seleccione -</option>
                                                    <option style="font-size: 17px" ng-repeat="doc in mvm.systemProviders" ng-value="{{doc.id}}" >{{doc.name}}</option>
                                                </select>
                                                <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
                                    </td>

                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                            <div class="form-group" ng-class="{ 'has-error': uiForm.description{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.description{{line.id}}.$touched) }">
                                                <label for="doc_type_id{{line.id}}">Descripción</label>

                                                    <input type="text" class="form-control" style='font-size: 14px; width: 150px;' ng-model="mvm.description[line.id]" name="description{{line.id}}" placeholder="# Documento" required  ng-if="mvm.typeDocNew[line.id].value == 1">

                                                <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="mvm.description[line.id]" name="description{{line.id}}"  required ng-if="(mvm.typeDocNew[line.id].value == 2) || (mvm.typeDocNew[line.id].value == 4)">

                                                    <option value="">- Seleccione -</option>
                                                    <option style="font-size: 17px" ng-repeat="des in mvm.systemDescription" ng-value="{{des.id}}" ng-selected="{{des.id == 'Terapias'}}">{{des.name}}</option>
                                                   
                                                </select>


                                                 <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="mvm.description[line.id]" name="description{{line.id}}"  required ng-if="mvm.typeDocNew[line.id].value == 3">
                                                    <option value="">- Seleccione -</option>
                                                    <option style="font-size: 17px" ng-repeat="des in mvm.systemDescription2" ng-value="{{des.id}}" >{{des.name}}</option>
                                                </select>

                                                <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
                                    </td>

                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                             <div class="form-group" ng-class="{ 'has-error': uiForm.currency_id{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.currency_id{{line.id}}.$touched) }">
                                                <label for="doc_type_id{{line.id}}">Moneda</label>
                                                <select ng-disabled="line.disabled == true" class="form-control" style='font-size: 14px; width: 80px;' ng-model="mvm.curency_selected[line.id]" name="currency_id{{line.id}}" required >
                                                    <option style="font-size: 17px" ng-repeat="doc in mvm.systemCurrency" ng-value="{{doc.id}}" >{{doc.iso}}</option>
                                                </select>
                                                <p class="help-block">{{line.rep}} Requerido.</p>
                                            </div>
                                        </div>
                                    </td>

                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                            <div class="form-group" ng-class="{ 'has-error': uiForm.value{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.value{{line.id}}.$touched) }">
                                                <label for="value{{line.id}}">Monto</label>
                                                <input ng-disabled="line.disabled == true" type="number" class="form-control" style='font-size: 14px; width: 70px;' ng-model="mvm.value[line.id]" ng-pattern="/(\[0-9]{1,2})?$/" min="0.01" step="0.01" ng-maxlength="100"  name="value{{line.id}}" placeholder="0.00" ng-required="line.disabled == false">
                                                <p class="help-block">{{line.rep}} Requerido.</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                            <div class="form-group" ng-class="{ 'has-error': uiForm.doc_date{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.doc_date{{line.id}}.$touched) }">
                                                <label for="doc_date{{line.id}}">Fecha</label>
                                                  <input type="date" class="form-control" style='font-size: 14px; width: 150px;' ng-model="mvm.doc_date[line.id]" name="doc_date{{line.id}}" placeholder="dd/mm/aaaa" required>

                                                  <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
                                    </td>

                                   
                                    <th></th>
                                    
                                    <!--<td>
                                        <input type="checkbox" style="height: 37px;width: 32px; padding-bottom: 8px;" ng-disabled="true">
                                    </td>-->
                                    <!--<td>
                                        <div class="col-sm-12 col-md-8" style="">
                                            <div class="form-group">
                                              <button class="btn btn-primary" ng-disabled="pline.documents.pending_doc !== 1"  ng-click="vm.noPending(pline.documents.id)" title="Documento Pendiente">
                                                  <i class="fa fa-clock-o"></i>
                                              </button>
                                          </div>
                                        </div>
                                    </td>-->
                                    <!--<td style="height: 120px !important">
                                        <div class="col-sm-12 col-md-8" style="height: 120px !important">
                                            <div class="form-group">
                                            <label for="doc_type_id{{line.id}}">Acciones </label>
                                             <a  class="btn btn-danger" ng-click="mvm.deleteLine(line)" title="Eliminar">
                                                <i class="fa fa-remove"></i>
                                             </a>                                            
                                            </div>
                                        </div>
                                    </td> -->
                             </tr>       
                             <tr style="height: 120px">
                                 <th colspan="2" style="height: 120px !important; white-space: nowrap">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important; white-space: nowrap; width: 300px">
                                            <div class="form-group" ng-class="{ 'has-error': uiForm.file{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.file{{line.id}}.$touched) }">
                                                <label for="file{{line.id}}">Archivo</label>
                                                 <input id="file1" name="file{{line.id}}" class="form-control" style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="mvm.myFile[line.id]" file-model="mvm.myFile[line.id]" file-input="mvm.files[line.id]"  required>
                                                <p class="help-block">Este campo es requerido.</p>
                                            </div>
                                        </div>
                                </th>       
                                <td style="height: 120px !important;" valign="bottom" ng-if="line.id > 0">
                                        <div class="col-sm-12 col-md-8" style="height: 120px !important">
                                            <div class="form-group" style="height: 120px !important;">
                                            <label></label>
                                             <a  class="btn btn-danger"  ng-click="mvm.deleteLine(line)" title="Eliminar">
                                                <i class="fa fa-remove"></i>
                                             </a>                                            
                                            </div>
                                        </div>
                                </td>
                            </tr>         
                        </table>  
                    </table>  
                                  
                        <div class="box-header with-border">
                                    <a class="btn btn-xs btn-primary" ng-click="mvm.addFile()" ><i class="fa fa-plus" aria-hidden="true"></i> Agregar Documentos</a>                            
                        </div>
                          
                        </fieldset>
                    </div>
                    <div class="box-footer">
                        <!--<a ui-sref="app.claim-claim-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a> -->      
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="mvm.processing">{{mvm.processing ? 'Guardando' : 'Guardar'}}</button>
                    </div>
                </form>
</script>
