<section class="content-header">
  <h1>Emisiones Pendientes<!--<small>Module description here</small>--></h1>
  <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Lista de Pólizas</h3>
          <!--<div class="box-tools pull-right">
            <a ui-sref="app.policy-add" class="btn btn-block btn-success btn-xs"><i class="fa fa-plus"></i> Agregar</a>
          </div>-->
        </div>
        <div class="box-body">
          <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/ng-template" id="myModalInContent">
  <form class="form-horizontal" name="registerForm" ng-submit="vm.save(registerForm.$valid)" novalidate>  
    <div class="modal-header">
      <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h3 class="modal-title" style="text-align: center">Respuesta del Cliente</h3>
    </div>
    </br>
    <p style="padding-left: 20px; font-family: Montserrat ; font-size: 17px" >
      El Cliente <b>{{mvm.customer}}</b> desea la Póliza?
    </p>

    
    <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
      <button class="btn btn-danger" ng-disabled="vm.isDisabled" type="button" ng-click="mvm.saveResponse('0', mvm.id)">No</button>
      &nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary" ng-disabled="vm.isDisabled" type="button" ng-click="mvm.saveResponse('1', mvm.id)">Sí</button>      
    </div>
  </form>
</script>

<script type="text/ng-template" id="myModalDocContent">
  <form class="form-horizontal" name="registerForm" ng-submit="vm.save(registerForm.$valid)" novalidate>  
    <div class="modal-header">
      <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h3 class="modal-title" style="text-align: center">Enviar Documentos a Recepción</h3>
    </div>
    </br>
    <p style="padding-left: 20px; font-family: Montserrat ; font-size: 17px" >
      Desea enviar los datos de la póliza del cliente <b>{{mvm.customer}}</b> a Recepción?
    </p>

    
    <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
      <button class="btn btn-danger" type="button" ng-click="mvm.cancel()" data-dismiss="modal">Cancelar</button>
      &nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary" style="width: 78px" type="button" ng-click="mvm.saveDocs('1', mvm.id)">Sí</button>      
    </div>
  </form>
</script>

<script type="text/ng-template" id="myModalDelete">
 <form class="form-horizontal" name="regForm" ng-submit="mvm.deletePolicy(regForm.$valid)" novalidate>
                    <div class="box-body" style="overflow-x:scroll;">
                         <div class="modal-header">
                            <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                          <h3 class="modal-title" style="text-align: center">Motivo de Eliminación : {{mvm.id}} |  {{mvm.customer}} </h3>
                    </div>

                        <fieldset>
                           <table style="border-collapse: separate; border-spacing: 8px; overflow-x:scroll;" align="center">
                                  <tr  style="height: 120px">
                           
                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                             <div class="form-group" ng-class="{ 'has-error': regForm.motive.$invalid && ( mvm.formSubmitted || regForm.motive.$touched) }">
                                                <select class="form-control" style='font-size: 14px; width: 250px;' ng-model="mvm.motive" name="motive" ng-change="mvm.changeMotive();" required > 
                            <option style="font-size: 17px"  ng-value="0" ng-selected="0 == 0">- Seleccione -</option>

                                                  <option style="font-size: 17px" ng-repeat="doc in mvm.systemMotive" ng-value="{{doc.id}}">{{doc.name}}</option>
                                                   
                                                </select>
                                                <p class="help-block">Requerido.</p>
                        
                                            </div>
                                        </div>
                                    </td>            
                              </tr>
                             
                              <div class="col-xs-12" align="center">
                                                <span style="font-family:sans-serif  ;color: #FE0000; font-size: 14px">{{mvm.alert}}</span>
                              </div>
                           
                             
                        </table>  
         
                        </fieldset>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="mvm.processing">{{mvm.deleting ? 'Eliminar' : 'Eliminando'}}</button>
                    </div>
                </form>
</script>
