<section class="content-header">
    <h1>Creación de Póliza
        <a class="btn btn-xs btn-danger pull-right" style="font-family: cursive;font-weight: bold;" title="Salir" ui-sref="app.emission-policy-lists">X</a>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box box-primary">
                <div class="box-header">
				    <div id="wizar" >
					   <table style="margin-left:20px; margin-right: 20px" width="100%">
                           <tr>
                               <th class="pearl col-xs-2 current ng-scope" align="center" style="text-align: center !important" ng-repeat-start ="data in vm.systemWizar">
                                   <!--<div ng-if="data.order == vm.current_step">
                                       <a style="color: #0080FF;">
                                        <i class="{{data.icon}}" aria-hidden="true" ></i>
									   </a><br>
									   <span class="pearl-title ng-binding">{{data.name}}</span>
								    </div>-->
                                    <div style="cursor: pointer;">
                                       <a ng-style="{'color': data.order != vm.current_step ? '#A9BCF5' : '#0080FF'}" ui-sref="{{data.uisref}}({policyId: {{vm.policyId}}})">
										<i class="{{data.icon}}" aria-hidden="true" ></i>
									</a><br>
									<span>{{data.name}}</span>
								</div>
							</th>
							<th ng-repeat-end></th>
						  </tr>
					   </table>
				    </div>
				</div>
				<div class="strike" style="width: 100%; height: 30px; text-align: center">
                    <span class="" style="text-align: center !important;" >Documentos</span>
                </div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>						
					</div>
                    <div class="box-body">
                    <fieldset>
                        <div class="box-header with-border">
                            <h3 class="box-title">Documentos</h3>
                            <a class="btn btn-xs btn-primary" ng-click="vm.addNewLine()" ng-hide="vm.completed == 1"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            <!--<a class="btn btn-xs btn-primary" ng-click="vm.mostrar()" ><i class="fa fa-plus" aria-hidden="true"></i>Mostrar</a>-->
                        </div>
						<table  style="border-collapse: separate; border-spacing: 10px; overflow-x: scroll; width:100%">
                            <tr ng-repeat="file in vm.lines">
						    <td style="width:20% !important">
							    <div class="col-sm-12">
                                    <div class="form-group" ng-class="{ 'has-error': uiForm.doc_type_id{{file.id}}.$invalid && ( vm.formSubmitted || uiForm.doc_type_id{{fileid}}.$touched) }">
                                        <select class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.lines[$index].id_doc_type" name="doc_type_id{{file.id}}" required ng-disabled="vm.completed == 1">
							    	        <option style="font-size: 17px" ng-repeat="doc in vm.systemDocTypes" ng-value="{{doc.id}}" ng-selected="{{1 == doc.id}}">{{doc.name}}</option>
								    </select>
                                    <p class="help-block">Este campo es requerido.</p>
                                    </div>
						    	</div>
							</td>
						    <td style="width:20% !important">
                                <div class="col-sm-12">
                                    <div class="form-group" ng-class="{ 'has-error': uiForm.description{{file.id}}.$invalid && ( vm.formSubmitted || uiForm.description{{file.id}}.$touched) }">
                                        <input type="text" class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.lines[$index].description" name="description{{file.id}}" placeholder="Descripción" required ng-disabled="vm.completed == 1">
                                        <p class="help-block">Este campo es requerido.</p>
                                    </div>
						    	</div>
						    </td>
                            <td style="width:30% !important" ng-hide="vm.completed == 1">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group" ng-class="{ 'has-error': uiForm.file{{file.id}}.$invalid && ( vm.formSubmitted || uiForm.file{{file.id}}.$touched) }">
                                        <input id="file1" name="file{{file.id}}" class="form-control" style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="vm.myFile2[$index]" file-model="vm.myFile2[$index]" file-input="vm.files2[$index]" >
                                        <p class="help-block">Este campo es requerido.</p>
                                    </div>
                                </div>
                            </td>
                            <th style="width:30% !important">
                                <a ng-hide="vm.myFile2[$index]" style="font-size: 14px" ng-href="{{file.directory}}/{{file.filename}}" target="_blank">{{file.filename}}</a>
                                <br>
                                <br>
                                <br>
                            </th>
                            <th ng-hide="vm.completed == 1">
                                <a class="btn btn-danger" ng-click="vm.deleteLine(file)" >
						    		<i class="fa fa-remove"></i>
                                </a>
                                <br>
                                <br>
                                <br>
                            </th>  
						  </tr>
                        <tr ng-repeat="nline in vm.newlines">
                            <td>
                                <div class="col-sm-10 col-md-10">
                                    <div class="form-group" ng-class="{ 'has-error': uiForm.doc_type_id{{nline.id}}.$invalid && ( vm.formSubmitted || uiForm.doc_type_id{{nline.id}}.$touched) }">
                                        <select class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.doc_typeselected[nline.id]" name="doc_type_id{{nline.id}}" required >
							    	        <option style="font-size: 17px" ng-repeat="doc in vm.systemDocTypes" ng-value="{{doc.id}}" ng-selected="{{1 == doc.id}}">{{doc.name}}</option>
								        </select>
                                        <p class="help-block">Este campo es requerido.</p>
                                    </div>
                                </div>
							 </td>
                            <td>
                                <div class="col-sm-8 col-md-8">
                                    <div class="form-group" ng-class="{ 'has-error': uiForm.description{{nline.id}}.$invalid && ( vm.formSubmitted || uiForm.description{{nline.id}}.$touched) }">
						    	         <input type="text" class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.description[nline.id]" name="description{{nline.id}}" placeholder="Descripción" required>
                                        <p class="help-block">Este campo es requerido.</p>
                                    </div>
                                </div>
						  </td>
						  <td>
                              <div class="col-sm-12 col-md-12">
                                  <div class="form-group" ng-class="{ 'has-error': uiForm.file{{nline.id}}.$invalid && ( vm.formSubmitted || uiForm.file{{nline.id}}.$touched) }">
                                      <input id="file1" name="file{{nline.id}}" class="form-control" style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="vm.myFile[nline.id]" file-model="vm.myFile[nline.id]" file-input="vm.files[nline.id]"  required>
                                            <p class="help-block">Este campo es requerido.</p>
                                </div>
                            </div>
						  </td>
						  <td>
                              <div class="col-sm-12 col-md-12">
                                  <div class="form-group">
                                      <a  class="btn btn-danger" ng-click="vm.deleteNewLine(nline)" >
                                          <i class="fa fa-remove"></i>
                                      </a>
                                      <p class="help-block">Eliminar</p>
                                  </div>
                              </div>
						  </td>
				        </tr> 
				    </table>
			     </fieldset>
                    </div>
                <div class="box-footer">
				    <a ui-sref="{{vm.uisrefback}}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
				    <button ng-hide="vm.completed == 1" type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">{{vm.isDisabled ? 'Guardando' : 'Guardar'}} <i class="fa fa-angle-double-right"></i></button>
				</div>
            </form>
        </div>
    </div>
</div>
</section>
