<section class="content-header">
  <h1>
    <a ui-sref="app.deductible-lists({ planId: vm.deductibleeditdata.data.plan_id })" class="btn btn-default btn-sm"><i class="fa fa-angle-double-left"></i></a> Detalles de Deducibles
  </h1> 
  <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li class="active">Lista de Agentes</li>
  </ol>-->

</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Plan: <strong>{{ vm.planeditdata.data.name }} </strong></h3>
          <br/>
          <h3 class="box-title">Deducible: <strong>{{ vm.deductibleeditdata.data.name }} </strong></h3>
          <div class="box-tools pull-right">
            <a ui-sref="app.deductible-details-add({deductibleId: vm.deductibleeditdata.data.id })" class="btn btn-block btn-success btn-xs"><i class="fa fa-plus"></i> Agregar</a>
          </div>
        </div>
        <div class="box-body">
          <p><strong>Deducibles</strong></p>
          <table datatable="" 
            width="100%" 
            class="table table-striped table-bordered" 
            ng-if="vm.displayTable" 
            dt-options="vm.dtOptions" 
            dt-columns="vm.dtColumns">
          </table>
          <p><strong>Niños</strong></p>
          <table datatable="" 
            width="100%" 
            class="table table-striped table-bordered" 
            ng-if="vm.displayTableD" 
            dt-options="vm.dtOptionsD" 
            dt-columns="vm.dtColumnsD">
          </table>
        </div>
        <div class="box-footer"></div>
      </div>
    </div>
  </div>
</section>
