<section class="content-header">
    <h1>{{vm.title}}</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Liquidaciones de Facturas</h3>
                    <div class="box-header">
                        <div class="box-tools pull-right">
                            <label ng-hide="vm.checkedAll" for="all" >Seleccionar Todos</label>
                            <input type="checkbox" id="all" ng-model="vm.all" ng-change="vm.selectAll()" ng-hide="vm.checkedAll"></input>
                            <button style="color: #3c8dbc; background-color: #FFF;" title="Despachar Reclamo" ng-disabled=" !(vm.active) && !(vm.all)" class="btn btn-xs btn-primary" ng-click="vm.liquidate()" ng-hide="vm.checkedAll">Liquidar Seleccionados 
                            </button>
                        </div>
                    </div></br>
                </div>

					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
				        <fieldset>
                            <table style="border-collapse: separate; border-spacing: 8px; overflow-x:scroll;">
                                <tr ng-repeat="invoice in vm.invoices" style="height: 120px">
                                    
                                    <td>
                                        <div class="form-group">
                                            <label>Paciente</label>
                                            <input type="text" class="form-control" style='font-size: 14px; width: 240px;' ng-model="vm.invoices[$index].names" disabled>                                            
                                        </div>
                                    </td>
                                    

						            <td>
                                        <div class="form-group">
                                            <label>Descripción</label>
                                            <input type="text" class="form-control" style='font-size: 14px; width: 240px;' ng-model="vm.invoices[$index].diagnostics.description" disabled>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-group">
                                            <label>Moneda</label>
                                            <select class="form-control" style='font-size: 14px; width: 90px;' ng-model="vm.invoices[$index].diagnostics.currency_id" disabled >
                                                <option style="font-size: 17px" ng-repeat="doc in vm.systemCurrency" ng-value="{{doc.id}}" >{{doc.iso}}</option>
                                            </select>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-group">
                                            <label>Monto</label>
                                            <input type="number" class="form-control" style='font-size: 14px; width: 70px;' ng-model="vm.invoices[$index].diagnostics.amount" ng-pattern="/(\[0-9]{1,2})?$/" min="0.01" step="0.01" ng-maxlength="100" disabled>
                                        </div>
                                    </td>

                                    <th style="width: 300px !important">
                                        <a style="font-size: 14px;" ng-href="{{vm.directory}}{{vm.claimId}}/{{invoice.diagnostics.filename}}" target="_blank">{{invoice.diagnostics.filename}}</a>
                                    </th>

                                    <th>
                                        <div class="col-sm-12 col-md-8">
                                            <div class="form-group">
                                                <input type="checkbox" style="height: 23px;width: 23px;top: 8.5px; position:relative;" ng-model="vm.invoices[$index].checked" ng-change="vm.checkSelected()">
                                            </div>
                                        </div>
                                    </th>

                                    <th ng-show="vm.pmyFile[$index]">
                                    </th>
                                </tr>
						</table>

                        </fieldset>
					</div>
					<div class="box-footer">
                        <a ui-sref="^" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>