<section class="content-header">
  <h1>{{vm.modulo}}</h1>
  <!-- <ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a ui-sref="app.userlist">User Lists</a></li>
    <li class="active">Edit User</li>
  </ol> -->
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Nuevo {{vm.modulosingular}}</h3>
        </div>
        <form class="form-horizontal" name="form" ng-submit="vm.save(form.$valid)" novalidate>
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.name.$invalid && ( vm.formSubmitted || form.name.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.theform.data.name" name="name" placeholder="Nombre" required>
                <p ng-show="form.name.$error.required && ( vm.formSubmitted || form.name.$touched)" class="help-block">El nombre es obligatorio.</p>
              </div>
            </div>
             <div class="form-group" ng-class="{ 'has-error': form.subject.$invalid && ( vm.formSubmitted || form.subject.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Asunto</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.theform.data.subject" name="subject" placeholder="Asunto del correo" required>
                <p ng-show="form.subject.$error.required && ( vm.formSubmitted || form.subject.$touched)" class="help-block">El asunto es obligatorio.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.title.$invalid && ( vm.formSubmitted || form.title.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Título</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.theform.data.title" name="title" placeholder="Título del correo" required>
                <p ng-show="form.title.$error.required && ( vm.formSubmitted || form.title.$touched)" class="help-block">El título es obligatorio.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.content.$invalid && ( vm.formSubmitted || form.content.$touched) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Contenido</label>
              <div class="col-sm-10">
                  <textarea rows="10" class="form-control" ng-model="vm.theform.data.content" name="content" placeholder="Contenido del correo" required></textarea>
                <p ng-show="form.content.$error.required && ( vm.formSubmitted || form.content.$touched)" class="help-block">El contenido es obligatorio.</p>
              </div>
            </div>


          </div>
          <div class="box-footer">
            <a ui-sref="app.mail-format-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Volver</a>
            <button type="submit" class="btn btn-primary pull-right">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

