<section class="content-header">
  <h1>Creación de Póliza -  Renovación<!--<small>Module description here</small>--></h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header">
					<div id="wizar" >
					<table style="margin-left:20px; margin-right: 20px" width="100%">
						<tr>
							<th class="pearl col-xs-2 current ng-scope" align="center" style="text-align: center !important" ng-repeat-start ="data in vm.systemWizar">
								<!--<div ng-if="data.order == vm.current_step">
									<a style="color: #0080FF;">
										<i class="{{data.icon}}" aria-hidden="true" ></i>
									</a><br>
									<span class="pearl-title ng-binding">{{data.name}}</span>
								</div>-->
                                <div style="cursor: pointer;">
									<a ng-style="{'color': data.order != vm.current_step ? '#A9BCF5' : '#0080FF'}" ui-sref="{{data.uisref}}({{vm.uisrefparameter}})">
										<i class="{{data.icon}}" aria-hidden="true" ></i>
									</a><br>
									<span>{{data.name}}</span>
								</div>
							</th>
							<th ng-repeat-end></th>							
						</tr>
					</table>
					</div>
				</div>
				<div class="strike" style="width: 100%; height: 30px; text-align: center">
					<span class="" style="text-align: center !important;" >Información de Dependientes</span>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>						
						<div ng-repeat="line in vm.lines">
	                            <div class="container-fluid con-margin">
	                                <div class="row">

	                                    <div class="col-md-3">

	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.name{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.name{{line.id}}.$touched) }">

	                                            <label for="name" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Nombres</label>
	                                            <div class="col-xs-12">
	                                                <input
	                                                class="form-control"
	                                                type="text"
                                                    name = "name{{line.id}}"
	                                                ng-model="vm.dependents[$index].name"
	                                                ng-init=""
	                                                placeholder="" autofocus required ng-disabled="vm.completed == 1">
	                                                <label for="name" class="hidden-xs">Nombres</label>

	                                            </div>
                                              <p class="help-block">Este campo es requerido.</p>
	                                        </div>

	                                    </div>

	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.lastname{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.lastname{{line.id}}.$touched) }">
	                                            <label for="lastname" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Apellidos</label>
	                                            <div class="col-xs-12">
	                                                <input
	                                                class="form-control"
	                                                type="text"
	                                                name="lastname{{line.id}}"
	                                                ng-model="vm.dependents[$index].lastname"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.completed == 1">
	                                                <label for="lastname" class="hidden-xs">Apellidos</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>
	                                    </div>

	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.pid_type{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.pid_type{{line.id}}.$touched) }">
	                                            <label for="pid_type" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Tipo de documento</label>
	                                            <div class="col-xs-12">
	                                                <select
	                                                class="form-control"
	                                                name="pid_type{{line.id}}"
	                                                ng-model="vm.dependents[$index].pid_type"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.completed == 1">
	                                                    <option label="Cédula" value="0" ></option>
	                                                    <option label="Pasaporte" value="1"></option>
	                                                    <option label="RUC" value="2"></option>
	                                                </select>
	                                                <label for="pid_type" class="hidden-xs">Tipo de documento</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>
	                                    </div>

	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.pid_num{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.pid_num{{line.id}}.$touched) }">
	                                            <label for="pid_num" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label"># del documento</label>
	                                            <div class="col-xs-12">
	                                                <input
	                                                class="form-control"
	                                                type="text"
	                                                name="pid_num{{line.id}}"
	                                                ng-model="vm.dependents[$index].pid_num"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.completed == 1">
	                                                <label for="pid_num" class="hidden-xs"># del documento</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>

	                                    </div>

	                                </div>
	                            </div>

	                            <div class="container-fluid con-margin">
	                                <div class="row">

	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.role{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.role{{line.id}}.$touched) }">
	                                            <label for="role" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Relación</label>
	                                            <div class="col-xs-12">
	                                                <select
	                                                class="form-control"
	                                                name="role{{line.id}}"
	                                                ng-model="vm.dependents[$index].role"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.completed == 1">
	                                                	<option label="Cónyuge" value="H" ></option>
	                                                    <option label="Dependiente" value="D"></option>
	                                                </select>
	                                                <label for="role" class="hidden-xs">Relación</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>
	                                    </div>

	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.dob{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.dob{{line.id}}.$touched)  }">
	                                            <label for="dob" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Fecha de nacimiento</label>
	                                            <div class="col-xs-12">
	                                                <input
	                                                class="form-control"
	                                                type="date"
	                                                name="dob{{line.id}}"
	                                                ng-model="vm.dependents[$index].dob"
	                                                placeholder="" required ng-disabled="vm.completed == 1">
	                                                <label for="dob" class="hidden-xs">Fecha de nacimiento</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>
	                                    </div>

	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.height{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.height{{line.id}}.$touched) }">
	                                            <label for="height" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Estatura</label>
	                                            <div class="col-xs-12">
	                                                <div class="col-xs-5" style="display:inline-block; padding-right:0; padding-left:0">
	                                                    <input
	                                                        class="form-control"
	                                                        type="number"
	                                                        name="height{{line.id}}"
	                                                        ng-pattern="/(\[0-9]{1,2})?$/"
	                                                        min="0.01" 
	                                                        placeholder="0.00"
	                                                        ng-model="vm.dependents[$index].height"
	                                                        ng-init="vm.dependents[$index].height"
	                                                        required autocomplete="off" ng-disabled="vm.completed == 1">
	                                                </div>
	                                                <div class="col-xs-7 btn-group" style="display: inline-block; padding-right:0">
	                                                    <label class="switch">
												      	<input for="checkbox2" ng-model="vm.dependents[$index].height_unit_measurement" ng-true-value="'M'" ng-false-value="'CM'" class="switch-input" type="checkbox"  id="checkbox2" ng-disabled="vm.completed == 1" >
													      	<span class="switch-label" data-on="CM" data-off="M"></span> 
													      	<span class="switch-handle"></span> 
													     </label>
	                                                </div>
	                                                <label for="height" class="hidden-xs">Estatura</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>
	                                    </div>

	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.weight{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.weight{{line.id}}.$touched) }">
	                                            <label for="weight" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Peso</label>
	                                            <div class="col-xs-12">
	                                                <div class="col-xs-5" style="display:inline-block; padding-right:0; padding-left:0">
	                                                    <input
	                                                        class="form-control"
	                                                        type="number"
	                                                        name="weight{{line.id}}"
	                                                        ng-pattern="/(\[0-9]{1,2})?$/"
	                                                        min="0.01" 
	                                                        placeholder="0.00"
	                                                        ng-model="vm.dependents[$index].weight"
	                                                        ng-init="form[$index].weight"
	                                                        required autocomplete="off" ng-disabled="vm.completed == 1">
	                                                </div>
	                                                <div class="col-xs-7 btn-group" style="display: inline-block; padding-right:0">
	                                                    <label class="switch">
												      	<input for="checkbox" ng-model="vm.dependents[$index].weight_unit_measurement"
                                                            ng-true-value="'KG'"
                                                            ng-false-value="'LB'" class="switch-input" type="checkbox" id="checkbox" ng-disabled="vm.completed == 1"/>
													      	<span class="switch-label" data-on="LB" data-off="KG"></span> 
													      	<span class="switch-handle"></span> 
													     </label>
	                                                </div>
	                                                <label for="weight" class="hidden-xs">Peso</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="container-fluid con-margin">
	                                <div class="row">
	                                    <div class="col-md-3">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.sex{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.sex{{line.id}}.$touched) }">
	                                            <label for="sex" class="col-xs-12 hidden-lg hidden-md hidden-sm control-label">Sexo</label>
	                                            <div class="col-xs-12">
	                                                <select
	                                                class="form-control"
	                                                name="sex{{line.id}}"
	                                                ng-model="vm.dependents[$index].sex"
	                                                ng-init=""
	                                                placeholder="" required ng-disabled="vm.completed == 1">
	                                                	<option label="Masculino" value="M" ></option>
	                                                    <option label="Femenino" value="F"></option>
	                                                </select>
	                                                <label for="sex" class="hidden-xs">Sexo</label>
	                                            </div>
                                                <p class="help-block">Este campo es requerido.</p>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-3">
	                                        <div class="col-xs-12">
	                                            <button ng-click="vm.deleteLine(vm.dependents[$index].id,line)" class="btn btn-sm btn-danger" ng-disabled="vm.completed == 1">
	                                                <i class="glyphicon glyphicon-trash"></i>
	                                            </button>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <hr />
	                        </div>
	                        <div class="box-header with-border">
						     <h3 class="box-title"></h3>
	                            <!--<a ng-model="vm.newLine"></a>-->
	                            <a ng-hide="vm.completed == 1" class="btn btn-xs btn-primary" ng-click="vm.addLine()" ><i class="fa fa-plus" aria-hidden="true"> Agregar Dependiente</i></a>
                                <!--<a class="btn btn-xs btn-primary" ng-click="vm.mostrar()" ><i class="fa fa-plus" aria-hidden="true"> Mostrar</i></a>-->
					    	</div>

						<div class="row">							

							
						</div>
						
					</div>
					<div class="box-footer">
						<a ui-sref="{{vm.uisrefback}}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
						<button ng-hide="vm.completed == 1" type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">{{vm.isDisabled ? 'Guardando' : 'Guardar'}} <i class="fa fa-angle-double-right"></i></button>
                        <a ng-show="vm.completed == 1"  class="btn btn-primary pull-right" ui-sref="app.emission-documents({{vm.uisrefparameter}})">Siguiente <i class="fa fa-angle-double-right"></i></a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
