<section class="content-header">
    <h1>Documentos - Póliza</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box box-primary">
                <form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
                    <div class="box-body">
                        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': uiForm.file.$invalid && ( vm.formSubmitted || uiForm.file.$touched) }">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label for="input" class="col-sm-4 control-label" style="text-align: right;">Adjunto de Pago</label>
                                <div class="col-sm-5 col-md-5">
                                    <div ng-repeat="file in vm.feedocuments">
                                        <a ng-href="authorization_form/{{vm.policyId}}/{{file.filename}}" target="_blank">{{file.filename}}</a>
                                        <br>
                                    </div>
                                    <a ng-if="vm.feedocuments.length == 0" ng-href="authorization_form/{{vm.policyId}}/{{vm.filename}}" target="_blank">{{vm.filename}}</a>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': uiForm.file.$invalid && ( vm.formSubmitted || uiForm.file.$touched) }">
                                <div class="col-sm-12 col-md-12" align="center">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;">Documento Comprobación de Pago</label>
                                    <div class="col-sm-5 col-md-5">
                                        <div>
                                            <a ng-href="authorization_form/{{vm.policyId}}/{{vm.confirm_filename}}" target="_blank">{{vm.confirm_filename}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': uiForm.file.$invalid && ( vm.formSubmitted || uiForm.file.$touched) }">
                                <div class="col-sm-12 col-md-12" align="center">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;">Factura del Cliente</label>
                                    <div class="col-sm-5 col-md-5">
                                        <div>
                                            <a ng-href="authorization_form/{{vm.policyId}}/{{vm.invoice_filename}}" target="_blank">{{vm.invoice_filename}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                        <div class="box-footer">
                            <a ui-sref="app.historical-emissions-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i>Regresar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
