<section class="content-header">
  <h1>Permisos de Usuarios</h1>  
</section>
<section class="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Lista de Permisos</h3>
      <div class="box-tools pull-right">
        <a ui-sref="app.user-permissions-add" class="btn btn-block btn-success btn-xs"><i class="fa fa-plus"></i> Agregar</a>
      </div>
    </div>
    <div class="box-body">
      <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
    </div>
  </div>
</section>
