<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

 
 $('body').on('DOMNodeInserted', '.js-example-basic-single', function () {
    $(this).select2({
    placeholder: "Proveedor"
  });
});

})



</script>
<section class="content-header">
	<h1>{{vm.title}}</h1>

	<!--<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li class="active">Nueva Póliza</li>
	</ol>-->
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Documentos del Reclamo</h3>
				<div class="box-tools pull-right">
                        <button class="btn btn-danger" title="Devolver Documentos" ng-disabled="!vm.sendmail" class="btn btn-xs btn-primary" ng-click="vm.retufiles()">Devolver Documentos
                        </button>
                    </div>
                </div>

				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
					<div class="box-body" style="overflow-x:scroll;">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						
						      <table style="border-collapse: separate; border-spacing: 8px; overflow-x:scroll;">
                                  <tr ng-repeat="pline in vm.previouslines" style="height: 120px" ng-if = "vm.previouslines[$index].dispatched == '0' ">
					              	<td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
						                     <div class="form-group" ng-class="{ 'has-error': uiForm.pdoc_type_id{{pline.id}}.$invalid && ( vm.formSubmitted || uiForm.pdoc_type_id{{pline.id}}.$touched) }">
						                     <label for="pdoc_type_id{{pline.id}}">Tipo de Documento</label>
                                                <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="vm.previouslines[$index].id_doc_type" name="pdoc_type_id{{pline.id}}" ng-change="vm.changeDocType($index,2);" required >
						    	                    <option style="font-size: 17px" ng-repeat="doc in vm.systemDocTypes" ng-value="{{doc.id}}" ng-selected="{{1 == doc.id}}">{{doc.name}}</option>
							                    </select>
                                                <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
							        </td>
							       <td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
						                     <div class="form-group" ng-class="{ 'has-error': uiForm.nprovider_id{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.nprovider_id{{line.id}}.$touched) }">
						                     	<a class="btn btn-xs btn-primary" ng-click="vm.modalProvider()"  ><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
						                     	<label for="provider_id{{line.id}}">Proveedor</label>
                                                <select   class="js-example-basic-single" style='font-size: 14px; width: 150px;' ng-model="vm.previouslines[$index].provider_id" name="provider_id{{pline.id}}" required >
						    	                   <option value="">- Seleccione -</option>
						    	                   <option style="font-size: 17px" ng-value="{{doc.id}}" ng-selected="doc.id == vm.previouslines[$index].provider_id" ng-repeat="doc in vm.systemProviders">{{doc.name}}</option>
							                    </select>
                                                <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
					              	</td>

						            <td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.pdescription{{pline.id}}.$invalid && ( vm.formSubmitted || uiForm.pdescription{{pline.id}}.$touched) }">
	                                        	<label for="pdoc_type_id{{pline.id}}">Descripción</label>
						    	                						    	                
						    	               <input type="text" class="form-control" style='font-size: 14px; width: 150px;' ng-model="vm.previouslines[$index].description" name="pdescription{{pline.id}}" placeholder="# Documento" required ng-if="vm.previouslines[$index].id_doc_type == 1">
						    	              
	                                         
						    	               <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="vm.previouslines[$index].description" name="description{{pline.id}}"  required ng-if="(vm.previouslines[$index].id_doc_type > 1)" ng-options="des.id as des.name for des in vm.psystemDescription[$index]">
						    	               		<option value="">- Seleccione -</option>
						    	                    <option  style="font-size: 17px"  ng-value="{{des.id}}">{{des.name}}</option>
						    	                    
							                    </select>

	                                            <p class="help-block">Requerido.</p>




	                                        </div>
	                                    </div>
					              	</td>

					              	<td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
						                     <div class="form-group" ng-class="{ 'has-error': uiForm.pcurrency_id{{pline.id}}.$invalid && ( vm.formSubmitted || uiForm.pcurrency_id{{pline.id}}.$touched) }">
						                     	<label for="pdoc_type_id{{pline.id}}">Moneda</label>
                                                <select ng-disabled="pline.disabled == true || pline.id_doc_type != 1" class="form-control" style='font-size: 14px; width: 80px;' ng-model="vm.previouslines[$index].currency_id" name="currency_id{{pline.id}}" required >
						    	                    <option style="font-size: 17px" ng-repeat="doc in vm.systemCurrency" ng-value="{{doc.id}}" >{{doc.iso}}</option>
							                    </select>
                                                <p class="help-block">{{ pline.id_doc_type == 1 && "Requerido"|| "No Requerido" }}.</p>
                                            </div>
                                        </div>
					              	</td>

					              	<td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.pvalue{{pline.id}}.$invalid && ( vm.formSubmitted || uiForm.pvalue{{pline.id}}.$touched) }">
	                                        	<label for="pvalue{{pline.id}}">Monto</label>
						    	                <input ng-disabled="pline.disabled == true || pline.id_doc_type != 1" type="number" class="form-control" style='font-size: 14px; width: 70px;' ng-model="vm.previouslines[$index].amount" ng-pattern="/(\[0-9]{1,2})?$/" min="0.01" step="0.01" ng-maxlength="100"  name="pvalue{{pline.id}}" placeholder="0.00" ng-required="pline.disabled == false">
	                                            <p class="help-block">{{ pline.id_doc_type == 1 && "Requerido"|| "No Requerido" }}.</p>
	                                        </div>
	                                    </div>
					              	</td>
					              	<td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.pdocument_date{{pline.id}}.$invalid && ( vm.formSubmitted || uiForm.pdocument_date{{pline.id}}.$touched) }">
	                                        	<label for="pdocument_date{{pline.id}}">Fecha</label>
						    	                  <input type="date" class="form-control" style='font-size: 14px; width: 150px;' ng-model="vm.previouslines[$index].document_date" name="pdocument_date{{pline.id}}" placeholder="dd/mm/aaaa" required>

	                                          	  <p class="help-block">Requerido.</p>
	                                        </div>
	                                    </div>
					              	</td>

                                    <td style="height: 120px !important; white-space: nowrap">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important; white-space: nowrap; width: 300px">
                                            <div class="form-group" ng-class="{ 'has-error': uiForm.pfile{{pline.id}}.$invalid && ( vm.formSubmitted || uiForm.pfile{{pline.id}}.$touched) }">
                                                <label for="pfile{{pline.id}}">Archivo</label>
					    	                     <input id="file1" name="pfile{{pline.id}}" class="form-control" style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="vm.pmyFile[$index]" file-model="vm.pmyFile[$index]" file-input="vm.pfiles[$index]">
                                                <p class="help-block">Este campo es requerido.</p>
                                            </div>
                                        </div>
						            </td>
	                                <td ng-hide="vm.pmyFile[$index]">
	                                    <a style="font-size: 14px;" ng-href="{{vm.directory}}{{vm.claimId}}/{{pline.filename}}" target="_blank">{{pline.filename}}</a>
	                                </td>  
                                    <td ng-show="vm.pmyFile[$index]">
	                                </td>                                      
                                    <td>
                                        <div class="col-sm-12 col-md-8">
                                            <div class="form-group">
                                                <input type="checkbox" style="height: 37px;width: 32px; padding-bottom: 8px;" ng-model="vm.returnfiles[$index].return" ng-change="vm.checkSelected()" ng-disabled="vm.returnfiles[$index].isUpload">
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                      	<div class="col-sm-12 col-md-8" style="">
                                            <div class="form-group">
	                                          <button class="btn btn-primary" ng-disabled="pline.documents.pending_doc !== 1"  ng-click="vm.noPending(pline.documents.id)" title="Documento Pendiente">
	                                              <i class="fa fa-clock-o"></i>
						    	              </button>
					    	              </div>
                                        </div>
                                    </td>
						            <td>
                                        <div class="col-sm-12 col-md-8" style="">
                                            <div class="form-group">
                                            <a  class="btn btn-danger" ng-click="vm.deletePreviousLine(pline)" title="Eliminar">
					    		                <i class="fa fa-remove"></i>
					    	                </a>
                                            </div>
                                        </div>
						            </td>
						          </tr>
						          <tr ng-repeat="line in vm.lines" style="height: 120px">
					              	<td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
						                     <div class="form-group" ng-class="{ 'has-error': uiForm.doc_type_id{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.doc_type_id{{line.id}}.$touched) }">
						                     <label for="doc_type_id{{line.id}}">Tipo de Documento</label>
                                                <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="vm.doc_typeselected[line.id]" name="doc_type_id{{line.id}}" ng-change="vm.changeDocType(line.id,1);" required>

                                                	<option style="font-size: 17px" ng-repeat="doc in vm.systemDocTypes" ng-value="{{doc.id}}" ng-selected="{{1 == doc.id}}">{{doc.name}}</option>
							                    </select>
                                                <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
							        </td>

							        <td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
						                     <div class="form-group" ng-class="{ 'has-error': uiForm.nprovider_id{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.nprovider_id{{line.id}}.$touched) }">
						                     	<a class="btn btn-xs btn-primary" ng-click="vm.modalProvider()"  ><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
						                     	<label for="provider_id{{line.id}}">Proveedor</label>
                                                <select  class="js-example-basic-single" style='font-size: 14px; width: 150px;' ng-model="vm.nprovider_id[line.id]" name="nprovider_id{{line.id}}" required >
                                                	<option style="font-size: 17px" value="">- Seleccione -</option>
						    	                    <option style="font-size: 17px" ng-repeat="doc in vm.systemProviders" ng-value="{{doc.id}}" >{{doc.name}}</option>
							                    </select>

                                                <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
					              	</td>

						            <td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.ndescription{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.ndescription{{line.id}}.$touched) }">
	                                        	<label for="ndescription{{line.id}}">Descripción</label>

						    	                	<input type="text" class="form-control" style='font-size: 14px; width: 150px;' ng-model="vm.ndescription[line.id]" name="ndescription{{line.id}}" placeholder="# Documento" required  ng-if="vm.typeDocNew[line.id].value == 1">

						    	                 <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="vm.ndescription[line.id]" name="id_claim_document_type_descriptions{{line.id}}"  required ng-if="vm.typeDocNew[line.id].value != 1">

						    	                	<option value="">- Seleccione -</option>
						    	                    <option style="font-size: 17px" ng-repeat="des in vm.systemDescription[line.id]" ng-value="{{des.id}}">{{des.name}}</option>
						    	                   
							                    </select>


							                     <!--<select class="form-control" style='font-size: 14px; width: 150px;' ng-model="vm.description[line.id]" name="description{{line.id}}"  required ng-if="vm.typeDocNew[line.id].value == 3">
							                     	<option value="">- Seleccione -</option>
						    	                    <option style="font-size: 17px" ng-repeat="des in vm.systemDescription2" ng-value="{{des.id}}" >{{des.name}}</option>
							                    </select>!-->

	                                            <p class="help-block">Requerido.</p>
	                                        </div>
	                                    </div>
					              	</td>

					              	<td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
						                     <div class="form-group" ng-class="{ 'has-error': uiForm.currency_id{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.currency_id{{line.id}}.$touched) }">
						                     	<label for="currency_id{{line.id}}">Moneda</label>
                                                <select ng-disabled="line.disabled == true" class="form-control" style='font-size: 14px; width: 80px;' ng-model="vm.curency_selected[line.id]" name="currency_id{{line.id}}" required >
						    	                    <option style="font-size: 17px" ng-repeat="doc in vm.systemCurrency" ng-value="{{doc.id}}" >{{doc.iso}}</option>
							                    </select>
                                                <p class="help-block">{{line.rep}} Requerido.</p>
                                            </div>
                                        </div>
					              	</td>

					              	<td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.value{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.value{{line.id}}.$touched) }">
	                                        	<label for="value{{line.id}}">Monto</label>
						    	                <input ng-disabled="line.disabled == true" type="number" class="form-control" style='font-size: 14px; width: 70px;' ng-model="vm.value[line.id]" ng-pattern="/(\[0-9]{1,2})?$/" min="0.01" step="0.01" ng-maxlength="100"  name="value{{line.id}}" placeholder="0.00" ng-required="line.disabled == false">
	                                            <p class="help-block">{{line.rep}} Requerido.</p>
	                                        </div>
	                                    </div>
					              	</td>
					              	<td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.doc_date{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.doc_date{{line.id}}.$touched) }">
	                                        	<label for="doc_date{{line.id}}">Fecha</label>
						    	                  <input type="date" class="form-control" style='font-size: 14px; width: 150px;' ng-model="vm.doc_date[line.id]" name="doc_date{{line.id}}" placeholder="dd/mm/aaaa" required>

	                                          	  <p class="help-block">Requerido.</p>
	                                        </div>
	                                    </div>
					              	</td>

                                    <td style="height: 120px !important; white-space: nowrap">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important; white-space: nowrap; width: 300px">
                                            <div class="form-group" ng-class="{ 'has-error': uiForm.file{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.file{{line.id}}.$touched) }">
                                                <label for="file{{line.id}}">Archivo</label>
					    	                     <input id="file1" name="file{{line.id}}" class="form-control" style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="vm.myFile[line.id]" file-model="vm.myFile[line.id]" file-input="vm.files[line.id]"  required>
                                                <p class="help-block">Este campo es requerido.</p>
                                            </div>
                                        </div>
						            </td>
                                    <th></th>
                                    <td>
                                        <input type="checkbox" style="height: 37px;width: 32px; padding-bottom: 8px;" ng-disabled="true">
                                    </td>
                                    <td>
                                      	<div class="col-sm-12 col-md-8" style="">
                                            <div class="form-group">
	                                          <button class="btn btn-primary" ng-disabled="line.documents.pending_doc !== 1"  ng-click="vm.noPending(pline.documents.id)" title="Documento Pendiente">
	                                              <i class="fa fa-clock-o"></i>
						    	              </button>
					    	              </div>
                                        </div>
                                    </td>
						            <td style="height: 120px !important">
                                        <div class="col-sm-12 col-md-8" style="height: 120px !important">
                                            <div class="form-group">
                                            <label for="Acciones{{line.id}}">Acciones </label>
					    	                 <a  class="btn btn-danger" ng-click="vm.deleteLine(line)" title="Eliminar">
					    		                <i class="fa fa-remove"></i>
					    	                 </a>                                            
                                            </div>
                                        </div>
						            </td>
						          </tr>

						</table>
						<div class="box-header with-border">
                                    <a class="btn btn-xs btn-primary" ng-click="vm.addFile()" ><i class="fa fa-plus" aria-hidden="true"></i> Agregar Documentos</a>                            
				        </div>

			           
					</div>
					<div class="box-footer">
						<a ui-sref="app.claim-claim-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>		
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<script type="text/ng-template" id="myModalProvider">
    <form class="form-horizontal" name="registerForm" ng-submit="mvm.save(registerForm.$valid)" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title" style="text-align: center">Agregar 
            Proveedor</h3>
        </div>
        <br>
        <div class="box-body">
            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.name.$invalid && ( mvm.formSubmitted) }">
                <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nombre" ng-model="mvm.name" name="name" ng-maxlength="30" required>
                    <span class="form-control-feedback"></span>
                    <p class="help-block">El campo nombre es requerido.</p>
                    <p ng-show="registerForm.abbreviation.$error.maxlength" class="help-block">El campo nombres es muy largo.</p>
                    <p ng-show="registerForm.name.$invalid && (mvm.formSubmitted || mvm.errors.name)" class="help-block">{{mvm.errors.name}}</p>
                </div>
            </div>
        	<div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.description.$invalid && ( mvm.formSubmitted) }">
                <label for="inputEmail3" class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <textarea class="form-control" placeholder="Descripción" ng-model="mvm.description" name="description" ng-maxlength="30" >
                    </textarea>	
                    <span class="form-control-feedback"></span>                    
                    <p ng-show="registerForm.abbreviation.$error.maxlength" class="help-block">El campo Descripción es muy largo.</p>
                    <p ng-show="registerForm.description.$invalid && (mvm.formSubmitted || mvm.errors.description)" class="help-block">{{mvm.errors.description}}</p>
                </div>
            </div>
        </div>
        <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
            <button class="btn btn-primary" type="submit"   data-dismiss="modal" >Guardar</button>
            &nbsp;&nbsp;&nbsp;
        </div>
    </form>
</script>
