<section class="content-header">
  <h1>Creación de Póliza<!--<small>Module description here</small>-->
        <a class="btn btn-xs btn-danger pull-right" style="font-family: cursive;font-weight: bold;" title="Salir" ui-sref="app.emission-policy-lists">X</a>
    </h1>
    <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header">
					<div id="wizar" >
					<table style="margin-left:20px; margin-right: 20px" width="100%">
						<tr>
							<th class="pearl col-xs-2 current ng-scope" align="center" style="text-align: center !important" ng-repeat-start ="data in vm.systemWizar">
								<!--<div ng-if="data.order == vm.current_step">
									<a style="color: #0080FF;">
										<i class="{{data.icon}}" aria-hidden="true" ></i>
									</a><br>
									<span class="pearl-title ng-binding">{{data.name}}</span>
								</div>-->
								<div style="cursor: pointer;">
									<a ng-style="{'color': data.order != vm.current_step ? '#A9BCF5' : '#0080FF'}" ui-sref="{{data.uisref}} ({policyId: {{vm.policyId}} })">
										<i class="{{data.icon}}" aria-hidden="true" ></i>
									</a><br>
									<span>{{data.name}}</span>
								</div>
							</th>
							<th ng-repeat-end></th>
						</tr>
					</table>
					</div>
				</div>

				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" >
                    <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
                    </div>
					<div class="strike" style="width: 100%; height: 30px; text-align: center">
		            	<span class="" style="text-align: center !important;" >Fecha Inicio de Cobertura</span>
		            </div>
                    <div class="box-header">
                        <div class="col-sm-12 col-md-12">
							<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.startdate.$invalid && ( vm.formSubmitted || uiForm.startdate.$touched) }">

                                <h4 class="col-sm-3 col-md-3" style="padding-left: 20px">Fecha de Inicio de Cobertura</h4>
								<div class="col-sm-4">
									<select class="form-control" style='font-size: 14px;' placeholder="Fecha" ng-model="vm.dateselected" name="startdate"  required>
										<option style="font-size: 17px" ng-repeat="count in vm.dates" value="{{count}}" ng-selected="{{count == vm.dateselected}}">{{count}}</option>
									</select>
								</div>
							</div>
                        </div>
                    </div>
                    <!--added-->
                    <div class="strike" style="width: 100%; height: 30px; text-align: center">
		            	<span class="" style="text-align: center !important;" >Seguro Anterior</span>
		            </div>
                    <div class="box-header">
				       <div class="col-sm-12 col-md-12">
						    <div class="form-group">
                                <h4 class="col-sm-3" style="padding-left: 20px">Tiene Seguro Anterior?</h4>
							    <div class="col-sm-6">
								   <input type="checkbox" ng-change="vm.checkEvent()" ng-model="vm.showhidepregnant">
                                </div>
                            </div>
						</div>
                        <div class="col-sm-12 col-md-12" ng-show="vm.showhidepregnant">
                            <div class="form-group" ng-class="{ 'has-error': vm.formSubmitted && vm.showhidepregnant == true }">
                                <h4 class="col-sm-3" style="padding-left: 20px">Nombre Compañía de Seguros</h4>
								<div class="col-sm-6">
									<input type="text" class="form-control" ng-model="vm.company_name" name="company_name" placeholder="" ng-required="vm.showhidepregnant == true">
									<p class="help-block">El campo es requerido.</p>
								</div>
							</div>
                            <div class="form-group" ng-class="{ 'has-error': vm.formSubmitted && vm.showhidepregnant == true }">
                                <h4 class="col-sm-3" style="padding-left: 20px">Nombre del Plan</h4>
								<div class="col-sm-6">
									<input type="text" class="form-control" ng-model="vm.plan_name" name="plan_name" placeholder="" ng-required="vm.showhidepregnant == true">
									<p class="help-block">El campo es requerido.</p>
								</div>
							</div>
                        </div>
                        <div class="col-sm-12 col-md-12">
						    <div class="form-group">
                                <h4 class="col-sm-3" style="padding-left: 20px">Aplicar continuidad de cobertura?</h4>
							    <div class="col-sm-6">
								   <input type="checkbox" ng-change="checkEvent" ng-model="vm.showhidecontinue" />
							    </div>
                            </div>
						</div>
						<div class="strike" style="width: 100%; height: 30px; text-align: center">
		            		<span class="" style="text-align: center !important;" >Lugar de Cobertura</span>
		            	</div>
			            <div class="col-sm-12 col-md-12">
						    <div class="form-group">
	                            <h4 class="col-sm-3" style="padding-left: 20px">Es Internacional?</h4>
							    <div class="col-sm-6">
								   <input type="checkbox" ng-change="checkEvent" ng-model="vm.is_international" />
							    </div>
	                        </div>
						</div>
			        </div>
                    <!--added-->
                    
				    <div class="box-footer">
			            <a ui-sref="app.emission-payment-information({policyId: vm.policyId})" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
					      <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">{{vm.isDisabled ? 'Guardando' : 'Guardar'}} <i class="fa fa-angle-double-right"></i></button>
				    </div>
				</form>
		    </div>
	    </div>
    </div>
</section>
