<section class="content-header">
  <h1>Creación de Póliza - Renovación<!--<small>Module description here</small>--></h1>
    <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->  
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div id="wizar" >
          <table style="margin-left:20px; margin-right: 20px" width="100%">
            <tr>
              <th class="pearl col-xs-2 current ng-scope" align="center" style="text-align: center !important" ng-repeat-start ="data in vm.systemWizar">
                <!--<div ng-if="data.order == vm.current_step">
                  <a style="color: #0080FF;">
                    <i class="{{data.icon}}" aria-hidden="true" ></i>
                  </a><br>
                  <span class="pearl-title ng-binding">{{data.name}}</span>
                </div>-->
                                <div style="cursor: pointer;">
                  <a ng-style="{'color': data.order != vm.current_step ? '#A9BCF5' : '#0080FF'}" ui-sref="{{data.uisref}}({{vm.uisrefparameter}})">
                    <i class="{{data.icon}}" aria-hidden="true" ></i>
                  </a><br>
                  <span>{{data.name}}</span>
                </div>
              </th>
              <th ng-repeat-end></th>             
            </tr>
          </table>
          </div>
        </div>
        <div class="strike" style="width: 100%; height: 30px; text-align: center">
          <span class="" style="text-align: center !important;" >Información de Pagos</span>
        </div>
        <form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
          
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>            
            <div class="container-fluid"> 
              <!--<div class="row">-->
                <div class="form-group">
                  <div class="col-md-6"  style="float:left; align-content: center;" ng-init="vm.mode='0'">
                   
                      <h4 for="mode" class="col-sm-6 control-label" style="text-align: center; padding-left: 40px">Modo de Pago</h4>
                        <table style="width:500px">
                            <tr>
                            <td><input type="radio" ng-model="vm.mode" name="mode" value="0" checked> Anual </td>
                            </tr>
                            <tr>
                            <td><input type="radio" ng-model="vm.mode" name="mode" value="1"> Semestral<br> </td>
                            </tr>
                            <tr>
                            <td><input type="radio" ng-model="vm.mode" name="mode" value="2"> Trimestral<br> </td>
                            </tr>
                            <tr>
                            <td><input type="radio" ng-model="vm.mode" name="mode" value="3"> Mensual<br> </td>
                            </tr>
                          </table>
                     
                    </div>
              
                      <div class="col-md-6" style="float:right; align-content: center;" ng-init="vm.method='0'">
                          <h4 for="mode" class="col-sm-6 control-label" style="text-align: center; padding-left: 40px">Método de Pago</h4>
                            <table style="width:500px">
                            <tr>
                            <td><input type="radio" ng-model="vm.method" name="method" value="0" checked> Cheque </td>
                            </tr>
                            <tr>
                            <td><input type="radio" ng-model="vm.method" name="method" value="1"> Transferencia<br> </td>
                            </tr>
                            <tr>
                            <td><input type="radio" ng-model="vm.method" name="method" value="2"> Depósito Bancario<br> </td>
                            </tr>
                            <tr>
                            <td><input type="radio" ng-model="vm.method" name="method" value="3"> Tarjeta de Crédito<br> </td>
                            </tr>
                            </table>
                       
                       </div>
                  </div>
                    
                <!--</div> -->
            </div>  
              <br>
              <div class="strike" style="width: 100%; height: 30px; text-align: center">
                <span class="" style="text-align: center !important;" >Descuento y Factura</span>
              </div>

              <div class="row">
                      <div class="form-group">
                        <h4 for="mode" class="col-sm-2 control-label" style="text-align: center; align-content:center; vertical-align: middle;padding-left: 20px">Solicitar Descuento</h4>
                          <!--</div>-->
                          <div class="col-sm-10" style="align-content: center;"  ng-init="vm.discount='0'">
                          <label>
                            <table style="width:200px">
                            <tr>
                            <td><input type="radio" ng-model="vm.discount" name="discount" value="0" checked ng-change="vm.showMount();"> No </td>
                            <td><input type="radio" ng-model="vm.discount" name="discount" value="1" ng-change="vm.showMount();"> Si<br> </td>  
                            </tr>
                            </table>
                            <!--<input type="checkbox"  ng-model="vm.discount" ng-true-value="1" ng-false-value="0"  ng-change="vm.showMount();" >-->
                            </label>
                          </div>
                      </div>           
              </div>  

              <div class="row">
                <div ng-hide="vm.hideMount">
                      <div class="form-group has-feedback" >
                        <h4 for="input" class="col-sm-2 control-label" style="text-align: center;vertical-align: middle;padding-left: 20px">% de Descuento</h4>
                          <!--</div>-->
                          <div class="col-sm-10" style="padding-left: 20px;">
                          <label>
                            <input type="number" class="form-control" ng-model="vm.discount_percent" ng-pattern="/(\[0-9]{1,2})?$/"
                                                          min="0" 
                                                          placeholder="0.00" ng-maxlength="3"  name="discount_percent" >
                          <p class="help-block">El campo % de descuento  es requerido.</p>
                    <p ng-show="uiForm.discount_percent.$error.maxlength && ( vm.formSubmitted || uiForm.discount_percent.$touched)" class="help-block">El campo  % de descuento es muy largo.</p>
                            </label>
                          </div>
                          </div>  
                      </div>           
              </div>  

              <div class="row">
                      <div class="form-group">
                        <h4 for="mode" class="col-sm-2 control-label" style="text-align: center; align-content:center; vertical-align: middle;padding-left: 40px">Solicitar Factura antes del Pago</h4>
                          <!--</div>-->
                          <div class="col-sm-10" style="">
                          <label>
                            <input type="checkbox"  ng-model="vm.invoice_before" ng-true-value="'1'" ng-false-value="'0'">
                            </label>
                          </div>
                      </div>           
              </div>                

                  
        
          <div class="box-footer">
            <a ui-sref="app.emission-renewal-medical-information({policyId: vm.policyId})" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">{{vm.isDisabled ? 'Guardando' : 'Guardar'}} <i class="fa fa-angle-double-right"></i></button>
          </div>
        </form>
      
  </div>
</section>
