<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-placeholder-single").select2({
    placeholder: "Seleccione Plan"
  });
  $(".js-example-basic-single").select2({ 
    placeholder: "Seleccione Póliza"
   });
  $(".js-example-placeholder-doc").select2({
    placeholder: "Seleccione Tipo"
  });
});

function clearFileInputField(tagId) {
    document.getElementById(tagId).value = "";
}
</script>
<section class="content-header">
	<h1>Nuevo Reclamo </h1>
	<!--<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li class="active">Nueva Póliza</li>
	</ol>-->
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Datos del Reclamo</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid, uiForm)" novalidate>
					<div class="box-body">
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.policy_id.$invalid && ( vm.formSubmitted || uiForm.policy_id.$touched) }">
									<div class="col-sm-8">
										<label for="input"># Póliza | Afiliado | Rol</label>
										<select class="js-example-basic-single" style='font-size: 14px; width: 417px;' ng-model="vm.policy_id" name="policy_id" ng-change="vm.getState()" required>
						                  <option style="font-size: 17px" value=""> --Seleccione-- </option>
						                  <option style="font-size: 17px" ng-repeat="policy in vm.systemPolicies" value="{{policy.policy_id}}" >{{policy.id}} | {{policy.name}} | {{policy.role}}</option>
						                </select>
										<p class="help-block">El campo Póliza es requerido.</p>
									</div>
								</div>
							</div>
						</div>
				        <fieldset>
						      <table style="border-collapse: separate; border-spacing: 8px;">
						          <tr ng-repeat="line in vm.lines" style="height: 120px">
					              	<td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
						                     <div class="form-group" ng-class="{ 'has-error': uiForm.doc_type_id{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.doc_type_id{{line.id}}.$touched) }">
						                     <label for="doc_type_id{{line.id}}">Tipo de Documento</label>
                                                <select class="form-control" style='font-size: 14px; width: 150px;' ng-model="vm.doc_typeselected[line.id]" name="doc_type_id{{line}}" ng-change="vm.changeDocType(line.id);" required >
						    	                    <option style="font-size: 17px" ng-repeat="doc in vm.systemDocTypes" ng-value="{{doc.id}}" ng-selected="{{1 == doc.id}}">{{doc.name}}</option>
							                    </select>
                                                <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
							        </td>

						            <td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.description{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.description{{line.id}}.$touched) }">
	                                        	<label for="doc_type_id{{line.id}}">Descripción</label>
						    	                <input type="text" class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.description[line.id]" name="description{{line.id}}" placeholder="# Documento" required ng-if="vm.typeDoc[line.id].value == 0">

						    	                 <select class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.description[line.id]" name="description{{line.id}}"  required ng-if="vm.typeDoc[line.id].value  > 0 ">

						    	                     <option value="">- Seleccione -</option>
						    	                    <option style="font-size: 17px" ng-repeat="des in vm.systemDescription[line.id]" ng-value="{{des.id}}">{{des.name}}</option>
						    	                   
							                    
							                    </select>

							                    <p class="help-block">Requerido.</p>
	                                        </div>
	                                    </div>

					              	</td>

					              	<td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
						                     <div class="form-group" ng-class="{ 'has-error': uiForm.currency_id{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.currency_id{{line.id}}.$touched) }">
						                     	<label for="doc_type_id{{line.id}}">Moneda</label>
                                                <select ng-disabled="line.disabled == true" class="form-control" style='font-size: 14px; width: 100px;' ng-model="vm.curency_selected[line.id]" name="currency_id{{line.id}}" required >
						    	                    <option style="font-size: 17px" ng-repeat="doc in vm.systemCurrency" ng-value="{{doc.id}}" >{{doc.iso}}</option>
							                    </select>
                                                <p class="help-block">{{line.rep}} Requerido.</p>
                                            </div>
                                        </div>
					              	</td>

					              	<td style="height: 120px !important">
	                                    <div class="col-sm-10 col-md-10" style="height: 120px !important">
	                                        <div class="form-group" ng-class="{ 'has-error': uiForm.value{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.value{{line.id}}.$touched) }">
	                                        	<label for="doc_type_id{{line.id}}">Monto</label>
						    	                <input ng-disabled="line.disabled == true" type="number" class="form-control" style='font-size: 14px; width: 110px;' ng-model="vm.value[line.id]" ng-pattern="/(\[0-9]{1,2})?$/" min="0.01" step="0.01" ng-maxlength="100"  name="value{{line.id}}" placeholder="0.00" ng-required="line.disabled == false">
	                                            <p class="help-block">{{line.rep}} Requerido.</p>
	                                        </div>
	                                    </div>
					              	</td>

					                <!--<td style="height: 120px !important">
                                        <div class="col-sm-12 col-md-12" style="height: 120px !important">
                                            <div class="form-group" ng-class="{ 'has-error': uiForm.file{{line.id}}.$invalid && ( vm.formSubmitted || uiForm.file{{line.id}}.$touched) }">
                                            	<label for="doc_type_id{{line.id}}"> Documento</label>
					    	                     <input id="file1" name="file{{line.id}}" class="form-control" style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="vm.myFile[line.id]" file-model="vm.myFile[line.id]" file-input="vm.files[line.id]" required>
                                                <p class="help-block">Requerido.</p>
                                            </div>
                                        </div>
					                </td>-->

						            <td style="height: 120px !important">
                                        <div class="col-sm-12 col-md-8" style="height: 120px !important">
                                            <div class="form-group">
                                            <label for="doc_type_id{{line.id}}">Acciones </label>
					    	                 <a  class="btn btn-danger" ng-click="vm.deleteLine(line)" >
					    		                <i class="fa fa-remove"></i>
					    	                 </a>
                                            <p class="help-block">Eliminar</p>
                                            </div>
                                        </div>
						            </td>
						          </tr>
						  
						</table>
						<div class="box-header with-border">							     
                                    <a class="btn btn-xs btn-primary" ng-click="vm.addFile()" ><i class="fa fa-plus" aria-hidden="true"></i> Agregar Documentos</a>
						      </div>
			            
			            </fieldset>						
					</div>
					<div class="box-footer">
						<a ui-sref="app.claim-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
						<button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
