<style>
    .pointer {
        cursor: pointer;
    }
    /*@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);*/
    .detailBox {
        width:95%;
        border:1px solid #bbb;
        margin:auto;
    }
    .titleBox {
        background-color:#fdfdfd;
        padding:10px;
    }
    .titleBox label{
      color:#444;
      margin:0;
      display:inline-block;
    }
    .commentBox {
        padding:10px;
        padding-left: 20px;
        border-top:1px dotted #bbb;
    }
    .commentBox .form-group:first-child, .actionBox .form-group:first-child {
        width:80%;
    }
    .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
        width:18%;
    }
    .actionBox .form-group * {
        width:100%;
    }
    .commentList {
        padding:0;
        list-style:none;
        max-height:400px;
        overflow:auto;
    }
    .commentList li {
        margin:0;
        margin-top:10px;
    }
    .commentList li > div {
        display:table-cell;
    }
    .commenterImage {
        /*width:12%;*/
        margin-right:5px;
        height:100%;
        float:left;
    }
    .commenterImage img {
        width:100%;
        border-radius:50%;
    }
    .commentText p {
        margin:0;
    }
    .sub-text {
        color:#aaa;
        font-family:verdana;
        font-size:11px;
    }
    .actionBox {
        border-top:1px dotted #bbb;
        padding:10px;
    }
</style>

<section class="content-header">
  <h1>Renovación de Póliza<!--<small>Module description here</small>--></h1>
    <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->

</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header">
					<div id="wizar" >
					<table style="margin-left:20px; margin-right: 20px" width="100%">
						<tr>
							<th class="pearl col-xs-2 current ng-scope" align="center" style="text-align: center !important" ng-repeat-start ="data in vm.systemWizar">
								<!--<div ng-if="data.order == vm.current_step">
									<a style="color: #0080FF;">
										<i class="{{data.icon}}" aria-hidden="true" ></i>
									</a><br>
									<span class="pearl-title ng-binding">{{data.name}}</span>
								</div>-->
								<div style="cursor: pointer;">
									<a ng-style="{'color': data.order != vm.current_step ? '#A9BCF5' : '#0080FF'}" ui-sref="{{data.uisref}} ({policyId:{{vm.policyId}},feeId:{{vm.feeId}}})">
										<!--<i class="{{data.icon}}" aria-hidden="true" ></i>-->
									</a><br>
									<span>{{data.name}}</span>
								</div>
							</th>
							<th ng-repeat-end></th>
						</tr>
					</table>
					</div>
				</div>
				<div class="strike" style="width: 100%; height: 30px; text-align: center">
					<span class="" style="text-align: center !important;" >Datos del Solicitante</span>
				</div>
				<form class="form-horizontal" name="uiForm"  novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>						
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.name.$invalid && ( vm.formSubmitted || uiForm.name.$touched) }">
									<label for="input" class="col-sm-4 control-label">Nombres</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.applicanteditdata.data[0].first_name" name="name" placeholder="Nombres" ng-maxlength="100" required ng-disabled="vm.completed == 1">
										<p class="help-block">El campo nombre es requerido.</p>
										<p ng-show="uiForm.name.$error.maxlength && ( vm.formSubmitted || uiForm.name.$touched)" class="help-block">El campo nombre es muy largo.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.last_name.$invalid && ( vm.formSubmitted || uiForm.last_name.$touched) }">
									<label for="input" class="col-sm-4 control-label">Apellidos</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.applicanteditdata.data[0].last_name" name="last_name" placeholder="Apellidos" ng-maxlength="100" required ng-disabled="vm.completed == 1">
										<p class="help-block">El campo apellido es requerido.</p>
										<p ng-show="uiForm.last_name.$error.maxlength && ( vm.formSubmitted || uiForm.last_name.$touched)" class="help-block">El campo apellido es muy largo.</p>
									</div>
								</div>
							</div>
														
						</div>						

						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.identity.$invalid && ( vm.formSubmitted || uiForm.identity.$touched) }">
									<label for="input" class="col-sm-4 control-label">Documento de Identidad</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.applicanteditdata.data[0].identity_document" name="identity" placeholder="1234567890" required  ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" ng-maxlength="20" ng-disabled="vm.completed == 1">
										<p class="help-block">El campo documento de identidad es requerido.</p>
										<p ng-show="uiForm.identity.$error.maxlength && ( vm.formSubmitted || uiForm.identity.$touched)" class="help-block">El campo documento de identidad es muy largo.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.email.$invalid && ( vm.formSubmitted || uiForm.email.$touched) }">
									<label for="input" class="col-sm-4 control-label">E-mail</label>
									<div class="col-sm-8">
										<input type="email" class="form-control" ng-model="vm.applicanteditdata.data[0].email" name="email" placeholder="example@example.com" required ng-maxlength="30" ng-disabled="vm.completed == 1">
										<p class="help-block">El campo correo electronico es requerido.</p>
										<p ng-show="uiForm.email.$error.maxlength && ( vm.formSubmitted || uiForm.email.$touched)" class="help-block">El campo correo electronico es muy largo.</p>
									</div>
								</div>								
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.birthday.$invalid && ( vm.formSubmitted || uiForm.birthday.$touched) }">
									<label for="input" class="col-sm-4 control-label">Fecha de Nacimiento</label>
									<div class="col-sm-8">
										<input type="date"  placeholder="dd-MM-yyyy" class="form-control" ng-model="vm.applicanteditdata.data[0].birthday" name="birthday" placeholder="00/00/0000" required ng-disabled="vm.completed == 1">
										<p class="help-block">La campo fecha de nacimiento es requerida.</p>
									</div>
								</div>
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.place_of_birth.$invalid && ( vm.formSubmitted || uiForm.place_of_birth.$touched) }">
									<label for="input" class="col-sm-4 control-label">Lugar de Nacimiento</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.applicanteditdata.data[0].place_of_birth" name="place_of_birth" placeholder="Lugar de Nacimiento" required ng-maxlength="50" ng-disabled="vm.completed == 1">
										<p class="help-block">El campo lugar de nacimiento es requerido.</p>
										<p ng-show="uiForm.place_of_birth.$error.maxlength && ( vm.formSubmitted || uiForm.place_of_birth.$touched)" class="help-block">El campo lugar de nacimiento es muy largo.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.address.$invalid && ( vm.formSubmitted || uiForm.address.$touched) }">
									<label for="input" class="col-sm-4 control-label">Dirección</label>
									<div class="col-sm-8">
										<textarea class="form-control" rows="5" ng-model="vm.applicanteditdata.data[0].address" name="address" placeholder="Dirección" required ng-maxlength="200" ng-disabled="vm.completed == 1"></textarea>
										<p class="help-block">El campo dirección es requerido.</p>
										<p ng-show="uiForm.address.$error.maxlength && ( vm.formSubmitted || uiForm.address.$touched)" class="help-block">El campo dirección es muy largo.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.mobile.$invalid && ( vm.formSubmitted || uiForm.mobile.$touched) }">
									<label for="input" class="col-sm-4 control-label">Móvil</label>
									<div class="col-sm-8">
										<input type="number" class="form-control" ng-model="vm.applicanteditdata.data[0].mobile" name="mobile" placeholder="0999999999" ng-maxlength="15" ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" required ng-disabled="vm.completed == 1">
										<p class="help-block">El campo móvil es requerido.</p>
                						<p ng-show="uiForm.mobile.$error.maxlength" class="help-block">El campo móvil es muy largo.</p>
                						<p ng-show="registerForm.mobile.$invalid && (vm.formSubmitted || vm.errors.mobile)" class="help-block">{{vm.errors.mobile}}</p>
										<p></p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.phone.$invalid && ( vm.formSubmitted || uiForm.phone.$touched) }">
									<label for="input" class="col-sm-4 control-label">Teléfono</label>
									<div class="col-sm-8">
										<input type="number"  class="form-control" ng-model="vm.applicanteditdata.data[0].phone" name="phone" placeholder="042222222" ng-maxlength="15" ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" required ng-disabled="vm.completed == 1">
										<p class="help-block">El campo teléfono es requerido.</p>
                						<p ng-show="uiForm.phone.$error.maxlength" class="help-block">El campo teléfono es muy largo.</p>
                						<p ng-show="registerForm.phone.$invalid && (vm.formSubmitted || vm.errors.phone)" class="help-block">{{vm.errors.phone}}</p>
										
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group  has-feedback" ng-class="{ 'has-error': uiForm.country_id.$invalid && ( vm.formSubmitted || uiForm.country_id.$touched) }">
									<label for="input" class="col-sm-4 control-label">País</label>
									<div class="col-sm-8">
										<select class="form-control" style='font-size: 14px;' placeholder="País" ng-model="vm.applicanteditdata.data[0].country_id" name="country_id" ng-change="vm.getState();" required ng-disabled="vm.completed == 1">
                  							<option value="">- Seleccione -</option>
                  							<option style="font-size: 17px" ng-repeat="count in vm.systemCountrys" value="{{count.id}}" >{{count.name}}</option>
                						</select>
                						<p class="help-block">El campo país es requerido.</p>

									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.gender.$invalid && ( vm.formSubmitted || uiForm.gender.$touched) }">
									<label for="input" class="col-sm-4 control-label">Género</label>
									<div class="col-sm-8">
										<select class="form-control" style='font-size: 14px;' placeholder="Cargo" ng-model="vm.applicanteditdata.data[0].gender" name="gender" required ng-disabled="vm.completed == 1">
											<option value="">- Seleccione -</option>
                  							<option style="font-size: 17px"  value="F" >Femenino</option>
											<option style="font-size: 17px"  value="M" >Masculino</option>
											
										</select>
										<p class="help-block">El campo género es requerido.</p>	

									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.province_id.$invalid && ( vm.formSubmitted || uiForm.province_id.$touched) }">
									<label for="input" class="col-sm-4 control-label">Provincia</label>
									<div class="col-sm-8">
										<select class="form-control" style='font-size: 14px;' placeholder="Provincia" ng-model="vm.applicanteditdata.data[0].province_id" name="province_id" ng-change="vm.getCity();" required ng-disabled="vm.completed == 1">
											<option value="">- Seleccione -</option>
											<option style="font-size: 17px" ng-repeat="state in vm.systemStates" value="{{state.id}}" >{{state.name}}</option>

										</select>
										<p class="help-block">El campo provincia es requerido.</p>
										
									</div>
								</div>
							</div>

							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.civil_status.$invalid && ( vm.formSubmitted || uiForm.civil_status.$touched) }">
									<label for="input" class="col-sm-4 control-label">Estado Civil</label>
									<div class="col-sm-8">
										<select class="form-control" style='font-size: 14px;' ng-model="vm.applicanteditdata.data[0].civil_status" name="civil_status" required ng-disabled="vm.completed == 1">
											<option value="">- Seleccione -</option>
                  							<option style="font-size: 17px"  value="S" >Soltero(a)</option>
											<option style="font-size: 17px"  value="C" >Casado(a)</option>
											<option style="font-size: 17px"  value="D" >Divorciado(a)</option>
											<option style="font-size: 17px"  value="V" >Viudo(a)</option>
											<option style="font-size: 17px"  value="U" >Unión Libre</option>
										</select>
										<p class="help-block">El campo estado civil es requerido.</p>	

									</div>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.city_id.$invalid && ( vm.formSubmitted || uiForm.city_id.$touched) }">
									<label for="input" class="col-sm-4 control-label">Ciudad</label>
									<div class="col-sm-8">
										
										<select class="form-control" style='font-size: 14px;' placeholder="Ciudad" ng-model="vm.applicanteditdata.data[0].city_id" name="city_id" required ng-disabled="vm.completed == 1">
                  							<option value="">- Seleccione -</option>
                  							<option style="font-size: 17px" ng-repeat="cities in vm.systemCities" value="{{cities.id}}" >{{cities.name}}</option>
                						</select>
                						<p class="help-block">El campo ciudad es requerido.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.occupation.$invalid && ( vm.formSubmitted || uiForm.occupation.$touched) }">
									<label for="input" class="col-sm-4 control-label">Ocupación</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.applicanteditdata.data[0].occupation" name="occupation" placeholder="Ocupación" required ng-maxlength="100" ng-disabled="vm.completed == 1">
										<p class="help-block">El campo ocupación es requerido.</p>
										<p ng-show="uiForm.occupation.$error.maxlength && ( vm.formSubmitted || uiForm.occupation.$touched)" class="help-block">El campo ocupación es muy largo.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.height.$invalid && ( vm.formSubmitted || uiForm.height.$touched) }">
									<label for="input" class="col-sm-4 control-label">Estatura</label>
									<div class="col-sm-3">
										<input type="number" class="form-control" ng-model="vm.applicanteditdata.data[0].height" name="height" ng-pattern="/(\[0-9]{1,2})?$/" min="0.01" placeholder="0.00" required ng-maxlength="100" ng-disabled="vm.completed == 1">
										<p class="help-block">El campo estatura es requerido.</p>
										<p ng-show="uiForm.height.$error.maxlength && ( vm.formSubmitted || uiForm.height.$touched)" class="help-block">El campo estatura es muy largo.</p>
									</div>
									<div class="col-sm-3">
										<label class="switch">
								      	<input for="checkbox2" ng-model="vm.applicanteditdata.data[0].height_unit_measurement" class="switch-input" type="checkbox" id="checkbox2"/>
									      	<span class="switch-label" data-on="CM" data-off="M"></span> 
									      	<span class="switch-handle"></span> 
									     </label>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.occupation.$invalid && ( vm.formSubmitted || uiForm.weight.$touched) }">
									<label for="input" class="col-sm-4 control-label">Peso</label>
									<div class="col-sm-3">
										<input type="number" class="form-control" ng-model="vm.applicanteditdata.data[0].weight" name="weight" ng-pattern="/(\[0-9]{1,2})?$/" min="0.01" placeholder="0.00" required ng-maxlength="100" ng-disabled="vm.completed == 1">
										<p class="help-block">El campo peso es requerido.</p>
										<p ng-show="uiForm.weight.$error.maxlength && ( vm.formSubmitted || uiForm.weight.$touched)" class="help-block">El campo ocupación es muy largo.</p>
									</div>
									<div class="col-sm-3">
										<label class="switch">
								      	<input for="checkbox" ng-model="vm.applicanteditdata.data[0].weight_unit_measurement" class="switch-input" type="checkbox" id="checkbox"/>
									      	<span class="switch-label" data-on="LB" data-off="KG"></span> 
									      	<span class="switch-handle"></span> 
									     </label>
									</div>
								</div>
							</div>
							<!--<div class="col-sm-4 col-md-4">
								<div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.occupation.$invalid && ( vm.formSubmitted || uiForm.occupation.$touched) }">
									<div class="col-sm-6">
										<label class="switch">
								      	<input for="checkbox2" ng-model="vm.applicanteditdata.data[0].weight_unit_measurement" class="switch-input" type="checkbox" id="checkbox2"/>
									      	<span class="switch-label" data-on="Kg" data-off="Lb"></span> 
									      	<span class="switch-handle"></span> 
									     </label>
									</div>
								</div>
							</div>-->
						
					</div>
					<div class="strike" style="width: 100%; height: 30px; text-align: center">
							<span class="" style="text-align: center !important;" >Comentarios</span>
						</div>
						<br>
					<div class="detailBox">
                                <div class="titleBox">
                                    <label>Comentarios</label>
                                </div>
                                <div class="actionBox">
                                    <ul class="commentList">
                                        <li ng-repeat="comment in vm.applicant_data.comments">
                                            <div class="commenterImage">
                                                <!--<img src="https://png.icons8.com/ios/50/000000/user-male-circle-filled.png" title="{{comment.user_info.name}}"/>-->
                                                <h4 style="font-family: fantasy; color: #337ab7; width: 11em;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" title="{{comment.user_info.name}}">{{comment.user_info.name}}</h4>
                                            </div>
                                            <button ng-if="vm.applicant_data.current_user.id == comment.user_id_creation" ng-click="vm.deleteComment(comment.id)" type="button" class="close pull-right" aria-hidden="true" title="Eliminar">&times;</button>
                                            <div class="commentText">
                                                <p class="">{{comment.text}}</p> <span class="date sub-text">{{comment.date}}</span>
                                            </div>
                                        </li>
                                    </ul>						
                                	<div  style="width: 100%; height: 40px;position: relative;">
                    					<div class="form-group" style="width: 80%;position: relative;margin-left: 0px; float:left;" >
                                			<input class="form-control" ng-model="vm.comment" type="text"  placeholder="Escribe un comentario..." name="comment">
                            			</div>
                            			<div class="form-group" style="width: 20%;margin-left: 80%;position: absolute;margin-top: 0px;float:right;">
                                			<button ng-disabled="!vm.comment" ng-click="vm.addComment()" class="btn btn-default">Comentar</button>
                            			</div>
                                    </div>
                                </div>
                            </div>
						</div>
					<div class="box-footer">
						<a ui-sref="{{vm.uisrefback}}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
						<button ng-hide="vm.completed == 1"  ng-click="vm.save(uiForm.$valid)" ng-disabled="vm.isDisabled" class="btn btn-primary pull-right">{{vm.isDisabled ? 'Guardando' : 'Guardar'}} <i class="fa fa-angle-double-right"></i></button>
                        <a ng-show="vm.completed == 1"  class="btn btn-primary pull-right" ui-sref="app.renewal-dependents-data({{vm.uisrefparameter}})">Siguiente <i class="fa fa-angle-double-right"></i></a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
