<section class="content-header">
  <h1>Creación de Póliza<!--<small>Module description here</small>-->
        <a class="btn btn-xs btn-danger pull-right" style="font-family: cursive;font-weight: bold;" title="Salir" ui-sref="app.emission-policy-lists">X</a>
    </h1>  

    <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->  
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header">
					<div id="wizar" >
					<table style="margin-left:20px; margin-right: 20px" width="100%">
						<tr>
							<th class="pearl col-xs-2 current ng-scope" align="center" style="text-align: center !important" ng-repeat-start ="data in vm.systemWizar">
								<!--<div ng-if="data.order == vm.current_step">
									<a style="color: #0080FF;">
										<i class="{{data.icon}}" aria-hidden="true" ></i>
									</a></br>
									<span class="pearl-title ng-binding">{{data.name}}</span>
								</div>-->
								<div style="cursor: pointer;">
									<a ng-style="{'color': data.order != vm.current_step ? '#A9BCF5' : '#0080FF'}" style="color: #A9BCF5" ui-sref="{{data.uisref}} ({policyId: {{vm.policyId}} })">
										<i class="{{data.icon}}" aria-hidden="true" ></i>
									</a></br>
									<span>{{data.name}}</span>
								</div>								
							</th>
							<th ng-repeat-end></th>							
						</tr>
					</table>
					</div>
				</div>
				
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>						
						<div class="" style="height:680px; overflow-y: scroll">
							<div class="col-sm-12 col-md-12">
								<div ng-repeat="section in vm.systemQuiz">
									<div class="strike" style="width: 100%; height: 30px; text-align: center">
										<span class="" style="text-align: center !important; font-size: 20px !important;" >{{section.name | uppercase}}</span>
									</div>
									<!--<h5 align="center"><span><strong>{{section.name | uppercase}}</strong></span></h5>-->
									<div class="col-sm-12 col-md-12" align="center">
										<div class="container-fluid con-margin" style="margin:0px; padding: 10px 30px; color: #888;"  ng-repeat="item in vm.systemQuizDet" ng-if="section.id == item.quiz_id"> 
											<!--<div >-->	
												<div>
													<!--<div>
								 					<a ng-click="addComment=!addComment" style="margin-right: : 20px;" class="btn btn-default btn-sm pull-right">Observación</a>
								 					</div>-->
								 					<div class="btn-group pull-right" style="margin-right: : 20px;" data-toggle="buttons">
	                                       				<label class="switch">
									      					<input for="checkbox2" class="switch-input" type="checkbox" id="checkbox2"
									      					name="answer{{item.id}}" ng-model="vm.answer[item.id]" ng-change='vm.changeSwitch(vm.repairable[item.id], vm.observation[item.id], item.id, vm.answer[item.id])'/>
										      				<span class="switch-label" data-on="Si" data-off="No"></span> 
										      				<span class="switch-handle"></span> 
										     			</label>
                                    				</div>								
												</div>
												<p align="left"><span>{{item.name}}</span></p>
												<div ng-show="vm.answer[item.id]" class="add-comment">
			                                        <div class="form-group">
			                                            <label for="{{field.name}}" class="col-xs-12 col-sm-3 control-label">Subsanable por</label>
			                                            <div class="col-xs-12 col-sm-9 col-md-6">
			                                                <select ng-model="vm.repairable[item.id]" class="form-control" name="repairable{{item.id}}" ng-init="vm.repairable[item.id]=''">
			                                                	<option value="">- - Seleccione - -</option>
			                                                	<option value="1">Subsanable por el Usuario</option>	
			                                                	<option value="2">Subsanable por el Cliente</option>	
			                                                	<option value="3">No Subsanable</option>	
			                                                </select>
			                                            </div>
			                                        </div>
			                                        <div class="form-group">
			                                            <label for="observacion" class="col-xs-12 col-sm-3 control-label">Observación</label>
			                                            <div class="col-xs-12 col-sm-9 col-md-6">
			                                                <textarea ng-model="vm.observation[item.id]" class="form-control" name="observation{{item.id}}"></textarea>
			                                            </div>
			                                        </div>

			                                    </div>
												
										</div>	
									</div>
								</div>	
							</div>					
						
					</div>
					<div class="box-footer">
						<a ui-sref="app.emission-dependents-data({policyId: vm.policyId})" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
						<button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">{{vm.isDisabled ? 'Guardando' : 'Guardar'}} <i class="fa fa-angle-double-right"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
