<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-placeholder-single").select2({
    placeholder: "Seleccione Plan"
  });
  $(".js-example-basic-single2").select2({
    placeholder: "Seleccione Doctor"
  });
  $(".js-example-basic-single").select2({ 
    placeholder: "Seleccione Póliza"
   });
  $(".js-example-placeholder-doc").select2({
    placeholder: "Seleccione Tipo"
  });
  $(".js-example-basic-single3").select2({
    placeholder: "Seleccione Hospital"
   });
    $(".js-example-basic-single4").select2({
    placeholder: "Seleccione Especialidad"
   });
});

function clearFileInputField(tagId) {
    document.getElementById(tagId).value = "";
}
</script>
<section class="content-header">
  <h1>Tickets</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Confirmar Fecha de Cita</h3>
        </div>
          <form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                    <h4>{{alert.title}}</h4>
                    <p>{{alert.msg}}</p>
                </div>
            <div class="row">
              <br>
                <div class="col-sm-4 col-md-4">
                  <div class="form-group" ng-class="{ 'has-error': uiForm.date_start.$invalid && ( vm.formSubmitted) }">
                    <label for="input" class="col-sm-4 control-label">Fecha de Cita</label>
                      <div class="col-sm-6">
                        <input type="date"  class="form-control" style="width:200px;" placeholder="date_start" ng-model="vm.ticketseditdata.data[0].date_start" name="date_start"  required>
                          <p class="help-block">Campo requerido.</p>
                          <p ng-show="uiForm.date_start.$invalid && (vm.formSubmitted || vm.errors.date_start)" class="help-block">{{vm.errors.date_start}}</p>

                      </div>
                    </div>
                  </div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group" ng-class="{ 'has-error': uiForm.hour.$invalid && ( vm.formSubmitted) }">
                    <label for="input" class="col-sm-6 control-label">Hora</label>
                    <div class="col-sm-6">
                      <input type="time"  class="form-control" style="width:200px;" placeholder="hour" ng-model="vm.ticketseditdata.data[0].hour" name="hour" required>
                        <p class="help-block">Campo requerido</p>
                        <p ng-show="uiForm.hour.$invalid && (vm.formSubmitted || vm.errors.hour)" class="help-block">{{vm.errors.hour}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
              <div class="col-sm-4 col-md-4">
                <div class="form-group" ng-class="{ 'has-error': uiForm.doctor.$invalid && ( vm.formSubmitted) }">
                  <label for="input" class="col-sm-4 control-label">Doctor</label>
                  <div class="col-sm-6">
                    <!--<input type="text" class="form-control" style="width: 400px" placeholder="Doctor" ng-model="vm.ticketseditdata.data[0].doctor" name="doctor">-->
                      <select class="js-example-basic-single2" style='font-size: 14px; width: 400px; height: 34px;' ng-model="vm.ticketseditdata.data[0].doctor" name="doctor" ng-change="vm.changeDoctor()" required ng-if="vm.llave2 == false">
                      <option style="font-size: 17px" value="">--Seleccione--</option>
                      <option style="font-size: 17px"  ng-repeat="doctor in vm.doctors" value="{{doctor.id}}" >{{doctor.names}} {{doctor.surnames}}</option>
                    </select>

                    <select class="js-example-basic-single2" style='font-size: 14px; width: 400px; height: 34px;' ng-model="vm.ticketseditdata.data[0].doctor" name="doctor" ng-change="vm.changeDoctor()" required ng-if="vm.llave2 == true">
                      <option style="font-size: 17px" value="">--Seleccione--</option>
                      <option style="font-size: 17px"  ng-repeat="doctor in vm.systemdoctorbyspec" value="{{doctor.id}}" >{{doctor.names}}</option>
                    </select>
                      <a class="btn btn-xs btn-primary" ng-click="vm.modalDoctor()"  ><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                    <p ng-show="uiForm.doctor.$invalid && (vm.formSubmitted || vm.errors.doctor)" class="help-block">{{vm.errors.doctor}}</p>
                  </div>
                </div>
              </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': uiForm.city.$invalid && vm.formSubmitted }">
                  <label for="input" class="col-sm-6 control-label">Ciudad</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" style="width:400px;" placeholder="Ciudad"  ng-model="vm.ticketseditdata.data[0].city" name="city" required>
                     <p class="help-block">El campo ciudad es requerido.</p>
                     <p ng-show="uiForm.city.$invalid && (vm.formSubmitted || vm.errors.city)" class="help-block">{{vm.errors.city}} </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4">
                <div class="form-group" ng-class="{ 'has-error': uiForm.medical_speciality.$invalid && ( vm.formSubmitted) }">
                  <label for="input" class="col-sm-4 control-label">Especialidad Médica</label>
                  <div class="col-sm-6">
                    <!--<input type="text" class="form-control" style="width: 400px;" placeholder="Especialidad Médica" ng-model="vm.ticketseditdata.data[0].medical_speciality" name="medical_speciality" >-->
                      <select class="js-example-basic-single4" style='font-size: 14px; width: 400px; height: 34px;' ng-model="vm.ticketseditdata.data[0].medical_speciality" name="medical_speciality" required ng-if="vm.llave == false" ng-change="vm.ChangeDoctorBySpec(vm.ticketseditdata.data[0].medical_speciality)">
                      <option style="font-size: 17px" value="">--Seleccione--</option>
                      <option style="font-size: 17px"  ng-repeat="speciality in vm.medicalspecialties" ng-value="{{speciality.id}}" >{{speciality.name}}</option>
                    </select>

                      <select class="js-example-basic-single4" style='font-size: 14px; width: 400px; height: 34px;' ng-model="vm.ticketseditdata.data[0].medical_speciality" name="medical_speciality" required ng-if="vm.llave == true" ng-change="vm.ChangeDoctorBySpec(vm.ticketseditdata.data[0].medical_speciality)">
                      <option style="font-size: 17px" value="">--Seleccione--</option>
                      <option style="font-size: 17px"  ng-repeat="speciality in vm.doctordata" ng-value="{{speciality.speciality_id}}" >{{speciality.name}}</option>
                    </select>

                      <p ng-show="uiForm.medical_speciality.$invalid && (vm.formSubmitted || vm.errors.medical_speciality)" class="help-block">{{vm.errors.medical_speciality}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="form-group" ng-class="{ 'has-error': uiForm.hospital.$invalid && ( vm.formSubmitted) }">
                  <label for="input" class="col-sm-6 control-label">Hospital</label>
                  <div class="col-sm-6">
                    <!--<input type="text" class="form-control" style="width:400px;" placeholder="Hospital" ng-model="vm.ticketseditdata.data[0].hospital" name="hospital" required>-->
                      <select class="js-example-basic-single3" style='font-size: 14px; width: 400px; height: 34px;' ng-model="vm.ticketseditdata.data[0].hospital" name="hospital" required>
                      <option style="font-size: 17px" value="">--Seleccione--</option>
                      <option style="font-size: 17px"  ng-repeat="hospital in vm.hospitals" value="{{hospital.id}}" >{{hospital.name}}</option>
                    </select>
                      <a class="btn btn-xs btn-primary" ng-click="vm.modalHospital()"  ><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                      <p class="help-block">El campo hospital es requerido.</p>
                      <p ng-show="uiForm.hospital.$invalid && (vm.formSubmitted || vm.errors.hospital)" class="help-block">{{vm.errors.hospital}}</p>
                  </div>
                </div>
              </div>
            </div>
              <hr />
              <fieldset>
              <table style="border-collapse: separate; border-spacing: 8px; overflow-x:scroll;width: auto;margin-left: 27px;">     
                <tr ng-repeat="pline in vm.previouslines" style="height: 120px">
                  <td style="height: 120px !important;">
                    <div class="col-sm-10 col-md-10" style="height: 120px !important"> 
                      <div class="form-group" ng-class="{ 'has-error': uiForm.pdoc_type_id{{pline.id}}.$invalid && vm.formSubmitted }">
                        <label for="pdoc_type_id{{pline.id}}">Tipo de Documento</label>
                        <select class="form-control" style='font-size: 14px; width: 200px;' ng-model="vm.previouslines[$index].id_doc_type" name="pdoc_type_id{{pline.id}}" ng-options="doc.id as doc.name for doc in vm.systemDocTypes">
                          <option style="font-size: 17px"  ng-value="{{doc.id}}">{{doc.name}}</option>
                        </select>
                        <p class="help-block">Este campo es requerido.</p>
                      </div>
                    </div>
                  </td>
                 <td style="height: 120px !important; white-space: nowrap">
                    <div class="col-sm-10 col-md-10" style="height: 120px !important; white-space: nowrap; width: 340px">
                      <div class="form-group" ng-class="{ 'has-error': uiForm.pfile{{pline.id}}.$invalid && vm.formSubmitted }">
                        <label for="pfile{{pline.id}}">Archivo</label>
                          <input id="file1" name="pfile{{pline.id}}" class="form-control" style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="vm.pmyFile[$index]" file-model="vm.pmyFile[$index]" file-input="vm.pfiles[$index]">
                          <p class="help-block">Este campo es requerido.</p>
                      </div>
                    </div>
                  </td>
                      <th ng-hide="vm.pmyFile[$index]">
                        <a style="font-size: 14px;white-space: nowrap" ng-href="{{vm.directory}}{{vm.ticket_id}}/{{pline.filename}}" target="_blank">{{pline.filename}}</a>
                      </th>
                      <th ng-show="vm.pmyFile[$index]">
                      </th>
                      <td style="height: 120px !important">
                        <div class="col-sm-12 col-md-8" style="height: 120px !important">
                          <div class="form-group">
                            <label for="pdoc_type_id{{pline.id}}">Acciones </label>
                              <a  class="btn btn-danger" ng-click="vm.deletePreviousLine(pline)" >
                              <i class="fa fa-remove"></i>
                              </a>
                              <p class="help-block">Eliminar</p>
                          </div>
                        </div>
                      </td>
                  </tr> 
                <tr ng-repeat="line in vm.lines" style="height: 120px">
                      <td style="height: 120px !important">
                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                          <div class="form-group" ng-class="{ 'has-error': uiForm.doc_type_id{{line.id}}.$invalid && vm.formSubmitted }">
                            <label for="doc_type_id{{line.id}}">Tipo de Documento</label>
                              <select class="form-control" style='font-size: 14px; width: 200px;' ng-model="vm.doc_typeselected[line.id]" name="doc_type_id{{line.id}}" ng-change="vm.changeDocType(line.id,1);">
                                  <option style="font-size: 17px" ng-repeat="doc in vm.systemDocTypes" ng-value="{{doc.id}}" ng-selected="{{1 == doc.id}}">{{doc.name}}</option>
                              </select>
                                <p class="help-block">Requerido.</p>
                           </div>
                        </div>
                      </td>                    
                      <td style="height: 120px !important">
                        <div class="col-sm-10 col-md-10" style="height: 120px !important; width: 340px">
                          <div class="form-group" ng-class="{ 'has-error': uiForm.file{{line.id}}.$invalid && vm.formSubmitted }">
                            <label for="file{{line.id}}">Archivo</label>
                              <input id="file1" name="file{{line.id}}" class="form-control" style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="vm.myFile[line.id]" file-model="vm.myFile[line.id]" file-input="vm.files[line.id]"  >
                              <p class="help-block">Este campo es requerido.</p>
                          </div>
                        </div>
                      </td>
                     <th></th>
                        <td style="height: 120px !important">
                          <div class="col-sm-12 col-md-8" style="height: 120px !important">
                            <div class="form-group">
                              <label for="doc_type_id{{line.id}}">Acciones </label>
                                <a  class="btn btn-danger" ng-click="vm.deleteLine(line)" >
                                <i class="fa fa-remove"></i>
                                </a>
                                <p class="help-block">Eliminar</p>
                            </div>
                         </div>
                        </td>
                      </tr>
                      
                </table>
                <div style="margin-left: 25px" class="box-header with-border">
                      <a class="btn btn-xs btn-primary" ng-click="vm.addFile()" ><i class="fa fa-plus" aria-hidden="true"></i> Agregar Documentos</a>
                    </div>
              </fieldset>
            </br>
          </div>
          <div class="box-footer">
            <a ui-sref="app.ticket-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary pull-right"  type="submit" ng-click="vm.save(uiForm.$valid,vm.ticketseditdata.data[0].ticket_id)">Guardar</button>      
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script type="text/ng-template" id="myModalDoctor">
    <form class="form-horizontal" name="registerForm" ng-submit="mvm.save(registerForm.$valid)" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title" style="text-align: center">Agregar Doctor</h3>
        </div>
        <br>
        <div class="box-body">
            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.names.$invalid && ( mvm.formSubmitted) }">
                <label for="inputEmail3" class="col-sm-2 control-label">Nombres</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nombres" ng-model="mvm.names" name="names" ng-maxlength="30" required>
                    <span class="form-control-feedback"></span>
                    <p class="help-block">El campo nombres es requerido.</p>
                    <p ng-show="registerForm.abbreviation.$error.maxlength" class="help-block">El campo nombres es muy largo.</p>
                    <p ng-show="registerForm.names.$invalid && (mvm.formSubmitted || mvm.errors.names)" class="help-block">{{mvm.errors.names}}</p>
                </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.surnames.$invalid && ( mvm.formSubmitted) }">
                <label for="inputEmail3" class="col-sm-2 control-label">Apellidos</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Apellidos" ng-model="mvm.surnames" name="surnames" ng-maxlength="30" required>
                    <span class="form-control-feedback"></span>
                    <p class="help-block">El campo apellidos es requerido.</p>
                    <p ng-show="registerForm.surnames.$error.maxlength" class="help-block">El campo apellidos es muy largo.</p>
                    <p ng-show="registerForm.surnames.$invalid && (mvm.formSubmitted || mvm.errors.surnames)" class="help-block">{{mvm.errors.surnames}}</p>
                </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.identification.$invalid && ( mvm.formSubmitted) }">
                <label for="inputEmail3" class="col-sm-2 control-label">Identificación</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Identificación" ng-model="mvm.identification" name="identification" ng-maxlength="30" required>
                    <span class="form-control-feedback"></span>
                    <p class="help-block">El campo identificación es requerido.</p>
                    <p ng-show="registerForm.identification.$error.maxlength" class="help-block">El campo identificación es muy largo.</p>
                    <p ng-show="registerForm.identification.$invalid && (mvm.formSubmitted || mvm.errors.identification)" class="help-block">{{mvm.errors.identification}}</p>
                </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.address.$invalid && ( mvm.formSubmitted) }">
              <label for="address" class="col-sm-2 control-label">Dirección</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Dirección" ng-model="mvm.address" name="address" ng-maxlength="255" >
                <span class="form-control-feedback"></span>
                <p class="help-block">El campo dirección es requerido.</p>
                <p ng-show="registerForm.address.$error.maxlength" class="help-block">El campo identificación es muy largo.</p>
                <p ng-show="registerForm.address.$invalid && (mvm.formSubmitted || mvm.errors.address)" class="help-block">{{vm.errors.address}}</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.phone.$invalid && ( mvm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Teléfono</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Teléfono" ng-model="mvm.phone" ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" name="phone" ng-maxlength="25" required>
                <span class="fa fa-phone form-control-feedback"></span>
                <p class="help-block">El campo identificación es requerido.</p>
                <p ng-show="registerForm.phone.$error.maxlength" class="help-block">El campo identificación es muy largo.</p>
                <p ng-show="registerForm.phone.$invalid && (mvm.formSubmitted || mvm.errors.phone)" class="help-block">{{mvm.errors.phone}}</p>
              </div>
            </div>

            <div class="form-group  has-feedback" ng-class="{ 'has-error': registerForm.country.$invalid && ( mvm.formSubmitted || registerForm.country.$touched) }">
              <label for="input" class="col-sm-2 control-label">País</label>
              <div class="col-sm-10">
                  <select class="form-control" style='font-size: 14px;' placeholder="País" ng-model="mvm.country" name="country" ng-change="mvm.getState();" required>
                      <option value="">- Seleccione -</option>
                      <option style="font-size: 17px" ng-repeat="count in mvm.systemCountrys" value="{{count.id}}" >{{count.name}}</option>
                  </select>
                  <p class="help-block">El campo país es requerido.</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.state.$invalid && ( mvm.formSubmitted || registerForm.state.$touched) }">
              <label for="input" class="col-sm-2 control-label">Provincia</label>
              <div class="col-sm-10">
                  <select class="form-control" style='font-size: 14px;' placeholder="Provincia" ng-model="mvm.state" name="state" ng-change="mvm.getCity();" required>
                      <option value="">- Seleccione -</option>
                      <option style="font-size: 17px" ng-repeat="state in mvm.systemStates" value="{{state.id}}" >{{state.name}}</option>
                  </select>
                  <p class="help-block">El campo provincia es requerido.</p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': registerForm.city.$invalid && ( vm.formSubmitted || registerForm.city.$touched) }">
                <label for="input" class="col-sm-2 control-label">Ciudad</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" name="city" ng-model="mvm.city" placeholder="Ciudad" required>
                  <p class="help-block">El campo ciudad es requerido.</p>
              </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" style="text-align: left; padding-left: 40px;" class="col-sm-12 control-label">Especialidades</label>
               <div class="col-sm-12" style="border-top:1px solid #F2F2F2 ; border-bottom:1px solid #F2F2F2 ; position: 8;width: 590px; height: 150px;overflow-y: auto;right: 8px;left: 8px; ">
                    <div class="checkbox" ng-repeat="speciality in mvm.specialties">
                        <label>
                            <input type="checkbox" checklist-model="mvm.specialtiesselected" checklist-value="speciality.id"> {{speciality.name}}
                        </label>

                    </div>
                </div>
            </div>
        </div>
        <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
            <button class="btn btn-primary" type="submit"   data-dismiss="modal" ng-disabled="mvm.specialtiesselected.length == 0 || mvm.specialtiesselected == undefined" >Guardar</button>
            &nbsp;&nbsp;&nbsp;
        </div>
    </form>
</script>

<script type="text/ng-template" id="myModalHospital">
    <form class="form-horizontal" name="registerForm" ng-submit="mvm.save(registerForm.$valid)" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title" style="text-align: center">Agregar Hospital</h3>
        </div>
        <br>
        <div class="box-body">
            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.name.$invalid && ( mvm.formSubmitted) }">
                <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nombre" ng-model="mvm.name" name="name" ng-maxlength="100" required>
                    <span class="fa fa-university form-control-feedback"></span>
                    <p class="help-block">El campo nombre es requerido.</p>
                    <p ng-show="registerForm.name.$error.maxlength" class="help-block">El campo nombre es muy largo.</p>
                    <p ng-show="registerForm.name.$invalid && (mvm.formSubmitted || mvm.errors.name)" class="help-block">{{mvm.errors.name}}</p>
                </div>
            </div>

            <div class="form-group  has-feedback" ng-class="{ 'has-error': registerForm.country.$invalid && ( mvm.formSubmitted || registerForm.country.$touched) }">
                <label for="input" class="col-sm-2 control-label">País</label>
        <div class="col-sm-10">
            <select class="form-control" style='font-size: 14px;' placeholder="País" ng-model="mvm.country" name="country" ng-change="mvm.getState();" required>
                        <option value="">- Seleccione -</option>
                        <option style="font-size: 17px" ng-repeat="count in mvm.systemCountrys" value="{{count.id}}" >{{count.name}}</option>
                    </select>
                    <p class="help-block">El campo país es requerido.</p>
        </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.state.$invalid && ( mvm.formSubmitted || registerForm.state.$touched) }">
              <label for="input" class="col-sm-2 control-label">Provincia</label>
              <div class="col-sm-10">
                  <select class="form-control" style='font-size: 14px;' placeholder="Provincia" ng-model="mvm.state" name="state" ng-change="mvm.getCity();" required>
                      <option value="">- Seleccione -</option>
                      <option style="font-size: 17px" ng-repeat="state in mvm.systemStates" value="{{state.id}}" >{{state.name}}</option>
                  </select>
                  <p class="help-block">El campo provincia es requerido.</p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': registerForm.city.$invalid && ( vm.formSubmitted || registerForm.city.$touched) }">
                <label for="input" class="col-sm-2 control-label">Ciudad</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" name="city" ng-model="mvm.city" required>
                  <p class="help-block">El campo ciudad es requerido.</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.address.$invalid && ( mvm.formSubmitted) }">
                <label for="inputEmail3" class="col-sm-2 control-label">Dirección</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Dirección" ng-model="mvm.address" name="address" ng-maxlength="300" required>
                    <span class="fa fa-university form-control-feedback"></span>
                    <p class="help-block">El campo dirección es requerido.</p>
                    <p ng-show="registerForm.address.$error.maxlength" class="help-block">El campo dirección es muy largo.</p>
                    <p ng-show="registerForm.address.$invalid && (mvm.formSubmitted || mvm.errors.address)" class="help-block">{{mvm.errors.address}}</p>
                </div>
            </div>
        </div>
        <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
            <button class="btn btn-primary" type="submit"   data-dismiss="modal" ng-disabled="(mvm.diagnosticId | json)  == '{}'" >Guardar</button>
            &nbsp;&nbsp;&nbsp;
        </div>
    </form>
</script>
          
