<section class="content-header">
  <h1>Directorios de archivos</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Directorio</h3>
        </div>
        <form class="form-horizontal" name="registerForm" ng-submit="vm.save(registerForm.$valid)" novalidate>

          <div class="box-body">
            <div class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.directory.$invalid && ( vm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Directorio</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Directorio" ng-model="vm.directoryeditdata.data.policy_file_directory" name="directory" ng-maxlength="254" required>
                <span class="fa fa-cloud-upload form-control-feedback"></span>
                <p class="help-block">El campo directorio es requerido.</p>
                <p ng-show="registerForm.abbreviation.$error.maxlength" class="help-block">El campo directorio es muy largo.</p>
                <p ng-show="registerForm.directory.$invalid && (vm.formSubmitted || vm.errors.directory)" class="help-block">{{vm.errors.directory}}</p>
              </div>
            </div>

          <div class="box-footer">
              <a ui-sref="app.landing" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right">Guardar</button>
          </div>
              </div>
        </form>

    </div>
  </div>
    </div>
</section>
