<style>
    .pointer {
        cursor: pointer;
    }
    /*@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);*/
    .detailBox {
        width:95%;
        border:1px solid #bbb;
        margin:auto;
    }
    .titleBox {
        background-color:#fdfdfd;
        padding:10px;
    }
    .titleBox label{
      color:#444;
      margin:0;
      display:inline-block;
    }
    .commentBox {
        padding:10px;
        border-top:1px dotted #bbb;
    }
    .commentBox .form-group:first-child, .actionBox .form-group:first-child {
        width:80%;
    }
    .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
        width:18%;
    }
    .actionBox .form-group * {
        width:100%;
    }
    .commentList {
        padding:0;
        list-style:none;
        max-height:400px;
        overflow:auto;
    }
    .commentList li {
        margin:0;
        margin-top:10px;
    }
    .commentList li > div {
        display:table-cell;
    }
    .commenterImage {
        /*width:12%;*/
        margin-right:5px;
        height:100%;
        float:left;
    }
    .commenterImage img {
        width:100%;
        border-radius:50%;
    }
    .commentText p {
        margin:0;
    }
    .sub-text {
        color:#aaa;
        font-family:verdana;
        font-size:11px;
    }
    .actionBox {
        border-top:1px dotted #bbb;
        padding:10px;
    }
</style>
<section class="content-header">
    <h1>Ficha del Cliente - {{vm.applicant_data.info.first_name}} {{vm.applicant_data.info.last_name}}</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active': vm.active_tab == 1}"><a class="pointer" data-toggle="tab" ng-click="vm.setActive(1)">Información del titular</a></li>
                        <li ng-class="{'active': vm.active_tab == 2}"><a class="pointer" data-toggle="tab" ng-click="vm.setActive(2)">Dependientes</a></li>
                        <li ng-class="{'active': vm.active_tab == 3}"><a class="pointer" data-toggle="tab" ng-click="vm.setActive(3)">Reclamos</a></li>
                        <li ng-class="{'active': vm.active_tab == 4}"><a class="pointer" data-toggle="tab" ng-click="vm.setActive(4)">Tickets</a></li>
                        <li ng-class="{'active': vm.active_tab == 5}"><a class="pointer" data-toggle="tab" ng-click="vm.setActive(5)">Comentarios</a></li>
                    </ul>
                    <div class="tab-content">
                        <div ng-if="vm.active_tab == 1">
                            <form class="form-horizontal" name="uiForm">
                                <div class="box-body">
                                    <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                                        <h4>{{alert.title}}</h4>
                                        <p>{{alert.msg}}</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group has-feedback">
                                                <label for="input" class="col-sm-4 control-label">Nombres</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="vm.applicant_data.info.first_name" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group has-feedback">
                                                <label for="input" class="col-sm-4 control-label">Apellidos</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="vm.applicant_data.info.last_name" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group has-feedback">
                                                <label for="input" class="col-sm-4 control-label">Documento de Identidad</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="vm.applicant_data.info.identity_document" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group has-feedback">
                                                <label for="input" class="col-sm-4 control-label">E-mail</label>
                                                <div class="col-sm-8">
                                                    <input type="email" class="form-control" ng-model="vm.applicant_data.info.email" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="input" class="col-sm-4 control-label">Fecha de Nacimiento</label>
                                                <div class="col-sm-8">
                                                    <input type="date" class="form-control" ng-model="vm.applicant_data.info.birthday" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label for="input" class="col-sm-4 control-label">Lugar de Nacimiento</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="vm.applicant_data.info.place_of_birth" disabled>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="input" class="col-sm-4 control-label">Dirección</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" rows="5" ng-model="vm.applicant_data.info.address" disabled></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="input" class="col-sm-4 control-label">Móvil</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="vm.applicant_data.info.mobile" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="input" class="col-sm-4 control-label">Teléfono</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="vm.applicant_data.info.phone" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group  has-feedback">
                                                <label for="input" class="col-sm-4 control-label">País</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" style='font-size: 14px;' ng-model="vm.applicant_data.info.country_id" disabled>
                                                        <option style="font-size: 17px" ng-repeat="count in vm.applicant_data.info.country" value="{{count.id}}" selected>{{count.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group has-feedback">
                                                <label for="input" class="col-sm-4 control-label">Género</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" style='font-size: 14px;' ng-model="vm.applicant_data.info.gender" disabled>
                                                        <option value="">- Seleccione -</option>
                                                        <option style="font-size: 17px"  value="F" >Femenino</option>
                                                        <option style="font-size: 17px"  value="M" >Masculino</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group has-feedback">
                                                <label for="input" class="col-sm-4 control-label">Provincia</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" style='font-size: 14px;' ng-model="vm.applicant_data.info.province_id" disabled>
                                                        <option style="font-size: 17px" ng-repeat="state in vm.applicant_data.info.province" value="{{state.id}}" selected>{{state.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group has-feedback">
                                                <label for="input" class="col-sm-4 control-label">Estado Civil</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" style='font-size: 14px;' ng-model="vm.applicant_data.info.civil_status" disabled>
                                                        <option value="">- Seleccione -</option>
                                                        <option style="font-size: 17px"  value="S" >Soltero(a)</option>
                                                        <option style="font-size: 17px"  value="C" >Casado(a)</option>
                                                        <option style="font-size: 17px"  value="D" >Divorciado(a)</option>
                                                        <option style="font-size: 17px"  value="V" >Viudo(a)</option>
                                                        <option style="font-size: 17px"  value="U" >Unión Libre</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="input" class="col-sm-4 control-label">Ciudad</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" style='font-size: 14px;' ng-model="vm.applicant_data.info.city_id" disabled>
                                                        <option value="">- Seleccione -</option>
                                                        <option style="font-size: 17px" ng-repeat="cities in vm.applicant_data.info.city" value="{{cities.id}}" selected>{{cities.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group has-feedback">
                                                <label for="input" class="col-sm-4 control-label">Ocupación</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="vm.applicant_data.info.occupation" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-6">
                                            <div class="form-group">
                                                <label for="input" class="col-sm-4 control-label">Estatura</label>
                                                <div class="col-sm-3">
                                                    <input type="number" class="form-control" ng-model="vm.applicant_data.info.height" disabled>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label style="font-size: 26px">
                                                     {{vm.applicant_data.info.height_unit_measurement}}
                                                     </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-6">
                                            <div class="form-group">
                                                <label for="input" class="col-sm-4 control-label">Peso</label>
                                                <div class="col-sm-3">
                                                    <input type="number" class="form-control" ng-model="vm.applicant_data.info.weight" disabled>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label style="font-size: 26px">
                                                    {{vm.applicant_data.info.weight_unit_measurement}}
                                                     </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div ng-if="vm.active_tab == 2">
                            <br>
                            <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
                        </div>
                        <div ng-if="vm.active_tab == 3">
                            <br>
                            <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable2" dt-options="vm.dtOptions2" dt-columns="vm.dtColumns2"></table>
                        </div>
                        <div ng-if="vm.active_tab == 4">
                            <br>
                            <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable3" dt-options="vm.dtOptions3" dt-columns="vm.dtColumns3"></table>
                        </div>
                        <div ng-if="vm.active_tab == 5">
                            <br>
                            <div class="detailBox">
                                <div class="titleBox">
                                    <label>Comentarios</label>
                                </div>
                                <div class="actionBox">
                                    <ul class="commentList">
                                        <li ng-repeat="comment in vm.applicant_data.comments">
                                            <div class="commenterImage">
                                                <!--<img src="https://png.icons8.com/ios/50/000000/user-male-circle-filled.png" title="{{comment.user_info.name}}"/>-->
                                                <h4 style="font-family: fantasy; color: #337ab7; width: 11em;white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;" title="{{comment.user_info.name}}">{{comment.user_info.name}}</h4>
                                            </div>
                                            <button ng-if="vm.applicant_data.current_user.id == comment.user_id_creation" ng-click="vm.deleteComment(comment.id)" type="button" class="close pull-right" aria-hidden="true" title="Eliminar">&times;</button>
                                            <div class="commentText">
                                                <p class="">{{comment.text}}</p> <span class="date sub-text">{{comment.date}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <form class="form-inline" role="form">
                                        <input class="form-control" ng-model="vm.comment" type="text" placeholder="Escribe un comentario..." required>
                                        </div>
                                        <div class="form-group">
                                            <button ng-click="vm.addComment()" ng-disabled="!vm.comment" class="btn btn-default">Comentar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <a ui-sref="app.applicant-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
