<section class="content-header">
  <h1>
    <a ui-sref="app.claim-claim-lists" class="btn btn-default btn-sm"><i class="fa fa-angle-double-left"></i></a> Asignación <span class="parpadea text"> <i  ng-if="vm.warning.length != 0" class="fa fa-warning" title="Quedan {{vm.warning.length}} documentos por asignar ==> {{vm.documents}} "></i></span>
  </h1>
  <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li class="active">Lista de Agentes</li>
  </ol>-->
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Asegurados</h3>
          <!--<div class="box-tools pull-right">
            <a ng-hide="vm.warning.length != 0" class="btn btn-block btn-success btn-xs" ng-click="vm.dispatchAll()"><i class="fa fa-check"></i> Despachar Todos</a>
          </div>-->
        </div>
        <div class="box-body">
          <table  width="100%">
                <div class="row">
                  <div class="container" align="center">
                    <table  width="100%" class="table table-striped table-bordered" >
                      <thead>
                        <tr>
                          <th style="text-align: left;">Tipo</th>
                          <th style="text-align: left;">Nombre</th>
                          <th style="text-align: left;">Acciones</th>
                        </tr>
                      </thead>
                      <tbody ng-repeat="item in vm.allAffiliates">
                        <div>
                          <tr colspan="5">
                            <!--<td ng-init="toggle[$index] = false" ng-click="toggle[$index] =!toggle[$index]">
                              <a class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-plus-sign" ng-if="!toggle[$index]"></span>
                                <span class="glyphicon glyphicon-minus-sign" ng-if="toggle[$index]"></span>
                              </a>
                            </td>-->
                            <td style="text-align: left; width:14%">{{item.relationship}}</td>
                            <td style="text-align: left; width:70%">{{item.name}}</td>
                            <td style="text-align: left; width:16%" ng-init="toggle[$index] = false">
                              <a style="color: #3c8dbc; background-color: #FFF;width:24.2px;height:21.98px"  title="Listar documentos" class="btn btn-xs btn-primary" ui-sref="app.claim-doc-lists({claimId: vm.claimId, policyId: vm.policyId, id:item.id,role:item.role})">
                                <i class="fa fa-plus"></i>
                              </a>
                              <button style="color: #3c8dbc; background-color: #FFF;width:24.2px;height:21.98px" title="Ver Diagnósticos" class="btn btn-xs btn-primary" ng-click="toggle[$index] =!toggle[$index]" ng-disabled = "item.statusdispatch == false">
                                <i class="glyphicon glyphicon-eye-open"></i>
                              </button>
                              <!--<button style="color: #3c8dbc; background-color: #FFF;width:24.2px;height:21.98px" title="Despachar Diagnósticos" class="btn btn-xs btn-primary" ng-click="vm.dispatch(item.id,item.role,vm.claimId)" ng-disabled = "item.statusdispatch == false">
                                <i class="fa fa-location-arrow"></i>
                              </button>-->                                          
                            </td>
                          </tr>
                          <tr ng-if="toggle[$index]" id="extraInfo" colspan="5">
                            <td colspan="3">
                              <table width="100%" class="table table-striped table-bordered">
                                <thead>
                                  <tr>
                                    <th style="text-align: left; !important;">Descripción</th>
                                    <th style="text-align: left;">Documentos</th>
                                    <th style="text-align: left; width:16%">Acciones</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="detail in item.detail" colspan="5">
                                    <td style="text-align: left; width:14.5%">{{detail.description}}</td>
                                    <td style="text-align: center; width:85.5%">
                                      <table  class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th style="text-align: center;width: 10%">Tipo</th>
                                            <th style="text-align: center;width: 25%">Proveedor</th>
                                            <th style="text-align: center;width: 30%">Descripción</th>
                                            <th style="text-align: center;width: 5%">Moneda</th>
                                            <th style="text-align: center;width: 15%">Monto</th>
                                            <th style="text-align: center;width: 10px">Fecha</th>
                                            <th style="text-align: center;width: 5%"></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="file in detail.documents">
                                            <td style="text-align: center; width: 10% !important;">{{file.id_doc_type}}</td>
                                            <td style="text-align: center; width: 25% !important;">{{file.provider}}</td>
                                            <td style="text-align: center;width: 30%">{{file.description}}</td>
                                            <td style="text-align: center;width: 5%">{{file.currency_id}}</td>
                                            <td style="text-align: center;width: 15%">{{file.amount}}</td>
                                            <td style="text-align: center;width: 10px">{{file.created}}</td>
                                            <td style="text-align: center;width: 5%"><a href="claims/{{vm.claimId}}/{{file.filename}}" target="_blank"><i class="fa fa-file"></i></a></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td style="align-content: left; width:16%">
                                      <a style="color: #3c8dbc; background-color: #FFF;" title="Editar" class="btn btn-xs btn-primary" ui-sref="app.diagnostic-edit({claimId: vm.claimId, diagnosticId: detail.diagnosticId, description: detail.description})" ng-click="mvm.ok()">
                                        <i class="fa fa-pencil"></i>
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </div>
                      </tbody>
                    </table>
                  </div>
                </div>
              </table>
            </div>
        <div class="box-footer"></div>
      </div>
    </div>
  </div>
</section>

<script type="text/ng-template" id="myModalDocContent">
    <div class="modal-header">
        <button type="button" class="close" ng-click="mvm.ok()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="modal-title" style="text-align: center">{{mvm.claimId}} | {{mvm.client}}</h3>
    </div>
    <br>
    <table width="100%" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="text-align: center; width: 180px !important;">Descripción</th>
                <th style="text-align: center;">Documentos</th>
                <th style="text-align: center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in mvm.diagnostic">
                <td style="text-align: center;">{{item.description}}</td>
                <td style="text-align: center;">
                    <!--<a ng-repeat="file in item.documents" href="claims/{{mvm.claimId}}/{{file.filename}}" target="_blank">{{file.filename}}<br></a>-->
                    <table style="table-layout: fixed;" class="table table-striped table-bordered">
                        <tbody>
                            <tr ng-repeat="file in item.documents">
                                <th style="text-align: center; width: 10px !important;">{{file.id_doc_type}}</th>
                                <th><a href="claims/{{mvm.claimId}}/{{file.filename}}" target="_blank">{{file.filename}}</a></th>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    
                        <a style="color: #3c8dbc; background-color: #FFF;" title="Editar" class="btn btn-xs btn-primary" ui-sref="app.diagnostic-edit({claimId: mvm.claimId, diagnosticId: item.diagnosticId, description: item.description})" ng-click="mvm.ok()">
                            <i class="fa fa-pencil"></i>

                        </a>
                    
                </td>
            </tr>
        </tbody>
    </table>
    <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
        <button class="btn btn-primary" type="button" ng-click="mvm.ok()" data-dismiss="modal">OK</button>
      &nbsp;&nbsp;&nbsp;
    </div>
</script>
