<section class="content-header">
  <h1>Médicos</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Agregar Médico</h3>
        </div>
        <form class="form-horizontal" name="registerForm" ng-submit="vm.save(registerForm.$valid)" novalidate>
          <div class="box-body">
            <div class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.names.$invalid && ( vm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Nombres</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Nombres" ng-model="vm.names" name="names" ng-maxlength="30" required>
                <span class="form-control-feedback"></span>
                <p class="help-block">El campo nombres es requerido.</p>
                <p ng-show="registerForm.abbreviation.$error.maxlength" class="help-block">El campo nombres es muy largo.</p>
                <p ng-show="registerForm.names.$invalid && (vm.formSubmitted || vm.errors.names)" class="help-block">{{vm.errors.names}}</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.surnames.$invalid && ( vm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Apellidos</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Apellidos" ng-model="vm.surnames" name="surnames" ng-maxlength="30" required>
                <span class="form-control-feedback"></span>
                <p class="help-block">El campo apellidos es requerido.</p>
                <p ng-show="registerForm.surnames.$error.maxlength" class="help-block">El campo apellidos es muy largo.</p>
                <p ng-show="registerForm.surnames.$invalid && (vm.formSubmitted || vm.errors.surnames)" class="help-block">{{vm.errors.surnames}}</p>
              </div>
            </div>

              <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.identification.$invalid && ( vm.formSubmitted) }">
              <label for="identification" class="col-sm-2 control-label">Identificación</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Identificación" ng-model="vm.identification" name="identification" ng-maxlength="30">
                <span class="form-control-feedback"></span>
                <p ng-show="registerForm.identification.$error.maxlength" class="help-block">El campo identificación es muy largo.</p>
                <p ng-show="registerForm.identification.$invalid && (vm.formSubmitted || vm.errors.identification)" class="help-block">{{vm.errors.identification}}</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.address.$invalid && ( vm.formSubmitted) }">
              <label for="address" class="col-sm-2 control-label">Dirección</label>
              <div class="col-sm-10">
                <textarea class="form-control" placeholder="Dirección" ng-model="vm.address" name="address" ng-maxlength="255" ></textarea>
                <span class="form-control-feedback"></span>
                <p class="help-block">El campo dirección es requerido.</p>
                <p ng-show="registerForm.address.$error.maxlength" class="help-block">El campo identificación es muy largo.</p>
                <p ng-show="registerForm.address.$invalid && (vm.formSubmitted || vm.errors.address)" class="help-block">{{vm.errors.address}}</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.phone.$invalid && ( vm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Teléfono</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Teléfono" ng-model="vm.phone" ng-pattern="/^[0-9]+(\.[0-9]{1,12})?$/" name="phone" ng-maxlength="25" required>
                <span class="fa fa-phone form-control-feedback"></span>
                <p class="help-block">El campo identificación es requerido.</p>
                <p ng-show="registerForm.phone.$error.maxlength" class="help-block">El campo identificación es muy largo.</p>
                <p ng-show="registerForm.phone.$invalid && (vm.formSubmitted || vm.errors.phone)" class="help-block">{{vm.errors.phone}}</p>
              </div>
            </div>

            <div class="form-group  has-feedback" ng-class="{ 'has-error': registerForm.country.$invalid && ( vm.formSubmitted || registerForm.country.$touched) }">
              <label for="input" class="col-sm-2 control-label">País</label>
              <div class="col-sm-10">
                  <select class="form-control" style='font-size: 14px;' placeholder="País" ng-model="vm.country" name="country" ng-change="vm.getState();" required>
                      <option value="">- Seleccione -</option>
                      <option style="font-size: 17px" ng-repeat="count in vm.systemCountrys" value="{{count.id}}" >{{count.name}}</option>
                  </select>
                  <p class="help-block">El campo país es requerido.</p>
              </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.state.$invalid && ( vm.formSubmitted || registerForm.state.$touched) }">
              <label for="input" class="col-sm-2 control-label">Provincia</label>
              <div class="col-sm-10">
                  <select class="form-control" style='font-size: 14px;' placeholder="Provincia" ng-model="vm.state" name="state" required>
                      <option value="">- Seleccione -</option>
                      <option style="font-size: 17px" ng-repeat="state in vm.systemStates" value="{{state.id}}" >{{state.name}}</option>
                  </select>
                  <p class="help-block">El campo provincia es requerido.</p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': registerForm.city.$invalid && ( vm.formSubmitted || registerForm.city.$touched) }">
                <label for="input" class="col-sm-2 control-label">Ciudad</label>
              <div class="col-sm-10">

                  <input type="text" class="form-control" name="city" ng-model="vm.city" placeholder="Ciudad" required>
                  <p class="help-block">El campo ciudad es requerido.</p>
              </div>
            </div>

              <div class="form-group">
              <label for="inputEmail3" style="text-align: left; padding-left: 40px;" class="col-sm-12 control-label">Especialidades</label>
              <div class="col-sm-12" style="padding-left: 40px;">
                <div class="checkbox" ng-repeat="speciality in vm.specialties">
                  <label>
                    <input type="checkbox" checklist-model="vm.specialtiesselected" checklist-value="speciality.id"> {{speciality.name}}
                  </label>
                </div>
              </div>
            </div>




          <div class="box-footer">
            <a ui-sref="app.doctor-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
