<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-placeholder-single").select2({
    placeholder: "Seleccione Póliza"
  });
  $(".js-example-basic-single").select2({ 
    placeholder: " --Todos-- "
   });
});
</script>
<section class="content-header">
  <h1>Histórico de Pagos<!--<small>Module description here</small>--></h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Lista de Cuotas</h3>          
        </div>
        <div class="box-body">
          <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/ng-template" id="myModalDocuments">
  <form class="form-horizontal" name="registerForm" ng-submit="mvm.sendInvoices(registerForm.$valid)" novalidate>  
    <div class="modal-header">
      <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h3 class="modal-title" style="text-align: center">Documentos Asociados</h3>
      <br>
      <h4 class="modal-title" style="text-align: center">Póliza: {{mvm.number}}| Cuota: {{mvm.fee_number}} | {{mvm.customer}} </h4>
    </div>          
            <div class="form-group" >
              <div class="col-sm-12">
                &nbsp
                <table width="100%" class="table table-striped table-bordered" align="center" style="vertical-align: top;">
                                <thead>
                                  <tr>
                                    <th style="text-align: center; !important; vertical--align: middle">Descripción</th>
                                    <th style="text-align: center;">Documentos</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="documents in mvm.feedocuments" colspan="5">
                                    <td style="text-align: left; width:40%; vertical-align: middle" valign="middle">{{documents.type_name}}</td>
                                    <td style="text-align: center; width:60%">
                                    	 <a ng-href="authorization_form/{{mvm.policyId}}/{{mvm.feeId}}/{{documents.filename}}" target="_blank">{{documents.filename}}</a>
                                     
                                    </td>
                                   
                                  </tr>
                                  <tr  colspan="5">
                                    <td style="text-align: left; width:40%; vertical-align: middle" valign="middle">Factura</td>
                                    <td style="text-align: center; width:60%">
                                    	<div ng-if="mvm.showInvoice">
                                        <a ng-href="authorization_form/{{mvm.policyId}}/{{mvm.invoice_filename}}" target="_blank">{{mvm.invoice_filename}}</a>
                                    	</div>
                                    	<div ng-if="!mvm.showInvoice">
                                        {{mvm.invoice_filename}}
                                    	</div>
                             
                                    </td>
                                   
                                  </tr>
                                  <tr  colspan="5">
                                    <td style="text-align: left; width:40%; vertical-align: middle" valign="middle">Recibo</td>
                                    <td style="text-align: center; width:60%">
                                    	<div ng-if="mvm.showReceipt">
                                        <a ng-href="authorization_form/{{mvm.policyId}}/{{mvm.receipt_filename}}" target="_blank">  {{mvm.receipt_filename}}</a>
                                    	</div>

                                    	<div ng-if="!mvm.showReceipt">
                                        {{mvm.receipt_filename}}
                                    	</div>
                                   
                                    </td>
                                   
                                  </tr>
                                </tbody>
                 </table>
                </div>
            </div>    
    <!--<div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
      <button class="btn btn-default" type="button" ng-click="mvm.cancel()" data-dismiss="modal">Cancelar</button>
      &nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary" style="width: 78px" type="submit" ng-disabled="!mvm.sendbutton">{{mvm.processing ? 'Enviando' : 'Enviar'}}</button>
    </div>
    -->
  </form>
</script>
