<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-basic-single").select2({ 
    placeholder: "Seleccione Agente"
   });
});
</script>
<section class="content-header">
  <h1>Creación de Póliza - Renovación<!--<small>Module description here</small>--></h1>
    
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header">
					<div id="wizar" >
					<table style="margin-left:20px; margin-right: 20px" width="100%">
						<tr>
							<th class="pearl col-xs-2 current ng-scope" align="center" style="text-align: center !important" ng-repeat-start ="data in vm.systemWizar">
								<!--<div ng-if="data.order == vm.current_step">
									<a style="color: #0080FF;">
										<i class="{{data.icon}}" aria-hidden="true" ></i>
									</a><br>
									<span class="pearl-title ng-binding">{{data.name}}</span>
								</div>-->
                                <div style="cursor: pointer;">
									<a ng-style="{'color': data.order != vm.current_step ? '#A9BCF5' : '#0080FF'}" ui-sref="{{data.uisref}}({{vm.uisrefparameter}})">
										<i class="{{data.icon}}" aria-hidden="true" ></i>
									</a><br>
									<span>{{data.name}}</span>
								</div>
							</th>
							<th ng-repeat-end></th>							
						</tr>
					</table>
					</div>
				</div>
				<div class="strike" style="width: 100%; height: 30px; text-align: center">
					<span class="" style="text-align: center !important;" >Configuración del Plan</span>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.seller_id.$invalid && ( vm.formSubmitted || uiForm.seller_id.$touched) }">
									<h4 style="padding-left: 20px">Seleccionar el Agente</h4>
									<div class="col-sm-8">
										<select class="js-example-basic-single" style='font-size: 14px; width: 100%;' ng-model="vm.seller_id"  name="seller_id"  required>
						             
						                  <option style="font-size: 17px" ng-repeat="agent in vm.systemAgents" value="{{agent.id}}" ng-selected="agent.id == vm.seller_id">{{agent.first_name}} {{agent.last_name}} {{agent.identity_document}}</option>
						                </select>
										<p class="help-block">El campo Agente es requerido.</p>
									</div>
								</div>

							</div>
						</div>	
						<div class="row">
							
							<div class="col-md-6">
								<div class="form-group  has-feedback" ng-class="{ 'has-error': uiForm.plan_id.$invalid && ( vm.formSubmitted || uiForm.plan_id.$touched) }">
								<h4 style="padding-left: 20px">Seleccionar el Plan</h4>
								
								<div class="col-sm-8">
									<select class="form-control" style='font-size: 15px;' placeholder="País" ng-model="vm.plan_id" name="plan_id" ng-change="vm.getDeductible();" ng-options="count.name for count in vm.systemPlans track by count.id"  required>
              							<!--<option style="font-size: 17px" ng-repeat="count in vm.systemPlans" value="{{count.id}}" >{{count.name}}</option>-->
            						</select>
									<p class="help-block">El campo plan es requerido.</p>
								</div>
								</div>

							</div>
							<div class="col-md-6">
								<div class="form-group  has-feedback" ng-class="{ 'has-error': uiForm.deductible_id.$invalid && ( vm.formSubmitted || uiForm.deductible_id.$touched) }">
								<h4 style="padding-left: 20px">Seleccionar el Deducible</h4>
								<div class="col-sm-8">
									<select class="form-control" style='font-size: 15px;' placeholder="" ng-model="vm.deductible_id" name="deductible_id" ng-options="deduc.name+'  | $ '+deduc.out+' / $'+deduc.in for deduc in vm.systemDeductibles track by deduc.id"  required>
              							<!--<option style="font-size: 17px" ng-repeat="deduc in vm.systemDeductibles" value="{{deduc.id}}" >{{deduc.name}}        In: {{deduc.in}} / Out: {{deduc.out}}</option>-->
            						</select>
            						<p class="help-block">El campo deducible es requerido.</p>
									
								</div>

							</div>
						</div>	


						<div class="row">	
							<div class="col-md-6" ng-hide="vm.hideCoverage">
								<h4 style="padding-left: 20px">Coberturas Adicionales</h4>
								<div class="col-sm-8">
									<select class="form-control" style='font-size: 15px;' placeholder="" ng-model="vm.coverage_id" name="coverage_id" ng-options="cover.name+cover.amount for cover in vm.systemCoverages track by cover.id">
  										<!--<option style="font-size: 17px" ng-repeat="cover in vm.systemCoverages" value="{{cover.id}}"  ng-selected="{{cover.id}} =={{vm.coverage_id}}">{{cover.name}} | {{cover.amount}} $</option>-->
            						</select>									
								</div>								
							</div>						

						</div>
						
					</div>
					<div class="box-footer">
						<a ui-sref="app.emmision-renewal-add({policyId: vm.policyId})" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
						<button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">{{vm.isDisabled ? 'Guardando' : 'Guardar'}} <i class="fa fa-angle-double-right"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
