<style type="text/css">
 /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc ;
    border-top: none;
    border-left : none;
    border-right: none;
    background-color: #ffffff;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border-top: none;
    border-right: 0,5px;
    outline: none;
    cursor: pointer;
    padding: 6px 12px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ddd;
    border-bottom: : 1px solid #000 ;

}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
} 
</style>
<section class="content-header">
  <h1>Renovaciones Pendientes <!--<small>Module description here</small>--></h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header">
          <div class="tab">
             <button class="tab button active"  ng-click="vm.openTab(1)" ng-disabled="vm.isDisabled1">Cuotas Pendientes de Pago</button>
             <!--<button class="tablinks" ng-click="vm.openTab(2)" ng-disabled="vm.isDisabled2">Pólizas Pendientes</button>-->
          </div>
        </div>
        <form class="form-horizontal" name="uiForm" ng-submit="vm.getReport()" novalidate>
        <div class="row">
          <div class="col-md-12">
              <div class="col-sm-2 col-md-2">
                <label for="input" class="control-label" style="text-align: left;">Desde</label>
              </div>
              <div class="col-sm-2 col-md-2">
                <label for="input" class="control-label" style="text-align: left;">Hasta</label>
              </div>
          </div>    
        </div>



        <div class="row">
          <div class="col-md-12">
            <div class="col-sm-2 col-md-2">
                <div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.start_date.$invalid && ( vm.formSubmitted || uiForm.start_date.$touched) }">
                  
                  <div class="col-sm-6">
                    <input type="date"  placeholder="vm.start_date" class="form-control" ng-model="vm.start_date" name="start_date" style='font-size: 14px; width: 180px;' ng-change="vm.compareDate();" id="start_date" value="{{vm.start_date}}">
                    <p class="help-block" style="color:red; font-size: 15px" ng-show="vm.showMessage">{{vm.alert1}}</p>
                  </div>
                </div>
          </div>
        <div class="col-sm-2 col-md-2">
                <div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.end_date.$invalid && ( vm.formSubmitted || uiForm.end_date.$touched) }">
                    
                  <div class="col-sm-6">
                    <input type="date"  placeholder="dd-MM-yyyy" class="form-control" ng-model="vm.end_date" name="end_date"  style='font-size: 14px; width: 180px;' ng-change="vm.compareDate();" id="end_date" value="{{vm.end_date}}">
                    <p class="help-block" style="color:red; font-size: 15px" ng-show="vm.showMessage">{{vm.alert2}}</p>
                  </div>
                 </div>   
        </div>  
         <div class="col-sm-1 col-md-1">
                  <div class="col-sm-4">
                    <button title="Buscar" type="submit" class="btn btn-primary pull-left" style="color: #3c8dbc; background-color: #FFF;" ng-disabled="vm.isDisabled"><i class="fa fa-search"></i></button>
                  </div>                 
        </div>
        <div class="col-sm-1 col-md-1" style="width: 60px !important">
          <div class="col-sm-4">
             <button title="Exportar" class="btn btn-primary btn-success pull-right" style="color: #00a65a; background-color: #FFF;" ng-click="vm.export()"><i class="fa fa-file-excel-o"></i></button>
           </div>
        </div>
        </div>
        </div>
        </form>  

          <div class="row">         
            <div class="col-md-12">
              <div class="box-body">
                <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
            </div>
          </div>
        </div>
  </div>
</section>
<script type="text/ng-template" id="myModalPolicy">

 <form class="form-horizontal" name="regForm" ng-submit="mvm.deletePolicy(regForm.$valid)" novalidate>
                    <div class="box-body">
                        <div class="modal-header">
                          <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                          <h3 class="modal-title" style="text-align: center">Motivo de Eliminación : {{mvm.PolicyData.data[0].number}} |  {{mvm.PolicyData.data[0].first_name }} {{mvm.PolicyData.data[0].last_name}}</h3>
                        </div>
                        <fieldset>
                           <table style="border-collapse: separate; border-spacing: 8px; overflow-x:scroll;" align="center">
                                  <tr  style="height: 120px">                           
                                    <td style="height: 120px !important">
                                        <div class="col-sm-10 col-md-10" style="height: 120px !important">
                                             <div class="form-group" ng-class="{ 'has-error': regForm.motive.$invalid && ( mvm.formSubmitted || regForm.motive.$touched) }">
                                                <select class="form-control" style='font-size: 14px; width: 250px;' ng-model="mvm.motive" name="motive" ng-change="mvm.changeMotive();" required > 
                                                  <option style="font-size: 17px"  ng-value="0" ng-selected="0 == 0">- Seleccione -</option>
                                                  <option style="font-size: 17px" ng-repeat="doc in mvm.systemMotive" ng-value="{{doc.id}}">{{doc.name}}</option>                                                   
                                                </select>                        
                                            </div>
                                        </div>
                                    </td>            
                                  </tr>                             
                              <div class="col-xs-12" align="center">
                                <span style="font-family:sans-serif  ;color: #FE0000; font-size: 14px">{{mvm.alert}}</span>
                              </div>                             
                        </table>         
                        </fieldset>
                    </div>
                    <div class="box-footer">
                        <button type="button" ng-click="mvm.cancel()" class="btn btn-secondary" >Cancelar</button>
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="mvm.processing">{{mvm.processing ? 'Guardar' : 'Guardar'}}</button>
                    </div>
                </form>
</script>
<script type="text/ng-template" id="myModal">          
  <form class="form-horizontal" name="lettForm" ng-submit="vm.save(lettForm.$valid)" novalidate>    
      <div class="modal-header">
        <button type="button" class="close" ng-click="mvm.cancel()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h3 class="modal-title" style="text-align: center">Solicitar Cita</h3>
      </div>
      </br>

      <div class="form-group" ng-class="{ 'has-error':  vm.formSubmitted  }">
        <label for="inputEmail3" class="col-sm-2 control-label">Destinatario</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" ng-model="mvm.emailformatdata.data.recipient" name="recipient" placeholder="Destinatario"  disabled='true'>
        </div>
      </div>
            <div class="form-group" ng-class="{ 'has-error':  vm.formSubmitted }">
        <label for="inputEmail3" class="col-sm-2 control-label">CC</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" ng-model="mvm.emailformatdata.data.cc" name="mvm.emailformatdata.data.cc" placeholder="Con copia a: " disabled='true'>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error':  vm.formSubmitted }">
        <label for="inputEmail3" class="col-sm-2 control-label">Título</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" ng-model="mvm.emailformatdata.data.title" name="title" placeholder="Título"  disabled='true'>              
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error':  vm.formSubmitted }">
        <label for="inputEmail3" class="col-sm-2 control-label">Asunto</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" ng-model="mvm.emailformatdata.data.subject" name="subject" placeholder="Asunto"  disabled='true'>
        </div>
      </div>
     
      <div class="form-group" ng-class="{ 'has-error': lettForm.content.$invalid && ( vm.formSubmitted || lettForm.content.$touched) }">
        <label for="inputEmail3" class="col-sm-2 control-label">Contenido</label>
        <div class="col-sm-8">
          <textarea class="form-control" rows="5" ng-model="mvm.emailformatdata.data.content" name="content" placeholder="Contenido" required></textarea>
          <p ng-show="lettForm.content.$error.required && ( vm.formSubmitted || lettForm.content.$touched)" class="help-block">El contenido es obligatorio.</p>
        </div>
      </div>
      <!--<div class="form-group" ng-class="{ 'has-error': lettForm.file.$invalid &&  vm.formSubmitted }">
          <label for="input" class="col-sm-2 control-label" style="text-align: right;">Archivo</label>
              <div class="col-sm-8 col-md-8">
                  <input class="form-control" type="file" id="upload" data-max-size="2048" ng-model="mvm.myFile" file-model="mvm.myFile" file-input="mvm.file" name="file">
              </div>
      </div>-->
      <fieldset>

        <div id="datosticket"></div>
        
    </fieldset>
      <fieldset>    
        <table align="center" class="table table-striped table-bordered" style="overflow-x:scroll;width:65.5%;" >     
          <thead>
            <tr>
              <td  width="50%" style="font-size: 10px;text-align:left;font-weight:bold;padding:2px 2px 2px 2px;" >Tipo de Documento</td>
              <td style="font-size: 10px;text-align:left;font-weight:bold;padding:2px 2px 2px 2px;">Nombre </td> 
            </tr>
          </thead>
          <tbody>  
            <tr ng-repeat="pline in mvm.previouslines" style="height: 10px">             
              <td  style='font-size: 10px;text-align:left;padding:2px 2px 2px 2px;'>{{mvm.previouslines[$index].type}}</td>
              <td style='font-size: 10px;text-align:left;padding:2px 2px 2px 2px;'><a style="font-size: 10px;white-space: nowrap" ng-href="{{mvm.directory}}{{mvm.ticket_id}}/{{pline.filename}}" target="_blank">{{pline.filename}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </fieldset>  
  <div class="" align="center" style="padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 25px;">
    <button class="btn btn-default" type="button" ng-click="mvm.cancel()" data-dismiss="modal">Cancelar</button>
    &nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" style="width: 78px" type="button" ng-click="mvm.sendoc(lettForm.$valid)" ng-disabled="mvm.processing">{{mvm.processing ? 'Solicitando' : 'Solicitar'}}</button>
  </div>
</form>

</script>
