<section class="content-header">
  <h1>
     <strong>Proveedor: {{vm.companydata.data.name}}</strong>
  </h1> 
  <h1>
    <a ui-sref="app.company-lists" class="btn btn-default btn-sm"><i class="fa fa-angle-double-left"></i></a> Ramos
  </h1> 
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Listado de Ramos</h3>
          <div class="box-tools pull-right">
            <!--<a ui-sref="app.branch-add({companyId:vm.companyId})" class="btn btn-block btn-success btn-xs"><i class="fa fa-plus"></i> Agregar</a>-->
          </div>
        </div>
        <div class="box-body">
          <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
        </div>
      </div>
    </div>
  </div>
</section>