<section class="content-header">
  <h1>Agentes <small></small></h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li class="active">Lista de Sub-Agentes</li>
  </ol>
</section>
<section class="content">
	<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Lista de Sub-Agentes de: {{vm.agentdata.data.first_name}} {{vm.agentdata.data.last_name}}</h3>
						<div class="box-tools pull-left">
						</div>	
					</div>		
					<div class="box-header with-border">
					<div class="col-md-12">
					<label for="startDate">Sub-Agentes:  </label>
        					<select style='margin-left: 10px; margin-right: 10px; font-size: 14px; width: 260px;' class="form-control" placeholder="Seleccionar Sub-Agente" ng-model="vm.subagentid">
        					<option style="font-size: 17px"  value="{{null}}">Todos</option>
        					<option style="font-size: 17px" ng-repeat="subs in vm.systemAgents" value="{{subs.id}}">{{subs.first_name}} {{subs.last_name}}</option>
        				</select>
        				
        			</div>
        			<!--<button type="button" class="btn btn-danger" style='margin-left: 10px; margin-right: 10px; font-size: 14px; width: 260px;'>Agregar</button>-->
        			</div>
				<div class="box-body">
					<table datatable="" 
						width="100%" 
						class="table table-striped table-bordered" 
						ng-if="vm.displayTable" 
						dt-options="vm.dtOptions" 
						dt-columns="vm.dtColumns">
					</table>
				</div>
				<div class="box-footer"></div>
				</div>
			</div>
		</div>
	</form>	
</section>
