<section class="content-header">
  <h1>Envío de Aviso de Notificación<!--<small>Module description here</small>--></h1>
    <!--<ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">User Lists</li>
  </ol>-->
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box box-primary">
                <form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
                    <div class="box-body">
                        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>
                        <div class="strike" style="width: 100%; height: 30px; text-align: center">
                            <span class="" style="text-align: center !important;" >Datos de la Póliza</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 has-feedback" align="center"  ng-class="{ 'has-error': uiForm.Poliza.$invalid && ( vm.formSubmitted) }">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;"># de Póliza </label>
                                    <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control"  name="Poliza"  ng-model="vm.policyinfo[0].number" ng-disabled="true">
                                    </div>
                            </div>
                        </div>
                        <div class="row">

                                <div class="col-sm-12 col-md-12" align="center">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;">Nombre del Cliente</label>
                                    <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.client"  name="nombre" ng-disabled="true">
                                    </div>
                                    </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" align="center">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;">Plan / Opción </label>
                                    <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control"  name="Plan" ng-model="vm.planDeduc" ng-disabled="true">
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12" align="center">
                                    <label for="input" class="col-sm-4 control-label" style="text-align: right;">Frecuencia de Pagos</label>
                                    <div class="col-sm-5 col-md-5">
                                    <input type="text" class="form-control" ng-model="vm.payfrecuency" name="Plan"  ng-disabled="true">
                                    </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-md-12" align="center">
                                <label class="col-sm-4 control-label" style="text-align: right;">Valor</label>
                                <div class="col-sm-5 col-md-5">
                                    <input type="number" class="form-control" ng-model="vm.first_value">
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <div class="col-sm-12 col-md-12" align="center">
                                <div class="col-sm-5 col-md-5" id="data" name="data">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" >
                          <label for="inputEmail3" class="col-sm-4  control-label" style="text-align: right;">Destinatario</label>
                          <div class="col-sm-5">
                            <input type="text" class="form-control" ng-model="vm.recipient" name="recipient" placeholder="Destinatario"  disabled='true'>
                          </div>
                        </div>
                              <div class="form-group" >
                          <label for="inputEmail3" class="col-sm-4 control-label" style="text-align: right;">CC</label>
                          <div class="col-sm-5">
                            <input type="text" class="form-control" ng-model="vm.emailformatdata.data.cc" name="mvm.emailformatdata.data.cc" placeholder="Con copia a: " disabled='true'>
                          </div>
                        </div>
                        <div class="form-group" >
                          <label for="inputEmail3" class="col-sm-4 control-label" style="text-align: right;">Título</label>
                          <div class="col-sm-5">
                            <input type="text" class="form-control" ng-model="vm.emailformatdata.data.title" name="title" placeholder="Título"  disabled='true'>              
                          </div>
                        </div>
                        <div class="form-group" >
                          <label for="inputEmail3" class="col-sm-4 control-label" style="text-align: right;">Asunto</label>
                          <div class="col-sm-5">
                            <input type="text" class="form-control" ng-model="vm.subject" name="subject" placeholder="Asunto"  disabled='true'>
                          </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': uiForm.content.$invalid &&  vm.formSubmitted  }">
                          <label for="inputEmail3" class="col-sm-4 control-label" style="text-align: right;">Contenido</label>
                          <div class="col-sm-5">
                            <textarea id="content" class="form-control" rows="5" ng-model="vm.emailformatdata.data.content" name="content" placeholder="Contenido" ></textarea>
                          </div>
                        </div>
                    <br/>
                        <div class="row" ng-repeat="pline in vm.previouslines">
                            <div class="form-group" ng-class="{ 'has-error': uiForm.pdoc_type_id{{pline.id}}.$invalid && vm.formSubmitted }">
                                <div class="col-sm-12 col-md-12" align="center">                         
                                    <label  class="col-sm-4 control-label" for="pdoc_type_id{{pline.id}}" style="text-align: right;">Adjunto</label>
                                        <div class="col-sm-2 col-md-2">
                                            <select class="form-control" style='font-size: 14px; width: 200px;' ng-model="vm.previouslines[$index].id_doc_type" name="pdoc_type_id{{pline.id}}" disabled="true">
                                             <!--ng-options="doc.id as doc.name for doc in vm.systemDocTypes">-->
                                                <option style="font-size: 17px"  ng-value="1">Aviso de Renovación</option>
                                            </select>
                                        </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div style="display: inline-block;" class="form-group" ng-class="{ 'has-error': uiForm.pfile{{pline.id}}.$invalid && ( vm.formSubmitted || uiForm.pfile{{pline.id}}.$touched) }">    
                                            <input id="file1" name="pfile{{pline.id}}" class="form-control" style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="vm.pmyFile[$index]" file-model="vm.pmyFile[$index]" file-input="vm.pfiles[$index]">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-md-2">
                                        <div ng-hide="vm.pmyFile[$index]" style="display: inline-block; margin-top: 6px" class="form-group">
                                            <a style="font-size: 14px;white-space: nowrap;" ng-href="{{vm.directory}}{{vm.policyId}}/{{pline.filename}}" target="_blank">{{pline.filename}}</a>
                                        </div>
                                        <div ng-show="vm.pmyFile[$index]">
                                        </div>
                                    </div>
                                        <a style="display: inline-block; margin-top: 2px" class="btn btn-danger btn-sm" ng-click="vm.deletePreviousLine(pline)" >
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>                     
                                </div>
                             </div>
                        </div>
                        <div class="row" ng-repeat="line in vm.lines" >
                            <div class="form-group">
                                <div class="col-sm-12 col-md-12" align="center">
                                    <label for="doc_type_id{{pline.id}}" class="col-sm-4 control-label" style="text-align: right;">Adjunto</label>
                                   <div class="col-sm-2 col-md-2">
                                        <select class="form-control" style='font-size: 14px; width: 200px;' ng-model="vm.doc_typeselected[line.id]" name="doc_type_id{{line.id}}" disabled="true">
                                            <!--<option style="font-size: 17px" ng-repeat="doc in vm.systemDocTypes" ng-value="{{doc.id}}" ng-selected="{{1 == doc.id}}">{{doc.name}}</option>-->
                                            <option style="font-size: 17px" ng-selected="true" value="1" >Aviso de Renovación</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3 col-md-3"> 
                                         <div class="form-group" ng-class="{ 'has-error': uiForm.file{{line.id}}.$invalid && vm.formSubmitted }">                    
                                            <input id="file1" name="file{{line.id}}" class="form-control" style="background-color: #FFF;" type="file" data-max-size="2048" ng-model="vm.myFile[line.id]" file-model="vm.myFile[line.id]" file-input="vm.file[line.id]" ng-required="(vm.previouslines | json) == '[]'" >
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-md-2">   
                                        <a class="btn btn-primary btn-sm" ng-click="vm.addFile()">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                        <a  class="btn btn-danger btn-sm" ng-click="vm.deleteLine(line)" >
                                        <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                    <div class="box-footer">
                        <a ui-sref="app.renewal-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.isDisabled">{{vm.isDisabled ? 'Guardando' : 'Enviar'}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
