<section class="content-header">
  <h1>Tipos de Documentos</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Agregar Tipo de Documento</h3>
        </div>
        <form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>      
          
          <div class="box-body">
            <div class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error': uiForm.name.$invalid && ( vm.formSubmitted) }">

              <label for="input" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Nombre" ng-model="vm.name" name="name" ng-maxlength="100" required>
                <p class="help-block">El campo nombre es requerido.</p>
                <p ng-show="uiForm.name.$error.maxlength" class="help-block">El campo nombre es muy largo.</p>
                <p ng-show="uiForm.name.$invalid && (vm.formSubmitted || vm.errors.name)" class="help-block">{{vm.errors.name}}</p>
              </div>
            </div>
          </div> 
          <div class="box-footer">
            <a ui-sref="app.claim-document-types-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>