<section class="content-header">
  <h1>Especialidades Médicas</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Agregar Especialidad</h3>
        </div>
        <form class="form-horizontal" name="registerForm" ng-submit="vm.save(registerForm.$valid)" novalidate>

          <div class="box-body">
            <div class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>

            <!--<div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.abbreviation.$invalid && ( vm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Abreviatura</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Abreviatura" ng-model="vm.abbreviation" name="abbreviation" ng-maxlength="10" required>
                <span class="fa fa-medkit form-control-feedback"></span>
                <p class="help-block">El campo abreviatura es requerido.</p>
                <p ng-show="registerForm.abbreviation.$error.maxlength" class="help-block">El campo abreviatura es muy largo.</p>
                <p ng-show="registerForm.abbreviation.$invalid && (vm.formSubmitted || vm.errors.abbreviation)" class="help-block">{{vm.errors.abbreviation}}</p>
              </div>
            </div>-->

            <div class="form-group has-feedback" ng-class="{ 'has-error': registerForm.name.$invalid && ( vm.formSubmitted) }">
              <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Nombre" ng-model="vm.name" name="name" ng-maxlength="100" required>
                <span class="fa fa-medkit form-control-feedback"></span>
                <p class="help-block">El campo nombre es requerido.</p>
                <p ng-show="registerForm.name.$error.maxlength" class="help-block">El campo nombre es muy largo.</p>
                <p ng-show="registerForm.name.$invalid && (vm.formSubmitted || vm.errors.name)" class="help-block">{{vm.errors.name}}</p>
              </div>
            </div>




          <div class="box-footer">
            <a ui-sref="app.medical-speciality-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.processing">{{vm.processing ? 'Guardando' : 'Guardar'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
