<section class="content-header">
	<h1>Póliza # {{vm.policydata.data[0].number}}</h1>
	<!--<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li class="active">Nueva Póliza</li>
	</ol>-->
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Datos de la Póliza</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid, uiForm)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.first_name.$invalid && ( vm.formSubmitted || uiForm.first_name.$touched) }">
									<label for="input" class="col-sm-4 control-label">Nombres</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.policydata.data[0].first_name" name="first_name" placeholder="Nombres" disabled="true">
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.last_name.$invalid && ( vm.formSubmitted || uiForm.last_name.$touched) }">
									<label for="input" class="col-sm-4 control-label">Apellidos</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.policydata.data[0].last_name" name="last_name" placeholder="Apellidos" disabled="true">
									</div>
								</div>
							</div>
						</div></br></br>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.dni.$invalid && ( vm.formSubmitted || uiForm.dni.$touched) }">
									<label for="input" class="col-sm-4 control-label">Identificacion</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.policydata.data[0].identity_document" name="dni" placeholder="Identificacion" disabled="true">
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.email.$invalid && ( vm.formSubmitted || uiForm.email.$touched) }">
									<label for="input" class="col-sm-4 control-label">Correo Electrónico</label>
									<div class="col-sm-8">
										<input type="email" class="form-control" ng-model="vm.policydata.data[0].email" name="email" placeholder="Correo Electrónico" disabled="true">
									</div>
								</div>
							</div>
						</div></br></br>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.phone.$invalid && ( vm.formSubmitted || uiForm.phone.$touched) }">
									<label for="input" class="col-sm-4 control-label">Teléfono</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.policydata.data[0].phone" name="phone" placeholder="Teléfono" disabled="true">
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.mobile.$invalid && ( vm.formSubmitted || uiForm.mobile.$touched) }">
									<label for="input" class="col-sm-4 control-label">Celular</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.policydata.data[0].mobile" name="mobile" placeholder="Celular" disabled="true">
									</div>
								</div>
							</div>
						</div></br></br>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.seller_id.$invalid && ( vm.formSubmitted || uiForm.seller_id.$touched) }">
									<label for="input" class="col-sm-4 control-label">Agente</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.extrainfo[0].agent" disabled="true">
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.plan_type_id.$invalid && ( vm.formSubmitted || uiForm.plan_type_id.$touched) }">
									<label for="input" class="col-sm-4 control-label">Plan</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.extrainfo[0].plan" disabled="true">
									</div>
								</div>
							</div>
						</div></br></br>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.seller_id.$invalid && ( vm.formSubmitted || uiForm.seller_id.$touched) }">
									<label for="input" class="col-sm-4 control-label">Tiene Seguro Anterior?</label>
									<div class="col-sm-8">
										<input type="checkbox" ng-change="checkEvent" ng-model="vm.showhidepregnant" disabled/>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6" ng-show="vm.showhidepregnant">
								<div class="form-group" ng-class="{ 'has-error': vm.formSubmitted && vm.showhidepregnant == true }">
									<label for="input" class="col-sm-4 control-label">Nombre Comp Seguros:</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.extrainfo[0].company_name" name="company_name" placeholder="" ng-required="vm.showhidepregnant == true" disabled>
										<p class="help-block">La campo Identificacion es requerido.</p>
									</div>
								</div>
							</div>
						</div>
						<fieldset>
			            <div class="box-header with-border">
							<h3 class="box-title">Documentos</h3>
						</div>

						<table style="border-collapse: separate; border-spacing: 10px; width:100%">
						  <tr ng-repeat="file in vm.policyfiles.data">
						    <th style="width:20% !important">
							    <div>
						    		<input type="text" class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.policyfiles.data[$index].name" name="description1" placeholder="Descripción" ng-disabled="true">
						    	</div>
							</th>
						    <th style="width:20% !important">
						    	<div>
						    		<input type="text" class="form-control" style='font-size: 14px; width: 250px;' ng-model="vm.policyfiles.data[$index].description" name="description1" placeholder="Descripción" ng-disabled="true">
						    	</div>
						    </th>
                            <th style="width:60% !important">
                                <!--<a ng-href="{{file.directory}}/{{file.filename}}" target="_blank">{{file.filename}}</a>-->
                                <a ng-href="{{vm.directory}}{{vm.policyId}}/{{file.filename}}" target="_blank">{{file.filename}}</a>
                            </th>
						  </tr>
						  
						</table>
			            
			            </fieldset>						
					</div>
					<div class="box-footer">
						<a ui-sref="app.policy-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Regresar</a>						
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
