<header class="main-header">
  <a style="padding-left: 0px; font-family: Montserrat Bold" href="/" class="logo">
    <img src="logo.png" alt="logo"/>
    Gilbert & Boloña
  </a>
  <nav class="navbar navbar-static-top">
    <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav"><li class="dropdown messages-menu" uib-dropdown></li>
        <li>
          <a>
            <i>Bienvenido(a):</i>
            
          </a>
          </li>          
        <li class="dropdown user user-menu" uib-dropdown>
          <a href="" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle>
            <img src="{{vm.userData.avatar}}" class="user-image" alt="User Image" onError="this.src='//placeholdit.imgix.net/~text?txtfont=monospace,bold&bg=DD4B39&txtclr=ffffff&txt=GB&w=45&h=45&txtsize=16'">
            <!--<img src="{{vm.userData.avatar}}" class="user-image" alt="User Image" onError="this.src=text.png">-->
            <span class="hidden-xs">{{vm.userData.name + ' ' + vm.userData.lastname | capitalize}}</span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li class="user-header">
              <img src="{{vm.userData.avatar}}" class="img-circle" alt="User Image" onError="this.src='//placeholdit.imgix.net/~text?txtfont=monospace,bold&bg=DD4B39&txtclr=ffffff&txt=GB&w=90&h=90&txtsize=36'">
              <p>
                {{vm.userData.name + ' ' + vm.userData.lastname | capitalize}}                
                <small>{{vm.userData.email}}</small>
                <small>Miembro desde {{vm.userData.created_at | datemillis |date:'MMMM yyyy' }}</small>
              </p>
            </li>
            <li style="border: solid 1px #424242" class="user-footer">
              <div class="pull-left">
                <a ui-sref="app.profile" class="btn btn-default btn-flat">Perfil</a>
              </div>
              <div class="pull-right">
                <a ui-sref="app.logout" class="btn btn-default btn-flat">Cerrar sesión</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
